
.joomdle-course{
	background: #fff !important;
}


.img-feedback img{
	width: 100%;
	height: 350px;
	border-radius: 10px;
}
.content-feedback{
	clear: both;
	padding: 15px 15px;
}
.btnn{
	clear: both;
	text-align: center;
	margin-bottom: 20px;
}
.btnn .large {
	width: 100%;
	max-width: 480px;
	background: #4F5355;
	color: #ffffff;
	padding: 5px 40px 5px 15px;
	border:none;
	border-radius: 20px;
	position: relative;
	font-size: 18px;
}
.btnn img{
	position: absolute;
	right: 15px;
	top:10px;
}
.number-ques{
	/*padding:0px 15px;*/
}
.number-ques span{
	color: #126DB6;
}
.number-ques p{
	margin: 10px 0px;
}

.item-point{
	position: relative;
	margin-left: 16%;
	padding-bottom: 10px !important;
	line-height: 30px;
}
.point-se{
	left: -3px;
	color: #fff;
	background: #fff;
	position: absolute;
	line-height: 8px;
	bottom: -3px;
	cursor: pointer;
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 25px;
	border: 1px solid #ddd;
	transition: all 200ms ease-in;
}
.text{
	position: absolute;
	/*bottom: -45px;*/
	top: 40px;
	left: -40px;
	width: 80px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}

.light-point{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	color: #126DB6;
	background: #126DB6;
	border: 1px solid #126DB6;
}
.bottom{
	clear: both;
	margin-bottom: 80px;
}
.seri-ques{
	clear: both;
}

/*.all-point-tablet .point{*/
/*background: #EBE6E6;*/
/*padding: 1px 2px;*/
/*border-radius: 100px;*/
/*margin-left: 10px;*/
/*color: #EBE6E6;*/
/*font-size: 6px;*/
/*}*/
/*.all-point-tablet .pointactive{*/
/*background: #126DB6 !important;*/
/*margin-left: 10px !important;*/
/*padding: 1px 2px !important;*/
/*border-radius: 100px !important;*/
/*color: #126DB6 !important;*/
/*font-size: 6px;*/
/*}*/


.textarea-feedback{
	width: 100% !important;
	border-radius: 20px;
	background: #FFF;
	border: none;
	box-shadow: none;
	margin-bottom: 50px;
	border: 1px solid #cccccc;
}
.all-point span:first-child{
	margin-left: 0px !important;
}
/*=====================*/
/*=====================*/
/*=====================*/
/*=====================*/

.left-column{
	z-index: 1000;
}




/*jquery-confirm*/
/*jquery-confirm*/
/*jquery-confirm*/
/*jquery-confirm*/
.jconfirm-box-container{
	margin-left: 40% !important;
}
.jconfirm-box{
	margin-top: 200px !important;
	background: #126DB6 !important;
	color: #fff !important;
	font-size: 14px !important;
}
.jconfirm-box .content{
	text-align: center !important;
}

.jquery-clear{
	padding-bottom: 10px;
}
.btn-default{
	margin-left: 40%;
	background: #4F5355 !important;
	padding: 3px 8px;
	color: #fff !important;
	font-size: 14px !important;
	width: 70px !important;
	border-radius: 30px !important;
}
.buttons .yes , .buttons .cancel{
	background: #4F5355 !important;
	padding: 3px 8px;
	color: #fff !important;
	font-size: 14px !important;
	width: 70px !important;
	border-radius: 30px !important;
}
.buttons .cancel {
	margin-left: 25% !important;
}
.buttons .yes{
	margin-right: 80px !important;
	float: right !important;
}
/*47647637687333333333333333333578999946786797698745674567r7ty878543607356789456798ty478967367983476*/
/*47647637687333333333333333333578999946786797698745674567r7ty878543607356789456798ty478967367983476*/
/*47647637687333333333333333333578999946786797698745674567r7ty878543607356789456798ty478967367983476*/
/*47647637687333333333333333333578999946786797698745674567r7ty878543607356789456798ty478967367983476*/
/*47647637687333333333333333333578999946786797698745674567r7ty878543607356789456798ty478967367983476*/
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 780px) and (max-width: 1023px) {

}
@media screen and (min-width: 481px) and (max-width: 779px) {

}
@media screen and (min-width: 320px) and (max-width: 480px) {
	.img-feedback img{
		height: 150px;
	}
	/*.next-question-before{*/
	/*left: -14px;*/
	/*}*/
	.item-point{
		margin-left: 14%;
	}
	.text{
		left: -24px;
		width: 50px;
		font-size: 12px;
		text-align: center;
	}

	.jconfirm-box-container{
		margin-left: 8% !important;
	}
	.buttons .cancel {
		margin-left: 10% !important;
	}
	.buttons .yes{
		margin-right: 25px !important;
		float: right !important;
	}
}

#iframe-questionnaire{
	height: 0px;
}