body{
	margin:0px ;
	padding:0px ;
	font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
	font-size: 14px;
}
.btn-submit{
	background: #4F5355;
	color: #ffffff;
	padding: 4px 10px;
	border:none;
	border-radius: 20px;
	font-size: 14px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	margin-top: 15px;
	margin-right: 15px;
}
.chart{
	padding:15px 0px !important;
	clear: both;
}
.start-review{
	padding: 15px 15px !important;
}
.span-review{
	padding: 15px 0px !important;
}
.review-feedback{
	width: 100%;
}
.option-item{
	width: 90px;
}
.number-ques{
	font-weight: bold !important;
}
.review-feedback .options tr td,.review-feedback .option tr td{
	border:1px solid #20AFDE !important;
	padding: 10px 0px;
}
.review-feedback .options tr td{
	border-top: none !important;
	border-right: none !important;
}
.review-feedback .options tr td:first-child{
	border-left: none !important;
}
.review-feedback .option tr td:first-child{
	border-left: none !important;
}
.review-feedback .option tr td:last-child{
	border-right: none !important;
}
.review-feedback .option tr .sl{
	padding-top: 15px;
}
.review-feedback .option tr .text-ques b{
	clear: both;
	margin-bottom: 25px !important;
}
.name-response{
	width: 300px;
}
.response-text,.name-response{
	font-size: 12px;
}
.ques-text-item{
	clear: both;
	margin:10px 0px !important;
}
/*================================================css mobile===================*/
/*================================================css mobile=====================*/
/*================================================css mobile=============*/
/*================================================css mobile==========*/
/*================================================css mobile=======================*/
@media  screen and (min-width: 320px) and (max-width: 480px) {
	.option-item{
		width: 60px;
	}
	.name-response{
		width: 100px;
	}
	.option-item center{
		font-size: 12px;
	}
}
@media  screen and (min-width: 414px) and (max-width: 779px) {
	.option-item{
		width: 60px !important;
	}
	.option-item center{
		font-size: 12px;
	}
}
/**************************************************Chart*********************************************/
/**************************************************Chart*********************************************/
.highcharts-credits{
	display: none !important;
}
.highcharts-series path{
	stroke-width:0px !important;
}
.highcharts-label text tspan{
	font-weight: normal !important;
	font-size: 13px;
}