.event-title,.evDecription,.evLocation,.evCategory{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    text-align: left;
    color: #5e5e5e;
}
.joms-form__group .joms-required,
.eventCatagory .joms-required {
    color: #bb5a66;
    font-size: 17px;
    margin-left: 5px;
}

.col-event .swiper-wrapper .swiper-slide {
    width: 100%;
}
.evenLocation{
    width: 15px !important;
    margin: 0px 5px 0px 0px;
    position: relative;
    bottom: 2px;
}
.evenCaledar{
    width: 15px !important;
    margin: 0px 5px 0px 0px;
    position: relative;
    bottom: 2px;
}
.mn-title,.mn-titlefull{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #494949;
    letter-spacing: 0px;
    line-height: 33px;
    font-size: 16px;
    margin-left: 20px;
}
.mnContentEvent .memberSeeMore{
    color: #126db6;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.mnAboutEvent,
.mnMemnerTitle {
    padding:20px;
    margin:0px !important;
    color: #5e5e5e;
    font-size: 17px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif !important;
	font-weight: 700 !important;
    padding-bottom: 15px;
}
.mnEventTitle{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #5e5e5e;
    letter-spacing: 0px;
    font-size: 17px;
    padding-left: 20px;
    width: 100%;
}
.mnContentEvent .joms--description{
    padding: 20px;
}
.col-event-about p{
    padding:15px;
}
.mnContentEvent .bordered-box,
.mnContentEvent .bordered-box .col-event{
    padding-left: 0px;
}
#community-wrap.jomsocial-wrapper .jomsocial{
    padding: 0px !important
}
.col-event-about p{
    padding:15px;
}
.img-Eventavatar{
    width: 100px !important;
    height: 100px !important;
    background: #fff !important;
    border-radius: 7px !important;
    border:none !important;
}
.com_community.view-events.task-viewevent .joms-focus__cover .joms-focus__header .joms-focus__title{
    height: 70px;
    background-color: rgba(74,74,74, 0.55);
    width: 100% !important;
    margin-left: 0px;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.com_community.view-events.task-viewevent 
.joms-focus__cover .joms-focus__header .joms-focus__title h3{
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
}
.com_community.view-events.task-viewevent 
.joms-focus__cover{
    height: 200px;
}
.com_community.view-events.task-viewevent #community-wrap.jomsocial-wrapper .jomsocial{
    padding: 0px !important;
}
.com_community.view-events.task-viewevent .joms-focus__title .back {
    margin-top: 14px;
}
.cEvents .joms-avatar--focus{
    width: 100px !important;
    height: 100px;
    background: #F3F7FB;
    text-align: center;
    margin: 0px auto;
    top:0px !important;
     left: calc(52% - 50px) !important;
    z-index: 13;
     border-radius: 7px;
}
.joms-avatar--focus img {
    max-width: 100px;
    border-radius: 7px;
}
 .com_community.view-events.task-create .mnPhotoIcon,
 .com_community.view-events.task-edit .mnPhotoIcon{
    bottom: calc(50% - 24px);
    width: 42px !important;
    height: 42px !important;
    background: #828282;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 29%;
}
 .com_community.view-events.task-create .joms-avatar--focus .photo-icon,
 .com_community.view-events.task-edit .joms-avatar--focus .photo-icon {
    width: 24px !important;
    height: 23px !important;
    top: 10px !important;
}
 .com_community.view-events.task-viewevent .mnPhotoIcon
{
    bottom: calc(50% - 24px);
    width: 42px !important;
    height: 42px !important;
    background: #828282;
    border-radius: 50%;
    cursor: pointer;
}
 .com_community.view-events.task-viewevent
  .joms-avatar--focus .photo-icon{
    width: 24px !important;
    height: 23px !important;
    top: 40px !important;
}
.btn-edit-event{
    display: block;
    width: 30px;
    margin-right: calc(14% - 24px);
    float: right;
    position: relative;
    bottom: 15px !important;
}
.mnTime{
    display: table-caption;
    padding: 0px 6px 0px 6px;
    color: #5e5e5e;
}
.com_community.view-events .joms-form__group .evInputLocation{
    margin-bottom: 33px;
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    height: 33px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #828282;
}
.com_community.view-events .joms-page .eventCatagory{
    width: 100%;
    text-align: left;
    overflow: visible !important;
}
.eventCatagory .js-event-start {
    padding-left: 0;
}
.eventCatagory .picker {
    z-index: 1000;
}
#starttime,#endtime{
    /*margin-bottom: 33px;*/
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    height: 33px;
    width: calc(100% - 2px) !important;
    /*margin-top: 38px;*/
    color: #828282 !important;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}
.mn{
    float: right;
    margin-top: -28px;
    margin-right: 15px;
}
.view-events .js-button-right{
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}
.eventCatagory{
    margin: 0px;
}
.js-event-text{
     margin-bottom: 33px;
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    border-radius: 10px !important;
}
#ev-name{
    margin-bottom: 33px;
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    height: 33px;
    color: #828282 !important;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}
.com_community.view-events.task-viewevent .joms-focus__header .event-title p
{
    margin-top: 10px !important;
}
.com_community.view-events.task-viewevent .joms-focus__header .event-title .mnNameEvent
{
    margin-top: 15px !important;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    display: block;
}
.com_community.view-events.task-viewevent .joms-focus__header .block {
    width: 29px !important;
    height: 29px !important;
    background-position: center;
    background-size: 22px 16px;
    background-repeat: no-repeat;
    background: #4f5355;
    display: block;
    border-radius: 50px;
    text-align: center;
}
.jomsocial .cIndex-Avatar img {
    border: medium none;
    border-radius: 100px;
    width: 86px;
    height: 86px;
    float: left;
    padding:0px;
}
.col-event.joms-list--friend .userAvatar > a > p {
    padding-left: 18px;
    margin-left: 0px !important;
    float: left;
    padding: auto 10px;
    margin-top: 30px;
}
.mntitle{

    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}
.input-group-addon{
    display: none;
}
.com_community.view-events .js-event-date-start .joms-input.picker__input{
   margin-top: 13px !important;
    height: 33px !important;
    background: #fff !important;
    border:1px solid #ccc;
}
.com_community.view-events .js-event-date-end .joms-input.picker__input{
    margin-top: 23px !important;
    height: 33px !important;
    background: #fff !important;
    border:1px solid #ccc;
}
.mnContentEvent p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282 !important;
    font-size: 16px;
}
.mnContentEvent .bordered-box, .mnContentEvent .bordered-box {
    padding-left: 0px;
    border-top: 1px solid #828282;
    border-bottom: 1px solid #828282;
}
.t3-mainbody,.t3-content,.home{
    padding-bottom: 0px !important;
}
.js-event-date{
    width: 43% !important;
}
.joms-input[type="text"]{
    color: #828282 !important;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}
.mnActive{
    /*right: -16%;*/
    position: relative;
    width: 28%;
    background: #fff;
    color: #000;
    float: right;
    bottom: -3px;
    z-index: 1;
    border:1px solid #ccc;
    border-radius: 5px;
   box-shadow: 0px 1px 5px #ccc;
}
.mnActive ul li:first-of-type{
    text-align: center;
    padding:8px 5px;
    border-bottom: 1px solid #B8D7E2;
}
.mnActive ul li:last-of-type{
    text-align: center;
    padding:8px 5px;
    cursor: pointer;
}
.mnActive ul li a{
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    cursor: pointer;
}
.rmPopupUnfriend .btRMYes{
    padding: 0px 10px !important;
    width: 84px !important;
}
.rmPopupUnfriend, .rmPopupBlock{
    top: 40% !important;
}
.rmPopupUnfriend, .rmPopupBlock
{
    margin:5% !important;
}
.userAvatar1 span{
    min-height: 50px;
    max-height: 100px;
    overflow: hidden;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
    top: 20px;
}
.userAvatar1 {
    margin-bottom: 20px;
    margin-top: 28px;
}
.eventCatagory .notifi{
    color: red; 
    font-size: 16px; 
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
        margin-top: -40px;
}
.nullname{
    margin-top:-20px;
    color: red;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.joms-help{
    float: left;
    margin-top:-20px;
    color: red;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.evenTime{
    width: 15px !important;
    margin: 0px 5px 0px 0px;
    position: relative;
    bottom: 2px;
}

.evenCaledarBlock,
.evenLocationBlock,
.evenTimeBlock{
    margin-right: 20px;
}

.mnEventDes{
    padding: 20px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282 !important;
    font-size: 16px;
}
.error1{
    color: #bb5a66;
}
.joms-form__group input.error1 {
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
input:focus::-webkit-textfield-decoration-container {
    visibility: hidden;
}
.com_community.view-events.task-create .joms-focus--mini,
.com_community.view-events.task-edit .joms-focus--mini {
    height: 200px !important;
}

.view-events .title{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
}

#starttime, #endtime {
    /*box-shadow: none !important;*/
}

.com_community.view-events.task-create .joms-page > form > .joms-form__group > textarea {
    color: #828282 !important;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}
