.home {
    padding-bottom: 15px;
    /*background-color: #FFF;*/
}
.home h1 {
  line-height: 1;
}
.home h2 {
  font-size: 21px;
}
@media screen and (min-width: 768px) {
  .home h2 {
    font-size: 30px;
  }
}
.home .jumbotron {
  background-color: transparent;
  position: relative;
  margin-bottom: 0;
}
.home .t3-sl-1 {
  padding: 0;
  background: #ffffff;
  color: #333333;
  border-bottom: 1px solid #eeeeee;
}
.home .t3-sl-1 .jumbotron {
  border-radius: 0;
}
.home .t3-sl-1 .jumbotron .btn {
  margin-top: 20px;
}
.home .t3-sl-2 {
  text-align: center;
}
.home .t3-sl-2 .img-responsive {
  display: inline-block;
}
.com_users .t3-mainbody .t3-content .login-wrap ,
.com_users .t3-mainbody .t3-content .profile,
.com_users .t3-mainbody .t3-content .profile-edit,
.com_users .t3-mainbody .t3-content .reset ,
.com_users .t3-mainbody .t3-content .remind ,
.com_users .t3-mainbody .t3-content .registration {
    padding: 10px 15px;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-2 p {
    font-size: 16px;
    line-height: 22px;
  }
}
.home .t3-sl-3 p > img {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .home .t3-sl-3 p > img {
    margin-top: 0;
  }
}
.home .t3-sl-3,
.home .t3-sl-4 {
  /* border-top: 1px solid #eeeeee; */
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-3 p,
  .home .t3-sl-4 p {
    font-size: 16px;
    line-height: 22px;
  }
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
  padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
  margin-bottom: 10px;
  margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
  font-size: 18px;
  line-height: 1.25;
  color: #999999;
}
@media screen and (min-width: 768px) {
  .home .t3-sl-3 .jumbotron p,
  .home .t3-sl-4 .jumbotron p {
    font-size: 21px;
  }
}
.home .t3-sl-5 {
  background: #ffffff;
  color: #333333;
  border-top: 1px solid #eeeeee;
  padding: 0;
}
.home .t3-sl-5 .jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}


.card-grid {
width: 310px;
  height: 180px;
  
    /*
  width: 300px;
  height: 180px;
    
  margin: 20px;
  display: inline-block;
    */
    margin: 0 auto;
}

.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border: 0px #333 solid;
}

.card-grid .front {
  background-color: #eee;
    position: relative;
    margin: 0 auto;
}

.card-grid .back {
  background-color: #ece8b1;
  color: white;
    position: relative;
    margin: 0 auto;
}


.home .wrap.t3-sl.t3-sl-4 .container {
    overflow: hidden;
    padding: 0;
}
#t3-mainnav .popover.bottom {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
#t3-mainnav .popover.bottom a {
        color: #282727;
        font-size: 14px;
}
@media (max-width: 767px) {
    .first-login {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0px;
    }
    .first-login .first-login-profile img {
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 10px;
    }
    
    .first-login .guide-faq img{
        width: 70px;
        height: 37px;
        float: left;
        margin-right: 10px;
    }
    .first-login .guide-faq p {
        width: calc(100% - 80px);
        float: right;
        line-height: 37px;
    }
    .first-login .first-login-profile p a ,
    .first-login .guide-faq p a {
        color: #569E06;
        text-decoration: underline;
    }
    .home .my-course {
        margin-top: 0px;
        clear: both;
    }
    .home .my-course .course-title-block{
        width: 100%;
        margin-bottom: 0px;
    }
    .home .my-course .course-title-block h2 {
        margin: 0;
    }
    .home .my-course .course-content-block {
        clear: both;
    }
    .home .my-course.have-courses .course-content-block {
        position: relative;
    }
    .home .wrap.t3-sl.t3-sl-3 .container {
        overflow: hidden;
        padding: 0;
    } 
    .home .my-course .course-content-block .swiper-container {
        overflow: visible;
    }
    .home .mygroups .mygroup-content-block .swiper-container {
        overflow: visible;
    }
    .home .my-course .course-content-block .joomdlecourses {
        padding: 0;
    }
    .home .my-course .course-content-block .joomdlecourses .course-name {
        text-align: left;
        font-weight: bold;
    }
    .home .my-course .course-content-block .joomdlecourses .course-img {
        margin-right: 10px;
    }
    .home .my-course .course-content-block .joomdlecourses .browse-course {
        display: block;
        clear: both;
        text-align: right;
        float: none;
    }
    .home .my-course .course-content-block ul li{
        list-style: none;
        margin-left: 0;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    .home .my-course .course-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
    }
    .home .my-course .course-content-block ul li a {
        float:right;
    }
    .home .my-course .course-search {
        width: 49%;
        float: right;
        margin-top: -0px;
    }
    .home .my-course .course-search input[type="text"]{
        padding: 5px;
        margin: 0;
        line-height: 30px;
        height: 30px;
        font-size: 12px;
        border-radius : 0;
    }
    .home .mygroups {
        margin-top: 0px;
        clear: both;
    }
    .home .mygroups .mygroup-title-block{
        width: 100%;
    }
    .home .mygroups .mygroup-title-block h2 {
        color: #fff;
        font-size: 12px;
        line-height: 28px;
        margin: 0;
    }
    .home .mygroups .mygroup-content-block {
        text-align: left;
        clear: both;
        
    }

    .home .mygroups .mygroup-content-block ul {
        padding: 0;
    }
    .home .mygroups .mygroup-content-block ul li {
        list-style: none;
        margin-left: 0;
        padding: 15px;
        background-color: white;
        border-radius: 0px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    .com_community.view-profile .mygroups .mygroup-content-block .group-title{
        min-height:185px;
    }

    .home .mygroups .mygroup-content-block .group-title .group-statistic {
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        font-size: 13px;
        color: #797979;
        line-height: 24px;
        clear: both;
        /*width: 100%;*/
        float: left;
        display: block;
        width: 50%;
    }
    .home .mygroups .mygroup-content-block .group-title .continue-learning {
        padding: 0 15px;
        line-height: 24px;
        color: #fff;
        float: right;
        background: #4f5355;
        border-radius: 50px;
        font-size: 12px;
        width: 50%;
        white-space: nowrap;
    }
   

    /* Added by Chris */
    .swiper-wrapper .swiper-slide .title-course a.right-side-swiper {
            padding: 0 15px;
            margin-right: 75px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 13px;
            font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
            float: left;

    }

    .swiper-wrapper .swiper-slide .title-course a.left-side {
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 14px;
            font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            /*right: 0;*/
            float: left;
            margin-left: 10px;
            margin-top: -30px;

    }

    /* upto here */

    .home .mygroups .mygroup-content-block .group-title img {
        width: 55px;
        height: 55px;
        float: left;
        margin-right: 18px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .home .mygroups .mygroup-content-block .group-title .gr-owner {
        margin: 0px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
        font-size: 13px;
        color: #383838;
        overflow: hidden;
        letter-spacing: 0px;
        margin-top: 5px;
        line-height: 20px;
        margin-left: 73px;
    }
    .home .course-search {
        margin: -10px -15px 0 -15px;
        padding: 10px 15px 15px 15px;
        background-color: #eaeaea;
    }
    .home .course-search #txtKeyword {
        background-color: #bebebe;
        color: #fff;
        border-radius: 15px;
        background-image: url('/images/icons/SearchIcon.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        padding: 6px 12px 6px 37px;
        background-position: 9px center;
    }
    .home .course-search #txtKeyword::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
    }
    .home .course-search #txtKeyword:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity:  1;
    }
    .home .course-search #txtKeyword::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity:  1;
    }
    .home .course-search #txtKeyword:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
    }

    .home .status-post {
        padding-top: 0px;
        margin-top: 12px;
    }
    .home .status-post .notif {
        margin-top: 10px;
        text-align: left; 
        margin-left: 16px;
        font-size: 14px;
    }
    .home .status-post .notif.success {
        color:  #00DE00;
    } 
    .home .status-post .notif.error {
        color: red;
    } 
    .home .status-post #txtStatusPost {
        background: #efecec;
        border-radius: 100px;
        border: none;
        height: 60px;
        vertical-align: middle;
        font-size: 13px;
        width: 100%;
        padding-left: 25px;
    }
    .home .status-post #btPost {
        float: right;
        margin-top: 12px;
        border: none;
        background: #4F5355;
        color: white;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        font-size: 13px;
        border-radius: 60px;
        line-height: 35px;
        padding: 0 25px;
    }
    .home .status-post #btPost:focus {
        border: none;
        outline: none;
    }
    .home .status-post .joms-postbox {
        border: none;
    }
    .home .status-post .joms-postbox .joms-postbox-content {
        background-color: #efecec;
    }
    .home .status-post .joms-comment__reply .joms-textarea {
        height: 50px;
        border-radius: 0;
    }
    .home .status-post .inputbox .input {
        /*display: none;*/
    }
    .home .status-post .joms-postbox-charcount {
        display: none !important;
    }
    .home .status-post .joms-comment__reply span .joms-button--comment {
        height: 50px;
        background: #098137;
        color: #fff !important;
        font-size: 12px;
        border-radius: 0;
    }
    .home .message-login {
        height: 30px;
        background: #098137;
        margin: 0px -8px;
        border-radius: 0;
    }
    .home .message-login span {
        color: #fff;
        line-height: 30px;
    }
    h2 .count{
        background: #126DB6;
        /* width: 32px; */
        /* height: 30px; */
        display: inline-block;
        margin-left: 10px;
        color: #fff;
        font-size: 12px;
    }
    .home .my-course .course-content-block .title-course img.course-image {
        width: 100%;
        /*max-height: 200px;*/
    }
}
@media (max-width: 374px){
    .home .mygroups .mygroup-content-block .group-title .gr-owner {
        margin: 0px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
        font-size: 13px;
        color: #383838;
        overflow: hidden;
        letter-spacing: 0px;
        margin-top: 5px;
        line-height: 20px;
        margin-left: 73px;
        min-height: 42px;
    }
}
@media (min-width: 320px) {
    .home .my-course .course-title-block h2 a {
        font-size: 16px;
        line-height: 28px;
    }
    .home .mygroups .mygroup-title-block h2 a {
        font-size: 16px;
        line-height: 28px;
    }
    .first-login {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0px;
    }
    .first-login .first-login-profile img {
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 10px;
    }
    
    .first-login .guide-faq img{
        width: 70px;
        height: 37px;
        float: left;
        margin-right: 10px;
    }
    .home .my-course {
        margin-top: 0px;
    }
    .home .my-course .course-content-block .joomdlecourses {
        padding: 0;
    }
    .home .my-course .course-content-block ul li{
        list-style: none;
        margin-left: 0;
        padding: 15px;
        background-color: white;
        margin-bottom: 5px;
    }
    .home .my-course .course-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
        margin-right: 10px;
    }
    .home .my-course .course-content-block ul li a {
        /*margin-top: 15px;*/
        float:right;
    }
    .home .mygroups {
        margin-top: 0px;
    }
    .home .mygroups .mygroup-content-block ul li {
        list-style: none;
        margin-left: 0;
        padding: 15px;
        border-radius: 0px;
        margin-bottom: 5px;
        overflow: hidden;
        background-color: white;
    }
    .home .mygroups .mygroup-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
        margin-right: 10px;
    }
    .home .mygroups .mygroup-content-block ul li a {
        margin-top: 15px;
        float:right;
    }
    .home .status-post .joms-comment__reply .joms-textarea {
        height: 50px;
        border-radius: 0;
    }
    .home .status-post .joms-comment__reply span .joms-button--comment {
        height: 50px;
        background: #098137;
        color: #fff !important;
        font-size: 12px;
        border-radius: 0;
    }
    .home .message-login {
        height: 30px;
        background: #098137;
        margin: 0px -8px;
        border-radius: 0;
    }
    .home .message-login span {
        color: #fff;
        line-height: 30px;
    }
    #mobile-show li{ 
        display:none;
    }
    #loadMore {
        color:#fff;
        cursor:pointer;
        background: #0070c0;
        height: 20px;
        width: 105px;
        float: right;
        font-size: 12px;
     }
     #loadMore:hover {
         color:#fff;
     }
     #showLess {
        color:#fff;
        cursor:pointer;
        background: #0070c0;
        height: 20px;
        width: 105px;
        float: right;
        font-size: 12px;
        margin-right: 2px;
     }
     #showLess:hover {
         color:#fff;
     }
     .home .mygroups .mygroup-content-block .group-activity {
        width: 100%;
    }
     .home .mygroups .mygroup-content-block .group-activity-body {
        width: 100%;
        clear: both;
        padding-top: 10px;
        overflow: hidden;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-header img {
        width: 30px;
        height: 30px;
        border-radius: 25px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action {
        float: left;
        width: calc(100% - 40px);
        text-align: left;
        font-size: 16px;
        /* margin-left: 10px; */
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action br {
        clear: both;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action a {
        float: left;
        margin-top: 0px;
        font-size: 14px;
        padding: 0 5px 0 0;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .mygroup-content-block .group-activity-body .action-content {
        font-size: 16px;
        text-align: left;
    }
    .home .mygroups .mygroup-content-block .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 117%;
            left: 63%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-header {
        width: 30px;
        float: left;
        margin-right: 10px;
    }
    #t3-mainnav .popover.bottom {
        margin-top: -4px;
        width: 100%;
        /*left: 30px !important;*/
        border-radius: 0px;
    }
    .popover.bottom > .arrow {
        margin-left: 4px;
    }
    #t3-mainnav .popover.bottom .popover-content {
        padding: 0px;
    }
    #t3-mainnav .popover.bottom .popover-content .modal-sm{
        margin: 0px;
        width: 100%;
        max-height: 300px;
        overflow: scroll;
    }
    .joms-stream__body-notification {
        padding: 10px;
    }
    .joms-stream--discussion.notifications.default {
        padding: 10px;
    }
    .notifications.not-read {
        background: #E0F0FB;
        cursor: pointer;
    }
}
@media(min-width: 768px){
    .home .mygroups .mygroup-content-block .group-title .group-description {
    font-size: 13px;
    min-height: 50px;
    height: 75px;
    line-height: 20px;
    margin: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #797979;
    margin-left: 73px;
    }
    .home .mygroups .mygroup-content-block .group-title a.gr-title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
    text-align: left;
    display: block;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 0px;
    /*margin-left: 73px;*/
}
  .home .mygroups .mygroup-content-block .group-title p.gr-owner{
    /*margin-left: 73px;*/
  }
.home .mygroups .mygroup-content-block .group-title img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 18px;
    border-radius: 50%;
    margin-bottom: 10px;
}
    .mob .jomsocial .mygroups .swiper-wrapper .swiper-slide{
        width: 500px !important;
    }
    .home .mygroups .mygroup-content-block .group-title {
        /*padding: 18px;*/
        overflow: hidden;
        box-shadow: 0px 3px 1px -1px rgb(230, 230, 230);
    }
    .home .mygroups .mygroup-content-block .group-title .group-statistic {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 13px;
    color: #797979;
    line-height: 24px;
    clear: both;
    /* width: 100%; */
    float: left;
    display: block;
    width: 50%;
}
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #t3-mainnav .popover.bottom {
          /*left: 85px !important;*/
      }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      #t3-mainnav .popover.bottom {
          /*left: 376px !important;*/
      }

}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #t3-mainnav .popover.bottom {
          /*left: 123px !important;*/
      }
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
      #t3-mainnav .popover.bottom {
          /*left: 445px !important;*/
      }

}

/* iphone 5/5s
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      #t3-mainnav .popover.bottom {
          /*left: 277px !important;*/
      }

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      #t3-mainnav .popover.bottom {
          /*left: 190px !important;*/
      }

}
@media screen and (min-width: 360px) {
     #mobile-show li{ 
        display:none;
    }
    #loadMore {
        color:#fff;
        cursor:pointer;
        background: #0070c0;
        height: 20px;
        width: 105px;
        float: right;
        font-size: 12px;
     }
     #loadMore:hover {
         color:#fff;
     }
     #showLess {
        color:#fff;
        cursor:pointer;
        background: #0070c0;
        height: 20px;
        width: 105px;
        float: right;
        font-size: 12px;
        margin-right: 2px;
     }
     #showLess:hover {
         color:#fff;
     }
     .home .mygroups .mygroup-content-block .group-activity {
        width: 100%;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-header img {
        width: 30px;
        height: 30px;
        border-radius: 25px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action {
        float: left;
        width: calc(100% - 40px);
        text-align: left;
        font-size: 14px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action a {
        float: left;
        margin-top: 0px;
        font-size: 14px;
        padding: 0 5px 0 0;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .mygroup-content-block .group-activity-body .action-content {
        font-size: 14px;
        text-align: left;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    }
    .home .mygroups .mygroup-content-block .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 117%;
            left: 63%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-header {
        width: 30px;
        float: left;
        margin-right: 10px;
    }
}
@media screen and (min-width: 375px) {
    .home .mygroups .mygroup-title-block h2 a{
        color: #fff;
        font-size: 16px;
        line-height: 28px;
    }
    .home .my-course .course-title-block h2 a{
        font-size: 16px;
        line-height: 28px;
    }
     #mobile-show li{ 
        display:none;
    }
    #loadMore {
        color:#fff;
        cursor:pointer;
        background: #0070c0;
        height: 20px;
        width: 105px;
        float: right;
        font-size: 12px;
     }
     #loadMore:hover {
         color:#fff;
     }
     #showLess {
        color:#fff;
        cursor:pointer;
        background: #0070c0;
        height: 20px;
        width: 105px;
        float: right;
        font-size: 12px;
        margin-right: 2px;
     }
     #showLess:hover {
         color:#fff;
     }
     .home .mygroups .mygroup-content-block .group-activity {
        height: 55px;
        width: 100%;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-header img {
        width: 30px;
        height: 30px;
        border-radius: 25px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action {
        float: left;
        width: 85%;
        text-align: left;
        font-size: 16px;
        margin-left: 10px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-action a {
        float: left;
        margin-top: 0px;
        font-size: 14px;
        padding: 0px 5px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .mygroup-content-block .group-activity-body .action-content {
        font-size: 16px;
        text-align: left;
    }
    .home .mygroups .mygroup-content-block .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 117%;
            left: 63%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
    }
    .home .mygroups .mygroup-content-block .group-activity .group-activity-header {
        width: 10%;
        float: left;
        height: 50px;
    }
}
.home > .wrap {
    padding-top: 0px;
    padding-bottom: 0;
}
.home .status-post textarea.input-status {
    min-height: 45px !important;
}
.home .status-post #joms-postbox-status .joms-postbox-tab .joms-list {
    text-align: left;
}
.home .status-post #joms-postbox-status .joms-postbox-tab .joms-postbox-action {
    bottom: 0;
}
.home .status-post #joms-postbox-status .joms-postbox-tab .joms-postbox-action button {
    margin: 2px;
}
.home .status-post #joms-postbox-status .joms-postbox-tab .joms-postbox-action button.joms-postbox-save {
    background: #126DB6;
}
.home .my-course .course-title-block h2 a,
.home .mygroups .mygroup-title-block h2 a,
.home .status .ft-create-profile h2 a,
.home .ft-search-friends h2 a,
.home .ft-create-profile h2 a
{
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    color: #126DB6;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    letter-spacing: 0px;
}
.home .my-course .course-title-block h2 a .count,
.home .mygroups .mygroup-title-block h2 a .count {
    text-align: center;
    text-indent: 0;
    line-height: 22px;
    padding: 0 10px;
    border-radius: 4px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.home .mygroups .swiper-wrapper .swiper-slide {
    height: 100%;
    margin-left: 0px;
    margin-top: 5px !important;
}
.home .my-course .course-content-block .count,
.home .mygroups .mygroup-content-block .count {
    position: absolute;
    color: #fff;
    background: #126DB6;
    z-index: 1;
    border-radius: 50%;
    font-size: 10px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: 14px;
    line-height: 20px;
    text-align: center;
}
.home .my-course .course-content-block .program .title-course {
    background-color: #c5c7c9;
}
.home .my-course .course-content-block .title-course {
    text-align: left;
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 4px 1px -1px rgb(230, 230, 230);
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    min-height: 400px;
}
.home .my-course .course-content-block .title-course .course-image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/courses/theme/parenthexis/pix/nocourseimg.jpg);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 1px solid #ddd;
}
.home .my-course .course-content-block .title-course img.course-image {
    width: 100%;
}
.home .my-course .course-content-block .program .title-course .course-type {
    color: #126DB6;
    background: rgba(255, 255, 255, 0.74);
    position: absolute;
    top: 12px;
    left: 0;
    line-height: 30px;
    padding: 0 18px;
    font-size: 13px;
}
.home .my-course .course-content-block .title-course .course-title {
    font-size: 14px;
    padding: 0 18px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
    display: block;
    overflow: hidden;
    margin-top: 15px;
    letter-spacing: 0px;
}
.home .my-course .course-content-block .title-course .course-timeend {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding: 0 18px;
    margin: 0;
    /*line-height: 20px;*/
    letter-spacing: 0px;
    margin-top: 5px;
}
.home .my-course .course-content-block .title-course .course-description {
    font-size: 13px;
    padding: 0 18px;
    line-height: 20px;
    margin: 0;
    /*padding-bottom: 40px;*/
    /*min-height: 50px;*/
    overflow: hidden;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #797979;

}
.home .my-course .course-content-block .title-course .course_timepublish {
    font-size: 13px;
    padding: 0 20px 35px 20px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #797979;
}
.home .my-course .course-content-block .title-course .right-side {
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.home .my-course .course-content-block .title-course .continue-learning {
    padding: 0 15px;
    margin-right: 40px;
    line-height: 24px;
    color: #fff;
    /*float: right;*/
    background: #4f5355;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.home .ft-create-profile,
.home .ft-browse-courses,
.home .ft-browse-circles{
    clear: both;
    width: 100%;
    display: table;
    margin-bottom: 10px;
    border-bottom: 1px solid #D3E7F7;
    padding-bottom: 10px;
    padding-right:0px;
}
.home .ft-create-profile > img,
.home .ft-browse-courses > img,
.home .ft-browse-circles > img,
.home .ft-search-friends > img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.home .ft-create-profile .description,
.home .ft-browse-courses .description,
.home .ft-browse-circles .description,
.home .ft-search-friends .description {
    text-align: left;
    color: #797979;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.home .ft-create-profile > a,
.home .ft-browse-courses > a,
.home .ft-browse-circles > a,
.home .ft-search-friends > a {
    float: right;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.home .ft-create-profile > a:after,
.home .ft-browse-courses > a:after,
.home .ft-browse-circles > a:after,
.home .ft-search-friends > a:after {
    background: url('/images/icon_ar_right.png');
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-left: 10px;
}
.home .ft-create-profile h2,
.home .ft-browse-courses h2,
.home .ft-browse-circles h2,
.home .ft-search-friends h2 {
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    /*text-indent: 5px;*/
    font-size: 16px;
    color: #126DB6;
    margin-top: 10px;

}
.home .my-course span.arrow {
    /*font-size: 22px;*/
    /*line-height: 24px;*/
    display: inline-block;
    /*vertical-align: top;*/
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.home .mygroups span.arrow {
    /*font-size: 22px;*/
    /*line-height: 20px;*/
    display: inline-block;
    /*vertical-align: top;*/
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
#t3-mainnav > .container > .navbar-header .navbar-faqs{
    display: none !important;
}

.home .wrap.t3-sl.t3-sl-2{
    /*display: none;*/
}

.home .wrap.t3-sl.t3-sl-4 .ft-search-friends{
    /*display: none;*/
}


.home .mygroups .mygroup-content-block .group-statistic img{
    height: 15px;
    width:15px;
    padding: 0px;
}


.home .mygroups .mygroup-content-block img.icon_member{
    float: none;
    margin-right: 5px;
    border-radius: 0;
    margin-bottom: 3px;

}

.home .mygroups .mygroup-content-block .group-title .desktop-group-statistic{
    display: none !important;
}
.home .desktop-learning-course{
    display: none !important;
}

.home.mobile-group-statistic{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 13px;
    color: #797979;
    line-height: 24px;
    clear: both;
    float: left;
    display: block;
}
.wrap.t3-sl.t3-sl-3{
    padding-top: 0px;
}
.ft-search-friends{
    margin-top:10px;
}
.swiper-slide.single_course,
.swiper-slide.program
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.home .ft-search-friends {
    clear: both;
    width: 100%;
    display: table;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right:0px;

}
.mobile-group-statistic {
    color: #797979;
}
.view-featured .home{
    background-color: #FFF;
}
.home .mygroups .mygroup-title-block,
.home .my-course .course-title-block{
    color: #126db6;
    /*margin-left: 30px;*/
    font-size: 18px;
    text-align: left;
}
.home .myfriend-content-block .myfriend-title-block{
    color: #126db6;
    font-size: 18px;
    text-align: left;
}
.view-featured .course_content #images {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    border-radius: 7px 7px 0px 0px !important;
    border: 1px solid #E6E6E6;
    border-width: 0px;
    /* background-image: url(/courses/theme/parenthexis/pix/nocourseimg.jpg); */
}
.view-featured .course_content a.course-title{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
    letter-spacing: 0px;
    display: inline-block;
    cursor: pointer;
    line-height: 15px;
    font-size: 14px;
}
.view-featured .my-course p.course-timeend{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding-top: 5px;
    margin: 0;
    letter-spacing: 0px;
}
.view-featured .my-course p.course-description{
    padding: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #696969;
    line-height: 20px;
    font-size: 13px;
}
.view-featured .swiper-slide{
    border: 1px solid #ddd;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    text-align: left;
}
.view-featured .swiper-slide .course_content .content_c{
    padding: 15px 20px;
    height: 140px;

}
.view-featured .swiper-wrapper {
    margin-left: 0px !important;
    width: calc(100% - 40px) !important;
    padding: 0px 15px;
}
.course-title-block,
.mygroup-title-block
{
    padding-left:15px;
}
.myfriend-content-block{
    margin-left: 15px;
    margin-right: 15px;
}
.home .first-time-login .course-content-block {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}
.wrap.t3-sl.t3-sl-4 {
    padding-top: 10px;
    padding-bottom: 0px;
}
.home .have-no-group .mygroup-content-block {
    margin-left: 15px;
    margin-right: 15px;
}
.home .have-no-group .mygroup-content-block,
.home .course-content-block,
.home .myprofile-content-block {
     margin-top: 8px;
}

.home .myfriend-title-block{
    margin-bottom: 8px;
}
#t3-mainnav > .container > .navbar-header .navbar-faqs{
    display: none !important;
}

.home .wrap.t3-sl.t3-sl-2{
    /*display: none;*/
}

.home .wrap.t3-sl.t3-sl-4 .ft-search-friends{
    /*display: none;*/
}


.home .mygroups .mygroup-content-block .group-statistic img{
    height: 15px;
    width:15px;
    padding: 0px;
}


.home .mygroups .mygroup-content-block img.icon_member{
    float: none;
    margin-right: 5px;
    border-radius: 0;
    margin-bottom: 3px;

}

.home .mygroups .mygroup-content-block .group-title .desktop-group-statistic{
    display: none !important;
}
.home .desktop-learning-course{
    display: none !important;
}

.home.mobile-group-statistic{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 13px;
    color: #797979;
    line-height: 24px;
    clear: both;
    float: left;
    display: block;
}
.wrap.t3-sl.t3-sl-3{
    padding-top: 0px;
}
.ft-search-friends{
    margin-top:10px;
}
.swiper-slide.single_course,
.swiper-slide.program
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.home .ft-search-friends {
    clear: both;
    width: 100%;
    display: table;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right:0px;

}
.mobile-group-statistic {
    color: #797979;
}
.view-featured .home{
    background-color: #FFF;
}
.home .mygroups .mygroup-title-block,
.home .my-course .course-title-block{
    color: #126db6;
    /*margin-left: 30px;*/
    font-size: 18px;
    text-align: left;
}
.home .myfriend-content-block .myfriend-title-block{
    color: #126db6;
    font-size: 18px;
    text-align: left;
}
.view-featured .course_content #images {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    border-radius: 7px 7px 0px 0px !important;
    border: 1px solid #E6E6E6;
    border-width: 0px;
    /* background-image: url(/courses/theme/parenthexis/pix/nocourseimg.jpg); */
}
.view-featured .course_content a.course-title{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
    letter-spacing: 0px;
    display: inline-block;
    cursor: pointer;
    line-height: 15px;
    font-size: 14px;
}
.view-featured .my-course p.course-timeend{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding-top: 5px;
    margin: 0;
    letter-spacing: 0px;
}
.view-featured .my-course p.course-description{
    padding: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #696969;
    line-height: 20px;
    font-size: 13px;
}
.view-featured .swiper-slide{
    border: 1px solid #ddd;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    text-align: left;
}
.view-featured .swiper-slide .course_content .content_c{
    padding: 15px 20px;
    height: 120px;

}
.view-featured .swiper-wrapper {
    margin-left: 0px !important;
    width: calc(100% - 40px) !important;
    padding: 0px 15px;
}
.course-title-block,
.mygroup-title-block
{
    padding-left:15px;
}
.myfriend-content-block{
    margin-left: 15px;
    margin-right: 15px;
}
.lgt-notif,
.lgt-notif-error {
    position: fixed;
    bottom: 65px;
    left: 100%;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    padding: 10px 20px;
    text-align: center;
    min-width: 140px;
    line-height: 30px;
    box-sizing: border-box;
    transition: all 300ms ease;
    text-transform: capitalize;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 11111;
    white-space: nowrap;
    font-style: italic;
}
.lgt-notif {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    box-shadow: inset 0 0 0 2px rgba(96, 218, 170, 0.32);
}
.lgt-notif-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    box-shadow: inset 0 0 0 2px rgba(218, 96, 141, 0.32);
}
.lgt-notif.lgt-visible,
.lgt-notif-error.lgt-visible {
    left: calc(100% - 15px);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}
.lgt-notif::before, .lgt-notif::after,
.lgt-notif-error::before, .lgt-notif-error::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.lgt-notif::before {
    top: 0;
    left: 0;
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    animation: border 2s infinite;
}
.lgt-notif::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}
.lgt-notif-error::before {
    border-top-color: #F1677D;
    border-right-color: #F1677D;
    top: 0;
    left: 0;
    animation: border 2s infinite;
}
.lgt-notif-error::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColorSecond 2s 1s infinite;
}
@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes borderColor {
    0% {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
    }
    50% {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
@keyframes borderColorSecond {
    0% {
        border-bottom-color: #F1677D;
        border-left-color: #F1677D;
    }
    50% {
        border-bottom-color: #F1677D;
        border-left-color: #F1677D;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.login-register-page .carousel-indicators li {
    width: 10px;
    height: 10px;
}
.login-register-page .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px;
}
.login-register-page #t3-mainbody,
.login-register-page #t3-mainbody .joms-landing {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.login-register-page #t3-mainbody > .row {
    margin: 0;
}
.login-register-page .frontLayer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.login-register-page .frontLayer > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}
.login-register-page .frontLayer > h4 {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    text-shadow: 3px 5px 9px #000000;
    margin: 0 0 5px 0;
    min-height: 14px;
    height: 10%;
    display: block;
}
.login-register-page .frontLayer > h4:first-of-type {
    position: absolute;
    top: calc(43% + 5%);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.login-register-page .frontLayer h4:nth-of-type(2) {
    position: absolute;
    top: calc(43% + 5% + 10%);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.login-register-page .frontLayer h4:last-of-type {
    position: absolute;
    top: calc(42% + 5% + 10% + 10% + 5%); /* 73% */
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.login-register-page .section-white {
    position: relative;
}
.login-register-page .carousel-inner > .item {
    /*height: 282px;*/
    height: auto;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action {
    padding: 33px 22px;
    min-height: calc(100vh - 468px);
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input {
    height: 30px;
    border: 1px solid #EFECEC;
    font-size: 14px;
    color: #828282 !important;
    background: #fff;
    padding: 0 10px !important;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input[name="password"] {
    margin: 22px 0 11px 0;
}
.login-register-page .signup-forgotpassword {
    padding: 0 0 0 10px;
    overflow: hidden;
}
.login-register-page .signup-forgotpassword > div > span,
.login-register-page .signup-forgotpassword > div > a {
    font-size: 14px;
    color: #828282;
    display: inline-block;
}
.login-register-page .signup-forgotpassword > div:first-of-type > a {
    color: #126db6;
    font-weight: bold;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append,
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button {
    margin: 0;
    padding: 0;
    width: 100%;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button.joms-button--login {
    text-transform: uppercase;
    min-width: 80px;
    width: auto;
    float: right;
    font-size: 14px;
    height: 26px;
    box-shadow: 0 0 2px black;
    line-height: 24px;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button.joms-button--login:hover,
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button.joms-button--login:focus {
    background: #4f5355;
}
.login-register-page .divButtonLogin {
    overflow: hidden;
    width: 100%;
    padding: 0px 2px 11px 2px;
}
.login-register-page .signup-forgotpassword .left {
    float: left; 
    padding: 0px 0 15px 0;
    line-height: 24px;
}
.login-register-page .signup-forgotpassword .left span {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page .signup-forgotpassword .left a {
    margin: 0;
}
.login-register-page .signup-forgotpassword .right {
    float: right; 
    padding-top: 0;
}
.login-register-page .divForgotPassword {
    overflow: hidden;
    width: 100%;
    padding: 0 0 0 10px;
}
.login-register-page .divForgotPassword a {
    float: right;
    font-size: 14px;
    color: #828282;
    display: inline-block;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page #community-wrap .jomsocial .login-using-social img {
    /*width: 50px;
    height: 26px;
    margin: 0;*/
    width: auto;
    height: 100%;
    margin: 0;
}
.login-register-page .login-using-social > a {
    width: 56px;
    height: 28px;
    margin: 0 8% 0 0;
    border-radius: 90px;
    display: inline-block;
}
.login-register-page .login-using-social > a:first-of-type {
    background: #3A6BB4;
}
.login-register-page .login-using-social > a:nth-of-type(2) {
    background: #EF3D31;
}
.login-register-page .login-using-social > a:last-of-type {
    background: #4091CF;
}
.login-register-page #community-wrap .jomsocial .login-using-social a:last-of-type {
    margin-right: 0;
    background: #4091CF;
}
.login-register-page #community-wrap .jomsocial .login-using-text .first,
.login-register-page #community-wrap .jomsocial .login-using-text .third {
    display: block;
    width: calc(50% - 65px);
    border-bottom: 1px solid rgba(159, 166, 168, 0.37);
}
.login-register-page #community-wrap .jomsocial .login-using-text .first {
    float: left;
}
.login-register-page #community-wrap .jomsocial .login-using-text .second {
    display: block;
    width: 100%;
    float: left;
    line-height: 0;
    font-size: 14px;
}
.login-register-page #community-wrap .jomsocial .login-using-text .third {
    float: right;
}
.login-register-page #community-wrap .jomsocial .login-using-social,
.login-register-page .divDownloadApp,
.login-register-page #community-wrap .jomsocial .login-using-text,
.login-register-page .divCopyright {
    text-align: center;
    padding: 15px 15%;
}
.login-register-page .divDownloadApp p {
    font-size: 14px;
    color: #7f8c8d;
}
.login-register-page .divDownloadApp a {
    display: inline-block;
}
.login-register-page .divDownloadApp img {
    /*width: 84px;
    height: 28px;*/
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
.login-register-page .divDownloadApp a:last-of-type img {
    margin-right: 0;
}
.login-register-page .div-footer-menu {
    padding: 20px;
}
.view-register .div-footer-menu,
.view-reset .div-footer-menu {
    padding: 20px 20px 0 20px;
    clear: both;
}
.login-register-page .div-footer-menu ul {
    /*display: table;*/
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.login-register-page .div-footer-menu li {
    /*display: table-cell;*/
    text-align: center;
    min-width: 50px;
    display: inline-block;
    line-height: 24px;
    padding: 0 2%;
}
.login-register-page .div-footer-menu li a {
    color: #828282;
    text-align: center;
    white-space: nowrap;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
}
.login-register-page #community-wrap .jomsocial .login-using-text {
    color: #828282;
    font-size: 20px;
}
.login-register-page .divCopyright {
    font-size: 11px;
    color: #7f8c8d;
    padding: 10px 15% 0 15%;
}
.login-register-page .divCopyright p {
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    font-size: 14px;
    letter-spacing: 0;
}
.login-register-page a:focus {
    outline: none;
}
.login-register-page #community-wrap .jomsocial .login-using-text .second {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page .divDownloadApp {
    display: none;
}

.view-frontpage.task-terms body,
.view-frontpage.task-privacy_policy body {
    padding: 0;
}
.terms-page-banner,
.privacy-policy-page-banner,
.support-page-banner {
    height: 78px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 15px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/terms_banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.terms-page-content.guest,
.privacy-policy-page-content.guest,
.support-page-content.guest {
    padding: 78px 15px 10px 15px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
}
.terms-page-content,
.privacy-policy-page-content {
    padding: 50px 15px 50px 15px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #445560;
}
.support-page-content {
    padding: 50px 15px 50px 15px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
}


.terms-page-banner .left,
.privacy-policy-page-banner .left,
.support-page-banner .left {
    float: left;
}
.terms-page-banner .left img,
.privacy-policy-page-banner .left img,
.support-page-banner .left img {
    display: block;
    width: 110px;
    padding-top: 26px;
    /*height: 50px;*/
    /*margin-left: -6px;*/
}
.terms-page-banner .right,
.privacy-policy-page-banner .right,
.support-page-banner .right {
    float: right;
    padding-top: 29px;
}
.terms-page-banner .right a,
.privacy-policy-page-banner .right a,
.support-page-banner .right a {
    /*line-height: 50px;*/
    text-transform: capitalize;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.terms-page-banner .right a:first-of-type,
.privacy-policy-page-banner .right a:first-of-type,
.support-page-banner .right a:first-of-type {
    margin-right: 20px;
}
.terms-page-content .title,
.privacy-policy-page-content .title,
.support-page-banner .title {
    color: #445560;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 15px;
    margin-top: 20px;
}
.terms-page .connect-with-us,
.business-page .connect-with-us,
.privacy-policy-page .connect-with-us,
.view-faq .connect-with-us {
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.terms-page .connect-with-us .connect-icons,
.business-page .connect-with-us .connect-icons,
.privacy-policy-page .connect-with-us .connect-icons,
.view-faq .connect-with-us .connect-icons {
    text-align: center;
}
.terms-page .connect-with-us .connect-icons p,
.business-page .connect-with-us .connect-icons p,
.privacy-policy-page .connect-with-us .connect-icons p,
.view-faq .connect-with-us .connect-icons p {
    margin-bottom: 15px;
}
.terms-page .connect-with-us .connect-icons a,
.business-page .connect-with-us .connect-icons a,
.privacy-policy-page .connect-with-us .connect-icons a,
.view-faq .connect-with-us .connect-icons a {
    display: inline-block;
    margin-right: 20px;
}
.terms-page .connect-with-us .connect-icons a:last-of-type,
.business-page .connect-with-us .connect-icons a:last-of-type,
.privacy-policy-page .connect-with-us .connect-icons a:last-of-type,
.view-faq .connect-with-us .connect-icons a:last-of-type {
    margin-right: 0px;
}
.terms-page .connect-with-us .connect-icons img,
.business-page .connect-with-us .connect-icons img,
.privacy-policy-page .connect-with-us .connect-icons img,
.view-faq .connect-with-us .connect-icons img {
    width: 40px;
    height: 40px;
}
.login-register-page .terms-page .divCopyright ,
.login-register-page .privacy-policy-page .divCopyright {
    text-transform: none;
    padding: 0px 15px 0 15px;
}
.terms-page .paragraph-title,
.privacy-policy-page .paragraph-title {
    text-transform: uppercase;
}
.login-register-page .terms-page .div-footer-menu li a,
.login-register-page .privacy-policy-page .div-footer-menu li a {
    font-size: 12px;
}
.view-frontpage.task-terms .home ,
.view-frontpage.task-privacy_policy .home {
    padding-bottom: 22px;
}
.privacy-policy-page .dot{
    opacity: 0.5;
    margin-right: 8px;
}
.privacy-policy-page .sub-paragraph-title{
    font-weight: bold;
}
.privacy-policy-page .letter,
.terms-page .letter {
    float: left;
    margin-right: 8px;
    margin-bottom: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.terms-page .bullet {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
}
.terms-page .paragraph-title,
.terms-page .sub-paragraph-title {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}

.terms-page .paragraph,
.privacy-policy-page .sub-paragraph {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
    font-size: 14px;
    text-align: left;
}

.terms-page .connect-with-us p,
.privacy-policy-page .connect-with-us p {
    margin-bottom: 20px;
}

.terms-page-content.guest .title,
.privacy-policy-page-content.guest .title {
    margin-top: 45px;
}

.view-register,
.view-reset {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}
.view-register body,
.view-reset body {
    margin: 0;
    padding: 0;
    background-image: url('/images/login/mobile375.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mob .errorpage {
        background: url('/images/404errorwithfilter.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.view-register .home,
.view-reset .home {
    margin: 0;
    padding: 0;
}
.view-register #t3-mainbody,
.view-register .sign-up-page,
.view-reset #t3-mainbody {
    background: transparent;
}
.view-reset .reset-page,
.view-register .register-success-page,
.reset-confirm-page,
.reset-complete-page {
    text-align: center;
    min-height: calc(100vh - 156px);
}
.view-register .sign-up-page {
    text-align: center;
    min-height: calc(100vh - 185px);
}
.view-reset .t3-content,
.view-register .t3-content {
    padding: 0;
}
.view-reset .reset-page .page-header {
    border: none;
    padding: 0;
    margin: 0;
}
.view-reset .reset-page .form-validate p {
    border: none;
    background: transparent;
    padding: 0;
}
.view-reset .form-group {
    margin: 0;
    padding: 0 15% 0 15%;
}
.view-register .sign-up-page {
    padding: 0;
}
.view-register .sign-up-page form {
    padding: 0 15% 5px 15%;
    background: transparent;
    min-height: calc(100vh - 468px);
}
.view-register .sign-up-page .buttonSignup,
.view-reset .validate {
    text-transform: uppercase;
    min-width: 80px;
    width: auto;
    float: right;
    font-size: 14px;
    height: 26px;
    box-shadow: 0 0 2px black;
    line-height: 26px;
    padding: 0 10px;
    background: #4f5355;
    border: none;
    border-radius: 50px;
}
.view-register .joms-loading {
    display: inline-block;
    height: 100%;
}
.view-register .joms-loading img {
    width: 16px;
    height: 11px;
}
.view-reset .validate {
    margin-top: 20px;
    color: #fff;
}
.view-register .sign-up-page .buttonSignup:hover,
.view-reset .validate:hover,
.joms-page.register-success-page .btBacktoHome:hover {
    background: #4f5355;
}
.view-register .sign-up-page .buttonSignup:focus,
.view-reset .validate:focus,
.joms-page.register-success-page .btBacktoHome:focus {
    outline: none;
}
.joms-page.sign-up-page .signup-title h4,
.joms-page.register-success-page h4,
.reset-page .page-header h4,
.reset-confirm-page h4,
.reset-complete-page h4 {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #126db6;
    font-size: 14px;
    text-transform: capitalize;
}
.joms-page.register-success-page h4,
.reset-confirm-page h4,
.reset-page .page-header h4,
.reset-complete-page h4 {
    text-transform: none;
}
.joms-page.sign-up-page .signup-message,
.joms-page.sign-up-page .signup-condition,
.joms-page.register-success-page .register-message,
.reset-page .reset-message,
.reset-confirm-page .reset-message,
.reset-complete-page .reset-message {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    font-size: 13px;
    margin: 15px auto 20px auto;
    padding: 0 15px;
    text-align: center;
}
.joms-page.sign-up-page .signup-condition a {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #828282;
}
.joms-page.sign-up-page .joms-form__group {
    margin-bottom: 12px;
}
.reset-complete-page .form-group,.reset-confirm-page .form-group{
    padding-bottom: 10px;
}
.reset-complete-page fieldset > .form-group:last-of-type,.reset-confirm-page fieldset > .form-group:last-of-type {
    padding-bottom: 0;
}
.joms-page.sign-up-page .joms-form__group.signup-submit {
    overflow: hidden;
}
.joms-page.sign-up-page .joms-form__group input[type="text"],
.joms-page.sign-up-page .joms-form__group input[type="password"],
.reset-page input[type="text"],
.reset-confirm-page input[type="text"],
.reset-complete-page input[type="password"] {
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 12px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    background-color: #fff;
    height: 30px;
    border-radius: 50px;
}
.reset-page input[type="text"],
.reset-confirm-page input[type="text"],
.reset-complete-page input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
}
.reset-page input[type="text"]:last-of-type,
.reset-confirm-page input[type="text"]:last-of-type,
.reset-complete-page input[type="password"]:last-of-type {
    margin-bottom: 0;
}
.view-register .login-using-text,
.view-register .login-using-social {
    display: none;
}
.view-register .divLogin {
    font-size: 13px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    text-align: center;
    clear: both;
}
.view-register .divLogin a {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #126db6;
}
.view-register .signup-back,
.view-reset .signup-back {
    padding: 15px 0 15px 15px;
}
.view-register .signup-back img,
.view-reset .signup-back img {
    width: 10px;
    height: 19px;
}
.register-success-page {
    text-align: center;
    background: transparent;
}
.view-register.task-registerSucess .outerpgbar,
.view-register.task-registerSucess .innerpgbar {
    background: transparent;
    display: none;
}
.joms-page.register-success-page .btBacktoHome {
    width: auto;
    text-transform: uppercase;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.reset-confirm-page .form-actions {
    background: transparent;
    padding: 0;
    margin: 0;
}
.view-reset .divCopyright,
.view-register .divCopyright {
    line-height: 20px;
    padding-bottom: 20px;
}
.view-register #system-message-container,
.view-reset #system-message-container{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    margin-left: 10px;
}
.view-register #system-message-container .alert,
.view-reset #system-message-container .alert {
    padding: 10px 15px;
    border-radius: 1px;
}
.view-register #system-message-container .alert h4,
.view-reset #system-message-container .alert h4 {
    margin: 0;
    line-height: 30px;
}
.view-register #system-message-container .alert p,
.view-reset #system-message-container .alert p {
    margin: 0;
}
.view-register .jomsocial-wrapper .jomsocial,
.view-reset .jomsocial-wrapper .jomsocial {
    min-height: 0;
}


.about-page .about-page-banner .center p,.partners-banner .center p{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 19px;
    color: #fff;
    margin-bottom: 0px;
}
.about-page .about-page-banner .button-center p,
.partners-page .button-center p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    color: #126DB6;
    opacity: 0.9;
    /*border-color: #fff;*/
    background-color: #FFF; /* Green */
    border: none;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}
.about-page .about-page-content .step_block img{
    width: 62px;
    height: 62px;
    margin-right: 50px;
}
.about-page .about-page-content img.icon_step1{
    width: 24px;
    height: 25px;
    position: absolute;    
    top: 50%;    
    transform: translateY(-50%);
}
.about-page .about-page-content img.icon_step2,
.about-page .about-page-content img.icon_step3,
.about-page .about-page-content img.icon_step5
{
    width: 24px;
    height: 24px;
    position: absolute;    
    top: 50%;    
    transform: translateY(-50%);
}
.about-page .about-page-content img.icon_step4
{
    width: 24px;
    height: 24px;
    position: absolute;    
    top: 50%;    
    transform: translateY(-50%);
}
.about-page .about-page-content .step_block .step{
    width: 15px;
    height: 15px;
    background: #126db6;
    -webkit-border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    position: absolute;    
    top: 50%;    
    transform: translateY(-50%);

}
.about-page .about-page-content .step_block .text{
    position: absolute;    
    top: 50%;    
    transform: translateY(-50%);
}

.about-page .about-page-banner .center{
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
    clear: both;
}
.about-page .about-page-banner .button-center{
    position: absolute;
    top: calc(85%);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
    clear: both;
    text-align: center;
}
.about-page-content.guest{
    padding: 28px 15px 0px 15px !important;
}

.about-page-content .title
{
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}

.about-page-content .sub-paragraph p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    color: #445560;
}
.about-page-content p.sub-paragraph-title{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 12px;
    color: #445560;
}
.about-page-content p.paragraph-title{
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #445560;
    margin-top: 18px;
    margin-bottom: 8px;
}
.about-page-content .step-title{
    padding-left: 5px;
    padding-right: 0;
}
.about-page-content .step-icon{
    padding-left: 9px;
}
.about-page-content .step-title p{
    text-align: left;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 9px;
    color: #126DB6;
    margin-bottom: 0;
}
.about-page-content p.step-des{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 9px;
    color: #445560;
    margin-bottom: 0;
}
.about-page-content .step span{
    font-size: 9px;
    color: #FFF;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    position: absolute;
    top: 1px;
    left: 5px;
}

.about-page-content .step_block{
    position: relative;
    display: flex;
}

.about-page-content .step_block:last-of-type {
    margin-bottom: 0;
}

.about-page-content .feature_highl_block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

.about-page-content .feature_highl_block p{
    text-align: center;
    margin-bottom: 5px;
}

.about-page-content .feature_highl_block p:first-of-type{
    font-size: 10px;
    color: #126DB6;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    /*margin-bottom: 14px;*/
}
.about-page-content .user_comment .author {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    color: #445560;
    padding: 0;
    float: right;
    right: -15px;
    position: relative;
    top: 20px;
}
.about-page-content .user_comment img.quotation_marks1{
    width: 15px;
    top: -2px;
    z-index: 1;
    position: absolute;
}
.about-page-content .user_comment img.quotation_marks2{
    width: 15px;
    position: relative;
    float: right;
    bottom: 10px;
}
.about-page-learn-more img{
    width: 100%;
}
.about-page-learn-more .learn-more1{
    background-image: url("/images/login/bussiness.png");
    height: 188px;
    background-size: 100% 100%;
    /*text-align: center;*/
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 28px;
}
.about-page-learn-more .learn-more2{
    background-image: url("/images/login/support.png");
    height: 188px;
    background-size: 100% 100%;
    /*text-align: center;*/
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 28px;
}

.about-page-learn-more p:first-of-type{
    padding-top: 22px;
    font-size: 19px;
    margin-bottom: 14px;
}

.about-page-learn-more p{
    font-size: 12px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #FFF;
    margin-bottom: 0;
}
.about-page-learn-more .bt-learn-more{
    margin-top: 10px;
    background-color: #FFF;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    opacity: 0.9;
    float: right;
}
.about-page-learn-more .bt-learn-more span{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 14px;
    color: #126DB6;
}

.about-page .connect-with-us,.partners-page .connect-with-us {
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.about-page .connect-with-us .connect-icons {
    text-align: center;
}
.about-page .connect-with-us .connect-icons p {
    margin-bottom: 15px;
}
.about-page .connect-with-us .connect-icons a,
.partners-page .connect-with-us .connect-icons a {
    display: inline-block;
    margin-right: 20px;
}
.about-page .connect-with-us .connect-icons a:last-of-type
,.partners-page .connect-with-us .connect-icons a:last-of-type {
    margin-right: 0px;
}
.about-page .connect-with-us .connect-icons img,
.partners-page .connect-with-us .connect-icons img{
    width: 40px;
    height: 40px;
}
.about-page .connect-with-us p ,.partners-page .connect-with-us p{
    margin-bottom: 20px;
}
.about-page-banner {
    /*height: 188px;*/
    height: calc(100vw * 0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/about_banner_small.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-page-content {
    padding: 65px 15px 0px 15px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
}
.about-page-banner .left {
    padding-top: 14px;
    float: left;
    padding-left: 15px;
    width: 138px;
}
.about-page-banner .left img {
    display: block;
    width: 110px;
    /*height: 37px;*/
    /*margin-left: -9px;*/
}
.about-page-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 5px;
}

.about-page-banner .right a:last-of-type, .partners-banner a:last-of-type{
    margin-right: 0;
}

.about-page-banner .right {
    font-family: OpenSan;
    color: #fff;
    float: right;
    padding-top: 14px;
    padding-right: 15px;
    line-height: 24px;
    width: calc(100% - 138px);
    text-align: right;
}

.about-page-content .title {
    color: #445560;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 14px;
}
.view-frontpage.task-about body,.view-frontpage.task-partners body {
    padding: 0;
}
.about-page-content .paragraph.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.about-page img.circle-and-chat,
.about-page img.leanrning-network,
.about-page img.course-builder,
.about-page img.learning-store
{
    /*width: 29px;*/
    height: 25px;
}
.about-page .sub-paragraph.user_comment{
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    margin-bottom: 28px
}

.about-page span.dot {
    float: left;
    margin-right: 5px;
    margin-left: 15px
}

.user-story-page .user-story-page-banner .center p:first-of-type{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 19px;
    color: #fff;
    margin-bottom: 0px;
}
.user-story-page .user-story-page-banner .center p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    padding: 0 15px;
    white-space: normal;
}
.user-story-page .user-story-page-banner .center p:last-of-type{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-style: italic;
    font-size: 12px;
    color: #fff;
    margin-top: 4px;
}
.user-story-page .user-story-page-banner .center{
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
    clear: both;
}

.user-story-page-banner {
    height: 188px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/userstory_banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.user-story-page-banner .left {
    padding-top: 14px;
    float: left;
    padding-left: 15px;
    width: 138px;
}
.user-story-page-banner .left img {
    display: block;
    width: 110px;
}
.user-story-page-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 5px;
}
.user-story-page-banner .right a:last-of-type {
    margin-right: 0;
}

.user-story-page-banner .right {
    font-family: OpenSan;
    color: #fff;
    float: right;
    padding-top: 14px;
    padding-right: 15px;
    line-height: 24px;
    width: calc(100% - 138px);
    text-align: right;
}
.user-story-page-content{
    margin: 65px 15px 0 15px;
    display: inline-block;
}
.user-story-page-content.guest{
    margin: 28px 15px 0 15px !important;
    display: inline-block;
}
.user-story-page-content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    z-index: 1;
}
.user-story-page-content .paragraph{
    display: inline-block;
    margin-bottom: 10px;
}
.user-story-page-content .paragraph .username{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    color: #445560;
    margin-left: 10px;
    margin-bottom: 10px;
}
.user-story-page-content .paragraph .username span{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 12px;
    color: #445560

}
.user-story-page-content .sub-paragraph p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    color: #445560
}
.user-story-page-content .sub-paragraph p:first-of-type{
    margin-bottom: 12px;
}
.user-story-page .connect-with-us {
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.user-story-page .connect-with-us .connect-icons {
    text-align: center;
}
.user-story-page .connect-with-us .connect-icons p {
    margin-bottom: 15px;
}
.user-story-page .connect-with-us .connect-icons a {
    display: inline-block;
    margin-right: 20px;
}
.user-story-page .connect-with-us .connect-icons a:last-of-type {
    margin-right: 0px;
}
.user-story-page .connect-with-us .connect-icons img {
    width: 40px;
    height: 40px;
}
.user-story-page .connect-with-us p {
    margin-bottom: 20px;
}
.view-frontpage.task-user_story body {
    padding: 0;
}
.about-page .line{
    border-left:  thick solid #ccdbe3;
    height: 20px;
    border-left-width : 2px;
    margin-left: 6px; 
}
.about-page .background-step{
    margin: 0px -28px 0px -28px;
    background-color: #f8f8f8;
    padding: 10px;
}

/*.about-page .content-step {*/
    /*margin: 0px 28px 0px 28px;*/
    /*!*background-color: #f8f8f8; *!*/
/*}*/
.about-page{
    background-color: #fff !important;
}
.user-story-page{
    background-color: #fff !important;
}

/*.user-story-page .sub-paragraph {*/
    /*background-color: #f8f8f8;*/
    /*padding: 10px;*/
    /*border-radius: 10px;*/
/*}*/
.about-page .background-comment{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    color: #445560;
    background-color: #f8f8f8;
}
.user-story-page .sub1{
    background-color: #f5f7f9 !important;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
}
.user-story-page .sub2{
    background-color: #f2f8fc !important;
    padding: 10px;
    border-radius: 15px 0px 15px 15px;
}
.business-page-content {
    padding: 70px 15px;
}

.business-page-banner {
    height: 512px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/business-img-1366.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.business-page-banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2);
}
.business-page-banner .left {
    padding-top: 14px;
    float: left;
    padding-left: 15px;
    width: 138px;
}
.business-page-banner .left img {
    display: block;
    width: 110px;
    /*height: 37px;*/
    /*margin-left: -9px;*/
}
.business-page-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 20px;
}
.business-page-banner .right a:last-of-type {
    margin-right: 0;
}
.business-page-banner .right {
    font-family: OpenSan;
    color: #fff;
    float: right;
    padding-top: 14px;
    padding-right: 15px;
    line-height: 24px;
    width: calc(100% - 138px);
    text-align: right;
}
.business-page-content .title {
    color: #445560;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0;
}
.business-table {
/*    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;*/
/*    border-top-right-radius: 15px;
    border-top-left-radius: 15px;*/
}
.business-table .row {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.business-table .row.row-head {
    background-color: #006ab8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.business-table .row.row-head .text {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    height: 34px;
    line-height: 34px;
}
.business-table .row .text {
    display: table-cell;
    vertical-align: middle;
    height: 94px;
    padding: 0;
}
.business-table .row.row-head .step-title {
    border-left: none;
    border-right: none;
}
.business-table .row .step-title {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.business-table .row p {
    margin-bottom: 0px;
}
.business-table .col-lg-1 {
    width: 30%;
    display: table;
}
.business-table .col-lg-3 {
    width: 25%;
    display: table;
}
.business-table .col-lg-2 {
    width: 45%;
    display: table;
}
.business-table .col-lg-4 {
    width: 70%;
    display: table;
    border-right: none !important;
}
.business-table .text {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #126DB6;
}
.business-table .text p.note {
    color: #445560;
}
.business-table .text.title {
    color: #445560;
}
.view-frontpage.task-business body {
    padding: 0;
}
.view-frontpage.task-business .business-page-content.guest {
    padding: 28px 15px 15px 15px;
}
.user-story-page .sub-paragraph{
    position: relative;
    left: -10px;
}
.user-story-page .col-xs-10.col-sm-10.col-md-11.col-lg-11 {
    padding: 0;
}
.business-page .business-page-banner .center p {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 19px;
    color: #fff;
    margin-bottom: 0px;
}
.business-page .business-page-banner .center p.des2 {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 0px;
    padding: 0 15px;
    white-space: normal;
}
.business-page .business-page-banner .center {
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
    clear: both;
}
.business-page-content .sub-paragraph p {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    color: #445560;
}

.business-table {
    margin-top: 25px;
}
.business-table th,
.business-table td {
    text-align: center;
    vertical-align: middle;
}
.business-table th {
    line-height: 34px;
}
.business-table td {
    line-height: 20px;
    padding: 20px 5px;
    font-size: 12px;
    color: #126DB6;
    border: 1px solid #ddd;
}
.business-table tr > td:first-of-type {
    color: #445560;
}
.business-table tr p.note {
    color: #445560;
}
.business-table tr:first-of-type {
    height: 34px;
    background-color: #126DB6;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 12px;
    color: #fff;
}
.business-table tr:first-of-type th:first-of-type {
    border-top-left-radius: 10px;
    border: none;
    width: 30%;
}
.business-table tr:first-of-type th:last-of-type {
    border-top-right-radius: 10px;
    border: none;
    width: 42%;
}
.user-story-page-banner{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2);
}
.about-page-banner{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2);
}
.partners-content,.partner-page-success {
    padding: 0px 30px 0px 30px !important;
}
.partners-banner{
    height: calc(100vw * 0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 28px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/banner-parrtner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.partners-banner .center p.des1{
    font-size: 19px;
    margin-bottom: 5px;
}
.partners-banner .center p.des2{
    font-size: 16px;
    padding:0px 60px;
}
.partner-page-para1 h1,.partner-page-resources h1
{
    color: #445560;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 20px;
    margin-top: 40px;
}
.partners-page:not(.guest) {
	padding: 50px 0;
}
.partner-page-para1 h1 {
	margin-bottom: 15px;
    margin-top: 20px;
}
.partner-page-para1 p,.partner-page-resources p
{
    color: #445560;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    margin-bottom: 20px;
}
.partner-page-reap h1,.partner-page-resources h1
,.partner-page-free h1, .partner-page-how h1,
.partner-page-can h1,.partner-page-success h1
{
    color: #445560;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 14px;
    margin-top: 20px;
}
.partner-page-reap img,.partner-page-resources img,
.partner-page-free img{
    /*margin-left: 120px;*/
}
.partner-page-reap .cap,.partner-page-free .cap{
    color: #126DB6;
    margin:14px 0px 14px 0px;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-align: center;
}
.partner-page-reap .cap3{
    color: #126DB6;
    margin:14px 0px 14px 0px;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.partner-page-reap .text{
    color:  #445560;
    font-size: 20px;
}
.partner-page-reap .des_text,.partner-page-free .des_text
{
    color: #445560;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    text-align: center;
}
.partner-page-reap .reap-text{
    text-align: center;
    margin-bottom: 18px;
}
.partner-page-resources .text{
}
.partner-page-resources .title p{
    text-align:center;
}
.partner-page-resources .res-text
{
    text-align: center;
}
.partner-page-resources .cap{
    text-align: center;
    color: #126DB6;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-top: 20px;
    padding: 0px 80px;
}
.partner-page-free .free-text{
    margin-bottom: 18px;
    text-align: center;
}
.partner-page-free p,.partner-page-success p{
    color: #445560;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    text-align: center;
}
.partner-page-free .des_text{
    padding: 0px;
}
.partner-page-how p{
    color: #445560;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-style: inherit;
   text-align: center;
}
.partner-page-success .capt{
    color: #126DB6;

}
.partner-page-can .button-center{
    text-align: center;
    margin-bottom: 20px;
}
.partners-banner .center p{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #fff;
    margin-bottom: 0px;
}
.partners-page .button-center p{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    opacity: 0.9;
    color: #fff;
    background: #126DB6;
    border: none;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}
.partners-banner .left {
    padding-top: 14px;
    float: left;
}
.partners-banner .left img{
    display: block;
    width: 110px;
    /*height: 37px;*/
    margin-left: 28px;
}
.partners-banner .right a{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 15px;
}
 .partners-banner .right{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    color: #fff;
    float: right;
    padding-top: 19px;
}
.partners-page .center{
    padding-top: 55px;
}
.partners-content,.partner-page-success {
    padding: 0px 7% 0px 7% !important;
}
.partner-page-how,.partner-page-success{
    margin: 0px;
}
.partner-page-resources .res-text img{
    margin-left: 0% !important;
}

.about-page .pdot{
    padding-left: 30px;
}

.support-page{
    cursor: default;
}

.support-page div.faq_category span.btn-icon-right{
    left: 75%;
    background-image: url('/components/com_fsf/assets/images/expand.png');
    background-size: 15px;
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    transform: rotate(-90deg);
    top: 3px;
}


.support-page .expand_answer{
    background-image: url('/components/com_fsf/assets/images/expand.png');
    background-size: 15px;
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    margin-top: 4px;
    float: left;
}
.fsf_faq_question {
    padding-left: 15px;
}

.expand_answer.expanded{
    transform: rotate(180deg) !important;
}

.support-page-content .title {
    color: #445560;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    margin-bottom: 18px;
    margin-top: 28px;
}

.support-page .fsf_highlight{
    position: relative;
    margin-bottom: 14px;
}
.support-page .fsf_faq_question .fsf_highlight{
    margin-bottom: 12px;
}
.support-page .fsf_faq_catlist .fsf_title {
    display: block;
    text-align: left;
    color: #445560;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif !important;
	font-weight: 700;
    font-size: 12px !important;
}


.support-page .faq_category_faqlist .title_category{
    color: #445560;
    font-size: 12px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    margin-bottom: 14px;
}


.support-page .support_text{
    font-size: 12px;
    color: #445560;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.support-page ol.support_text{
    padding-left: 28px;
}

.support-page .faq_category{
    margin-left: 0 !important;
    cursor: pointer;
}

.support-page .btBack{
    width: 60px;
    height: 30px;
    background-color: #126Db6;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 12px;
    vertical-align: middle;
    margin: 28px auto 0;
    cursor: pointer;
}
.support-page .btBack span{
    position: relative;
    top: 7px;
}
.support-page div.fsf_faq_catlist td {
    border: none;
}
.support-page .fsf_faq {
    margin-bottom: 14px;
}

.support-page .fsf_faq_question {
    font-size: 12px;
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 14px;
    cursor: pointer;
}

.support-page .fsf_faq_answer{
    margin-left: 15px;
    cursor: default;
}

.support-page .text-bold{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}

.view-faq body{
    padding: 0px !important;
}

.support-page .iconBack{
    height: 10px;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    margin-top: 30px;
    cursor: pointer;
}

.support-page-content .faq_category_faqlist.sub_category {
    margin-left: 13px;
    margin-bottom: 14px;
}

.support-page-content .faq_category_faqlist.sub_category .title_category{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}

.view-faq .t3-mainbody{
    background: #fff !important;
}

.support_text img {
    vertical-align: baseline;
}
.about-page img.circle-and-chat {
    margin-bottom: 8px;
    margin-top: 10px;
}
.about-page img.leanrning-network {
    margin-top: 15px;
    margin-bottom: 8px;
}
.about-page img.course-builder,.about-page img.learning-store {
    margin-top: 16px;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.about-page-content .circle-and-chat + p,
 .about-page-content .course-builder + p {
    margin-bottom: 5px;
}
.about-page-content .leanrning-network + p,
.about-page-content .learning-store + p {
    margin-bottom: 6px;
}
.home .mygroups .group-title .gr-title {
/*    margin-top: 15px;*/
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #5E5E5E;
    text-align: left;
}
.home .mygroups .mygroup-content-block .group-title .group-description {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5E5E5E;
    overflow: hidden;
}

p.support_text.tip_title {
    margin-left: 14px;
    position: absolute;
}

p.support_text.tip_content {
    position: relative;
    margin-left: 40px;
}
.view-faq .row {
    background-color: #fff;
}

/*Assign student*/
.view-viewassign .view_assigment{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.view-viewassign .title{
    padding-top: 33px;
    padding-bottom: 33px;
}
.view-viewassign .title .topic{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
    font-weight: 700;
    color: #5e5e5e;
    font-size: 17px;
}

.view-viewassign .title .activity{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 17px;
}


.view-viewassign .intructions_title {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #828282;
}

.view-viewassign .date {
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.view-viewassign .date .status {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
}

.view-viewassign .intructions .text_to_html{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
}

.view-viewassign .line {
    margin-top: 33px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 33px;
}

.view-viewassign .submission_status,
.view-viewassign .grade_status {
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.view-viewassign .submission_status .status,
.view-viewassign .grade_status .status{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
}

.view-viewassign .bttn{
    margin-top: 33px;
    text-align: center;
}

.view-viewassign .btn-download .btn-assign{
    background: #4F5355;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.view-viewassign .btn-upload {
    margin-top: 33px;
    text-align: center;
}

.view-viewassign .btn-upload span{
    background: #4F5355;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 33px;
}

.view-viewassign .bar {
    position: relative;
    width: 0%;
    height: 3px;
    border-radius: 8px;
    background-color: white;
}


.view-viewassign #myProgress{
    width: 170px;
    padding: 14px 25px 14px 25px;
    margin: 0 auto;
    background-color: #126DB6;
    border-radius: 100px;
    margin-top: 33px;
}

.view-viewassign #bar_100{
    position: relative;
    width: 50px;
    height: 3px;
    border-radius: 8px;
    background-color: #B8B8B8;
    margin: 0 auto;
}

.view-viewassign .a.btn-assign{
    text-decoration: none;
}

.view-viewassign a.btn-assign {
    color: #FFFFFF;
    text-decoration: none;
}

.view-viewassign .next_prev_activity{
    position: relative;
    top: -21px;
}
.login-register-page .carousel-indicators{
    margin: 0;
}
.login-register-page #community-wrap .jomsocial .titlePage p {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#828282;
    margin-bottom: 0px;
}
.login-register-page #community-wrap .jomsocial .titlePage {
    margin: 0;
    padding: 0;
}
.login-register-page .carousel-inner > .item > .itemImg1{
    height: calc(50% + 146px) !important;
}
.login-register-page .carousel-inner > .item > .itemImg2{
/*    height: calc(50% + 207px) !important;*/
    -webkit-transform: scale(1.9, 2.5);
}
.login-register-page .divCopyright p img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input.error1{
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input[name="password"].error1{
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
.login-register-page .section-main {
    padding: 33px 22px;
}
.login-register-page .carousel-inner .banner-item {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.login-register-page .carousel-inner .banner-item:before {
    content: '';
    display: block;
    padding-top: 56%;
}
#t3-mainnav .popover.bottom{
    left: auto !important;
}