/*front page*/

/*profile page*/
ul
{
    list-style-type: none !important;
    padding: none;
}

.joms-cancel{

}

.joms-input[type="text"], .joms-input[type="password"], .joms-textarea{
	padding-left: 20px !important;
	color: #7f8c8d !important;
}
.joms-avatar--focus{
  position: relative;
  top: 25px;
}

.joms-page--padding{
	padding
}

.focus--title{
  position: relative !important;
  top: 20px !important;
}

.joms-focus__title{
  margin-top: -40px !important;
  /*
  position: absolute !important;
  padding-left: 75px !important;
  */
}

.joms-focus__header {
	/*padding-top: 100% !important;*/
	height: 100% !important;
}

.joms-button--smallest{
	background: #4f5355 !important;
    color: #f5f5f0 !important;
    border-radius: 30px !important;
    font-size: smaller;
}

.fixedtab{
  width: 100%;
  position: fixed;
  left:0;
  z-index: 9999;
  top: 49px;
}

.joms-tab__bar > a, .joms-tab__bar > a:hover {
    color: #d2d3d4 !important;
    text-decoration: none;
    background: #9da4a6;
}

.joms-tab__bar > a.active {
    font-weight: bold;
    background: #e0e0e0;
    color: #458abf !important;
}

.joms-tab__bar2 > a, .joms-tab__bar2 > a:hover {
    color: #d2d3d4 !important;
    text-decoration: none;
    background: #9da4a6;
}

.joms-tab__bar2 > a.active {
    font-weight: bold;
    background: #e0e0e0;
    color: #458abf !important;
}



.joms-focus__cover:before, .joms-hcard__cover:before {
    padding-top: 30.5% !important;
}
.com_community.view-events.task-create .joms-focus__cover:before,
.com_community.view-events.task-create .joms-hcard__cover:before {
    padding-top: 25% !important;     
}
.com_community.view-events.task-create .joms-form__group {
    /*position: relative;*/
}

.joms--topright {
    position: absolute !important;
    top: 22px !important;
    right: 16px !important;
}

.joms-avatar--focus img {
	padding: 0px !important;
	background: none !important;
}

.button--small{
	/*padding: 0.65248px 14px !important;*/

	padding: 4.65248px 14px !important;
	height: 29px !important;
	line-height: 4px !important;
	font-size: 13px !important;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #C0C0C0 !important;
}
.button--small-member {
    padding: 4.65248px 14px !important;
    height: 29px !important;
    line-height: 15px !important;
    font-size: 13px !important;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #C0C0C0 !important;
}

.button--small2{
	padding: 4.65248px 8px !important;
    height: 27px !important;
    line-height: 4px !important;
    font-size: 12px !important;

    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #C0C0C0 !important;
}

.interest--tag{
  background-color: #ececec !important;
  margin-right: 5px !important;
  border-radius: 30px !important;
  padding: 0 10px !important;
  border-style: solid !important;
  border-color: #c7c7c7 !important;
  border-width: 1px !important;
  color: #7a7a7a !important;
  float: left;
  line-height: 25px;
}

.joms--description{
	font-size: 13px;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    color: #797979;
}

.group--icon{
	float:left;
	padding-left: 50px;
	padding-right: 20px;
}

.padding-bottom5{
	padding-bottom: 5px !important;
}

.joms-avatar--stream{
	text-align: center !important;
	padding-right: 20px !important;
}

.carousel-box{
	padding: 20px;
	min-height: 150px;
	border-style: solid;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.53);
	-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.53);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.53);
	border-width: 1px;
	border-color: #c7c7c7;
}

/* for the input tag list*/
div.inputTags-list {
  display: inline-block;
  width: 100%;
  padding: 6px;
  border: 1px solid rgba(188, 188, 156, 0.35);
  background-color: #efecec;
  box-shadow: 1px 2px 2px rgba(221, 221, 221, 0.2);
  border-radius: 16px;
  font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
}

div.inputTags-list span.inputTags-item {
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 3px 22px 4px 8px;
  border-radius: 12px;
  /*background-color: #19bc9c;*/
  background-color: #fff;
  /*Trung modified: remove !important; - conflict*/
  text-align: center;
  color: #7a7a7a;
  opacity: 1;
  font-size: 14px !important;
}

div.inputTags-list span.inputTags-item.is-edit {
  display: none;
}

div.inputTags-list span.inputTags-item.is-hidden {
  display: none !important;
}

div.inputTags-list span.inputTags-item.is-exists {
 background-color: rgba(231, 76, 60, 0.7);
}

div.inputTags-list span.inputTags-item span.value {
  cursor: pointer;
}

div.inputTags-list span.inputTags-item i {
  position: absolute;
  top: 50%;
  right: 6px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  font-weight: 400;
  transition: color 0.2s;
  font-family: sans-serif;
  transform: translateY(-50%);
}

div.inputTags-list span.inputTags-item i:hover {
  color: #e74c3c;
}

div.inputTags-list input.inputTags-field {
  border: none;
  margin-left: 4px;
  background-color: transparent;
}
div.inputTags-list input.inputTags-field:focus,
div.inputTags-list input.inputTags-field:active {
  outline: none;
}
div.inputTags-list input.inputTags-field.is-edit {
  margin: 0 2px;
  padding: 4px 8px 3px 8px;
  border: 1px dashed #c4c4c4;
  border-radius: 4px;
}
div.inputTags-list ul.inputTags-autocomplete-list {
  position: absolute;
  max-height: 192px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  z-index: 100;
  opacity: 0;
}
div.inputTags-list ul.inputTags-autocomplete-list.is-active {
  opacity: 1;
  transform: scaleY(1);
}
div.inputTags-list ul.inputTags-autocomplete-list li {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  transition-duration: 0.2s;
}
div.inputTags-list ul.inputTags-autocomplete-list li:last-child {
  border: none;
}
div.inputTags-list ul.inputTags-autocomplete-list li:hover {
  background-color: #19bc9c;
  color: #ffffff;
}
div.inputTags-list ul.inputTags-autocomplete-list li.is-disabled {
  cursor: default;
  background-color: #f7f7f7;
  color: initial;
}
p.inputTags-error {
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: rgba(231, 76, 60, 0.7);
  border-radius: 4px;
  cursor: pointer;
}
p.inputTags-error:first-of-type {
  margin-top: 8px;
}
p.inputTags-error:after {
  position: absolute;
  content: "\000D7";
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  font-size: 28px;
}
/* Custom Template for Parenthesis */

.jom-list__avatar {
    float: left;
    width: auto;
}

.custom-header h1, .custom-header h3 {
    font-size: 1.1em;
}
.cGroups .jom-list__avatar {
    margin-left: 10%;
}
.cGroups .joms-list__item  .col-xs-3
{
      width: 10%;
}
.custom-header h3 {
    margin: 0;
    color: #696969;
}
.cGroups .custom-header h3 {
    margin: 0;
    color: #696969;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
    font-weight: 700;
}
.cGroups .custom-search-box {
    padding: 1% 1%;
    background-color: #f2f2f2;
}
.custom-search-box {
    padding: 3% 8%;
    background-color: #f2f2f2;
}
.view-events.task-myevents .custom-search-box {
    margin-bottom: 15px !important;
}
.custom-box-1 {
    /*background-color: #bbb;*/
}
.cGroups button.joms-button--login.custom-button-1.margin-style-1.margin-right-1.pull-right {
    height: 38px;
    border-color: #C7C7C7;
    background-image: url("/images/MyCirclesIcon_White.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.cGroups .custom-button-1 {
    font-size: .9em;
    height: 30px!important;
    line-height: 0!important;
    margin-bottom: 0!important;
    padding: 16px 14px 16px 38px!important;
    width: auto!important;
}
.custom-button-1 {
    font-size: .9em;
    height: 30px!important;
    line-height: 0!important;
    margin-bottom: 0!important;
    padding: 0 20px!important;
    width: auto!important;
}
.custom-keywords li {
    float: left;
    margin-bottom: 20px;
    margin-right: 5px;
}
.custom-admin img, .custom-admin h4 {
    text-align: center;
}
.custom-admin h5 {
    margin-top: 10px!important;
}
.custom-admin img {
    width: 70px!important;
    height: 70px!important;
}
.joms-avatar img {
    background: none!important;
    border: none!important;
    padding: 0!important;
    max-width: 100%!important;
    max-height: 100%!important;
}
.circle-header-section {
    background-color: #50575e;
}
.circle-header-section h3 {
    margin-bottom: 0;
}
.circle-header-section h4 {
    margin-top: 10px;
}
.custom-avatar {
    padding-top: 20px!important;
}
.bordered-box, .bordered-box-white {

	/*
    background-color: #f8f8f8;
    border-bottom: 7px solid #ddd;
    float: left;
    width: 100%;
    */

    background-color: #fff;
    margin-bottom: 17px !important;
    float: left;
    width: 100% !important;
    padding-bottom: 15px;
}
.bordered-box-white {
    background-color: white;
    padding: 10px;
}

/* Common Styles */
.pos-relative {
    position: relative;
}
.styled-button-1 {
    background-color: white;
    border: 2px solid #c7c7c7;
    color: #494949;
    padding: 7px 15px;
}
/* --- margins ---*/
.margin-0 {
    margin: 0!important;
}
.cGroups .margin-style-1 {
        margin-top: 16px;
}
.margin-style-1 {
        margin:10px 0!important;
}
.cGroups .jomsocial-wrapper {
    margin-top: -57px;
}
.margin-right-0 {
    margin-right: 0!important;
}
.margin-right-1 {
    margin-right: 20px!important;
}
.margin-bottom-1 {
    margin-bottom: 15px!important;
}

.margin-top--15 {
    margin-top: -15px !important;
}

/* --- paddings ---*/
.padding-0 {
    padding: 0!important;
}
.padding-top-1 {
    padding-top: 15px;
}
.padding-right-0 {
    padding-right: 0!important;
}
.padding-left-0 {
    padding-left: 0!important;
}
.padding-bottom-1 {
    padding-bottom: 15px!important;
}
.padding-style-1 {
    padding: 15px 0!important;
}


/* --- box shadows ---*/
.box-shadow-style-1 {
    -webkit-box-shadow: 0px 5px 22px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 5px 22px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 5px 22px 0px rgba(50, 50, 50, 1);
}
.border-radius-1 {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.custom-tab-bar {
	background-color: #50575e !important;
    /*border-bottom: 8px solid #dcdce7 !important;*/
}

.custom-tab-bar a {
    color: #a4a2a4 !important;
    padding: 20px 0 !important;
}

.custom-tab-bar > a, .custom-tab-bar > a:hover {
    color: #d2d3d4 !important;
    text-decoration: none;
    background: #50575e;
}

.custom-tab-bar, .custom-tab-bar .active {
    background-color: #50575e !important;
    color: white !important;
}

.custom-tab-bar .active {
    background: url("../img/ico-arrow-up-sm.png") no-repeat bottom center !important;
    color: white!important;
    position: initial;
}
.joms-tab__bar.detail-group a:first-child.active {
    /*position: absolute;*/
    display: block !important;
}
.com_community.view-groups.task-addnews .custom-tab-bar .active,
.com_community.view-groups.task-viewbulletin .custom-tab-bar .active {
    background: transparent !important;
}
.com_community.view-groups.task-addnews .joms-focus .circle .custom-tab-bar > a:nth-of-type(2),
.com_community.view-groups.task-viewbulletin .joms-focus .circle .custom-tab-bar > a:nth-of-type(2) {
    background: url("../img/ico-arrow-up-sm.png") no-repeat bottom center !important;
    color: white!important;
    position: relative;
}
  /* center element */

  /* center box wrapper */
  .center-wrapper {
    width: 100%;
    text-align: center;
    float: left;
  }
  /* inside box */
  .center-element{
    display:inline-block;
    margin: 0 auto;
    float: none;
  }


/* Sample styles */
.bg-color-1 {
    background-color: #8b99a0;
}
.cGroups .joms--description
{
     margin-left: 10%;
}
.cGroups .icon-addon.addon-lg .form-control
{
    height: 38px;
    border-color: #C7C7C7;
    background-image: url('/images/icons/SearchIcon_726D6D.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: calc(50% - 40px) center;
}
.cGroups .icon-addon.addon-lg .onkeyup
{
      background-image: url('') !important;
}
/*#community-wrap .js-memb-list .joms-list__item .custom-header a.active {
    width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #dcdcdc;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}*/
/* Media Queries */

/* Small devices (mobile 320 and up) */
@media (min-width: 320px) and (max-width: 767px){
  .cGroups .jomsocial-wrapper .jomsocial a {
    text-decoration: none;
        font-size: 13px !important;
     }

.cGroups .joms--description
{
  margin-left: 0px;
}

}
@media (min-width: 320px) and (max-width: 599px){
    .cGroups .joms-avatar img {
    width: 100%!important;
    margin-left: 0%!important;
    margin-top: 10% !important;
}
 .cGroups .icon-addon.addon-lg .glyphicon {
    display: block !important;
}
.cGroups .custom-search-box {
    padding: 3% 8% !important;
    background-color: #f2f2f2;
}
 .cGroups .jomsocial-wrapper {
    margin-top: -2px !important;
}
.cGroups .jomsocial {
    margin-top: -3%!important;
}
     .cGroups .icon-addon.addon-lg .form-control {
    background: #c3c3c3;
}

.cGroups .joms-list__item .col-xs-3 {
    width: 30% !important;
}
 .cGroups .col-xs-9 {
    width: 70% !important;
}
}
@media (min-width: 600px) and (max-width: 700px){

.cGroups .joms-list__item .col-xs-3 {
    width: 25% !important;
}
.cGroups .col-xs-12  {
    margin-left: 25% !important;
}
  }

.cProfile .js-form_account .joms--topright {
    top: 52px !important;
}
.cProfile .js-form_account .joms--topright > a {
    line-height: normal !important;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Medium devices (tablets) */
@media (min-width: 992px) {
    .container {
        width: 970px; /*overide existing bootstrap core*/
    }
}
/* Medium devices (desktops and up) */
@media (min-width: 1024px) {
    .t3-mainbody {
        margin: 0!important;
        width: 100%;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Litus */
