.stepTitle{color:black;display: block;margin:52px 20px 20px 54px;font-size: 34px;font-weight:bold;}
#step1 .firstBubble{display:inline-table;cursor:pointer;}
#step1 .firstBubble img{width:224px;display:inline-table;margin:80px 10px 10px 54px;cursor:pointer;}
#step2{text-align: center;}
#step2 .stepTitle{text-align: left;}
#step2 .secondBubble{width:179px;display: inline-table;margin-left: 39px;margin-top:12px;cursor: pointer;text-align: center;}
#step2 .secondBubble img{width:179px;}
#step3 .threeBubble{cursor:pointer;width:136px;display: inline-table;margin-left: 36px;margin-top:15px;margin-bottom: 17px;}
#step3 .threeBubble img{width:136px;}
#step4 .fourBubble{cursor:pointer;width:80%;float:left;display: inline-table;margin-left: 36px;margin-top:15px;margin-bottom: 17px;}
#step4 .fourBubble img{width:136px;}
#step4 .stepTitle{margin-bottom: 30px;margin-bottom: 44px;}
#step3 .stepTitle{margin-bottom: 30px;}
#step5 .stepTitle{line-height:35px;}
.secondBubble a,.threeBubble a,.fourBubble a{color:transparent;}
#step5 .threeBubble{cursor:pointer;width:250px;height:250px;text-align: center;line-height: 250px;font-weight: bold;font-size: 0px;margin:auto;margin-top: 54px;background-size: contain;}
#step5 a{color:white;}
#step5 .tryAgain{text-align: center;margin-top: 25px;font-size: 20px;font-weight: bold;color:black;}
.startAgain{position: absolute;bottom:20px;right: 47px;background-color: gray;padding:10px;font-weight: bold;border-radius: 10px;width: 107px;text-align: center;}
.startAgain a{color:white;}
#step3 .startAgain{bottom:auto;right:auto;margin-bottom: 20px;position: relative;float: right;margin-right: 47px;}
#step4 .startAgain{display: inline-table;position: relative;margin-top:20px;margin-bottom: 20px;float: right;}
.paulund_modal_box {
  height: auto !important;
/*  left: 50% !important;
  margin: 0 0 0 -195px !important;
*/  width: 100% !important;
}
.paulund_inner_modal_box {
  height: 960px !important;
/*  left: 50% !important;
  margin: 0 0 0 -190px !important;
*/  width: 100% !important;
}
#step1 .firstBubble img {
  margin: 10px 0 !important;
  width: 120px !important;
}
.stepTitle {
  font-size: 30px;
  margin: 36px 0px 10px 25px;
}
.firstBubble {
  text-align: center;
  width: 48%;
}
@media only screen and (min-width: 480px) and (max-width: 780px) {

.paulund_modal_box {
  height: auto !important;
/*  left: 50% !important;
  margin: 0 0 0 -195px !important;
*/  width: 66% !important;
}
.paulund_inner_modal_box {
  height: auto !important;
  padding-bottom: 75px;
/*  left: 50% !important;
  margin: 0 0 0 -190px !important;
*/  width: 100% !important;
}
#step1 .firstBubble img {
  margin: 10px 0 !important;
  width: 120px !important;
}
.stepTitle {
  font-size: 30px;
  margin: 36px 0px 10px 25px;
}
.firstBubble {
  text-align: center;
  width: 48%;
}

}

@media only screen and (max-width: 480px) , screen and (max-device-width: 480px) {
  .paulund_modal_box {
  height: auto !important;
  left: 0 !important;
  width: 100% !important;
}

.paulund_inner_modal_box {
  height: auto !important;
  padding-bottom:75px;
  width: 100% !important;
}
.stepTitle {
  font-size: 21px;
  margin: 41px 12px 10px 15px;
}
.paulund_modal_close {
  height: 30px !important;
  width: 30px !important;
}
#step1 .firstBubble {
  text-align: center;
  width: 100%;
}
#step1 .firstBubble img {
  display: inline-block;
  float: none;
  margin: 18px 0 10px;
 /* width: 120px; */
 text-align: center;
 width:100%;
}
.button.small {
  padding: 2px 10px !important;
}
}
