/** Question editing **/

#page-mod-questionnaire-questions .qcontainer .fitemtitle,
#page-mod-questionnaire-questions #id_questionhdr .fitemtitle{
    display: none;
}

#page-mod-questionnaire-questions .qcontainer .qnums {
    font-weight: bold;
    float: left;
    color: gray;
}

#page-mod-questionnaire-questions .qcontainer .fstatic {
    width: 97%;
    margin-right: 1em;
    margin-left: 5px;
    /* Set a negative margin-bottom to save some vertical space! */
    margin-bottom: -10px;
}

#page-mod-questionnaire-questions .qcontainer .qcontent,
#page-mod-questionnaire-report div.qcontainer div.qcontent {
    margin-bottom:-1em;
}

#page-mod-questionnaire-questions .mform .fitem fieldset.felement {
    margin-left: 0%;
    padding-left: 1%;
    margin-bottom: 0px;
}

#page-mod-questionnaire-questions .mform .fitem fieldset.felement {
    margin-left: 0%;
    padding-left: 1%;
    margin-bottom: 0px;
}

#page-mod-questionnaire-questions .mform .fitem .fitemtitle {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}

#page-mod-questionnaire-questions .moving {
    border: medium dotted maroon;
}

div.qoptcontainer div.ftextarea {
    clear: all;
    float: none;
    width: 600px;
    margin: 0pt auto 10px;
}

div.qoptcontainer div.ftextarea textarea.qopts {
    width: 600px;
    height: 10em;
    margin-left: 1px;
}

.response span.selected,
.generalboxcontent span.selected {
    font-weight:bold;
}

td.selected {
    background-color: #e4f1fa;
    border: 1px solid gray;
}

#page-mod-questionnaire-myreport div.respdate {
    font-size: 0.8em;
    font-weight:bold;
    margin-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px dashed gray;
}

#page-mod-questionnaire-complete .message,
#page-mod-questionnaire-complete .notifyproblem,
#page-mod-questionnaire-preview .message,
#page-mod-questionnaire-preview .notifyproblem,
#page-mod-questionnaire-complete .thankbody,
#page-mod-questionnaire-complete .thankhead {
    background-color:#FFFFFF;
    border-style: solid;
    border-width: 2px;
    margin-bottom:10px;
    padding:5px;
}

#page-mod-questionnaire-complete .notifyproblem,
#page-mod-questionnaire-preview .notifyproblem {
    border-color: red;
}

#page-mod-questionnaire-complete .message,
#page-mod-questionnaire-preview .message,
#page-mod-questionnaire-complete .thankbody,
#page-mod-questionnaire-complete .thankhead {
    border-color: blue;
}

#page-mod-questionnaire-complete .surveyTitle,
#page-mod-questionnaire-complete .surveySubtitle,
#page-mod-questionnaire-complete .addInfo {
    clear:both;
    margin:0px;
    margin-bottom:4px;
    padding:10px;
}

.surveyPage {
    background-color: #eee;
    border-bottom-color:#000000;
    border-bottom-style: solid;
    border-bottom-width:1px;
    clear:right;
    padding:3px;
    margin-bottom:5px;
    margin-top:0px;
}

/* alternate columns formatting */

#page-mod-questionnaire-complete .c0,
#page-mod-questionnaire-preview .c0,
#page-mod-questionnaire-print .c0,
#page-mod-questionnaire-report .individual .c0,
#page-mod-questionnaire-myreport .individual .c0 {
    background-color: #fafafa;
    border: 1px solid silver;
    padding-left:5px;
    padding-right:5px;
}

#page-mod-questionnaire-complete .raterow:hover,
#page-mod-questionnaire-preview .raterow:hover {
    background-color: #e4f1fa;
}

#page-mod-questionnaire-complete td.raterow:hover,
#page-mod-questionnaire-preview td.raterow:hover {
    border: 1px solid navy;
}

#page-mod-questionnaire-complete .c1,
#page-mod-questionnaire-preview .c1,
#page-mod-questionnaire-print .c1,
#page-mod-questionnaire-report .individual .c1,
#page-mod-questionnaire-myreport .individual .c1 {
    background-color: #eee;
    border: 1px solid silver;
    padding-left:5px;
    padding-right:5px;
}

#page-mod-questionnaire-myreport .individualresp,
#page-mod-questionnaire-preview .individualresp,
#page-mod-questionnaire-print .individualresp {
    border: #c0c0c0 1px solid;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#page-mod-questionnaire-complete .notice .buttons div,
#page-mod-questionnaire-complete .notice .buttons form {
    display:inline;
}

.floatprinticon {
    margin-top:-30px;
    float:right;
}

.qn-legend {
     float: left;
     font-size:inherit;
     width: auto;
}

/* format paragraph top and bottom margins for better vertical positioning in questions text */
.qn-question p {
    margin-bottom: 0.6em;
    margin-top: 0.5em;
}

.qn-question {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    /* make background same color as quiz question text */
    background-color: #e4f1fa;
}

#page-mod-questionnaire-questions .qn-question {
    margin-left: 40px;
}

.unselected {
    color: gray;
}

/*respondents list feature*/

#respondentscolumn {
    float:left;
    margin-left:20px;
}
.respondentsnavbar {
    text-align:center;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:5px;
    background-color: #F2F2F2;
}

/* new quiz-like formatting for 2.5 */

#page-mod-questionnaire-questions .qn-container {
    border: 1px dotted gray;
    margin-bottom: 1em;
}

.dir-rtl .qn-container {
    text-align: right;
}
.qn-info {
    float: left;
    width: auto;
    padding: 7px;
    background: #eee;
    font-weight: bold;
}

.qn-info h2.qn-number {
    margin: 0px;
    font-size: 1.5em;
    line-height: 1.2em;
}

.qn-question,
.qn-answer {
    margin: 0 0 0.5em;
    overflow:auto;
}

#notice .qn-question {
    margin: 0;
}

.req {
    font-size: x-small;
}

.qdepend {
    color: red;
    padding-left:5px;
    margin-bottom: 5px;
}

.qn-content {
    margin-bottom: 10px;
    margin-left: 55px;
}

/* move horizontal radio buttons closer to their labels */
.qn-answer input[type="radio"],
.qn-answer input[type="checkbox"] {
    margin-right: 3px;
}

#page-mod-questionnaire-show_nonrespondents input[type="radio"] {
    margin-right: 1px;
}

.qn-answer label,
#page-mod-questionnaire-show_nonrespondents label {
    margin-right: 0.6em;
}

.hidedependquestion {
    color:red;
    display: none;
}
.qn-container {
    color:black;
    display: inherit;
    margin-left: 10px;
}