// ==========================================================================
// General
// ==========================================================================

$scss-style: boxy !default; // [ boxy | plain ]
$scss-stream-position: right !default; // [ left | right ]
$scss-direction: ltr !default; // [ ltr | rtl ]
$scss-font-size: 14px !default;

// ==========================================================================
// Font
// ==========================================================================

$font-size-smallest: 10px;
$font-size-small: 12px;
$font-size-large: 16px;

// ==========================================================================
// Color
// ==========================================================================

$scss-color-primary: #5677fc !default;
$scss-color-secondary: #259b24 !default;
$scss-color-neutral: #ecf0f1 !default;
$scss-color-neutral-contrast: #2c3e50 !default;
$scss-color-important: #e74c3c !default;
$scss-color-info: #e67e22 !default;
$scss-color-mute: #bdc3c7 !default;
$scss-color-icon: #7f8c8d !default;
$scss-color-border: #e3e5e7 !default;
$scss-color-info-background: #e67e22 !default;
$scss-color-note: #3a9ad1 !default;
$scss-color-note-background: #c4e2f1 !default;
$scss-color-warning: #f39c12 !default;
$scss-color-warning-background: #fdf7e2 !default;
$scss-color-danger: #cd4a48 !default;
$scss-color-danger-background: #f2dede !default;
$scss-color-success: #468847 !default;
$scss-color-success-background: #dff0d8 !default;
$scss-color-text: false !default;
$scss-color-link: false !default;
$scss-color-header: false !default;
$scss-color-focus-background: white !default;
$scss-color-background: $scss-color-neutral !default;
$scss-color-secondary-background: #FFFFFF !default;
$scss-color-sidebar: lighten($scss-color-neutral, 3%) !default;
$scss-color-toolbar: lighten($scss-color-neutral, 3%) !default;
$scss-color-submenubar: lighten($scss-color-neutral, 3%) !default;
$scss-color-dropdown-background: white !default;
$scss-color-dropdown-border: $scss-color-border !default;
$scss-color-module-background: white !default;
$scss-color-moduletab-background: darken($scss-color-module-background,4%) !default;
$scss-color-focus-background: white !default;
$scss-color-postbox: white !default;
$scss-color-postbox-tab: #F5F5F5 !default;
$scss-color-stream-background: white !default;
$scss-color-comment-background: darken(white,4%) !default;
$scss-color-input-background: #FFFFFF !default;

// Flat UI Color
$color-cloud: #ecf0f1;
$color-silver: #bdc3c7;
$color-concrete: #95a5a6;
$color-sun: #f1c40f;

@import "helpers/functions";

// ==========================================================================
// Modular Scale
// ==========================================================================

@import "helpers/modular-scale";

// Ratio List
//
// $golden             1:1.618
// $double-octave      1:4
// $major-twelfth      1:3
// $major-eleventh     3:8
// $major-tenth        2:5
// $octave             1:2
// $major-seventh      8:15
// $minor-seventh      9:16
// $major-sixth        3:5
// $minor-sixth        5:8
// $fifth              2:3
// $augmented-fourth   1:√2
// $fourth             3:4
// $major-third        4:5
// $minor-third        5:6
// $major-second       8:9
// $minor-second       5:16

$ms-base: 14px;
$ms-ratio: $golden;

// ==========================================================================
// Media Queries
// ==========================================================================

$xsmall: 360px;
$small: 480px;
$medium: 481px;
$large: 992px;


// ==========================================================================
// Element
// ==========================================================================

$scss-avatar-shape: circle !default; // [ square | circle ]
$scss-avatar-style: bordered !default; // [ plain | bordered ]
$scss-button-style: flat !default; // [ flat | subtle ]

$cover-ratio: $fifth !default; // modular scale ratio
$cover-ratio-desktop: $golden !default; // modular scale ratio


$stream-font-size: 0.8rem !default;
$stream-icon-size: ms(-1) !default;
$stream-color: $scss-color-neutral-contrast;

$sidebar-menu-width: 220px;
$page-title-color: $scss-color-icon !default;

// ==========================================================================
// SYSTEM OVERRIDES
// DO NOT MODIFY ANYTHING BELOW THIS LINE
// ==========================================================================






































































































































































































































































































































































































































































































































































































































//OVERRIDES_COLORS_START
$scss-color-primary: #5677FC;
$scss-color-secondary: #259B24;
$scss-color-neutral: #ECF0F1;
$scss-color-important: #E74C3C;
$scss-color-info: #E67E22;
$scss-color-background: #ECF0F1;
$scss-color-toolbar: #F5F7F7;
$scss-color-focus-background: #FFFFFF;
$scss-color-postbox: #FFFFFF;
$scss-color-postbox-tab: #F5F5F5;
$scss-color-module-background: #FFFFFF;
$scss-color-moduletab-background: #E0E7E8;
$scss-color-dropdown-background: #FFFFFF;
$scss-color-dropdown-border: #E3E5E7;
//OVERRIDES_COLORS_END










































































































































































































































































































































































































































































































































































































































//OVERRIDES_GENERAL_START
$scss-stream-position: right;
$scss-button-style: flat;
$scss-avatar-shape: circle;
$scss-avatar-style: bordered;
//OVERRIDES_GENERAL_END











































































































































































































































































































































































































































































































































































































































//OVERRIDES_RTL_START
$scss-direction: rtl;
//OVERRIDES_RTL_END































