.moduletable.groups .cmodule {
    height: auto;
    max-height: 280px;
    background-color: #008CD5;
}
.modulecontent {
    background-color: #008CD5 !important;
}
.cover_mygroup #slider1_container {
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 200px;
}
.cover_mygroup #instro-groups {
    width: 35%;
    float: left;
    /*padding: 2px;*/
    color: white;
}
.cover_mygroup #instro-groups span p {
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    font-size: 13pt;
    text-align: justify;
    padding-left: 20px;
}
.cover_mygroup .carousel-slide {
    cursor: move; 
    position: relative; 
    left: 0px; 
    /*top: -150px;*/ 
    width: 60%; 
    height: 150px; 
    overflow: hidden; 
    float: right; 
    margin-right: 20px;
}
.mygroup {
    background-color: #008CD5;
    color: white;
    text-align: left;
    margin:-10px;
    font-size:32pt;
    height:35px;
    padding-top:0.5em;
    padding-left:20px;
    padding-bottom:0.5em;
    font-weight: bold;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
}
.submygroup{
    color: white;
    margin-left: 1em;
    font-size:14pt;
	font-family: 'Noto Serif';
}
.cover_mygroup {
    background-color: #008CD5;
    margin-top:-1.8em;
    margin-left:-0.8em;
    margin-right:-0.8em;
    margin-bottom:-1em;
    padding-bottom: 3em;
    height: 190px;
}
.cover_mygroup #slider1_container .carousel-slide #item_group img#avatar_group {
    width: 150px; 
    height: 150px; 
    display: inline-block;
    padding: 5px;
}
#view-all-groups {
    clear:both;
    float: right;
    margin-right: 20px;
    position: relative;
    top: 30px; 
    width: 60%;
}
#view-all-groups a {
    color: white !important;
    font-family: 'Open Sans Condensed Light';
    font-size: 11pt;
}
.jssora03l {
    display: block;
    position: absolute;
    width: 30px;
    height: 100px;
    cursor: pointer;
    background: url("./left-arrow.png") no-repeat scroll 0 0 / 35px auto rgba(0, 0, 0, 0);
    overflow: hidden;
}
.jssora03r {
    display: block;
    position: absolute;
    width: 30px;
    height: 100px;
    cursor: pointer;
    background: url("./right-arrow.png") no-repeat scroll 0 0 / 35px auto rgba(0, 0, 0, 0);
    overflow: hidden;
}
.title-group {
    margin-top: 125px;
    position: absolute;
    background: rgba(0,153,0,.75);
    width: 150px;
    height: 30px;
    left: 5px;
    text-align: center;
    /*opacity: 0.5;*/
}
.title-group a {
    color: white !important;
    font-family: 'Open Sans Bold';
    text-align: center;
}
    
@media only screen and (min-width: 320px) and (max-width: 479px){
    #avatar_group {
        width: 100px !important;
        height: 100px !important;
    }
    .cover_mygroup .carousel-slide {
        width: 90% !important;
        height: 100px !important;

        float: left !important;
        left: 20px !important;
    }
    .cover_mygroup #slider1_container {
        top: 20px !important;
        width: 100% !important;
    }
    #view-all-groups {
        float: left !important;
        left: 20px !important;
        width: 100% !important;
    }
    .mygroup {
        font-size: 18pt !important;
    }
    .submygroup {
        font-size: 12pt !important;
    }
    .subcommunity {
        font-size: 11pt !important;
    }
    .moduletable.groups .cmodule {
        height: 200px !important;
    }
    .cover_mygroup {
        height: 130px !important;
    }
    #instro-groups {
        display: none !important;
    }
    #view-all-groups {
        top: 20px;
    }
    .title-group {
        margin-top: 80px;
        position: absolute;
        background: rgba(0,153,0,.75);
        width: 100px;
        height: 25px;
        left: 5px;
        text-align: center;
        /*opacity: 0.5;*/
    }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .cover_mygroup .carousel-slide {
        width: 93% !important;
        top: 0 !important;
    }
    .cover_mygroup #slider1_container {
        top: 20px !important;
        width: 100% !important;
    }
    .mygroup {
        font-size: 25pt !important;
    }
    #instro-groups {
        display: none !important;
    }
    #view-all-groups {
        top: 20px;
    }
    .title-group {
        margin-top: 80px;
        position: absolute;
        background: rgba(0,153,0,.75);
        width: 100px;
        height: 25px;
        left: 5px;
        text-align: center;
        /*opacity: 0.5;*/
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .cover_mygroup .carousel-slide {
        width: 93% !important;
        top: 0 !important;
    }
    .cover_mygroup #slider1_container {
        top: 20px !important;
        width: 100% !important;
    }
    #instro-groups {
        display: none !important;
    }
    .title-group {
        margin-top: 80px;
        position: absolute;
        background: rgba(0,153,0,.75);
        width: 100px;
        height: 25px;
        left: 5px;
        text-align: center;
        /*opacity: 0.5;*/
    }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
    .cover_mygroup .carousel-slide {
        width: 95% !important;
        top: 0 !important;
    }
    .cover_mygroup #slider1_container {
        /*top: 10px !important;*/
        width: 100% !important;
        /*width: 884px;*/
    }
    #instro-groups {
        display: none !important;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
    #avatar_group {
        width: 150px !important;
        height: 150px !important;
    }
    .cover_mygroup .carousel-slide {
        /*top: -150px !important;*/
        width: 95% !important;
        float: left !important;
        left: 20px !important;
    }
    #instro-groups {
        display: none !important;
    }
    #view-all-groups {
        float: left !important;
        left: 20px !important;
        width: 100% !important;
    }
    .cover_mygroup #slider1_container {
        top: 10px !important;
        width: 100% !important;
        /*width: 962px;*/
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1500px) {
    #avatar_group {
        width: 150px !important;
        height: 150px !important;
    }
    .cover_mygroup .carousel-slide {
        /*top: -150px !important;*/
        float: left !important;
        margin-left: 20px;
        width: 58% !important;
    }
    .cover_mygroup #slider1_container {
        /*top: 10px !important;*/
        width: 100% !important; 
        /*width: 1262.5px;*/
    }
}