.tab .gradeActivitySelect {
    background-repeat: no-repeat;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
}

.tab .gradeActivitySelect .gradeSelected{
    border: 1px solid #B8B8B8;
    padding: 3px 10px;
    border-radius: 100px;
    height: 30px;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 100%;
}

.tab .gradeActivitySelect .ulGradeSelected{
    border: 1px solid #B8B8B8;
    position: absolute;
    width: 160px;
    top: 16px;
    /*left: 0;*/
    border-top: none;
    /*box-shadow: 0 1px 1px 0;*/
    padding: 14px 0 0 0;
    box-shadow: 0 2px 2px;
    z-index: 2;
    cursor: pointer;
}

.tab .gradeActivitySelect .ulGradeSelected li{
    z-index: 1;
    background: #fff;
}
.tab .gradeActivitySelect .ulGradeSelected li p {
    margin: 0 10px;
    border-bottom: 1px solid rgba(53, 137, 161, 0.1);
    padding: 3px 0;
}
.tab .gradeActivitySelect .ulGradeSelected li:hover{
    background-color: rgb(35, 154, 253);
    color: #fff;
}

.tab .gradeActivitySelect .ulGradeSelected li:last-of-type p{
    border-bottom: none;
}

.tab .joomdle-overview-content .joomdle-list .user-grade, .user-grade {
    width: 190px !important;
}

.tab .gradeSelected{
    /*width: calc(33% - 86px - 22px) !important;*/
}

.tab .gradeActivitySelect{
    width: 160px !important;
}

.mob .gradeActivitySelect {
    background-repeat: no-repeat;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
}

.mob .gradeActivitySelect .gradeSelected{
    border: 1px solid #B8B8B8;
    padding: 3px 10px;
    border-radius: 100px;
    height: 30px;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 100%;
}

.mob .gradeActivitySelect .ulGradeSelected{
    border: 1px solid #B8B8B8;
    position: absolute;
    width: 160px;
    top: 16px;
    /*left: 0;*/
    border-top: none;
    /*box-shadow: 0 1px 1px 0;*/
    padding: 14px 0 0 0;
    box-shadow: 0 2px 2px;
    z-index: 2;
    cursor: pointer;
}

.mob .gradeActivitySelect .ulGradeSelected li{
    z-index: 1;
    background: #fff;
}
.mob .gradeActivitySelect .ulGradeSelected li p {
    margin: 0 10px;
    border-bottom: 1px solid rgba(53, 137, 161, 0.1);
    padding: 3px 0;
}
.mob .gradeActivitySelect .ulGradeSelected li:hover{
    background-color: rgb(35, 154, 253);
    color: #fff;
}

.mob .gradeActivitySelect .ulGradeSelected li:last-of-type p{
    border-bottom: none;
}

.mob .joomdle-overview-content .joomdle-list .user-grade, .user-grade {
    width: 190px !important;
}

.mob .gradeSelected{
    /*width: calc(33% - 86px - 22px) !important;*/
}

.mob .gradeActivitySelect{
    width: 160px !important;
}

.tab .grade-title{
    margin-bottom: 5px;
}

.tab .grade-title span.lable-grade {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #5E5E5E;
    margin-right: 30px;
}

.tab .grade-title span.time-completed-activity {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
}

.mob .grade-title{
    margin-bottom: 5px;
}

.mob .grade-title span.lable-grade {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #5E5E5E;
    margin-right: 30px;
}

.mob .grade-title span.time-completed-activity {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
}