/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2015, 8:49:28 PM
    Author     : kydonvn
*/

.block_validity_course {
    background: #fff !important;
    border-top: 9px solid #94D502 !important;
}
.block_validity_course .header .title h2 {
    font-family: 'Open Sans Condensed';
    font-size: 35px !important;
    color: #006827 !important;
    text-transform: uppercase !important;
    padding: 10px !important;
    line-height: 28px !important;
    padding-top: 0px !important;
}
.block_validity_course .content .course-validity {
    padding: 30px;
}
.block_validity_course .content .course-validity .course-validity-content .valid-until{
    font-family: 'Open Sans Condensed';
    /*font-weight: bold;*/
    font-size: 15px;
    /*text-transform: uppercase;*/
}