.course-content ul.topics {margin:0;}
.course-content ul.topics li.section {list-style: none;margin:5px 0 0 0;padding:0;}
.course-content ul.topics li.section .content {margin:0 40px;}
.course-content ul.topics li.section .left {width:40px;float:left;text-align:center;}
.course-content ul.topics li.section .right {width:40px;float:right;text-align:center;}
.jumpmenu {text-align:center;}
.course-content div.single-section .tabtree .tabrow0 li {line-height: 28px; display: inline-block; }
.course-content div.single-section .tabtree .tabrow0 li.here .empty { bottom: 1px; }
.course-content div.single-section .tabtree { margin-bottom: 0px; }
.course-content .course-header h2.category-title {
         font-family: 'Open Sans Condensed'; font-weight: bold; font-size: 35px; padding-left: 35px; text-transform: uppercase; color: #006827;
    }
    @media (max-width:767px) {
        .course-content .course-header h2.category-title {
            font-family: 'Open Sans Condensed'; font-weight: bold; font-size: 19px; padding-left: 0px; text-transform: uppercase; color: #006827;
        }
        h3.course-fullname{
        	padding-left: 0px !important;
        }
    }
    @media (max-width: 480px) {
        .course-content .course-header h2.category-title {
            font-family: 'Open Sans Condensed'; font-weight: bold; font-size: 19px; padding-left: 0px; text-transform: uppercase; color: #006827;
        }
        h3.course-fullname{
        	padding-left: 0px !important;
        }
    }