/**
 * @copyright	Copyright (C) 2005 - 2015 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Start Common Styles */
* {
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	color: #5F6565;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background: #FFFFFF;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 0px;
}

.error {
	margin-left: auto;
	margin-right: auto;
}

table, td, th, div, pre, blockquote, ul, ol, dl, address,.componentheading,.contentheading,.contentpagetitle,.sectiontableheader,.newsfeedheading {
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}

#outline {
	width: 900px;
	margin: 0 auto;
	padding: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #FFFFFF;
}
#errorboxoutline {
	width: 900px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
}
#errorboxheader {
	width: 900px;
	margin: 0px;
	padding: 0px;
	background: #E44249;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px solid #000000;
}
#errorboxbody {
	margin: 0px;
	padding: 10px;
	text-align: left;
}
#techinfo {
	margin: 10px;
	padding: 10px;
	text-align: left;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
}
#techinfo p {
	color: #CCCCCC;
}


/*///////////////////////////////////////////////////////*/
.logo {
	background-color: #126db6;
	height: 50px;
}
.logo img {
    /*height: 100%;*/
    width: 110px;
    margin-left: 10px;
    margin-top: 7px;
}
.error-text {
    font-family: sans-serif;
    margin: 0 auto;
    display: block;
    text-align: center;
    height: calc(50vh - 24px - 80px);
}
.error-text span {
    padding-top: calc(30vh - 24px - 80px);
    font-weight: bold;
    font-size: 24px;
    color: #4F93CF;
    display: block;
}
.backtoHome {
    text-align: center;
    display: block;
    width: 100%;
}
.btBacktoHome {
    border: none;
    background-color: #126DB6;
    color: #FFFFFF;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}
.btBacktoHome:focus {
	outline: none;
}