/**
 * @copyright	Copyright (C) 2005 - 2015 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

body {
	margin: 0; padding: 0;
	font-family: Open Sans;
	color: #484848;
	text-align: center;
}

img  {
	border: 0 none;
	margin-left: auto;
	margin-right: auto;
}

/* -- id styles ------------------------------------- */


#frame img {
	max-width: 100%;
	height: auto;
}

#frame form {
	text-align: left;
}

/* -- class styles ---------------------------------- */

.outline {
  border: 1px solid #cccccc;
  background: #ffffff;
  padding: 2px;
}

/* -- form styles ----------------------------------- */

form    { margin: auto; }
form p  { margin: 0; padding: 0; }
form fieldset { border: 0 none; margin: 0em; padding: 0.2em;}
label         { display: block; float: left; }
input 		  { padding: 1px; }
input.button  { width: auto; height: 1.8em; cursor: pointer; }

label   { margin: 5px 0px 2px 0px; width: 10em;}
form p  { padding: 0.2em 0 0.2em 0; }
form br  { display: none; }
input    { border: 1px solid #0E67A1; }
input.button 		 { background-color: white; }
input.button:hover { border-color:  #FC902E; }

fieldset.input p {clear: left;}

#frmlogin	      { margin: 0 10px 0 10px;  }
#frmlogin fieldset.button { text-align: right; }

/* -- message styles ----------------------------------- */

#system-message {
	margin: 0 auto;
	padding: 20px 0 0;
	width: 445px;
}

.alert {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 8px 25px 8px 14px;
	text-align: left;
}

.alert h4 {
	color: red;
	margin: 5px 0;
}

.alert p {
	padding: 0px;
	margin: 0px;
}

.alert .close {
	float: right;
	font-size: 24px;
	line-height: 18px;
	position: relative;
	right: -20px;
	top: -2px;
	cursor: pointer;
}
.login {
	margin-top: 5px;
}
.offline{
	background-image: url(/images/social-feeds-bg3.jpg);
	background-size: 700px 494px;
}
.tab #frame {
	border-radius: 10px;
	height: 185px;
	width: 645px;
	margin: 200px auto;
	padding: 20px;
}
.tab #frame h1{
	font-size: 30px;
}
.tab #frame p {
	font-size: 16px;
	padding-top: 10px;
}
.mob #frame {
	border-radius: 10px;
	height: 202px;
	width: 322px;
	margin: 200px auto;
	padding: 20px;
}
.mob #frame h1{
	font-size: 30px;
}
.mob #frame p {
	font-size: 16px;
	padding-top: 10px;
}

