.tab .accountPage {
    padding: 2% 15%;
}
.mob .accountPage {
    padding: 22px 22px;
}
.accountPage .header-page .back {
    float: left;
}
.accountPage .header-page .title {
    padding-right: 8%;
}
.accountPage .header-page .title p {
    font-size: 18px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
}
.contentPage .titleCompany,.contentPage .titleAdmin {
    margin: 33px 0 0px 0px;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #828282;
    text-transform: uppercase;
}
.frmAccount ul {
    padding: 0px;
}
.frmAccount ul li {
    margin-left: 18px;
    margin-right: 18px;
}
.frmAccount ul li .title {
    margin:22px 0px 14px 0px;
    display: inline-block;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
}
.frmAccount ul li input {
    height: 30px;
    border-radius: 10px;
    width:100%;
    margin-bottom: 11px;
}
.liContact .txtContact {
    height: 30px;
    border-radius: 10px;
    width:100%;
    margin-bottom: 11px;
    resize: none;
    overflow: hidden;

}
.infoAdmin .nameAdmin,.infoAdmin .emailAdmin {
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
    font-size: 16px;
    margin-left:18px;
}
.infoAdmin .textEmail,.infoAdmin .textName {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #484848;
    font-size: 16px;
    margin-bottom: 22px;
    margin-left: 18px;
}
.mob .infoAdmin .nameAdmin {
    margin-top: 74px;
}
.tab .infoAdmin .nameAdmin {
    margin-top: 10px;
}
.tab .infoAdmin .nameAdmin,.tab .infoAdmin .emailAdmin {
    margin-bottom: 5px;
}
.buttonAssign {
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 15px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    width: 235px;
    float: right;
}
.infoAdmin .p {
    margin-left:22px;
}
.tab .buttonAdmin {
    margin-top: 95px;
}
.mob .buttonAdmin .buttonAssign {
    margin-top: -190px;
}
.buttonSave .btCancel {
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 15px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 14px;
    float: right;
}
.buttonSave .btAssign {
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 15px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    float: right;
}
.tab .buttonSave {
    margin-top: 100px;
}
.mob .buttonSave {
    margin-top: 0%;
}
.infoAdmin {
    padding: 22px;
}