.tab .assignadminbln-page,.tab .infoAdminbln{
    padding: 22px 15%;
}
.assignadminbln-page .header-page .back, .infoAdminbln .header-page .back{
    float: left;
}
.assignadminbln-page .header-page .title,.infoAdminbln .header-page .title{
    padding-right: 8%;
}
.assignadminbln-page .header-page .title p,.infoAdminbln .header-page .title p{
    font-size: 18px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
}
.search-user{
    margin:33px 0px;
}
.search-user .search-text{
    background: #eaebed;
    float: left;
    position: absolute;
    height: 41px;
    width: calc(70%);
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #484848;
    font-size: 16px;

}
.input-icon-search{
    position: relative;
    float: right;
    margin-right: 11px;
    top:8px;
}
.search-user .input-icon{
    position: absolute;
}
.tab .assign-admin{
    margin:35px 0px;
    min-height: 300px;
}
.mob .assign-admin{
    margin:43px 0px;
    min-height: 300px;
}
.user-item{
    display:table;
    padding-bottom: 20px;
}
.inputCheckbox{
    display: table-cell;
    width: 30px;
    vertical-align: middle;
}
.inputCheckbox input[type='checkbox']{
    display:none;
}
.inputCheckbox .status{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/Untick_1x.png);
}
.inputCheckbox .checked{
    background-image: url(/images/icons/Ticked_1x.png) !important;
}
.userDetail{
    padding: 0 0 0 22px;
    display: table;
    width: 100%;
    cursor: pointer;
}
.userImage{
    display: table-cell;
    width: 86px;
    min-width: 86px;
}
.userImage img{
    width: 86px;
    height: 86px;
    border-radius: 50%;
}
.userName{
    display: table-cell;
    padding: 0 22px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #484848;
    vertical-align: middle;
}
.tab .buttonsAssign{
    float:right;
    margin-top: 33px;
}
.mob .buttonsAssign{
    float:right;
    margin-top: 33px;
}
.tab .userBox{
    min-height: 300px;
}
.mob .userBox{
    min-height: 400px;
}
.buttonsAssign .btCancel{
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 15px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 10px;
}
.buttonsAssign .btAssign{
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 15px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
}
.cancelSearch{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 86%;
    margin-top: 5px;
}
.modalAssign{
    position: fixed;
    z-index: 11111;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(189, 189, 189, 0.47); */
    display: none;
    box-shadow: 0 2px 6px #737373;
}
.popupAssign{
    background: #fff !important;
    padding: 22px 22px !important;
    text-align: center;
    width: 45%;
    min-width: 270px;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 6px #737373;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    z-index: 11111;

}
.popupAssign .divButtons .btCancel,.popupAssign .divButtons .btAssign, 
.popupAssign .divButtons .btClose{
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 11px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 10px;
}
.modalAssign .popupAssign{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color:#484848;
}
.modalAssigninfo .popupAssign{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color:#484848;
}
/* css mobile*/
.mob .user-item{
    padding-left:0px
}
.mob .assignadminbln-page,.mob .infoAdminbln {
    padding: 22px 5%;
}
.mob .search-user .search-text {
    width: calc(100% - 41px);
}
.mob .input-icon-search{
    margin-right:11px;
}
.mob .cancelSearch{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 90%;
    margin-top: 5px;
}
.modalAssigninfo{
    display: block;
}
body.overlay2:after{
    opacity: 0.3;
}
.modalAssign .popupAssign p{
    margin: 0px 0px 14px 0px !important;
}
.modalAssigninfo .popupAssign p{
    margin: 0px !important;
}
.popupAssign .divButtons .btClose{
    margin-top:10px;
}
.infoCompany{
    margin: 22px 0 33px 0;
}
.infoCompany .header-text{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color:#828282;
    text-transform: uppercase;
}
.infoCompany .par-text{
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
    margin-left: 20px;  
    margin-bottom: 10px;
}
.infoCompany .text{
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    color: #828282;
    margin:0 0 22px 20px;  
}
.textName{
    margin-bottom:5px !important;
}