/* 
    Created on : Mar 21, 2018, 4:23:58 PM
    Author     : KV Team
*/
.sabln-page-content .report-box {
    background-color: #F8F8F8;
    border-radius: 10px;
    border: 1px solid #D7D7D7;
    padding: 14px 22px;
    text-align: center;
    margin-bottom: 33px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
}
.tab .sabln-page-content .report-box.left {
    width: calc(50% - 6px);
    float: left;
    margin-right: 6px;
}
.mob .sabln-page-content .report-box.left {
    margin-bottom: 22px;
}
.tab .sabln-page-content .report-box.right {
    width: calc(50% - 6px);
    float: left;
    margin-left: 6px;
}
.sabln-page-content .report-box .report-line {
    justify-content: center;
    display: flex;
    align-items: center;
}
.sabln-page-content .report-box .report-line .icon-member {
    height: 16px;
    margin-right: 8px;
}
.sabln-page-content .report-text {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.sabln-page-content .report-list-item {
    margin: 33px 0px;
    list-style-type: inherit !important;
    padding-left: 18px;
}
.bln .sabln-page-content .report-list-item {
    margin: 11px 0px 33px;
    list-style-type: none !important;
    padding-left: 0px;
}
.sabln-page-content .report-list-item li {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.sabln-buttons .btn-download-report {
    padding: 0 15px 0 30px;
    position: relative;
    float: right;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 33px;
}
.sabln-buttons .btn-download-report:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: url(/images/icons/download_icon.png) 8px no-repeat;
    background-size: 14px;
}
.bln .sabln-page-content .report-title, .course .sabln-page-content .report-title,
.sabln-page-reportresult .report-title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    display: block;
    color: #ACAAAA;
    margin-bottom: 15px;
}
.bln .sabln-page-content .report-number,
.sabln-page-reportresult .report-number,
.sabln-page-reportresult .report-box .report-line .report-number {
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 20px;
    color: #484848;
}
.bln .sabln-buttons {
    margin-top: 33px;
}
.sabln-page-content .report-item {
    /*display: inline;*/
    margin-bottom: 22px;
    cursor: pointer;
}
.tab .sabln-page-content .report-item {
    width: calc(50% - 11px);
    float: left;
    margin-right: 11px;
}
/*.tab .sabln-page-content .report-item.left {
    width: calc(50% - 6px);
    float: left;
    margin-right: 6px;
}
.tab .sabln-page-content .report-item.right {
    width: calc(50% - 6px);
    float: left;
    margin-left: 6px;
}*/
.sabln-page-content .report-item .item-img {
    height: 165px;
    width: 100%;
    background: #fff !important;
    border-radius: 7px 7px 0 0;
}
.sabln-page-content .report-item .item-img .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-width: 0px;
    background-color: #E6E6E6;
    border-radius: 5px 5px 0px 0px !important;
    border: 1px solid #E6E6E6;
}
.sabln-page-content .report-item .content_c_search {
    background: #fff !important;
    height: 125px;
    padding: 14px !important;
    overflow: visible;
    border-right: 1px solid rgba(130, 130, 130, 0.5);
    border-bottom: 1px solid rgba(130, 130, 130, 0.5);
    border-left: 1px solid rgba(130, 130, 130, 0.5);
}
.sabln-page-content .report-item .content_c_search .div_title,
.sabln-page-content .report-item .useritem-info .useritem-name{
    position: relative;
    overflow: hidden;
    max-height: 46px;
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
}
.sabln-page-content .report-item .content_c_search .c_title,
.sabln-page-content .report-item .useritem-info .useritem-name p.name{
    display: inline-block;
    cursor: pointer;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #484848;
    letter-spacing: 0px;
    font-size: 16px;
    text-align: justify;
}
.sabln-page-content .report-item .content_c_search .c_title.limited {
    padding-right: 13px;
}
.sabln-page-content .report-item .useritem-info .useritem-name p.name.limited {
    position: relative;
    padding-right: 14px;
    text-align: justify;
}
.sabln-page-content .report-item .content_c_search .c_title.limited:before{
    content: '...';
    position: absolute;
    right: 0;
    bottom: -2px;
}
.sabln-page-content .report-item .useritem-info .useritem-name p.name.limited:before{
    content: '...';
    position: absolute;
    right: 0;
    top:24px;
}
.sabln-page-content .report-item .content_c_search .c_onwer {
    padding: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #484848;
    line-height: 20px;
    font-size: 16px;
    /*margin-top: 11px;*/
}
.sabln-page-main .sabln-search-box {
    margin: 0 0 33px 0;
}
.sabln-page-main .sabln-search-box .form-search {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 22px;
/*    padding: 0 14%;
    margin: 0 -14%;*/
}
.tab .sabln-page-main .sabln-search-box .form-search {
    padding: 0 14%;
    margin: 0 -14%;
}
.sabln-page-main .sabln-search-box .form-search .div-search-c {
    position: relative;
    width: 100%;
    display: inline-block;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.sabln-page-main .sabln-search-box .form-search .div-search-c .searchKeyword {
    background-color: #EAEBED;
    line-height: 40px;
    width: 100% !important;
    border: none;
    padding: 0 40px 0 11px;
    color: #939393;
    border-radius: 6px;
    height: 40px;
    font-size: 16px;
}
.sabln-page-main .sabln-search-box .form-search .div-search-c .btn-search-c {
    background: url(/images/icons/SearchIcon_726D6D.png) center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 40px;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
}
.sabln-page-content .report-box .report-line.course-info {
    align-items: baseline;
}
.sabln-page-content .report-box .report-line .icon-left {
    float: left;
    width: 86px;
    margin-right: 22px;
}
.sabln-page-content .report-box .report-line .icon-left .icon-course,
.sabln-page-content .report-box .report-line .icon-left .icon-owner,
.sabln-page-reportresult .report-box .report-line .icon-left .icon-circle {
    width: 86px !important;
    height: 86px !important;
    border-radius: 100%;
}
.sabln-page-content .report-box .report-line .name-right {
    width: calc(100% - 108px);
    float: left;
    text-align: left;
    /*max-height: 70px;*/
    overflow: hidden;
}
.sabln-page-content .report-box .report-line .name-right .report-coursename,
.sabln-page-content .report-box .report-line .name-right .report-owner {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
    word-break: break-word;
}
.course .sabln-page-content .report-number {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.course .chartSub .circleUser {
    width: 150px;
    height: 150px;
    margin-top: 22px;
} 
.tab .course .sabln-page-content .course_info.left{
    max-height: 155px;
}
.course .chartSub {
    float: left;
    width: 183px;
    margin-right: 11px;
    margin-bottom: 0px;
}
.course .rp-completed {
    float: left;
    width: calc(100% - 194px);
}
.mob .course .chartSub .circleUser {
    width: 130px;
    height: 130px;
    margin-top: 11px;
}
.mob .course .chartSub {
    width: 145px;
}
.mob .course .chartReport {
    padding: 14px 0px;
}
.tab .course .createddate {
    height: 269px;
}
.tab .course .sabln-page-content .createddate .report-title {
    margin-bottom: 90px;
}
.tab .sabln-page-content .report-box .report-line .name-right {
    max-height: 86px;
}
.div-search-course.hasValue, .div-search-circle.hasValue {
    width: calc(100% - 40px) !important;
}
.div-search-user.hasValue {
    width: calc(100% - 40px) !important;
}
.sabln-page-content.list-users-report .report-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.useritem-image {
    width: 100px;
    float: left;
}
.useritem-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.useritem-info {
    width: calc(100% - 100px);
    float: left;
    padding-left: 22px;
}
.useritem-name {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #484848;
}
.tab .sabln-page-content .report-box.joined_date {
    height: 155px;
}
.tab .course .sabln-page-content .joined_date .report-title {
    margin-bottom: 35px;
}
.sabln-page-content .report-box .report-line .report-label {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.sabln-page-content .report-box .report-line .report-number {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.sabln-page-content .report-box.sub-cricles .report-line,
.sabln-page-content .report-box.user_course .report-line {
    display: inline-grid;
}
.tab .sabln-page-content.list-circles-report, .tab .sabln-page-content.list-courses-report {
    width: calc(100% + 11px);
}
.view-reports .right-column,
.view-reports .t3-mainbody,
.view-reports .row,
.view-reports .t3-content,
.view-reports .reports-menus-page {
    height: 100%;
}
/*.view-reports .sabln-page {
    height: 100vh;
}*/

