/*
    Created on : Feb 22, 2018, 3:26:06 PM
    Author     : KV Team
*/
.siteadminbln-page .title-page, .reports-menus-page .reportspage-title {
    margin: 33px 0px 0px;
    text-align: center;
    font-size: 18px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
}
.reports-menus-page .reportspage-title {
    position: relative;
}
.siteadminbln-page .sadminbln-admin-list a:hover,
.siteadminbln-page .sadminbln-admin-list a:active,
.manusers-bar .manusers-tab a:hover,
.reports-menus-page .reports-list a:hover,
.reports-menus-page .reports-list a:active {
    text-decoration: none;
}
.siteadminbln-page .sadminbln-admin-list .sadminbln-menu,
.reports-menus-page .reports-list .report-menu {
    padding: 33px 0px;
    border-bottom: 1px solid rgba(19, 98, 173, 0.5);
    font-size: 16px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
    position: relative;
    cursor: pointer;
}
.siteadminbln-page .sadminbln-admin-list .sadminbln-icon,
.reports-menus-page .reports-list .report-icon {
    background-image: url(/images/NextIcon.png);
    background-size: 12px 22px;
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    right: 0px;
    top: 33px;
}
.manusers-bar,
.addusers-page .addusers-content,
.quickadd-page .quickadd-content,
.quickadd-page .quickadd-buttons ,.header-subpage,.subpage .checkout-buttons{
    margin-top: 33px;
}
.manusers-bar .manusers-title .back-icon,
.header-subpage .back-icon,
.reportspage-title .back-icon {
    background-image: url(/images/PreviousIcon.png);
    background-size: 12px 22px;
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    left: 0px !important;
}
.manusers-bar .manusers-title,.header-subpage{
    position: relative;
    text-align: center;
}
.manusers-bar .manusers-title .title-page,.header-subpage .title {
    font-size: 18px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
}
.manusers-bar .manusers-title{
    margin-bottom: 33px;
}
.manusers-bar .manusers-tab {
    margin-top: 33px;
    display: table;
    width: 100%;
}
.mob .manusers-bar .manusers-tab {
    margin: 33px -22px 0 -22px;
    display: table;
    width: calc(100% + 44px);
}
.manusers-bar .manusers-tab a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #828282;
    display: table-cell;
    text-align: center;
    border-bottom: 2px solid #B8B8B8;
    line-height: 38px;
    width: 50%;
}
.manusers-bar .manusers-tab a.active {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
    border-bottom: 2px solid #126DB6;
}
.addusers-page .addusers-content .step-title {
    font-size: 16px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
    display: block;
}
.addusers-page .addusers-content .step-content {
    display: block;
    margin-top: 11px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.addusers-page .addusers-content .addusers-step1,
.addusers-page .addusers-content .addusers-step2,
.addusers-page .addusers-content .addusers-step3 {
    margin-bottom: 33px;
    display: table;
    width: 100%;
}
.addusers-page .addusers-content .btn-quick-add,
.addusers-page .addusers-content .btn-quick-remove {
    float: right;
    cursor: pointer;
}
.addusers-page .addusers-content .btn-quick-add span,
.addusers-page .addusers-content .btn-quick-remove span {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #126DB6;
    line-height: 22px;
}
.addusers-page .addusers-content .btn-quick-add .quick-icon,
.addusers-page .addusers-content .btn-quick-remove .quick-icon {
    width: 12px;
    margin-left: 6px;
}
.addusers-page .addusers-content .btn-download,
.addusers-page .addusers-content .btn-upload {
    float: left;
    background: #4F5355;
    border-radius: 100px;
    padding: 5px 15px 5px 9px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    text-align: justify;
    display: flex;
    align-items: center;
    margin-top: 11px;
}
.addusers-page .addusers-content .btn-download .btn-download-csv,
.addusers-page .addusers-content .btn-upload .btn-upload-csv {
    height: 14px;
    margin-right: 5px;
}
.quickadd-page .quickadd-content .quickadd-label {
    font-family: OpenSans-Extrabold, sans-serif;
    font-size: 16px;
    color: #484848;
}
.quickadd_users_form input {
    width: 100% !important;
    margin: 22px 0px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.quickadd_users_form input.error {
    border-color: #BB5A66;
    /*color: #BB5A66;*/
}
.quickadd_users_form input.error::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BB5A66;
    opacity: 1; /* Firefox */
}
.quickadd_users_form input.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BB5A66;
}
.quickadd_users_form input.error::-ms-input-placeholder { /* Microsoft Edge */
    color: #BB5A66;
}
.quickadd-buttons .btCancel,.checkout-buttons .btCancel {
    border: none;
    padding: 5px 14px;
    text-align: center;
    border-radius: 31px;
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    margin-right: 10px;
}
.quickadd-buttons .btSave,.checkout-buttons .btSave{
    border: none;
    padding: 5px 14px;
    text-align: center;
    border-radius: 31px;
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
}

.mob .siteadminbln-page {
    padding: 0 22px;
}
.sabln-page {
    position: absolute;
    width: 100%;
    padding: 33px 14%;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.sabln-page.account-page,
.sabln-page.assign-page,
.sabln-page.mlp-page {
    position: static;
}
.view-reports .sabln-page {
    position: absolute;
    width: 72%;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    padding: 0px;
}
.view-reports.mob .sabln-page {
    width: 100%;
    margin-bottom: 70px;
}
.view-siteadminbln.mob .siteadminbln-page, .view-reports.mob .default-page {
    padding: 0px;
}
.mob .sabln-page {
    padding: 33px 22px 83px 22px;
}
.mob .course, .mob .user, .mob .circleReport, .mob .bln {
    padding: 0px 22px;
}

.sabln-page-header {
    padding: 22px 0 0 0;
    position: relative;
}
.sabln-back-icon {
    padding: 10px;
    position: absolute;
    top: 10px;
    left: -10px;
    cursor: pointer;
}
.sabln-back-icon img {
    width: 12px;
    height: 21px;
}
.sabln-page-name {
    margin:  0 0 33px 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #484848;
    line-height: 24px;
}

.sabln-page-menu {
    font-size: 0;
    margin: 0 0 33px 0;
}
.sabln-page-menu-tab {
    display: inline-block;
    width: 50%;
    float: none;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #828282;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    color: #828282;
}
.sabln-page-menu-tab.active {
    color: #126db6;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    border-bottom: 2px solid #126db6;
}

.sabln-page-content {
    position: relative;
}
.sabln-um-page {
    /*position: absolute;*/
    width: 100%;
    font-size: 16px;
    padding: 0 0 20px 0;
}
.mob .sabln-um-page {
    padding: 0 0 0px 0;
}
.btn-quick-add,
.btnManage,
.btn-quick-remove {
    float: right;
    color: #126db6;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    background-color: transparent;
    background-image: url(/images/NextIcon_HighRes_blue.png);
    background-size: 9px;
    background-position: 100%;
    background-repeat: no-repeat;
    padding: 0 15px 0 0;
    border: none;
}
.csv-template-step {
    margin: 0 0 22px 0;
}
.csv-template-step .step-label {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.csv-template-step .btn-upload-csv-template {
    padding: 0 15px 0 30px;
    position: relative;
}
.csv-template-step .btn-upload-csv-template:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: url(/images/icon_download.png) 8px no-repeat;
    background-size: 14px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.csv-template-step .btn-download-csv-template {
    background-image: url(/images/icon_download.png);
    background-size: 14px;
    background-position: 8px;
    background-repeat: no-repeat;
    padding: 0 15px 0 30px;
}
.lbl-quick-add {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #484848;
    line-height: 24px;
    margin: 0 0 10px 0;
}
.lbl-quick-add .required {
    color: red;
}
.quick-add-form-group input[type='text'],
.quick-add-form-group input[type='password'] {
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 2px #484848;
    font-size: 16px;
    line-height: 30px;
    padding: 0 10px;
}
.quick-add-form-group {
    margin: 0 0 22px 0;
}
.quick-add-form-group.error input[type='text'],
.quick-add-form-group.error input[type='password'] {
    box-shadow: 0 0 2px #ff0000;
}
.quick-add-form-group.error input[type='text']::placeholder,
.quick-add-form-group.error input[type='password']::placeholder {
    color: #ff0000;
}
.quick-add-form-group.error input[type='text']:-ms-input-placeholder,
.quick-add-form-group.error input[type='password']:-ms-input-placeholder {
    color: #ff0000;
}
.quick-add-form-group.error input[type='text']::-ms-input-placeholder,
.quick-add-form-group.error input[type='password']::-ms-input-placeholder {
    color: #ff0000;
}
.quick-add-note {
    font-size: 16px;
    line-height: 30px;
}
.csv-template-note a,
.quick-add-note a {
    text-decoration: underline;
}
.quick-add-buttons {
    text-align: right;
}
.csv-template-step button,
.quick-add-buttons button,
.qa-success-buttons button,
.btn-qr-remove,
.standard-button,
.sabln-buttons button{
    font-size: 16px;
    color: #fff !important;
    background-color: #4f5355;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 0 15px;
    border: none;
    line-height: 30px;
}
a.standard-button {
    display: inline-block;
}
a.standard-button:hover {
    text-decoration: none;
}
.quick-add-buttons .btn-cancel {
    margin-right: 10px;
}
.qa-success-text {
    margin: 0 0 22px 0;
    font-size: 16px;
}
.qa-success-buttons {
    text-align: center;
}
.btn-success-back {
    padding: 0 25px;
}
.div-search-user {
    position: relative;
    width: 100%;
    display: inline-block;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.div-search-user.hasValue {
    width: calc(100% - 40px);
}
input.searchKeyword {
    background-color: #EAEBED;
    line-height: 40px;
    width: 100% !important;
    border: none;
    padding: 0 40px 0 11px;
    color: #939393;
    border-radius: 6px;
    height: 40px;
    font-size: 16px;
}
input.searchKeyword:focus {
    outline: none;
    box-shadow: none;
}
.btn-search-user {
    background: url(/images/icons/SearchIcon_726D6D.png) center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 40px;
    border: none;
    position: absolute;
    top: 0;
    right: 5px;
}
.form-search {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 14%;
    margin: 0 -14%;
}
.mob .form-search {
    padding: 0 22px;
    margin: 0 -22px;
}
div.div-cancel-search {
    display: inline-block;
    opacity: 0;
    width: 40px;
    text-align: right;
    vertical-align: top;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    transition: opacity 0.3s ease;
}
div.div-cancel-search.hasValue {
    /*display: inline-block;*/
    /*opacity: 1;*/
}
.btn-cancel-search {
    background: url(/images/icons/CancelSearch_1x.png) center no-repeat;
    background-size: 30px;
    width: 30px;
    height: 40px;
    border: none;
    padding: 0;
}
.search-box {
    margin: 0 0 33px 0;
}
.qr-users-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.as-user {
    /*display: grid;*/
    cursor: pointer;
    grid-template-columns: 30px 22px 100px 22px 1fr;
    padding: 0 22px 22px 0;
    align-items: center;
    font-size: 0;
}
.mob .as-user {
    width: 100%;
    padding: 0 0 22px 0;
    grid-template-columns: 30px 22px 86px 22px 1fr;
}
.as-user > div {
    display: inline-block;
    vertical-align: middle;
}
.as-user > .inputCheckbox {
    padding-right: 22px;
    width: 52px;
}
.as-user > .user-item-info {
    padding-left: 22px;
    width: calc(100% - 152px);
}
.qr-user {
    display: grid;
    grid-template-areas:
    'firstBlock . .';
    grid-template-columns: 100px 22px 1fr;
    padding: 0 22px 22px 0;
    align-items: center;
}
.mob .qr-user {
    width: 100%;
    padding: 0 0 22px 0;
    grid-template-columns: 86px 22px 1fr;
}
.user-item-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.qr-user .user-item-image {
    overflow: hidden;
    grid-area: firstBlock;
}
.as-user .user-item-image {
    grid-column: 3;
}
.mob .user-item-image {
    width: 86px;
    height: 86px;
}
.user-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.as-user .user-item-info {
    grid-column: 5;
}
.mob .as-user .user-item-info {
    overflow: hidden;
}
.qr-user .user-item-info {
    grid-column: 3;
    display: grid;
    grid-template-areas:
    'secondBlock'
    '.'
    'thirdBlock';
    grid-template-rows: 1fr 11px 30px;
}
.mob .qr-user .user-item-info {
    grid-template-areas: 'secondBlock . thirdBlock';
    grid-template-columns: auto 22px auto;
    grid-template-rows: none;
}
.user-item-name {
    color: #484848;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    grid-area: secondBlock;
    grid-row: 1;
}
.mob .user-item-name {
    grid-row: none;
    grid-column: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-item-remove-btn {
    grid-area: thirdBlock;
    grid-row: 3;
    align-self: center;
}
.mob .user-item-remove-btn {
    grid-row: none;
    grid-column: 3;
    justify-self: right;
}
.quickremove-page,.subpage,.userchart,.mnuser-page {
    padding: 0 14%;
}
.mob .quickremove-page ,.mob .userchart,.mob .mnuser-page{
    padding: 0 22px;
}
.ru-quick-remove {
    padding: 33px 0 0 0;
}
.mob .ru-quick-remove {
    padding: 33px 0 0 0;
}
.view-addusers .lgtPopup.notification .popupContent,
.view-removeusers .lgtPopup.notification .popupContent {
	color: #828282;
}
.sabln-page .header-page {
    margin: 0 0 33px 0;
}
.mob .sabln-page .header-page {
    margin: 0 0 22px 0;
}
.sabln-page .header-page .back {
    float: left;
    cursor: pointer;
}
.sabln-page .header-page .title p {
    font-size: 18px;
    font-family: OpenSans-Extrabold,sans-serif;
    color: #484848;
}
.contentPage .titleCompany,
.contentPage .titleAdmin {
    margin: 33px 0 0 0;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #828282;
    text-transform: uppercase;
}
.frmAccount .form-group {
    margin: 0 22px;
}
.frmAccount .form-group label {
    margin: 22px 0 14px 0;
    display: inline-block;
    font-size: 16px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
}
.frmAccount .form-group textarea {
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    width:100%;
    margin-bottom: 11px;
    resize: none;
    overflow: hidden;
}
.account-page .nameAdmin,
.account-page .emailAdmin {
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 30px;
}
.account-page .textEmail,
.account-page .textName {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #484848;
    font-size: 16px;
}
.account-page .buttonAssign {
    float: right;
    margin-top: 22px;
}
.account-page .buttonAssign.btAssignAdmin {
    margin-top: 11px;
}
.infoAdmin .p {
    margin-left:22px;
}
.mob .buttonSave {
    margin-top: 0;
}
.infoOwner,
.infoAdmin {
    padding: 0;
}
.account-page .infoOwner .nameAdmin > span {
    color: #126db6;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.account-page .info-block {
    padding: 11px 22px;
}
.account-page .infoOwner .info-block:first-of-type {
    padding: 22px 22px 11px 22px;
}
.account-page .infoAdmin .info-block:last-of-type {
    padding: 11px 22px 33px 22px;
}
.account-page .div-buttons,
.assign-page .div-buttons {
    text-align: right;
}
.assign-page .div-buttons {
    margin-top: 11px;
}
.account-page .btCancel,
.assign-page .btCancel {
    margin-right: 10px;
}
.inputCheckbox .status {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/Untick_1x.png);
}
.inputCheckbox .status.active {
    background-image: url(/images/icons/Ticked_1x.png) !important;
}
.addusers-note{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.addusers-note span a{
    text-decoration: underline;
}
.com_siteadminbln .message {
    padding: 33px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-align: center;
}
.closetitle {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-top: 10px;
    letter-spacing: 0px;
    background-size: 12px;
    background-position: 90%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 13px;
}
.assign-result-page {
    background-image: url(/images/social-feeds-bg3.jpg);
    background-size: contain;
    min-height: calc(100vh - 80px);
    text-align: center;
    color: #484848;
}
.mob .assign-result-page {
     min-height: calc(100vh - 50px);
}
.assign-result-page-header {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 18px;
    margin: 0 0 33px 0;
}
.assign-result-page-content {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    margin: 0 0 33px 0;
}
.assign-result-page-content .name-text {
    margin: 0;
}


.slide-enter-active {
    animation: slideInLeft .5s;
}
.slide-leave-active {
    animation: slideOutRight .5s;
}
.slide-reverse-enter-active {
    animation: slideInRight .5s;
}
.slide-reverse-leave-active {
    animation: slideOutLeft .5s;
}
.fade-enter-active {
    transition: all .5s ease;
}
.fade-leave-active {
    transition: all .3s ease;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes slideOutLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}

@keyframes slideOutLeft {
    from {
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}
@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
.addusers-note{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.addusers-note span a{
    text-decoration: underline;
}
.com_siteadminbln .message {
    padding: 33px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-align: center;
}
.closetitle,.total-box .btnedit,.updateTotal .btnupdate,.updateTotal .btncancel,.headerpage .back-sub{
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 10px;
    letter-spacing: 0px;
    background-size: 12px;
    background-position: 90%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 13px;
}
.updateTotal .btnupdate{
     padding: 0 20px;
}
.updateTotal .btncancel{
    padding: 0 11px;
}
.headerpage .back-sub{
    padding: 3px 15px !important;
     border-radius: 18px;
}
.subpage .total-box{
    margin: 33px 0px;
}
.subpage .total-box .title, .subpage .chart-box .title{
    font-size: 16px;
    font-family: OpenSans-Extrabold, sans-serif;
    color: #484848;
    text-transform: capitalize;
}
.total-box .btnedit{
    float: right;
    margin-bottom: 20px;
    padding: 0px 17px
}
.chartSub{
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-bottom: 33px;
}
.chartSub .circleUser {
    text-align: -webkit-center;
    text-align: -moz-center;
    border: 2px solid #8fb2d1;
    background-color: #FFFFFF;
    height: 310px;
    border-radius:100%;
    width: 310px;
    padding-top: 7px;
    margin-top: 33px;
}
.mob .subpage .chart-box .chartSub .circleUser{
    width: 290px;
    height: 290px;
}
.mob .subpage .chart-box .chartSub .circleUser canvas{
    width: 270px;
    height: 270px;
    margin-top: 1px;
}
@media (max-width: 320px) {
    .mob .subpage .chart-box .chartSub{
        float: right;
        margin-right: -7px;
    }
    .updateTotal .totalTitle{
        width: 70%;
    }
}
.updateTotal .totalTitle,.total-box .title,.chart-box .title,.totaluser .titlenew{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
}
.updateTotal .newtotal,.total-box .totaluser{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.updateTotal .newtotal input{
     display: table-cell;
}
.tab .updateTotal .newtotal input{
    display: table-cell;
    margin-left: 5px;
    width:150px;
    border-radius: 10px;
}
.updateTotal .note,.payment-box .note,.type-box .note{
    color: #BB5A66;
}
.typepaySelect{
    background-repeat: no-repeat;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
}   
.paySelected{
    /*border: 1px solid #B8B8B8;*/
    padding: 3px 0px;
    border-radius: 100px;
    height: 30px;
    /*background-image: url(/images/icons/icon-arrow-down.png);*/
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 100%;
    cursor: pointer;
    width:160px;
    text-transform: capitalize;
    position: relative;
    z-index: 4;
    color: #484848;
}
.ulTypeSelected {
    border: 1px solid #B8B8B8;
    position: absolute;
    width: 160px;
    top: 14px;
    /* left: 0; */
    border-top: none;
    /* box-shadow: 0 1px 1px 0; */
    padding: 5px 0 0 0;
    box-shadow: 0 2px 2px;
    z-index: 2;
    cursor: pointer;
    background: #fff;
}
.ulTypeSelected li{
    padding: 3px 11px;
    text-transform: capitalize;
}
.payment-box input {
    border-radius: 10px;
}
.type-box .title{
    margin: 10px 0px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
}
.time-box .title,.payment-box .title,
.nameorder,.totalpur-box .title,
.typepur-box .title{
    margin: 10px 0px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
}
.typepur-box .value{
    text-transform: capitalize;
}
.type-box .title,.payment-box .smalltitle{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
}
.type-box,.time-box{
    margin: 25px 0 10px 0;
}
.time-box .time, .totalpur-box .value,
.typepur-box .value,
.typepur-box .value,.time-box .time,.resultpage .valueorder{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.checkout-box .line{
    height: 1px;
    background: #e8f0f8;
}
.checkout-box .checkout-total{
    background-color: #e8f0f8;
    padding: 8px 25px;
    float: right;
}
.checkout-total .total{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.checkout-total .money{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
}
.resultpage .headerpage{
    height:200px;
    background-image: url(/images/social-feeds-bg3.jpg);
    background-size: 700px 494px;
    text-align: center;
    padding: 0px 5%;
}
.resultpage .headerpage p{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 18px;
    color: #484848;
    padding-top: 33px;
}
.resultpage .mainpage{
    padding: 0px 14%;
}
.mob .resultpage .mainpage{
    padding: 0px 5%;
}
.mainpage h1{
    text-align: center;
     font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
    text-transform: capitalize;
}
.mainpage .valueorder{
    margin-left: 10px;
}
.contentorder{
    float: left;
}
.dateorder{
    float: left;
    margin-left: 20px;
}
.totalpur-box,.order-box,.typepur-box,.time-box,.payment-box{
    margin-top: 25px;
}
.updateTotal .totalTitle{
    float: left;
    margin: 20px 0px;
    text-transform: capitalize;
}
.tab .updateTotal .btupdate,.tab .updateTotal .btcancel{
    float: right;
    margin-top: 11px;
    margin-right: 15px;
}
.mob .updateTotal .btupdate,.mob .updateTotal .btcancel{
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}
.mob .subpage {
    padding: 0 5%;
}
.mob .updateTotal .newtotal input{
    display: block;
    border-radius:10px;
    margin-top:10px;
}
.valuedate{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
}
.lgtPopup {
    background: #fff !important;
}
.lgtPopup.notification .popupContent{
    color: #484848 !important;
}
.subpage .editBox .titlenew,subpage .total-box .editBox .valuenew{
    margin-right: 5px;
    float:left;
    display: block;
}
.mob .editBox .titlenew,.mob .editBox .valuenew{
    width:100%;
    display: table;
}
.editBox{
    margin:10px 0px;
}
.chart-box{
    margin:10px 0px;
}
.mob .total-box .btnedit{
    margin-bottom: 0px;
}
.mob .total-box .btnedit{
    margin-bottom: 0px;
    margin-top: 33px;
}
.mob .totaluser{
    float:left;
}
.mob .updateTotal .totalTitle{
    width: 100%;
}
.tbLicenes table{
    width:100%;
}
.tbLicenes table td,.tbLicenes table th{
    vertical-align: middle;
    text-align: center;
    padding: 5px 0px;
}
.tbLicenes table td{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #484848;
    font-size: 16px;
}
.tbLicenes table th{
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color:#828282;
    font-size: 16px;
}
.btSeeLess,.membersSeeMore {
    color: #126db6;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.submoney .title{
    width: 100px;
    display: -webkit-inline-box;
    text-transform: capitalize;
    margin: 0px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color:#484848;
    font-size: 16px;
}
.submoney .price{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color:#828282;
    font-size: 16px;
}
.lgtPopup .popupContent{
    color:#484848;
}
.smalltitle .totalnew{
    width: 200px;
}
.time-box .title,.totalpur-box .title{
    text-transform: capitalize;
}

.div-manage-login-page {
    border-top: 2px solid rgb(181, 180, 180);
    border-bottom: 2px solid rgb(181, 180, 180);
    text-align: right;
    padding: 33px 0;
    margin-bottom: 33px;
}
.div-manage-login-page .btn-manage-login-page {
    color: #126db6;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-color: transparent;
    background-image: url(/images/NextIcon_HighRes_blue.png);
    background-size: 9px;
    background-position: 100%;
    background-repeat: no-repeat;
    padding: 0 15px 0 0;
    border: none;
    display: inline-block;
    cursor: pointer;
}
.div-manage-login-page .btn-manage-login-page:hover {
    text-decoration: none;
}
.mlp-page .landing-page {
    box-shadow: 0 1px 7px #7c7c7c;
    position: relative;
}
.mlp-page .landing-page .mlp-slider {
    position: relative;
}
.mlp-page .mlp-slider .frontLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.mlp-page .mlp-slider .frontLayer img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}
.mlp-page .mlp-main {
    padding: 33px 25%;
    position: relative;
    z-index: 1001;
}
.mob .mlp-page .mlp-main {
    padding: 22px;
}
.mlp-page .writeup {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #828282;
    text-align: center;
    position: relative;
}
.mob .mlp-page .writeup {
    position: static;
}
.mlp-page .writeup p {
    margin: 0;
}
.mlp-page .formLogin {
    padding: 33px;
}
.mob .mlp-page .formLogin {
    padding: 33px 0;
}
.mlp-page .formLogin input {
    width: 100%;
    border: 1px solid #EFECEC;
    font-size: 16px;
    background: #fff;
    color: #828282;
    margin: 0;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 10px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.divLogin {
    text-align: right;
}
.divLogin .divForgotPassword a {
    font-size: 16px;
    color: #828282;
    display: inline-block;
    margin: 11px 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.mlp-page .mlp-footer {
    font-size: 16px;
    color: #828282;
    line-height: 30px;
    text-align: center;
}
.mlp-page .mlp-footer img {
    width: auto;
    height: 20px;
    margin: 0 0 0 5px;
    vertical-align: middle;
}
.mlp-page .div-buttons {
    text-align: right;
    padding: 33px 0 0 0;
}
.mlp-page .div-buttons .btSave {
    margin: 0 0 0 10px;
}
.mlp-page .popupChangeWriteup {
    display: none;
    z-index: 11112;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #484848;
    text-align: left;
}
.mlp-page .formChangeWriteup .form-group {
    margin: 0;
}
.mlp-page label[for='txtWriteup'] {
    font-size: 17px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #5e5e5e;
}
.mlp-page #txtWriteup {
    width: 100%;
    resize: none;
    height: 114px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 1px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.mlp-page .countWriteup {
    text-align: right;
    padding: 10px 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
}
.mlp-page .popupChangeWriteup .div-buttons {
    text-align: right;
    padding: 0;
}
.mlp-page .btEditSlider,
.mlp-page .btChangeWriteup {
    width: 30px;
    height: 30px;
    background-color: #606466;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 3;
}
.mlp-page .btEditSlider {
    top: 33px;
    left: 33px;
}
.mob .mlp-page .btEditSlider {
    top: 22px;
    left: 22px;
}
.mlp-page .btChangeWriteup {
    top: calc(50% - 16px);
    left: calc(100% + 10px);
}
.mob .mlp-page .btChangeWriteup {
    top: 22px;
    left: calc(100% - 52px);
}
.mlp-edit-writeup-page {
    min-height: calc(100vh - 100px);
    position: relative;
}
.mlp-edit-writeup-page .div-buttons {
    position: absolute;
    bottom: 20px;
    right: 22px;
}
.mob.view-account .home {
    padding: 0;
}

.mlp-edit-banner-page .logo-container {
    box-shadow: 0 1px 7px #7c7c7c;
    padding: 10%;
}
.mlp-edit-banner-page .logo-wrapper {
    /*border: 1px dashed;*/
    outline-style: dashed;
    outline-color: #b4b4b4;
    outline-width: 2px;
    position: relative;
    max-width: 338px;
    max-height: 168px;
    background-color: #c4c4c4;
    margin: 0 auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.mlp-edit-banner-page .btn-upload-logo,
.mlp-edit-banner-page .btn-upload-banner {
    width: 36px;
    height: 36px;
    position: absolute;
    top: calc(50% - 18px);
    right: calc(50% - 18px);
    border-radius: 50%;
    background-color: #5a5e61;
    background-image: url('/images/icons/photoicon.png');
    background-size: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.mlp-edit-banner-page .btn-remove-logo,
.mlp-edit-banner-page .btn-remove-banner {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-image: url('/images/delete.png');
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.mlp-edit-banner-page .col-sm-6 {
    padding: 0;
    margin: 0 0 40px 0;
}
.mob .mlp-edit-banner-page .col-sm-6 {
    margin: 0 0 22px 0;
}
.mlp-edit-banner-page .logo-wrapper:before {
    content: '';
    display: block;
    padding-top: 50%;
}
.mlp-edit-banner-page .forLogo {
    margin: 0;
}
.mlp-edit-banner-page .col-instructions {
    padding: 0;
    line-height: 24px;
    overflow: hidden;
    margin: 0 10px 40px 0;
}
.mob .mlp-edit-banner-page .col-instructions {
    margin: 0 0 22px 0;
}
.mlp-edit-banner-page .col-instructions h3 {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #828282;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}
.mlp-edit-banner-page .col-instructions p {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
}
.mlp-edit-banner-page .forBanner .mobile-view,
.mlp-edit-banner-page .forBanner .web-view {
    float: left;
    width: 50%;
}
.mlp-edit-banner-page .forBanner .mobile-view > div ,
.mlp-edit-banner-page .forBanner .web-view > div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    float: left;
}
.mlp-edit-banner-page .forBanner .mobile-view > div {
    background-color: #6bffdd;
}
.mlp-edit-banner-page .forBanner .web-view > div {
    background-color: #febf56;
}
.mlp-edit-banner-page .forBanner .mobile-view span,
.mlp-edit-banner-page .forBanner .web-view span {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
    line-height: 36px;
    text-transform: capitalize;
}
.mlp-edit-banner-page .sample-banner-container {
    background-color: #c4c4c4;
    border: 2px dashed #6bffdd;
    position: relative;
    background-image: url('/images/login/samplebanner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mlp-edit-banner-page .new-banner-container {
    box-shadow: 0 0 7px #7c7c7c;
}
.mlp-edit-banner-page .sample-banner-container:before,
.mlp-edit-banner-page .new-banner-container:before,
.mlp-edit-banner-page .banner-container:before {
    content: '';
    display: block;
    padding-top: 56%;
}
.mlp-edit-banner-page .sample-banner-for-mobile {
    border: 2px dashed #febf56;
    position: absolute;
    top: 25%;
    left: -2px;
    width: calc(100% + 4px);
    height: 50%;
    text-align: center;
}
.mlp-edit-banner-page .sample-banner-for-mobile p {
    display: block;
    color: #d2dde8;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.mlp-edit-banner-page .block-banner {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mlp-edit-banner-page .col-sm-6.col-new-banner {
    margin: 0 0 40px 0;
    box-shadow: 0 0 7px #7c7c7c;
    background-color: #fff;
}
.mlp-slider .mlp-banner {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mlp-slider .mlp-banner:before {
    content: '';
    display: block;
    padding-top: 56%;
}
.mlp-page .swiper-wrapper .swiper-slide {
    width: 100%;
}
.mlp-page .swiper-pagination {
    bottom: -35px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.mlp-first-page .contentPage {
    padding: 0 0 33px 0;
}
.mlp-first-page .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #606466;
    background-color: transparent;
    margin: 0 5px;
    opacity: 1;
}
.mlp-first-page .swiper-pagination-bullet-active {
    background-color: #606466;
}
.line1{
    width:100%;
    background: #c2c1c1 ;
    height: 1px;
    margin:33px 0px;
}
.line2{
    width:100%;
    background: #b9b8b8 ;
    height: 1px;
    margin:33px 0px;
}
.btnManage{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    cursor: pointer;
}
.userchart .header{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color:#484848;
    font-size: 16px;
    margin: 33px 0;
}
.userchart .qa-success-buttons{
    text-align: right;
}
.iconcaution{
    margin: 0 0 12px 0;
}
.mu-content{
    margin: 15px 0px;
}
.yesnoIcon > .block {
    height: 18px !important;
    width: 18px !important;
}
.yesnoIcon{
    height: 22px !important;
    width: 37px !important;
    margin-top: 10px;
}
.mob .qr-user .user-item-info .yesnoIcon{
    grid-row: none;
    grid-column: 3;
    justify-self: right;
    margin-top: 0px;
}
.sort-user .ulTypeSelected{
    top:0px;
    position: relative;
    display: none;
    width:350px;
    box-shadow: none;
    border: none;  
    background: #f3f3f3;
    margin-left: -1px;
    border: 1px solid #B8B8B8;

}
.sort-user{
    width: 350px;
    background-image: url(/images/icons/icon-arrow-down.png);
    border: 1px solid #B8B8B8;
    height:45px;
    border-radius: 0px;
    padding:0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
    margin-bottom: 33px;
    text-transform: none;
}
.ulTypeSelected .lisort{
    background-image: url(/images/Untick_1x.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 98%;
    cursor: pointer;
    height: 35px;
    background-color: #fff;
    margin: 5px;
    padding: 8px 11px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #484848;
    border-radius: 5px;
    
     
}
.sort-selected{
    margin: 9px 0px 9px 15px;
}
.mob .sort-selected{
    margin: 9px 0px 9px 15px;  
}
.ulTypeSelected .selected{
    background-image: url(/images/tick_1x.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 98%;
    background-color: #126DB6;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.mob .sort-user,.mob .sort-user .ulTypeSelected{
    width:100%;
}
.mob .sort-user .ulTypeSelected{
    width: calc(100% + 2px);
    margin-left: -1px;
}
.adduser-text .adduser-it{
    display:inline-block;
    margin: 33px 0;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #484848;
}
.ru-quick-remove .addusers-note{
    margin-bottom: 33px;
}
.lgtPopup .popupContent {
    color: #484848 !important;
}
.sub-page .note-box{
    font-size: 16px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #484848;
    margin-top: 33px;
}
.sub-page .note-box a{
    color: #126db6;
    text-decoration: underline;
}
/* Không viết thêm css sau media - media queries luôn nằm dưới cùng */
@media (max-width: 320px) {
    .mob .sort-selected{
        margin: 9px 0px;  
    }
    .ulTypeSelected .lisort{
        padding: 8px 5px;
    }
}
@media (min-width: 768px) {
    .mlp-edit-banner-page .col-sm-6 {
        width: calc(50% - 5px);
    }
    .mlp-edit-banner-page .block-banners > div:nth-of-type(odd) {
        margin: 0 10px 40px 0;
    }
    .mlp-page .mlp-slider .frontLayer img {
        max-width: 338px;
        max-height: 168px;
    }
    .mlp-slider .mlp-banner:before {
        padding-top: 28%;
    }
    .mlp-page .popupChangeWriteup {
        min-width: 360px;
    }
}
@media (min-width: 1024px) {
    .mlp-page .popupChangeWriteup {
        min-width: 400px;
    }
}
@media (min-width: 1366px) {
    .mlp-page .popupChangeWriteup {
        min-width: 480px;
    }
}
@media (min-width: 1536px) {
    .mlp-page .popupChangeWriteup {
        min-width: 580px;
    }
}
@media (max-width: 600px) {
    .com_siteadminbln .sendcsv_popup {
        min-width: 295px !important;
    }
}
/* Không viết thêm css sau media - media queries luôn nằm dưới cùng */