/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2016, 11:09:07 AM
    Author     : kydonvn
*/
.t3-navbar {
    background: #99FF33;
}
.t3-submenu {
    /*background: #F5F7F7 no-repeat;*/
    width: 100%;
    position: relative;
}
.t3-submenu ul{
    /*height: 35px;*/
    list-style-type:none;
    padding:0px 10px;
    margin:0px;
    border-top: 2px solid #ddd;
    /*margin-top: 0px;*/
}

.t3-submenu ul li{
    display:inline-block;
    /*width: 150px;*/
    /*height: 50px;*/
}
.t3-submenu ul li img {
    width: 24px;
    height: 24px;
    padding: 2px;
    display: block;
    margin: 5px auto -5px auto;
}
.t3-submenu ul a{
    text-decoration:none;
    /*width:129px;*/
    float:left;
    color: #4e4e4e;
    /* font-weight:bold; */
    text-align:center;
    line-height: 30px;
    /*text-align: left;*/
    font-size: 16px;
}
@media (min-width: 768px) {
    .notification img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

@media (max-width: 767px) {
   .navbar-header {
       background: #126DB6;;
   } 
  .t3-submenu ul li{
        display:inline-block;
        /*width: 80px;*/
        /*height: 40px;*/
   }
   .t3-submenu ul a {
       font-size: 12px;
   }
   .t3-submenu ul li img {
        width: 20px;
        height: 20px;
        padding: 2px;
    }
    .notification img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}
/*@media (max-width: 320px) {
    .t3-submenu ul li{
        display:inline-block;
        width: 25%;
        float: left;
   }
   .t3-submenu ul a {
       font-size: 11px;
   }
   .navbar {
       border: 0 !important;
   }
   .course-menu {
        top: 50px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1000;
        height: 65px;
        background: #50575e;
    }
    .course-menu .course-nav {
        display: block;
        opacity: 1;
    }
    .course-menu .course-nav ul {
        list-style: none;
        padding: 5px;
        height: 61px;
    }
    .course-menu .course-nav ul li {
        display: inline-block;
        height: 61px;
        padding: 0 4%;
        margin-top: 10px;
    }
    .course-menu .course-nav ul li img {
        width: 20px;
        height: 20px;
        text-align: center;
    }
    .course-outline.active span.shape{
        border-left:5px solid transparent; 
        border-right: 5px solid transparent;  
        border-bottom: 10px solid #fff; 
        height:0;
        width: 0; 
        position:absolute; 
        bottom:0px; 
        left:20%; 
        z-index:1 ; 
        margin-left:-15px;
    }
    .course-circle.active span.shape{
        border-left:5px solid transparent; 
        border-right: 5px solid transparent;  
        border-bottom: 10px solid #fff; 
        height:0;
        width: 0; 
        position:absolute; 
        bottom:0px; 
        left:55%; 
        z-index:1 ; 
        margin-left:-15px;
    }
    .course-gradebook.active span.shape{
        border-left:5px solid transparent; 
        border-right: 5px solid transparent;  
        border-bottom: 10px solid #fff; 
        height:0;
        width: 0; 
        position:absolute; 
        bottom:0px; 
        right:16%; 
        z-index:1 ; 
        margin-left:-15px;
    }
    .course-outline.active div.icon-bg {
        background: url("/media/joomdle/images/icon/courseoutline/CourseOutline_Active.png") no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .course-outline div.icon-bg {
        background: url("/media/joomdle/images/icon/courseoutline/CourseOutline_Inactive.png") no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .course-circle.active div.icon-bg {
        background: url("/media/joomdle/images/icon/LearningCircle/MyCirclesIcon_White.png") no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .course-circle div.icon-bg {
        background: url("/media/joomdle/images/icon/LearningCircle/LearningCircle_Inactive.png") no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .course-gradebook.active div.icon-bg {
        background: url("/media/joomdle/images/icon/Progress/Progress_Active.png") no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .course-gradebook div.icon-bg {
        background: url("/media/joomdle/images/icon/Progress/Progress.png") no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .course-menu .course-nav ul li a {
        color: #989393;
        font-family: OpenSans;
        font-size: 12px;
        text-decoration: none;
    }
    .course-menu .course-nav ul li.active a {
        color: #fff;
        font-family: OpenSans-SemiBold;
        font-size: 12px;
    }
    .course-group {
        margin-top: 55px;
    }
}*/
@media (min-width: 320px) {
    
    .t3-submenu ul li{
        display:inline-block;
        width: 20%;
        float: left;
        padding: 0px 0px 0px 12px;
        /*height: 40px;*/
   }
   .t3-submenu ul a {
       font-size: 11.8px;
       font-family: Open Sans;
   }
   .navbar {
       border: 0 !important;
   }
   .course-menu {
        top: 50px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1000;
        height: 65px;
        background: #50575e;
    }
    .course-menu .course-nav {
        display: block;
        opacity: 1;
        height: 100%;
    }
    .course-menu .course-nav > nav {
        height: 100%;
    }
    .course-menu .course-nav ul {
        list-style: none;
        padding: 0;
        height: 100%;
        margin-bottom: 0;
    }
    .course-menu .course-nav ul li {
        /* display: block; */
        /* height: 50px; */
        /* padding: 0 7%; */
        padding-top: 13px;
        width: 33.33%;
        float: left;
        text-align: center;
        position: relative;
        height: 100%;
    }
    .course-menu .course-nav ul li img {
        width: 20px;
        height: 20px;
        text-align: center;
    }

    .com_joomdle.view-course .course-outline a,
    .com_joomdle.view-wrapper .course-outline a,
    .com_joomdle.view-progress .course-gradebook a,
    .com_community.view-groups .course-circle a {
        color: rgb(234, 234, 234);
        font-family: OpenSans;
        font-size: 12px;
        text-decoration: none;
    }
    .com_joomdle.view-course .course-outline span.shape,
    .com_joomdle.view-wrapper .course-outline span.shape,
    .com_joomdle.view-progress .course-gradebook span.shape,
    .com_community.view-groups .course-circle span.shape,
    .com_joomdle.view-coursecontent .course-content span.shape {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 10px solid #fff;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -1px;
        right: 50%;
        z-index: 1;
        transform: translate(50%, 0);
    }
    .com_joomdle.view-course .course-outline div.icon-bg,
    .com_joomdle.view-wrapper .course-outline div.icon-bg {
        background-image: url("/media/joomdle/images/icon/courseoutline/CourseOutline_Active.png");
    }
    .course-outline div.icon-bg {
        background-image: url("/media/joomdle/images/icon/courseoutline/CourseOutline_Inactive.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .com_community.view-groups .course-circle div.icon-bg {
        background-image: url("/media/joomdle/images/icon/LearningCircle/MyCirclesIcon_White.png");
    }
    .course-circle div.icon-bg {
        background-image: url("/media/joomdle/images/icon/LearningCircle/LearningCircle_Inactive.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .com_joomdle.view-progress .course-gradebook div.icon-bg {
        background-image: url("/media/joomdle/images/icon/Progress/Progress_Active.png");
    }
    .course-gradebook div.icon-bg {
        background-image: url("/media/joomdle/images/icon/Progress/Progress.png");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }

    .course-menu .course-nav ul li a {
        color: #989393;
        font-family: OpenSans;
        font-size: 12px;
        text-decoration: none;
    }
    .course-group {
        /*margin-top: 55px;*/
    }
}

#t3-mainnav.navbar-fixed-bottom {
    height: 50px;
}
#t3-mainnav.navbar-fixed-bottom > .container,
#t3-mainnav.navbar-fixed-bottom > .container .t3-submenu,
#t3-mainnav.navbar-fixed-bottom > .container .t3-megamenu,
#t3-mainnav.navbar-fixed-bottom > .container .t3-megamenu ul {
    height: 100%;
}
#t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li {
    height: 100%;
}
#t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li > a {
    padding: 3px 0;
    line-height: 24px;
}
#t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li.active > a,
.com_joomdle.view-mylearning #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(2) > a,
.com_joomdle.view-course #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(2) > a,
.com_joomdle.view-progress #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(2) > a,
.com_joomdle.view-wrapper #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(2) > a,
.com_joomdle.view-courseprogram #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(2) > a,
.com_community.view-groups #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:first-of-type > a,
.com_community.view-friends #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(3) > a,
.com_community.task-browse #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(3) > a,
.com_community.view-events #t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(4) > a {
    background-color: transparent;
    color: #126DB6;
}

#t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li > a > img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
#t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(1) > a > img,
#t3-mainnav.navbar-fixed-bottom .t3-megamenu > ul > li:nth-of-type(3) > a > img {
    transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}