.course-menu{
	display: none;
}
.tab .joomdle-page-content {
	padding: 3% 14% 8% 14% !important;
}
.mob .joomdle-page-content {
    padding: 3% 4% 8% 4% !important;
}
.joomdle-page-content .txtTitle{
	background: #ffffff !important;
	border: 1px solid rgba(130, 130, 130, 0.5) !important;
    font-size: 16px;
    color: #828282 !important;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
}
.joomdle-page-content .contentTypes{
	border: 1px solid rgba(130, 130, 130, 0.5);
    border-radius: 10px;
	padding: 20px ;
    background: #fafcfe;
}
.joomdle-page-content .title{
	margin-bottom: 33px;
}
.tab .contentTypes .contentType {
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    padding-right: 4%;
    border-radius: 50%;
    padding-left: 4%;
}
.mob .contentTypes .contentType {
    width: 31px;
    height: 31px;
    display: inline-block;
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    padding: 0px 7%;
}
.mob .mntypeicon{
    margin-left: -4%;
    margin-bottom: 10px;
}
.add_content{
    padding-bottom: 10px;
    font-size: 16px;
    color: #828282 !important;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
}
.view-content .mce-container.mce-panel{
    border: 1px solid rgba(130, 130, 130, 0.5) !important;
}
.add_line{
    background-color: #B8D7E2;
    height: 1px;
    margin-bottom: 20px;
}
.addResourse, .title label,.title span {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
    font-size: 17px;
    font-weight: bold !important;
    color: #5e5e5e;
}
.tab .divUploadFile > ul {
    width: calc(35%);
    background: #fff;
    margin: 0;
    box-shadow: 0px 2px 5px #5F5F5F;
    border-radius: 20px;
    padding-left: 0px;
}
.tab .divUploadFile{
    position: absolute;
    bottom:  175px;
    left: calc(30% - 27px);
    right: 15px;
    text-align: center;
    z-index: 11111;
}
.tab .divUploadFile > ul > li {
    line-height: 34px;
    background: transparent;
    border-bottom: 1px solid #B8D7E2;
    color: #126DB6;
    padding: 5px 0px !important;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}
.divUploadFile > ul > li.liPhoto {
    border: none;

}
 .divUploadFile > ul > li.liPhoto:first-of-type {
    border-bottom: 1px solid #B8D7E2;
}
.divUploadFile > ul > li.liVideo:last-of-type {
    border: none;
}
.tab .divUploadFile > button.cancel {
    margin-top: 10px;
    background: white;
    border: none;
    border-radius: 30px;
    line-height: 34px;
    color: #126DB6;
    -webkit-box-shadow: 0px 1px 5px #5F5F5F;
    -moz-box-shadow: 0px 1px 5px #5F5F5F;
    box-shadow: 0px 1px 5px #5F5F5F;
    width: calc(35%);
    font-weight: normal;
    font-size: 16px;
}
.mob .divUploadFile > button.cancel {
    margin-top: 10px;
    background: white;
    border: none;
    border-radius: 30px;
    line-height: 34px;
    color: #126DB6;
    -webkit-box-shadow: 0px 1px 5px #5F5F5F;
    -moz-box-shadow: 0px 1px 5px #5F5F5F;
    box-shadow: 0px 1px 5px #5F5F5F;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
}
.tab .buttons {
    text-align: right;
    position: absolute;
    right: 14%;
    padding-top: 30px;
}

.formAddContent .btCancel,.formAddContent .btSave{
    text-transform: uppercase;
    font-weight: normal;
}

.divUploadFile > ul > li img{
    margin: 0px 7px 2px 15px;
}
.withCaption video{
    border-radius: 4px;
     width: 100%;
    height: 100%;
    display: block;
 
}
.tab .moodleContent .uploadedImage{
    border-radius: 4px;
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.mob .moodleContent .uploadedImage{
    border-radius: 4px;
    width: 380px;
    height: 285px;
    object-fit: contain;
    right: -12px;
    position: relative;
}

.mob .divPreview > .previewDescription > img{
    width: 380px !important;
    height: 285px !important;
    object-fit: contain !important;
}

.tab .divPreview > .previewDescription > img{
    width: 400px !important;
    height: 300px !important;
    object-fit: contain !important;
}

.tab .mainContent .imageContent{
    margin-bottom: 15px;
}
.mob .mainContent .imageContent{
    margin-bottom: 15px;
    width: calc(100% - 24px);
    margin-right: 0;
}
.tab .moodleContent.withCaption,
.tab .moodleContent .embedVideo iframe,.tab .embedVideo {
    width: 55%;
    height: 50%;
}
.mob .moodleContent.withCaption,
 .mob .moodleContent .embedVideo {
    width: 90% !important;
}
 .mainContent .embedWebsite{
    width: 98%;
 }
.tab .imageContent .rm,.tab .withCaption .rm{
    right: -3% !important;
    top: -5%;
}
.mob .imageContent .rm,.mob .withCaption .rm{
    right: -2% !important;
    top: -5%;
}
.uploadedFile a{
    color: #5e5e5e;   
    font-weight: normal !important; 
    font-size: 16px;
}
.joomdle-page-content .uploadedFile{
    border-radius: 20px;
    background-color: #fff !important;
    line-height: 30px;
    border: none;
    float: right;
    padding: 0 15px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
   border: 1px solid rgba(130, 130, 130, 0.5);
}
.mceBlackBody{
    background: #fff !important;
}
.hyperlinkPopup > p,
.hyperlinkPopup1 > p,
.linkVideoPopup > p,
.websitelinkPopup >p,
.embedCodePopup > p,
.rmPopup > p,
.rmPopupWww > p{
    text-align: left;
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}
.websitelinkPopup .txtWebsiteLink,
.hyperlinkPopup .txtHyperlink,
.hyperlinkPopup1 .txtHyperlink1,
.linkVideoPopup .txtLinkVideo,
.embedCodePopup .txtaEmbedCode {
    border: none;
    background: #fff;
    box-shadow: none;
    border-radius: 10px !important;
    width: 100%;
    border: 1px solid rgba(130, 130, 130, 0.5) !important;
    color: #828282 !important;
    overflow-x: hidden !important;
}

.mob .view-content .joomdle-page-content .title{
    padding: 0px;
}
.mob .joomdle-page-content .contentTypes{
   padding: 20px 5px;
}
.mob .moodleContent iframe{
    height: calc(calc(100vw - 30px)*0.75) !important;
    width:100% !important;
}
.mob .textareaContent iframe{
     height: calc(calc(65vw - 30px)*0.75) !important;
}
.mob .buttons{
    padding-top: 30px !important;
    bottom: unset !important;
}
.mob .divUploadFile{
    /*position: absolute;*/
    bottom: 60px;
    text-align: center;
    z-index: 10000;
}
.divUploadFile > ul > li.liPhoto,.divUploadFile > ul > li.liVideo {
    border: none;
    text-align: left;
    padding: 0 10px;

}  
.divUploadFile > ul > li #take-photo img,.divUploadFile > ul > li.takeVideo img{
    width: 19px !important;
    height: 18px !important;
}
.divUploadFile > ul > li.liPhoto img,.divUploadFile > ul > li.uploadFrom img,
.divUploadFile > ul > li.linkVideo img,.divUploadFile > ul > li.embed img{
    width: 19px !important;
    height: 19px !important;
}
.btRMYesWww a{
    color: #fff;
    text-decoration: none;
}
.tab .modal-content {
    background: #fff !important;
    color: #484848 !important;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    top:50% !important;
}
.mob .modal-content {
    background: #fff !important;
    color: #484848 !important;
    width: calc(90%);
    font-size: 18px;
    top:50% !important;
}
.modal_www a:hover {
    color: #fff;
    text-decoration: none;
}
.formAddContent .btCancel{
    margin-right: 10px;
}
.textpopup{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
    font-weight: bold;
}
@media screen and (max-width: 769px){
    .tab .divUploadFile > ul,.tab .divUploadFile > button.cancel{
        width: 45%;
    }
    .tab .divUploadFile{
     bottom: 135px;
    }
}
.hvn_BtEditCourse{
    display: none !important;
}
.divUploadFile > ul > li.uploadFrom,
.divUploadFile > ul > li.linkVideo,.divUploadFile > ul > li #take-photo,
.divUploadFile > ul > li.takeVideo,.divUploadFile > ul > li #take-photo{
    border-bottom: 1px solid #B8D7E2!important;
}
@media screen and (max-width: 1110px){
    .tab .divUploadFile{
     bottom: 150px;
    }
}
.view-content .moodleContent.withCaption{
    margin-bottom: 20px !important;
}
.iframeLinkVideo, .embedVideo iframe{
    background: #000000;
}
 .view-content .joomdle-page-content{
    min-height: 100px !important;
}
.mob .t3-mainbody{
    margin-bottom: 40px;
}
.view-content .mce-container.mce-panel {
    border: none !important;
}
.view-content .mce-container.mce-panel iframe {
    border: 1px solid rgba(130, 130, 130, 0.5) !important;
}
.formAddContent .error1 {
    color: #bb5a66;
}
.joomdle-page-content input.error1, div.error1{
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
.mob .divPreview .previewBack {
    margin: 0;
    position: relative;
    top: 20px;
    clear: both;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    letter-spacing: 0px;
    left: calc(50%);
    transform: translateX(-50%);
    text-transform: uppercase;
}

.tab .divPreview .previewBack {
    clear: both;
    position: relative;
    top: 20px;
    margin: 0;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    letter-spacing: 0px;
    text-transform: uppercase;
    transform: translateX(-50%);
    left: 50%;
}

.divPreview > .previewTitle {
    text-align: center !important;
    color: #126DB6;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin: 0px 0 10px 0;
    line-height: 30px;
    width: 100% !important;
}

.view-content .btPreview{
    float: right;
    margin-right: 10px;
    font-weight: normal;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}

.textareaContent.active .mce-container.mce-panel iframe{
    border: none !important;
}
.formAddContent input.active{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
    border: 1px solid rgba(81, 203, 238, 1) !important;
}

.textareaContent.active{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
    border: 1px solid rgba(81, 203, 238, 1) !important;
    border-radius: 12px !important;
}
.tab.view-content.ta  .formAddContent .btAddQuestions,
.tab.view-content .formAddContent .btCancel,
.tab.view-content .formAddContent .btPreview,
.tab.view-content .formAddContent .btSave{
    border: none;
    padding: 5px 14px;
    text-align: center;
    border-radius: 31px;
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
    font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    margin-top: 33px;
    margin-bottom: 33px;
    line-height: normal !important;
}

.mob.view-content .formAddContent .btAddQuestions,
.mob.view-content .formAddContent .btCancel,
.mob.view-content .formAddContent .btPreview,
.mob.view-content .formAddContent .btSave{
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 12px 0 12px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    border-radius: 100px;
    margin-top: 33px;
    letter-spacing: 0;
    background-size: 12px;
    margin-bottom: 33px;
}