/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2017, 1:31:57 PM
    Author     : kydonvn
*/

.row.emptycart-title {
    margin:0px;
}
.row.emptycart-title h3,
.row.cart-title h3{
    text-align:center;
    color:#5e5e5e;
    line-height:40px;
    margin-bottom:20px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.col-centered{
    float: none;
    margin:0 auto;
    display: inline-block;
}
.col-centered a{
    text-decoration: none;
}
#system-message{
    display: none;
}
.emptycart-content {
    margin:0px;
    margin:auto;
    text-align:center;
}
.emptycart-content .col-centered {
    margin-right:10px;
    margin-left:10px;
}
.emptycart-content .col-centered .thumbnail img {
    width: 52px;
    height: 58px;
}
.emptycart-content .col-centered .thumbnail {
    padding-top: 0px;
    border: none;
}
.emptycart-content .col-centered .thumbnail .caption span{
    font-size: 16px;
    color:#828282;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-align: center;
}
.emptycart-content .col-centered .thumbnail .empty-action {
    margin-top: 11px;
}
.emptycart-content .col-centered .thumbnail .empty-action a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #fff !important;
    background-color: #4f5355;
    border-radius: 50px;
    float: none;
    margin-left: 0px;
    margin-right: 0;
    width: auto;
    line-height: 28px;
    padding: 5px 15px;
    min-width: 90px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.hikashop_checkout_page .row{
    padding-left: 14%;
    padding-right: 14%;
}
.hikashop_checkout_page .cart-item {
    margin-left: 14px;
    margin-right: 14px;
}
.hikashop_checkout_page .cart-item .img-course {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:125px;
    border-radius: 5px;
    margin-bottom: 22px;
}
.hikashop_checkout_page .cart-item .cart-course-title {
    padding: 0 15px;
}
.hikashop_checkout_page .cart-item .cart-course-title .checkout_product_title {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #5e5e5e;
    font-size: 15px;
}
.hikashop_checkout_cart hr {
    margin-top: 0px;
}
.hikashop_checkout_page .cart-item .cart-course-duration {
    text-align: right;
}
.hikashop_checkout_page .cart-item .checkout_price_detail .hikashop_product_price_full,
.checkout_price_detail{
    padding-top: 0px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #5e5e5e !important;
    font-size: 15px !important;
}
.hikashop_checkout_page .cart-item .description {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #5e5e5e;
    font-size: 15px;
}
.hikashop_checkout_page .cart-item .hikashop_product_price,
.hikashop_checkout_page .cart-item .cart-course-duration span{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #5e5e5e !important;
    font-size: 15px !important;
}
.end-total {
    color: #e8f0f8 !important;
    border: 2px solid #e8f0f8;
    height: 0px !important;
}
.remove-item {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 15px;
    color: #126DB6 !important;
}
.cart-total .total-summary {
    background-color: #e8f0f8;
    padding: 5px;
    margin-top: -20px;
    right: 0%;
}
.cart-total .total-summary .total-text {
    padding-right: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #5e5e5e;
    font-size: 15px;
}
.cart-total .total-summary .total-currentcy {
    padding-right: 10px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 15px;
}
.hikashop_checkout_page hr {
    border: 2px solid #e8f0f8;
    margin-left: 15%;
    margin-right: 14%;
    height: 0px;
}
.hikashop_cart_button {
    font-size: 16px !important;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #fff !important;
    background-color: #4f5355;
    border-radius: 50px !important;
    float: none;
    margin-left: 0px !important;
    margin-right: 0 !important;
    width: auto !important;
    line-height: 28px !important;
    padding: 2px 12px !important;
    min-width: 90px !important;
}
.hikashop_checkout_cart {
    margin-top: -33px;
}
.hikashop_checkout_cart hr {
    margin-left: 15%;
    margin-right: 14%;
}
#hikashop_checkout_shopping_button {
    float: right !important;
    margin-right: 10px !important;
}
.purchasing {
    background-image: url("/images/social-feeds-bg3.jpg");
    /*height: 200px;*/
    /*margin-top: -50px;*/
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 33px;
}
.purchasing .purchasing-thanks {
    padding-top: 33px;
}
.purchasing-button {
    padding-top: 70px;
    text-align: center;
    /*margin-bottom: 30px;*/
}
.purchasing-button a {
    font-size: 16px !important;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #fff !important;
    background-color: #4f5355;
    border-radius: 50px !important;
    float: none;
    margin-left: 0px !important;
    margin-right: 10px !important;
    width: auto !important;
    line-height: 28px !important;
    padding: 2px 15px !important;
    min-width: 90px !important;
}
.purchasing-summary-title {
    text-align: center;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 18px;
    padding-top: 33px;
    padding-bottom: 33px;
}
.purchasing .purchasing-thanks p {
    text-align: center;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 18px;
}
.purchasing-order, .order-product {
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 15px;
}
.purchasing-order .order-number .oder-number-text,
.order-payment-method .oder-number-text{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 18px;
}
.purchasing-order .order-number .oder-number-value,
.order-payment-method .oder-number-value{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #5e5e5e;
    font-size: 18px;
}
.order-product span{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 18px;
}
.hikashop_checkout_page .billing-address {
    text-align: center;
}
.hikashop_checkout_page .billing-address span {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #5e5e5e;
    font-size: 18px;
}