.com_hikashop p {
    margin: 0;
}
.com_hikashop.view-product.layout-listing .hikashop_category_description{display: none;}
.com_hikashop.view-checkout .category_mainmenu {
	display: none;
}
.hikashop_products_listing_main,
.hikashop_categories_listing_main {
    padding: 0;
}
.view-checkout td {
	border:0px !important;
}
.hikashop_checkout_page form {
	padding-bottom: 50px;
	margin-top: 50px !important;
}
.layout-show span.poduct_detail_price span.hikashop_product_price{
	color:#878787;
	font-style:normal;
	font-weight: 300;
	font-size: 16px;
}
div.checkout_price_detail span.hikashop_product_price_full span.hikashop_product_price{
	color:#878787;
	font-style:normal;
	text-align: right;
	font-weight: 300;
	font-size: 16px;
}
label.custom_radio_label{
	background: url('/media/com_hikashop/images/paymentcustom/notselected.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	border: 0px;
	box-shadow: none;
}
label.custom_radio_label.active{
	background: url('/media/com_hikashop/images/paymentcustom/selected.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	border: 0px;
	box-shadow: none;
}
form .row #hikashop_checkout_prev_button.hikashop_cart_button{
float:left;font-family:'Open Sans', OpenSans, sans-serif;
	font-weight: 400;text-decoration:none;font-size: 13px;color:#FFFFFF !important;background:url('/media/com_hikashop/images/arrow.png');padding-left:40px;padding-top:5px;padding-bottom:5px;background-repeat:no-repeat;background-size: 20% 64%;background-color:#4F5355;background-position:10%;	border-radius: 20px;
}
form .row #hikashop_checkout_next_button.hikashop_cart_button{float:right;}
form .row .hikashop_cart_button,.view_invoice{
	font-family:'Open Sans', OpenSans, sans-serif;
	font-weight: 400;text-decoration:none;font-size: 13px;color:#FFFFFF !important;padding-right:40px;padding-top:5px;padding-bottom:5px;background-repeat:no-repeat;background-size: 20% 64%;background-color:#4F5355;background-position:90%;border-radius: 20px;padding-left: 40px;
}
.hikashop_checkout_page_step0 form .row .hikashop_cart_button{
	background-image:none;float: right;
}
.hikashop_checkout_page_step2 form .row #hikashop_checkout_prev_button.hikashop_cart_button,.hikashop_checkout_page_step2 form .row .hikashop_cart_button{
	background-image:none;
}
.com_hikashop.view-checkout.layout-step body{background:#FAFAFA;}
.completed_step{
	background-image: url('/media/com_hikashop/images/tickicon.png');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50% 18%;
}
input.hikashop_checkout_payment_radio{display:none;}
#hikashop_payment_methods td{background-color:transparent;}
/* POPUP - Notice box style */
#sbox-overlay {
    opacity: 0.2 !important;
}
#sbox-window{
	/*height: 260px !important;*/
	/*top:25% !important;*/
	/*background:#3A85C2 !important;*/
	/*border-radius: 10px !important;*/
	/*padding:0px;*/
	/*width:500px !important;*/
	/*left:calc(calc( 100% - 500px ) / 2) !important;*/
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
    border-radius: 20px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    right: auto;
    min-width: 270px;
    /*width: auto !important;*/
    height: auto !important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    text-align: center;
    color: white;
    /*padding: 20px 8% 25px 8%;*/
    width: 568px !important;
    padding: 20px 34px 25px 34px;
    z-index: 11112;
}
#sbox-window.shadow {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
#sbox-content{
	border-radius: 10px !important; height: 100px !important;width:500px;
}
#sbox-content iframe{height: 100px !important;border-radius: 10px;width: 500px;}
#sbox-btn-close {
	right: 5px;
	top:10px;
	background:url('/media/com_hikashop/images/closeicon.png');
	background-repeat: no-repeat;
	background-size:cover;
}
.contentpane{
	/*background:#3A85C2 !important;*/
	/*height: 260px !important;*/
}
.window-mainbody {
    padding: 0 !important;
    text-align: center;
	/*background: #3A85C2 !important;*/
	/*height: 260px !important;*/
}
.notice-button{
	/*padding:15px 20px 15px 20px;*/
	display: inline-block;
	/*background:#4F5355;*/
	/*border-radius: 31px;*/
	/*color:white;*/
	text-align: center;
	margin: 0;
    background-color: #4f5355;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ddd !important;
    border: none;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 20px;
}
.notice-button:hover{
	color:white;cursor: pointer;text-decoration: none;
}
.notice-button i{float: right;}
.notice-button img {
    display: none;
}
.notice-title {
    padding: 0;
    margin: 0 0 33px 0;
    display: block;
    color: #484848;
    text-align: center;
    position: relative;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    font-size: 18px;
}
/* COURSE LISTING PAGE START */
#t3-content .hikashop_products_listing div.hikashop_container {
    margin:0;
}
#hikashop_category_information_module_ div.hikashop_subcontainer,
#hikashop_category_information_module_ div.hikashop_product {
    background-color: #dcdcdc !important;
}
.hikashop_subcontainer.thumbnail {
	padding:0;
	border:0;
}
/* COURSE LISTING PAGE END */
.address_fields{
	padding-left:20px !important;
	background: #ebe6e6 !important;
	border-radius: 20px !important;
	margin-bottom: 15px;
	color:#4C4C4C;
	width: 265px !important;
	margin:20px auto;
	display: block;
	height: 45px !important;
	border:1px solid #cccccc;
}
.hikashop_checkout_header{
	position: fixed;
	width: calc(100% - 155px);
	left:155px;
	top:80px;
	z-index: 30;
}
.hikashop_checkout_header span{
	display: block;line-height: 50px;	color:#DDD5D5;
}
.hikashop_checkout_header i{
	display: none;
}
.hikashop_checkout_header .active  i{
	display: inline-block;
	position: absolute;
	bottom: -6px;
	color: white;
	font-size: 20px;
	left:47%;
}
.hikashop_checkout_header .active span{
	color: white;
}
.hikashop_checkout_header {
	height: 50px;
	background: #50575E;
}
.hikashop_subcategories_listing,
.hikashop_products_listing {
    padding: 0 14%;
}
.category_mainmenu {
    font-size: 0;
    position: sticky;
    top: 80px;
    background-color: #fff;
    margin-bottom: 22px;
    z-index: 2;
    padding: 0 14%;
}
.category_mainmenu .category_menu {
    display: inline-block;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border-bottom: 2px solid #B8B8B8;
}
.category_mainmenu .category_menu.active,
.com_hikashop.view-product .category_menu:first-of-type,
.com_hikashop.view-category .category_menu:nth-of-type(2) {
    border-bottom: 2px solid #126DB6
}
.category_submenu .open .dropdown-menu{
	position: relative;
	width: 100%;
	padding: 0px;
	box-shadow: none;
	background: #A6A9AC;
	border: 0px;
}
.category_submenu .open .dropdown-menu li:last-child hr{
    display: none;
}
.hikashop_checkout_header .active {
	color:white;
}
.category_menu_title {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #B8B8B8;
    line-height: 38px;
}
.category_menu.active .category_menu_title,
.com_hikashop.view-product .category_menu:first-of-type .category_menu_title,
.com_hikashop.view-category .category_menu:nth-of-type(2) .category_menu_title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
}
.category_submenu{
	display: none;
	line-height: 25px;
	background: #656B71;
	position:absolute;
	left:0;
	width:100%;
	z-index:2;
	text-align:left;
	color:white;
}
.category_submenu span{
	width: 100%;
	display: block;
	padding: 15px;
}
.category_submenu span a{
	color:white;
}
.category_submenu .submenu_circle_icon{
	float: right;line-height: 25px;
}
.category_submenu li li{
	background:#A6A9AC;
}
.category_submenu li li a{
	color:white;
	padding:15px 10px 15px 40px;
}
.submenu_caret{
	position: absolute;left: 25px;top:30px;color:#A6A9AC;font-size: 25px !important;
}
.categorymenu_caret{
	  width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #dcdcdc;
    bottom: 0;
    left: 50%;
    margin-top: -10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
	/*position: absolute;font-size: 25px !important;display: block !important;margin: auto;margin-top: -18px;width: 33%;color:#dcdcdc;*/
}
.submenu_line,.separator_line{
	width:90%;height: 1px;border: 0px;display: block;margin: auto;background:white;opacity: 0.15;
}
.separator_line{width:96%;}
/* BUNDLE Listing START */
.hikashop_bundle_list,.hikashop_bundle_row{margin-left: 14px;margin-right: 14px;background-color: #DFDFDF;}
.hikashop_bundle_row{padding:10px 0 10px 0;}
.hikashop_bundle_separater{margin:0px;}
.hikashop_product_right_part br{display: none;padding:0px;}
.hikashop_bundle_right_arrow{float: right;padding:0px;}
.hikashop_option_name{padding:0px;}
#hikashop_product_options{border: 0px;padding: 0px;border-radius: 0px;padding-bottom: 20px;}
/* BUNDLE Listing END */


/* Search */
.hikashop_filter_main_div{display: none;}
/* Leaning Recommendar */
.paulund_modal{display: block;float: right;background:#4f5355;border-radius: 100px;font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;font-size: 14px;color:#FFFFFF;padding:10px 20px 10px 20px;margin: 10px;display:none;}
.paulund_modal:hover{text-decoration: none;color:#FFFFFF;cursor:pointer; }
/* Catalog Listing */
ul.thumbnails li.hikashop_product{list-style: none;}
.thumbnails{padding-left: 0;margin: 0;}
.hikashop_subcontainer {padding-top: 0px;}
.hikashop_product_title{font-family:'Open Sans', OpenSans, sans-serif;
	font-weight: 400;font-size: 16px;color:#126DB6;font-weight: 700;}
.hikashop_subcontainer span.hikashop_product_price_full,
.hikashop_product_listing_estimatedhours {
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    text-align: right !important;
    padding-right: 0;
    color: #fff;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.hikashop_subcontainer span.hikashop_product_price_full span.hikashop_product_price {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    height: 34px;
    display: block;
    text-align: right !important;
    padding-right: 0px;
}
.hikashop_product_listing_image img{height: 150px;}
#t3-content .hikashop_products_listing .hikashop_subcontainer,
#t3-content .hikashop_subcategories_listing .hikashop_subcontainer {
    background: none;
    /*padding-bottom: 22px;*/
    height:auto !important;
}
.hikashop_product_listing_middle{padding:0px 15px 0px 15px;cursor:pointer;}
/* Product Detail Page */
.com_hikashop.view-product.layout-show .category_mainmenu{display: none;}
.com_hikashop.view-product .row{}
.com_hikashop.view-product .img-responsive{height:150px;}
.provider_thumbnail{max-width:43%;margin:auto;display:block;height: 90px;}
.provider_col{
    /*margin-top: 20px;*/
    display: none;
}
.com_hikashop.view-product .hikashop_cart_button {
    display: inline-block;
    border-radius: 100px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 5px 15px;
    background-color:#4F5355;
    /*background-image: url('/templates/t3_bs3_blank/images/cart_white.png');*/
    /*background-repeat:no-repeat;*/
    /*background-size: 15% 60%;*/
    /*background-position: 90%;*/
    text-transform: uppercase;
}
.product_detail_title{min-height:50px;text-align:center;font-family:'Open Sans', OpenSans, sans-serif;
	font-weight: 400;font-weight:700;color:#126DB6;font-size:16px;position: relative;}
.poduct_detail_price{position: absolute;right:0px;top:0;font-weight:300;color:#494949; }
.product_detail_description,.hikashop_product_listing_description{padding:15px 0px;font-weight: 300;color:#494949;font-size: 14px;font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;}
.com_hikashop.view-product .row.hikashop_bundle_row{margin:auto 15px;}
.product_detail_hours{text-align:center;line-height:30px;color:#494949;font-weight: 300;font-size:14px;}
.com_hikashop.view-product.layout-show .hikashop_product_stock{text-align: right;}
/* Checkout Page */
.checkout_product_title{font-weight:700;font-size: 16px;color:#126db6;}
.com_hikashop.view-checkout .hikashop_product_price_full{
	height:150px;
	display: block;
	padding-top: 20%;
	vertical-align: bottom;
	text-align: right;
	width:100%;
}
.hikashop_checkout_cart hr{height:2px;border-top:0px;margin:20px 15px;}

/* Search Bar */
.search-bar-catalog{display: none;font-size: 16px;font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;}
.search-bar-catalog input{font-size: 16px;}
.com_hikashop.view-category.layout-listing .search-bar-catalog{display: block;}
.com_hikashop.view-product.layout-listing .search-bar-catalog{
	display: block;
}
.search-catalog{
	height:38px !important;border-color:#c7c7c7 !important;background-image:url('/media/com_hikashop/images/SearchIcon_726D6D.png') !important;background-size:20px 20px;background-repeat: no-repeat;background-position: calc(50% - 40px) center;width:100% !important;border-radius: 100px !important;border:1px solid #979797 !important;background-color:#ffffff !important;color: #555555 !important;letter-spacing: 0px;text-align: center;
}

/* Learning Provider Listing */
.hikashop_categories_listing_main{margin:0px;}
.com_hikashop.view-category.layout-listing #t3-content .thumbnails li.hikashop_category .hikashop_container{margin:0px;}
ul.thumbnails li.hikashop_category{list-style: none;}

/* Pagination */
.hikashop_products_pagination{display: none !important;}

/* order  */
#hikashop_order_back_button{display: none;}

/* Product Detail Options */
#hikashop_product_price_with_options_main{display:none;}

.courseItem,
.categoryItem {
    margin: 0;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid rgba(130, 130, 130, 0.5);*/
    box-shadow: 0 0 2px rgba(130, 130, 130, 1);
}
.courseItem:first-of-type {
    margin-top: 0;
}
.courseItem.lgt-invisible {
    display: none;
}
.courseItem .courseImage,
.categoryItem .hikashop_category_listing_image {
    height: 165px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e6e6e6;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(130, 130, 130, 0.5);
}
.courseItem .courseImage .courseDurationPrice,
.hikashop_product_page .hikashop_product_listing_image .productDurationPrice {
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    background-color: rgba(47, 46, 46, 0.55);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}
.courseItem .courseImage .courseCreator {
    bottom: 0;
}
.courseItem .courseImage .courseStatus {
    position: absolute;
    top: 10px;
    left: 0;
    color: #5e5e5e;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: capitalize;
}
.courseItem .courseContent,
.categoryItem .hikashop_category_listing_middle {
    padding: 22px;
    height: 144px;
}
.courseItem:not(.isCommonCourse) .courseContent {
    /*background-color: #C5C7C9;*/
    background-color: #fff;
}
.courseItem .courseContent .courseTitle,
.categoryItem .hikashop_category_listing_middle .hikashop_category_title {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 15px;
    color: #5e5e5e;
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
    cursor: pointer;
}
.courseItem .courseContent .courseDescription,
.categoryItem .hikashop_category_listing_middle .hikashop_category_listing_description {
    font-size: 15px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5e5e5e;
    line-height: 22px;
    margin: 0;
    height: 44px;
    overflow: hidden;
}
.hikashop_product,
.hikashop_category {
    width: calc(50% - 5px);
    float: left;
    margin-bottom: 22px;
}
.hikashop_product:nth-of-type(odd),
.hikashop_category:nth-of-type(odd) {
    margin-right: 10px;
}
.hikashop_product_page .hikashop_product_detail,
.view-product .login-register-page #t3-mainbody {
    background: #FFFFFF;
}
.hikashop_product_page .product_detail_description,
.hikashop_product_page .product_learning_outcomes,
.hikashop_product_page .product_target_audience,
.hikashop_product_page .product_course_validity,
.hikashop_product_page .product_button_add_to_cart {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    padding: 33px 14% 0 14%;
}
.hikashop_product_page p.heading {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin: 0 0 11px 0;
    color: #5e5e5e;
}
.hikashop_product_page .hikashop_product_listing_image {
    width: 100%;
    height: 200px;
    max-width: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 221, 0.5);
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 30px;
    display: block;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar .back {
    display: block;
    left: calc(14% - 10px);
    top: 9px;
    position: absolute;
    padding: 0 10px;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar .back img {
    width: 12px;
    height: 21px;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar .productTitle {
    margin: 0 !important;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px !important;
    text-shadow: none;
    color: #fff;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0 14% 0 calc(14% + 22px);
}
