.block_unit {
    background: #fff !important;
    border-top: 10px solid #91D300 !important;
}
.block_unit .header .title h2 {
    color: #006827 !important;
    font-family: 'Open Sans Condensed' !important;
    font-weight: bold;
    font-size: 35px !important;
    padding-left: 35px;
    text-transform: uppercase !important;
    padding: 10px !important;
}
.unitblock{
	    margin-left: -5px !important;
}
.block_unit .unitblock .unit-img {
    width: 40px;
    height: 40px;
}
.block_unit .unitblock .unit-title {
    width: 38px;
}
.block_unit .unitblock .unit {
    display: inline-block;
    padding: 1px;
    width: 40px;
    height: 41px;
}
.block_unit .unitblock .desc {
    margin-left: 30px;
}

.todo {
   pointer-events: none;
   cursor: default;
}

.unit-title-small {
    width: 60px;
    text-align: center;
    margin-left: 0px;
}
.unit-title-small span {
    color: #282E35; 
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: 11px;
}
.unit-prefix {
    height: 1px;
    background: #006827;
    margin-top: 10px;
    margin-left: 10px;
    width: 93%;
}
.unit-completed-viewed {
    padding: 10px;
}
.unit-completed-viewed span .mod-name-completion {
   font-family: 'Open Sans';
   font-weight: 300;
   font-size: 11pt;
}
.unit-completed-viewed span .mod-name-viewed {
   font-family: 'Open Sans';
   font-weight: 300;
   font-size: 8pt;
   background: url([[pix:theme|viewed]]) no-repeat;
   background-position: 155px 1px;
}