.certificate-wrapper {
    width: calc(100% - 0px);
    /* padding: 0 15px; */
}
.tab #t3-content {
    /*padding: 0 10%;*/
    min-height: calc(100vh - 125px);
}
.tab #viewerContainer {
    overflow: visible;
}
#t3-content {
    min-height: calc(100vh - 100px);
    background-color: #fdfdfd;
}
.certificate-wrapper #certificate {
    background-color:#DCD8D2;
}
html[dir='ltr'] #viewerContainer {
    background-color: #fdfdfd;
}
#viewer {
    margin-top: 0;
}
.tab #viewer {
    /*padding: 0 10%;*/
    /*margin: 0 10%;*/
    /*width: 80%;*/
}
.certificate-wrapper .cert-button {
    /* text-align: center; */
    width: 100%;
}
.cert-button {
    width: 100%;
    padding-top: 33px;
}
.certificate-wrapper .title-certificate,
.cert-header .title-certificate {
    font-size: 16px;
    color: #126DB6;
    text-align: center;
    line-height: 30px;
    width: 100%;
    /*margin: 20px 0 0 0;*/
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.certificate-wrapper .course-fullname,
.cert-header .course-fullname {
    font-size: 16px;
    color: #126DB6;
    text-align: center;
    line-height: 30px;
    width: 100%;
    clear: both;
}
.tab .certificate-wrapper .course-fullname,
.tab .cert-header .course-fullname {
    font-size: 20px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    padding: 20px 0;
}
.certificate-wrapper .img_cer {
    width: 100%;
    margin: 20px 0;
    position: relative;
    clear: both;
}
.certificate-wrapper .img_cer img.borderstyle {
    width: 100%;
}
.certificate-wrapper .img_cer .cert-content {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    line-height: 22px;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.certificate-wrapper .img_cer .cert-content.noBorderStyle {
    position: static;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}
.certificate-wrapper .img_cer .cert-content .cert-label {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.certificate-wrapper .img_cer .cert-content .cert-label2 ,
.certificate-wrapper .img_cer .cert-content .cert-label3,
.certificate-wrapper .img_cer .cert-content .cert-label4  {
    font-size: 10px;
}
.certificate-wrapper .img_cer .cert-content .cert-owner {
    font-size: 15px;
    font-weight: bold;
}
.certificate-wrapper .img_cer .cert-content .cert-coursename,
.certificate-wrapper .img_cer .cert-content .cert-date  {
    font-size: 14px;
}
.certificate-wrapper .img_cer .cert-content .cert-code {
    font-size: 12px;
}

.certificate-wrapper .img_cer.landscape .img-cert-content img {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.certificate-wrapper .img_cer.portrait .cert-content {
    line-height: 24px;
}
.certificate-wrapper .img_cer.portrait .cert-content .cert-label {
    font-size: 12px;
}
.certificate-wrapper .img_cer.portrait .cert-content .cert-label2 ,
.certificate-wrapper .img_cer.portrait .cert-content .cert-label3,
.certificate-wrapper .img_cer.portrait .cert-content .cert-label4  {
    font-size: 9px;
}
.certificate-wrapper .img_cer.portrait .cert-content .cert-owner {
    font-size: 12px;
}
.certificate-wrapper .img_cer.portrait .cert-content .cert-coursename,
.certificate-wrapper .img_cer.portrait .cert-content .cert-date  {
    font-size: 12px;
}
.certificate-wrapper .img_cer.portrait .cert-content .cert-code {
    font-size: 10px;
}

.certificate-wrapper .certificate {
    background-color: white; 
    width: calc(100% - 20px);
    padding: 0 10px 10px 10px;
    position: relative;
    min-height: calc(100vh - 180px);
}
.certificate-wrapper #btn_save img ,
.certificate-wrapper #btn_print img {
    width: 11px;
    height: 11px;
    margin-left: 7px;
}
.cert-button #btn_save img ,
.cert-button #btn_print img {
    width: 11px;
    height: 11px;
    margin-left: 7px;
}
.certificate-wrapper #btn_save,
#btn_save {
    border: none;
    float: right;
    padding: 2px 25px !important;
    line-height: 24px;
    color: #fff;
    background: #4f5355;
    border-radius: 50px;
    margin: 0px 10px 33px 10px;
    transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    cursor: pointer;
    text-transform: uppercase;
}

.certificate-wrapper #btn_print,
#btn_print {
    border: none;
    padding: 2px 20px;
    line-height: 24px;
    color: #fff;
    float: right;
    background: #4f5355;
    border-radius: 50px;
    margin: 0px 10px 33px 0px;
    transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    cursor: pointer;
     text-transform: uppercase;
}
.tab #btn_print,
.tab #btn_save {
    padding: 2px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.tab .cert-button #btn_save img, 
.tab .cert-button #btn_print img {
    width: 15px;
    height: 15px;
    margin-left: 7px;
}
.certificate-wrapper .certificate {
    /*min-height: calc(100vh - 155px);*/
    /* padding: 10px 0; */
}
.certificate-wrapper .no-cert-notification,
.cert-button .no-cert-notification {
    line-height: 30px;
    color: #126DB6;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
}
@media (min-width: 320px) and (max-width: 359px) {
    .certificate-wrapper .title-certificate{

    }
    .certificate-wrapper #certificate{
        background-color:#DCD8D2;
    }
    .certificate-wrapper #btn_save
    {

    }
    .certificate-wrapper .img_cer
    {
        width: 100%;
        margin: 20px 0;
    }
    .certificate-wrapper #btn_print
    {

    }
}
@media (min-width: 360px) and (max-width: 374px) {
    
}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (min-width: 414px) and (max-width: 479px) {

}
@media (min-width: 480px) and (max-width: 567px) {

}
@media (min-width: 568px) and (max-width: 626px) {

}
@media (min-width: 627px) and (max-width: 735px) {

}
@media (min-width: 736px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 1023px) {
    .certificate-wrapper .img_cer {
        width: 64%;
        margin: 40px 18%;
    }
    .certificate-wrapper .title-certificate {
        width: auto;
        position: fixed;
        top: 65px;
        left: 150px;
        z-index: 1031;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-weight: normal;
    }
    .certificate-wrapper #txtKeyword {
        float: right;
        border-radius: 0;
    }
    .certificate-wrapper .certificate {
        min-height: 0;
    }
}
@media (min-width: 1024px) {
    .certificate-wrapper .img_cer {
        width: 64%;
        margin: 40px 18%;
    }
    .certificate-wrapper .title-certificate {
        width: auto;
        position: fixed;
        top: 65px;
        left: 220px;
        z-index: 1031;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-weight: normal;
    }
    .certificate-wrapper #txtKeyword {
        float: right;
        border-radius: 0;
    }
    .certificate-wrapper .certificate {
        min-height: 0;
    }
    body{
        background-color: #fdfdfd !important;
    }
}
@media (min-width: 360px) and (max-width: 767px) {
    .certificate-wrapper .img_cer .cert-content {
        line-height: 24px;
    }
    .certificate-wrapper .img_cer .cert-content .cert-label {
        font-size: 18px;
    }
    .certificate-wrapper .img_cer .cert-content .cert-label2 ,
    .certificate-wrapper .img_cer .cert-content .cert-label3,
    .certificate-wrapper .img_cer .cert-content .cert-label4  {
        font-size: 10px;
    }
    .certificate-wrapper .img_cer .cert-content .cert-owner {
        font-size: 18px;
    }
    .certificate-wrapper .img_cer .cert-content .cert-coursename,
    .certificate-wrapper .img_cer .cert-content .cert-date  {
        font-size: 14px;
    }
    .certificate-wrapper .img_cer .cert-content .cert-code {
        font-size: 12px;
    }

    .certificate-wrapper .img_cer.portrait .cert-content {
        line-height: 24px;
    }
    .certificate-wrapper .img_cer.portrait .cert-content .cert-label {
        font-size: 14px;
    }
    .certificate-wrapper .img_cer.portrait .cert-content .cert-label2 ,
    .certificate-wrapper .img_cer.portrait .cert-content .cert-label3,
    .certificate-wrapper .img_cer.portrait .cert-content .cert-label4  {
        font-size: 10px;
    }
    .certificate-wrapper .img_cer.portrait .cert-content .cert-owner {
        font-size: 14px;
    }
    .certificate-wrapper .img_cer.portrait .cert-content .cert-coursename,
    .certificate-wrapper .img_cer.portrait .cert-content .cert-date  {
        font-size: 14px;
    }
    .certificate-wrapper .img_cer.portrait .cert-content .cert-code {
        font-size: 11px;
    }
}