/* General list definition */
.tab.com_joomdle.view-certificate .home {
    min-height: 0;
}
.mob.com_joomdle .home {
    padding-bottom: 40px;
    background-color: #ffffff;
    min-height: calc(100vh - 100px);
}
.com_joomdle.view-mylearning .home,
.com_joomdle.view-courseprogram .home,
.com_joomdle.view-certificate .home {
    padding-bottom: 0px;
}
.joomdle_item_title {
    overflow:auto;
    color: #126db6;
}

/* items shown with no description (4 round corners) */
.joomdle_item_full {
    border-style: solid;
    border-color:#e5e5e5;
    border-width: 1px 1px 1px 1px;
    background: #f2f2f2;
    margin-bottom: 5px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    font-weight:bold;
    padding: 5px;
    margin-bottom: 2px;
    overflow:auto;
}
.joomdle_item_content {
    /*margin-bottom: 10px;*/
    padding-bottom:1px;
}
.joomdle_item_content iframe {
    max-width: 100%;
}
.joomdle_item_content a {
    font-size: 14px;
    color: #494949;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.joomdle_section_list_item_resources .activity-list-item, .div-feedback .activity-list-item {
    margin-bottom: 15px;
}
.joomdle_section_list_item_resources .activity-list-item .activity-image, .div-feedback .activity-list-item .activity-image {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}
.joomdle_section_list_item_resources .activity-list-item > a.activity-link {
    width: calc(100% - 86px);
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px 0 0;
}
.joomdle_section_list_item_resources .activity-list-item > a.activity-link-edit {
    display: block;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px 0 0;
}
.div-feedback .activity-list-item > a.disable-feedback {
    pointer-events: none;
    cursor: default;
    color: #848484;
}
.div-feedback .activity-cert-item {
    text-align: center;
    margin: 20px;
}
.div-feedback .activity-cert-item .btn-get-certificate, .progress-note .activity-cert-item .btn-get-certificate,
.outline-footer .activity-cert-item .btn-get-certificate{
    background: #4F5355;
    border-radius: 100px;
    padding: 6px 24px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
}
.joomdle_list_description { /* subarea for category description */
    background: #F8F7EE;
    color: black;
    margin-bottom: 10px;
    padding: 5px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}
/* Users lists */
.joomdle_user_list_item {
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color:#e5e5e5;
    border-width: 1px 1px 1px 1px;
    background: #f5fcf5;
    margin-bottom: 10px;
    padding-bottom: 5px;
    height: 73px;
}
.joomdle_user_list_item_pic {
    float: left;
    border-style: solid;
    border-color:#e5e5e5;
    border-width: 1px 1px 1px 1px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 64px;
    background: #fff;
}
.joomdle_user_list_item_name {
    padding-left: 100px;
    padding-top: 30px;
}
.joomdle_user_list_item_name a:link {
    font-weight:bold;
}
.joomdle_user_list_item_name a:visited {
    font-weight:bold;
}
.joomdle_user_details {
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 100px;
}
.joomdle_user_pic {
    float: left;
    border-style: solid;
    border-color:#e5e5e5;
    border-width: 1px 1px 1px 1px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    background: #fff;
}
.joomdle-courselist h4 {
    margin-bottom:10px;
}
.joomdle_course_description {
    overflow:auto;
    padding-bottom:1px;
}
ul.joomdle_certificates {
    list-style-type: circle;
}
table.simpletable {
    border: 1px solid;
    border-color:black;
}
.simpletable td {
    border: 1px solid;
    border-color:black;
}
td.simpletable {
    border: 1px solid;
    border-color:black;
}
.joomdle_completion_info {
    overflow:auto;
    padding-left:40px;
    font-size:0.85em;color:#aaa;
}
.tcenter {
    text-align: center;
}
.vcenter {
    vertical-align: middle;
}
.cred {
    color: red;
}
.bold {
    font-weight: bold;
}
.bg {
    padding: 0 50px;
}
.joomdle-mylearning .bg{
    padding: 0px 20px !important;
}
.clear {
    clear: both;
}
.view-myprogress #t3-content {
    padding-left: 5px;
    padding-right: 5px;
}
.mob.my-progress-header {
    width: 100%;
    background: #f8a620;
    color: white;
    padding: 10px 3%;
    overflow: hidden;
}
.mob.my-progress-header .left {
    display: inline-block;
    float:left;
}
.mob.my-progress-header .right {
    display: inline-block;
    float: right;
}
.mob.my-progress-content .rev {
    width: 30px;
    height: 30px;
    background-image: url('/images/icons/atz.png');
    background-position: 0 0;
    background-size: cover;
    float: left;
    transition: all 200ms ease;
}
.mob.my-progress-content .rev.act {
    background-position: 0 35px;
}
.mob.my-progress-content {
    background: white;
    padding: 2% 2% 5% 2%;
    width: 96%;
    margin: 8px 2%;
}
.mob .tbl-my-progress th, .mob  .tbl-my-progress td {
    border: none;
    padding: 10px 3px;
}
.mob .tbl-my-progress td {
    vertical-align: middle;
}
.mob .tbl-my-progress tr {
    padding: 4px 0;
}
.mob .tbl-my-progress tr:nth-of-type(even) {
    background: rgba(248, 166, 32, 0.17);
}
.mob .tbl-my-progress th {
    font-size: 16px;
    line-height: 30px;
}
.mob .tbl-my-progress .num {
    font-size: 12px;
    text-align: center;
    display: block;
}
.mob .tbl-my-progress .course-cat {
    display: block;
    color: #385638;
}
.mob .tbl-my-progress .course-name a {
    color: #385638;
    text-decoration: underline;
}
.mob .tbl-my-progress .course-cat.completed ,
.mob .tbl-my-progress .course-name.completed ,
.mob .tbl-my-progress .course-time.completed {
    font-weight: bold;
}
.mob .tbl-my-progress .course-time {
    font-size: 12px;
}
.mob .tbl-my-progress .course-status {
    font-weight: bold;
}
.mob .tbl-my-progress .course-status.not-yet-started {
    color: #ff0000;
}
.mob .tbl-my-progress .course-status.in-progress {
    color: #f9a620;
}
.mob .tbl-my-progress .course-status.completed {
    color: #009688;
    line-height: 30px;
}
.mob .tbl-my-progress .course-button.completed {
    background: #009688;
    color: white;
    display: block;
    font-weight: bold;
    padding: 4px;
    font-size: 13px;
}
.mob .tbl-my-progress .ct {
    display: block;
    line-height: 30px;
}
.mob .tbl-my-progress .select-sort {
    display: block;
    position: relative;
    background-color: #F8A620;
    color: white;
    font-weight: normal;
    font-size: 14px;
    padding: 0 4px;
    line-height: 30px;
    background-image: url('/images/icons/arrow_down.png');
    background-position: center bottom;
    background-size: 23px;
    background-repeat: no-repeat;
}
.mob .tbl-my-progress .ul-select-sort {
    position: absolute;
    color: #333030;
    list-style: none;
    padding: 0;
    background: rgb(245, 202, 132);
    width: 100%;
    left: 0;
    margin: 0;
    transition: all 300ms ease;
    display: none;
}
.mob .tbl-my-progress .ul-select-sort li {
    padding: 0 4px;
    border-top: 1px dotted #F8A620;
}
.mob .tbl-my-progress .ul-select-sort.hide {
    display: none;
}
.mob .tbl-my-progress .ul-select-sort.show {
    display: block;
}
.mob .form-keyword-sort {
    display: none;
    padding-bottom: 5px;
    background: #F8A620;
    padding-left: 6px;
    padding-right: 6px;
}
.mob .select-sort-bt {
    float: right;
    line-height: 24px;
    border: none;
    color: #A96900;
    background: white;
    margin: 2px;
}
.mob .form-keyword-sort input {
    line-height: 27px;
    height: auto;
    border: none;
    border-radius: 0;
    padding: 0 5px;
}
.tab.my-progress-header .rev {
    width: 30px;
    height: 30px;
    background-image: url('/images/icons/atzw.png');
    background-position: 0 0;
    background-size: cover;
    float: left;
    margin-right: 10px;
    transition: all 200ms ease;
}
.tab.my-progress-header .rev.act {
    background-position: 0 35px;
}
.tab.my-progress-header .left {
    display: inline-block;
    float:left;
    background-color: #F8A620;
    background-image: url('/images/icons/arrow_down.png');
    background-position: center bottom;
    background-size: 26px;
    background-repeat: no-repeat;
}
.tab.my-progress-header .right {
    display: inline-block;
    float: right;
}
.tab.my-progress-content {
    clear: both;
}
.tab .select-sort {
    display: block;
    position: relative;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}
.tab .select-sort-content {
    width: 200px;
    display: block;
    line-height: 32px;
}
.tab.my-progress-header .right input {
    margin-bottom: 10px;
    line-height: 30px;
    height: auto;
    padding: 0 10px;
}
.tab .ul-select-sort {
    position: absolute;
    color: #333030;
    list-style: none;
    padding: 0;
    background: rgb(245, 202, 132);
    width: 100%;
    left: 0;
    margin: 0;
    transition: all 300ms ease;
    display: none;
}
.tab .ul-select-sort li {
    padding: 0 4px;
    border-top: 1px dotted #F8A620;
}
.tab .ul-select-sort.hide {
    display: none;
}
.tab .ul-select-sort.show {
    display: block;
}
.tab .form-keyword-sort {
    display: none;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.tab .select-sort-bt {
    float: right;
    line-height: 24px;
    border: none;
    color: #A96900;
    background: white;
    margin: 2px;
}
.tab .form-keyword-sort input {
    line-height: 27px;
    height: auto;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0 2px;
    width: calc(100% - 4px);
    text-indent: 5px;
}
.tab-my-progress-div {
    border-bottom: 2px solid #eee;
    padding-top: 10px;
}
.tab .tbl-my-progress {
    margin-top: 10px;
}
.tab .tbl-my-progress tbody tr {
    padding: 10px 0;
    background: #eee;
    display: block;
}
.tab .tbl-my-progress tbody td {
    border: none;
}
.tab .tbl-my-progress .course-name a {
    color: #2B2B2B;
    text-decoration: none;
}
.tab .tbl-my-progress tbody .course-img {
    display: block;
    width: 100%;
}
.tab .tbl-my-progress tbody .course-img img {
    width: 100%;
    padding: 0 5%;
}
.tab .tbl-my-progress tbody .td-header {
    width: 100%;
    line-height: 30px;
    padding: 0 10px;
}
.tab .tbl-my-progress tbody .td-header .course-time {
    float:right;
    font-size: 12px;
    color: #656565;
}
.tab .tbl-my-progress tbody .td-header .course-num {
    float:left;
}
.tab .tbl-my-progress tbody .td-header .course-status-img {
    float: right;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.tab .tbl-my-progress tbody .td-header .course-status-img.completed {
    background-image: url('/images/icons/tick_green.png');
}
.tab .tbl-my-progress tbody .td-header .course-status-img.in-progress {
    background-image: url('/images/icons/tick_orange.png');
}
.tab .tbl-my-progress tbody .td-header .course-status-img.not-yet-started {
    background-image: url('/images/icons/tick_red.png');
}
.tab .tbl-my-progress tbody .td-main {
    width: 100%;
    clear: both;
    padding: 0 10px;
}
.tab .tbl-my-progress tbody .td-main .course-name {
    display: block;
    font-weight: bold;
}
.tab .tbl-my-progress tbody .td-main .course-summary {
    display: block;
    font-size: 13px;
}
.tab .tbl-my-progress tbody .td-main .course-button a {
    display: block;
    color: #FF8D00;
    float: right;
    margin-top: 10px;
    font-size: 12px;
}
.joomdle_mylearning_header .left {
    display: inline-block;
    float:left;
}
.joomdle_mylearning_header .right {
    display: inline-block;
    float: right;
}
.joomdle_mylearning_header a {
    color: #FFF;
}
.joomdle_mylearning .course_content .right,
.joomdle_mylearning_program .course_content .right {
    padding: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5e5e5e;
    line-height: 20px;
    font-size: 13px;
    height: 42px;
    overflow: hidden;
}
.view-mycourses .joomdle_mylearning .course_content .right,
.view-mycourses .joomdle_mylearning .course_date,
.view-mycourses .joomdle_mylearning_program .course_content .right,
.view-mycourses .course_timepublish {
    padding: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #696969;
    line-height: 20px;
    font-size: 15px;
    overflow: hidden;
    max-height: 40px;
    position: relative;
}
.joomdle_mylearning .course_category {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
    padding: 10px 5px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.joomdle_mylearning .course_category > span {
    color: #f36a25;
}
.joomdle_mylearning .wrapper {
    margin: 10px 20px 10px 10px;
}
.joomdle_mylearning .wrapper .swiper-container {
    background-color: #FFF;
    padding: 10px;
}
.joomdle_mylearning .wrapper .swiper-slide {
    padding-right: 10px;
}
.joomdle_mylearning .course_title,
.joomdle_mylearning_program .course_title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    line-height: 40px;
        max-height: 40px;
    overflow: hidden;
}
.isMA .joomdle_mylearning  .course_title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    /*line-height: 40px;*/
    max-height: 40px;
    margin: 22px 0px;
    overflow: hidden;
    width: 100%;
}
.view-mycourses .content_c .right p {
  text-align: left;
  font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
  font-size: 15px;
  color: #5E5E5E;
  padding-right: 11px;
} 
.view-mycourses .content_c .right p.limited:before
 {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.view-mylearning .content_c .right p {
  position: relative;
  max-height: 40px;
  text-align: left;
  font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
  font-size: 15px;
  color: #5E5E5E;
  padding-right: 11px;
}

/*.joomdle-mylearning .course_title a.limited:before{
      content: '...';
      position: absolute;
      right: 1em;
      width: 1em;
}*/
/*.view-mylearning .content_c .right p.limited:before
 {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.view-mylearning .content_c .right p.limited:after
 {
  content: '...';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}*/
.joomdle_mylearning .course_date,
.joomdle_mylearning_program .course_date {
    color: #696969;
    float: left;
    font-size: 13px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}
.joomdle_mylearning .course_button,
.joomdle_mylearning_program .course_button {
    float: right;
    padding: 0 10px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 12px;
    border-radius: 100px;
    margin-top: -30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    letter-spacing: 0px;
}

.joomdle_mylearning .course_tablet_left {
    float: left;
    width: 48%;
    border-style: groove;
    border-radius: 5px;
    padding: 10px;
    height: 220px;
}
.joomdle_mylearning .course_tablet_right {
    float: right;
    width: 48%;
    border-style: groove;
    border-radius: 5px;
    padding: 10px;
    height: 220px;
}
.joomdle-course h2.title-course {
    color: #126db6;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 15px 0;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    /*line-height: 35px;*/
    margin: 0;
}
.joomdle-course > .duration {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #494949;
    line-height: 30px;
    margin: 0;
}
.joomdle-course > .overall-grade {
    display: block;
    width: 50%;
    float: right;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #494949;
    line-height: 30px;
    margin: 0;
}
.joomdle-course .enddate {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding: 0 10px;
    margin: 0;
    line-height: 24px;
    text-align: center;
    margin-bottom: 15px;
}
.joomdle-course .course-content-detail {
    width: 100%;
    display: inline-block;
}
.joomdle-course .course-content-detail .content-img {
     width: 35%;
    height: 225px;
    background-position: center center;
    background-size: cover;
    float: left;
    margin: 0 15px 10px 0;
}
@media (max-width: 1025px) {
    .joomdle-course .course-content-detail .content-img {
        width: 50%;
        height: 150px;
        background-position: center center;
        background-size: cover;
        float: left;
        margin: 0 15px 10px 0;
    }
}

.joomdle-course .course-content-detail .content-summary,
.joomdle-course .content-learning-outcome {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 14px;
    color: #494949;
}
.joomdle-course .course-content-detail .content-img img {
    width: 365px;
    height: 225px;
    border-radius: 7px;
}
.limitSum + .expansionWrapper .expandBtn,
.content-learning-outcome .expansionWrapper .expandBtn {
    background-image: url('/media/joomdle/images/icon/courseoutline/Expand30x30.png');
    background-size: 15px;
}
.content-learning-outcome.fullOutcome .expandBtn,
.content-learning-outcome .expansionWrapper .expandBtn.expanded {
    background-image: url('/media/joomdle/images/icon/courseoutline/Unexpand30x30.png');
    background-size: 15px;
    cursor: pointer;
}
.content-summary .expandBtn{
    background-image: url('/media/joomdle/images/icon/courseoutline/Unexpand30x30.png');
    background-size: 15px;
    cursor: pointer;
}
.joomdle-course .joomdle_course_outline {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 17px;
    color: #5e5e5e;
    padding-bottom: 0px;
    clear: both;
}
.joomdle-course .joomdle_course_progress_bar {
    background: #E7E7E7;
    width: 100%;
    height: 20px;
    border-radius: 100px;
    margin-bottom: 15px;
}
.joomdle-course .joomdle_course_progress_bar .course_progress_bar {
    color: #FFF;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    text-align: center;
    border-radius: 100px;
}
.joomdle-course .course-content-detail .content-summary .sumContent{
    width:90%;
    float:left;
    word-break:break-word;
    overflow-y:hidden;
}
.joomdle-course .content-learning-outcome .outcomeContent {
    clear: both;
    width:90%;
    float:left;
    word-break:break-word;
    overflow-y:hidden;
    padding-bottom: 5px;
}
.view-course .joomdle-course .content-learning-outcome .outcomeContent,
.view-course .joomdle-course .content-learning-outcome .full,
.view-course .joomdle-course .content-summary .sumContent,
.view-course .joomdle-course .targetAudience .targetAudienceContent {
    clear: both;
    width: 100%;
    float: none;
    overflow: visible;
    padding: 0;
    line-height: 20px;
    color: #828282;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}
.joomdle-course .content-learning-outcome {
    clear: both;
}
.view-course .joomdle-course .content-learning-outcome .outcomeContent.limited {
    max-height: 100px;
    padding-right: 15px;
    position: relative;
    overflow-y: hidden;
    display: inline-block;
    width: auto;
}
/*.view-course .joomdle-course .content-learning-outcome .outcomeContent.limited:after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
}*/
.joomdle-course .course-content-detail .content-summary .limitSum{
    max-height : 60px;
}
.joomdle-course .course-content-detail .content-summary .expansionWrapper{
    width:10%;
    float:right;
    display: none;
}
.joomdle-course .content-learning-outcome .expansionWrapper {
    /*width:10%;*/
    float:right;
    margin-bottom: 15px;
    margin-top: 15px;
}
.joomdle-course .course-content-detail .content-summary .expansionWrapper .expandBtn,
.joomdle-course .content-learning-outcome .expansionWrapper .expandBtn {
    right: 15px;
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}
.hr-feedback {
    background-color: #126DB6;
    height: 1px;
    opacity: 0.15;
}
.course-progress .mod-progress {
    width: 100%;
    height: 27px;
    border-bottom: 1px solid #50575e;
    display: inline-block;
    margin-bottom: 50px;
}
.course-progress .mod-progress .mod-chart{
    width: 10px;
    border: 1px solid #50575e;
    display: inline-block;
}
.joomdle_item_content .status, .progress-activity .status {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.joomdle_item_content .statuscompleted, .progress-activity .statuscompleted {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.course-progress .progress-title {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 8px;
}

.joomdle_course_progress {
    padding: 5px;
    clear: both;
}
.joomdle_course_progress .activities {
    width: 100%;
    display: flex;
    /*height: 20px;*/
    /*padding-top: 10px;*/
    /*border-top: 1px solid rgba(18, 109, 182, 0.24);*/
    /*margin-top: 20px;*/
    align-items: center;
    padding-bottom: 5px;
}
.joomdle_course_progress .activities:first-of-type {
    margin-top: 0;
}
.joomdle-course .joomdle_course_progress:first-of-type .activities:first-of-type {
    border-top: none;
}
.joomdle_course_progress .grades {
    width: 100%;
    display: inline-block;
    height: 20px;
}
.joomdle_course_progress .activities .title-activity {
    width: calc(100% - 30px);
    float: left;
}
.joomdle_course_progress .activities .time-completed-activity{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
    width: 30%;
    /*float: right;*/
    text-align: right;
    line-height: 24px;
}
.joomdle_course_progress .progress-activity .grade-status {
    width: 65%;
    float: left;
}
.joomdle_course_progress .progress-activity .grade-status p{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
}
.joomdle_course_progress .progress-activity .activity-status {
    /*width: 35%;*/
    float: right;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    text-align: right;
}
.joomdle_course_progress .feedback {
    /*height: 50px;*/
    /*background: #DBDBDB;*/
    border-radius: 5px;
    /*border: 1px solid #979797;*/
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    /*padding: 5px 10px;*/
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}
.joomdle-student-view .student-list-activities {
    border-bottom: 1px solid #85b2ca;
    padding-bottom: 11px;
    margin-bottom: 5px;
}
.view-studentdetail .feedback-content.feedbackcourse {
    margin-bottom: 33px;
}
.contentpane {
    position: relative;
}
.contentpane .btn-prev-wrapper {
    display: block;
}
.contentpane .btn-next-wrapper {
    display: block;
    float:right;
}
.contentpane .btn-prev {
    float: left;
    margin-top: 15px;
}
.contentpane .btn-next {
    float: right;
    margin-top: 15px;
}

.tab .contentpane .btn-prev {
    padding-left: 20px;
}
.tab .contentpane .btn-next {
    padding-right: 20px;
}

.mob .contentpane .btn-prev {
    padding-left: 10px;
}
.mob .contentpane .btn-next {
    padding-right: 10px;
}

p.course-type {
    color: #126DB6;
    background: #f2f2f2;
    position: absolute;
    top: 10px;
    left: 0;
    line-height: 30px;
    padding: 0 10px;
    font-size: 13px;
    display:none;
}
#joomdle-list li {
    display: none;
}
@media (min-width: 1025px) {
    .tab.com_joomdle.view-wrapper .right-column .contentpane.resource {
        margin-top: 65px;
        height: calc(100vh - 145px) !important;
        text-align: center;
    }
    .tab .right-column .contentpane.resource #blockrandom {
        height: 100%;
        width: 800px;
        margin-top: 0px;
    }
}
.mob #blockrandom {
    min-height: 100vh;
    margin-top: 20px;
}

.tab #blockrandom {
    height: calc(100vh - 180px - 100px) !important;
    margin-top: 30px;
}
.tab .multikill{
     margin-top: 0px !important;
}
.right-column #blockrandom {
    /*height: calc(100vh - 65px - 80px);*/
}
.mob #scorm_layout {
    height: 345px !important;
}
@media (min-width:412px) and (max-width:413px) {
    #blockrandom {
        height: 448px!important;
    }
}
@media (min-width:375px) and (max-width:380px) {
    #blockrandom {
        height: 420px!important;
    }
}
@media (min-width:414px) and (max-width:420px) {
    #blockrandom {
        height: 525px!important;
    }
}
.joomdle-mylearning .course_title a {
    color: #5E5E5E;
    letter-spacing: 0px;
    /*line-height: 40px;*/
}
.isMA  .course_title a {
    color: #5e5e5e;
    letter-spacing: 0px;
    /*line-height: 40px;*/
    display: block;
    /*height: 21px;*/
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-weight: bold;
    text-align: left;
    /*padding-right: 13px;*/
    padding-right: 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.joomdle-mylearning .course_button a {
    color: #17A1C3;
}
.joomdle-mylearning  .st_ns {
    color: #9c9a9e;
    font-size: 15px;
    margin-left: 40%;
    margin-top: -7%;
}
.joomdle-mylearning .st_com {
    color: #9c9a9e;
    margin-top: -5%;
    margin-left: 74%;
    font-size: 15px;
}
.joomdle-mylearning .st_rc {
    color: #9c9a9e;
    font-size: 15px;
    line-height: 35px;
    margin-left: 3%;
}
.joomdle-mylearning .status {
    background: #50575e;
    height: 40px;
    width: 102%;
    margin-left: 0;
    margin-bottom: 12px;
}
.joomdle-mylearning #st_rc {
    color: #9c9a9e;
}
.joomdle-mylearning #st_ns {
    color: #9c9a9e;
}
.joomdle-mylearning #st_com {
    color: #9c9a9e;
}

#title_pro {
    color: #EA490E!important;
}
.joomdle-mylearning #title_pro {
    color: #EA490E!important;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    border-style: outset;
    width: 98%;
    border-width: 0px 0px 2px 0px;
}
.joomdle_mylearning_header span.active,
.com_joomdle.view-mycourses .joomdle-add-to-circle .tab_typeCircles span.active {
    font-weight: normal;
    background: #FFFFFF;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #126DB6 !important;
    border-bottom: 2px solid #126DB6;
}
.joomdle_mylearning_header span,
.com_joomdle.view-mycourses .joomdle-add-to-circle .tab_typeCircles span {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #B8B8B8 !important;
    position: relative;
    background-color: #FFFFFF;
    line-height: 38px;
    text-transform: uppercase;
    border-bottom: 2px solid #B8B8B8;
    text-align: center;
    cursor: pointer;
}
.joomdle_mylearning_header .left,
.com_joomdle.view-mycourses .joomdle-add-to-circle .tab_typeCircles .left {
    float: left;
    width: 50%;
    background: #FFFFFF;
    text-align: center;
}
.joomdle_mylearning_header .alone,
.com_joomdle.view-mycourses .joomdle-add-to-circle .tab_typeCircles .alone {
    float: left;
    width: 100%;
    background: #FFFFFF;
    text-align: center;
    color: #458abf;
}
.com_joomdle.view-mycourses .joomdle-add-to-circle .page-title {
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #5e5e5e;
    padding-bottom: 22px;
    border-bottom: 2px solid #B8B8B8;
}
.com_joomdle.view-mycourses .joomdle-add-to-circle .tab_typeCircles {
    height: 40px;
    margin-bottom: 22px;
}
.joomdle-add-to-circle-learning-provider-circles,
.joomdle-add-to-circle-my-circles {
    display: none;
    float: left;
    width: 100%;
}
.create-course .joomdle-add-to-circle-learning-provider-circles,
.create-course .joomdle-add-to-circle-my-circles {
    display: block;
    float: left;
    width: 100%;
}
.joomdle-add-to-circle-learning-provider-circles.active,
.joomdle-add-to-circle-my-circles.active {
    display: block;
}

.view-mycourses .joomdle_mylearning .joomdle_mycourses .courses-ma-title > span.title-text, 
.view-mycourses .joomdle_mylearning .joomdle_courseslp .courses-ma-title > span.title-text {
    color: #126DB6;
}
.view-mycourses .joomdle_mylearning .joomdle_mycourses .courses-ma-title, 
.view-mycourses .joomdle_mylearning .joomdle_courseslp .courses-ma-title {
    padding-left: 0px;
    margin-top: 33px;
}
.joomdle_mylearning_header {
    width: 100%;
    color: white;
    overflow: hidden;
    display: none;
}
.view-mycourses .joomdle_mylearning_header {
    display: block;
}
.joomdle_mylearning_header .left a {
    color: #126DB6;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
}
.joomdle_mylearning_header .right a {
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
}
.joomdle_mylearning_header .right,
.com_joomdle.view-mycourses .joomdle-add-to-circle .tab_typeCircles .right {
    float: right;
    width: 50%;
}
.joomdle_mylearning .swiper-slide-pro{
    height: 313px !important;
    background: #f5f5f5 !important;
    margin-top: 10%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}
.joomdle-mylearning-program .title_pro {
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #126db3;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.joomdle_mylearning_program .swiper-slide {
    margin-bottom: 15px;
}

.t3-content .joomdle-mylearning,
.t3-content .joomdle_mylearning_program {
    width: 100% !important;
    background-color: #f8f8f8;
}

#t3-content .joomdle-mylearning .course-timeend,
#t3-content .joomdle_mylearning_program .course-timeend {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding-top: 5px;
    margin: 0;
    /*line-height: 33px;*/
    letter-spacing: 0px;
}
.joomdle-mylearning .course-search {
    margin: 0 !important;
    padding: 15px !important;
    clear: both;
}
.joomdle-mylearning .arrow-right,
.joomdle-mylearning .arrow-left,
.joomdle-mylearning .arrow-middle {
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #dcdcdc;
    margin-top: -7%;
}
.joomdle-mylearning .arrow-right {
    margin-left: 17%;
}
.joomdle-mylearning .arrow-left {
    margin-left: 82%;
}
.joomdle-mylearning .arrow-middle {
    margin-left: 52%;
}
.view-mycourses .joomdle_mylearning .swiper-slide {
    margin-bottom: 5px;
}
.joomdle_mylearning .swiper-slide .course_content .content_c,
.joomdle_mylearning_program .swiper-slide .course_content .content_c {
    padding: 12px 20px 22px 20px;
    overflow: hidden;
}

.joomdle_mylearning .list_recently_accessed,
.joomdle_mylearning .list_not_yet_started,
.joomdle_mylearning .list_completed ,
.joomdle_mylearning .list_facifitator{
    padding-bottom: 0px;
    display: block;
}
.joomdle_mylearning .list_recently_accessed.active,
.joomdle_mylearning .list_not_yet_started.active,
.joomdle_mylearning .list_completed.active,
.joomdle_mylearning .list_facifitator.active {
    display: block;
}
.joomdle_mylearning .course_content #images, .list_not_yet_started .course_content #images,
 .list_completed .course_content #images,
 .list_facifitator .course_content #images {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-width: 0px;
    background-color: #E6E6E6;
    /*background-image: url(/courses/theme/parenthexis/pix/nocourseimg.jpg);*/
}
.joomdle_mylearning_program .course_content #images {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    /*width: 100%;*/
}

.joomdle-mylearning .joomdle-mylearning-status {
    background: #50575e;
    overflow: hidden;
}
.joomdle-mylearning .joomdle-mylearning-status .recently-accessed,
.joomdle-mylearning .joomdle-mylearning-status .not-yet-started,
.joomdle-mylearning .joomdle-mylearning-status .completed {
    width: 33.33%;
    float: left;
    line-height: 54px;
    position: relative;
    font-size: 12px;
    text-align: center;
    color: #DDD5D5;
    opacity: 0.6;
}
.joomdle-mylearning .joomdle-mylearning-status .recently-accessed.active,
.joomdle-mylearning .joomdle-mylearning-status .not-yet-started.active,
.joomdle-mylearning .joomdle-mylearning-status .completed.active {
    color: #FAFAFA !important;
    opacity: 1 !important;
}
.joomdle-mylearning .joomdle-mylearning-status .arrow-down {
    display: none;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #dcdcdc;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.joomdle-mylearning .joomdle-mylearning-status .recently-accessed.active .arrow-down,
.joomdle-mylearning .joomdle-mylearning-status .not-yet-started.active .arrow-down,
.joomdle-mylearning .joomdle-mylearning-status .completed.active .arrow-down{
    display: block;
}
.joomdle_mylearning .swiper-slide .course_content .content_c .right-arrow,
.joomdle_mylearning_program .swiper-slide .course_content .content_c .right-arrow {
    color: white;
    transform: scale(1.4);
    display: inline-block;
}
.joomdle-mylearning .course_button a,
.joomdle-mylearning-program .course_button a {
    color: #fff;
}

.downloadable > iframe {
    display: none;
}
.downloadable {
    margin-top: 65px;
}
.downloadable > p {
    padding: 15px;
}
.mylearning-img {
    width: 100%;
    background: #fff !important;
    border-radius: 7px 7px 0 0;
}
.view-mylearning .mylearning-img {
    position: relative;
}
.joomdle_mylearning_program .swiper-wrapper .swiper-slide .course-box .course_content .content_c{
    background: #fff !important;
    height: 150px;
    padding: 15px 15px 20px 15px !important;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    border-top: 1px solid #E1E1E1;
}
.mylearning-img #images{
    border-radius: 5px 5px 0px 0px !important;
    border: 1px solid #E6E6E6;
}
.joomdle_mylearning_program .mylearning-img #images{
    border-radius: 3px 3px 0px 0px !important;
    width: 100% !important;
}
.joomdle-overview-header ul > li .arrow-up {
    display: block;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #686C71;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}
/*4555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*4555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*4555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*4555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*4555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
@media (min-width:320px) and (max-width: 479px) {
    .tab_presentation p.MsoListParagraphCxSpLast {
        margin-left: 22% !important;
    }
    .tab_presentation p.MsoListParagraphCxSpMiddle {
        margin-left: 22% !important;
    }
    .tab_presentation p.MsoListParagraphCxSpFirst {
        margin-left: 22% !important;
    }
    .tab_presentation .bodyContent {
        height: 115px !important;
        min-height: 115px !important;
        margin-left: 28%  !important;
        overflow: overlay;
    }
    .joomdle-mylearning .swiper-wrapper{
/*        margin-top: 10px !important;
        margin-left: 10px !important;*/
        height: auto;
    }
}

@media (min-width:320px) and (max-width: 599px) {
    .joomdle-mylearning .list_not_yet_started,
    .joomdle-mylearning .list_recently_accessed,
    .joomdle-mylearning .list_completed,
    .joomdle-mylearning .list_facifitator{
        background: #f8f8f8;
        border:none;
    }
    .joomdle_mylearning .swiper-slide .course_content .content_c,
    .joomdle_mylearning_program .swiper-slide .course_content .content_c{
        height: 140px;
    }
    .joomdle_mylearning_program .mylearning-img #images{
        border-radius: 5px 5px 0px 0px !important;
    }
    .joomdle-mylearning .course_content,
    .joomdle-mylearning .swiper-container {
        /*background: #fff;*/
        padding-top: 15px;
    }
    .joomdle-mylearning .course_content{
        padding-top: 0px;
    }
    .joomdle-mylearning .swiper-container{
        padding-top: 0px !important;
    }
    .joomdle-mylearning .swiper-wrapper {
        /*width: 290px;*/
        float: left;
    }
    .joomdle-mylearning .bg{
        padding: 0px 10px !important;
    }
    .view-mycourses .joomdle_mylearning .swiper-slide {
        /*background: #f5f5f5 !important;*/
        /*width: 100% !important;*/
        border: 1px solid #E6E6E6;
    }
    .joomdle_mylearning .course_content #images,
    .joomdle_mylearning_program .course_content #images {
        /*width: 93.5% !important;*/
        /*margin-left: 10px;*/
        border-radius: 5px 5px 0px 0px;
    }
    .joomdle_mylearning_program .mylearning-img {
        width: 100% !important;
    }

/*    .joomdle_mylearning_header .left a {
        font-size: 13px!important;
    }
    .joomdle_mylearning_header .right a {
        font-size: 13px!important;
    }*/
    .joomdle_mylearning_program .course_content #images {
        /*width: 100%!important;*/
    }
    .joomdle-mylearning .joomdle-mylearning-status .completed {
        width: 30.33%!important;
    }
    .joomdle-mylearning .joomdle-mylearning-status .not-yet-started {
        width: 27.33%!important;
    }
    .joomdle_mylearning .course_title,
    .joomdle_mylearning_program .course_title {

        line-height: 15px!important;
    }
    .joomdle-mylearning .course_title a {
        line-height: 15px!important;
    }
    .joomdle-mylearning .joomdle-mylearning-status .recently-accessed {
        width: 42.33%!important;
    }
    .st_ns {
        margin-top: -8% !important;
    }
    .content_c {
        background-color: #c5c7c9;
    }
    .joomdle_mylearning_header .left a {
        color: #649bc4;
    }
    .joomdle_mylearning_header .right a {
        color: #fff;
    }
    .joomdle-mylearning .status {
        height: 55px;
        width: 103%;
    }
    .joomdle-mylearning   .course_button_pro a {
        color: #cacbcb;
    }
    .joomdle_mylearning .course_button_pro {
        float: right;
        padding-right: 10px;
        margin-top: -10%;
        margin-right: 7%;
        background: #4e5254;
        width: 34%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        border-radius: 15px
    }
    .joomdle-mylearning  .course_button a {
        color:#fff;
    }
    .st_ns {
        color: #9c9a9e !important;
        font-size: 12px !important;
        margin-left: 42% !important;
        margin-top: -11% !important;
    }
    .st_com {
        color: #9c9a9e!important;
        margin-top: -5%!important;
        margin-left: 74%!important;
        font-size: 12px!important;
    }
    .st_rc {
        color: #9c9a9e!important;
        font-size: 12px!important;
        line-height: 53px!important;
        margin-left: 6%!important;
    }
    .bundle {
        z-index: 99999;
        width: 30%!important;
        background: #f5f5f5!important;
        height: 35px!important;;
        margin-left: 0%!important;
        text-align: center;
        margin-top: 6%!important;
        color: #428bca;
        font-size: 13px!important;
        line-height: 33px!important;
        position: relative!important;
    }
    .joomdle-mylearning #title_pro {
        color: #EA490E!important;
        margin-bottom: 3% !important;
        font-weight: bold;
    }
    .joomdle-mylearning .course_title a {
        color: #126DB6;;
    }
     .isMA .course_title a {
        color: #5e5e5e !important;
        height: 17px !important;
    }
    .joomdle-mylearning .list_completed dt {
        font-weight: bold;
        color: #fafafa;
        margin-top: -25%;
        margin-left: 92%;
        font-size: 15px;
    }
    .joomdle-mylearning .list_not_yet_started dt {
        margin-left: 87%;
    }
    .joomdle-mylearning .arrow-right {
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 10px solid #fff;
        margin-top: -3%;
        margin-left: 17%;
    }
    .joomdle-mylearning .arrow-middle {
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #fff;
        margin-top: -4%;
        margin-left: 52%;
    }
    .joomdle-mylearning .arrow-left {
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #fff;
        margin-top: -4%;
        margin-left: 82%;
    }
    .joomdle-mylearning .bundle-left {
        z-index: 99999;
        width: 30%!important;
        background: #f5f5f5!important;
        height: 35px!important;
        margin-left: 0%!important;
        text-align: center;
        margin-top: 6%!important;
        color: #428bca;
        font-size: 13px!important;
        line-height: 33px!important;
        position: relative!important;
    }
    .joomdle-mylearning .bundle-right {
        z-index: 99999;
        width: 30%!important;
        background: #f5f5f5!important;
        height: 35px!important;
        margin-left: 70%!important;
        text-align: center;
        margin-top: 6%!important;
        color: #428bca;
        font-size: 13px!important;
        line-height: 33px!important;
        position: relative!important;
    }
    .joomdle-mylearning .bundle-middle {
        z-index: 99999;
        width: 30%!important;
        background: #f5f5f5!important;
        height: 35px!important;
        margin-left: 40%!important;
        text-align: center;
        margin-top: 6%!important;
        color: #428bca;
        font-size: 13px!important;
        line-height: 33px!important;
        position: relative!important;
    }
    .joomdle_mylearning .course_button,
    .joomdle_mylearning_program .course_button {
        margin-top: 10px;
    }
    .mylearning-img {
        width: 100%;
        height: 125px;
    }
    /*.view-mycourses .mylearning-img {*/
        /*width: 100%;*/
        /*height: 141px;*/
    /*}*/
    .joomdle-mylearning-program .title_pro {
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        color: #126db3;
        font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
        /*margin-top: 30px !important;*/
        background-color: #fff;
    }
}

@media (min-width:600px){
    .joomdle_mylearning .swiper-slide .course_content .content_c,
    .joomdle_mylearning_program .swiper-slide .course_content .content_c{
        height: 140px;
    }

    .joomdle_mylearning .box_learning_mobile .course_content #images,
    .joomdle_mylearning_program .box_learning_mobile .course_content #images {
        /*width: 93.5% !important;*/
        /*margin-left: 10px;*/
        /*border-radius: 5px 5px 0px 0px;*/
    }
}
.com_joomdle.view-courseprogram .joomdle_mylearning_header .left,
.com_joomdle.view-courseprogram .joomdle_mylearning_header .center,
.com_joomdle.view-courseprogram .joomdle_mylearning_header .right {
    width: 33.33%;
    float: left;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    background: #9da4a6;
    color: #fff;
}
.com_joomdle.view-courseprogram .joomdle_mylearning_header .left {
    background: #e1e1e1;
    color: #126DB6;
}
.joomdle_mylearning .swiper-slide .course_content >.content_c_search{
    line-height: 30px;
    padding: 15px !important;
    margin: 0;
    border: none;
    width: 100% !important;
    box-shadow: none;
    background-color: transparent;
    position: relative;
}
.joomdle_mylearning.joomdle_mycourses .course_title_search{
    line-height: 24px !important;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    display: inline-block;
    cursor: pointer;
}
.joomdle-activity-content .joomdle-activitylist .mods-list .mod .activity-detail .view-detail-more {
    background: url(/media/joomdle/images/icon/Gradebook/icon_more.png) no-repeat;
    background-size: 20px 20px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.mob .multikill{
     margin-top: 0px !important;
}
.joomdle_search_course .count_course_not_found {
    padding: 0px;
    text-align: center;
}
.joomdle_search_course .count_course_not_found .search-no-course-title {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #828282;
}
.view-searchcourse .joomdle_searchcourse .swiper-container.swiper-wrapper {
    margin-top: 10px;
    margin-left: 15px;
    height: 280px;
}
.view-searchcourse .joomdle_searchcourse .course_content #images {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-width: 0px;
    background-color: #E6E6E6;
    border-radius: unset !important;
}
.view-searchcourse .joomdle_searchcourse .course_title_search {
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 600;
    color: #484848;
    letter-spacing: 0px;
    font-size: 16px;
    text-align: left;
    padding-right: 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.view-searchcourse .joomdle_searchcourse .scoures_wrapper .scourses_courseinfo .course_content .content_c_search .course_title {
    position: relative;
    overflow: hidden;
    max-height: 40px;
}
.view-searchcourse .joomdle_searchcourse .course_title_search.limited {
    text-align: left;
    /*padding-right: 13px;*/
}
/*.view-searchcourse .joomdle_searchcourse .course_title_search.limited:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0px;
}*/
.view-searchcourse .header-cover-content .header-title span.limited {
    padding-right: 13px;
}
.view-searchcourse .header-cover-content .header-title span.limited:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0px;
}
.view-searchcourse .joomdle_searchcourse .course-timeend
{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding-top: 10px;
    margin: 0;
    /* line-height: 33px; */
    letter-spacing: 0px;
}
.view-searchcourse .joomdle_searchcourse  .course_content .right{
    padding: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #484848;
    line-height: 20px;
    font-size: 16px;
    margin-top: 11px;
    max-height: 24px;
    overflow: hidden;
    position: relative;
}
.view-searchcourse .joomdle_searchcourse  .course_content .circle_course {
    margin-top: 11px;
    font-size: 16px;
    color: #484848;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    max-height: 24px;
}
.view-searchcourse .joomdle_searchcourse .course_content .circle_course .circle_txt.limited,
.view-searchcourse .joomdle_searchcourse .course_content .right .owner_txt.limited {
    padding-right: 13px;
    text-align: left;
}
/*.view-searchcourse .joomdle_searchcourse  .course_content .right .summary_txt.limited:before,
.view-searchcourse .joomdle_searchcourse .course_title_search.limited:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 2px;
}*/
.view-searchcourse .joomdle_searchcourse .owner_course,
.view-searchcourse .joomdle_searchcourse .circle_course span {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
}
.view-searchcourse .message p {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    color: #484848;
}

.divLoadMore {
    margin: 15px 0px;
    background: #FFFFFF;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    float: left;
    width: 100%;
}
.divLoadMore .loading {
    display: inline-block !important;
    margin-left: 15px;
}

.view-mycourses .joomdle-mylearning .ma-action {
    display: none;
    position: absolute;
    top: 40px;
    right: 11px;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 0px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
}
.view-mycourses .joomdle-mylearning .ma-action .btnleft {
    float: left;
}
.view-mycourses .joomdle-mylearning .ma-action .btnright {
    float: right;
}
.view-mycourses .joomdle-mylearning .ma-action .btnleft.copycenter {
    left: 39%;
    position: absolute;
}
.view-mycourses .joomdle-mylearning .jd-inline {
    margin: 15px 15px 15px 15px;
    background-color: #126DB6;
    opacity: 0.15;
    height: 0.95px;
}
.view-mycourses .joomdle-mylearning .icon-lerning-provider {
    background-image: url('/media/joomdle/images/icon/ManageCourses/CS_30x30.png');
    background-size: 14px 13px;
    width: 15px;
    padding: 0px 7px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    height: 15px;
}
.view-mycourses .message-share {
    text-align: center;
    padding-bottom: 20px;
}

.view-mycourses .group-circle,
.view-mycourses .terms_and_policies {
    /*clear: both;*/
    overflow: hidden;
    margin-bottom: 22px;
/*    display: table;
    width: 100%;*/
}
.view-mycourses .group-circle .checkbox-circle {
    padding-top: 0;
    width: 10%; 
    display: table-cell;
    text-align: center;
    min-width: 25px;
    vertical-align: middle;
}
.view-mycourses .terms_and_policies .checkbox-circle {
    padding-top: 0;
    width: 10%;
    display: table-cell;
    text-align: center;
    min-width: 25px;
}
.view-mycourses .joomdle-add-to-circle .listMyCircles,
.view-mycourses .joomdle-add-to-circle .listMyLPCircles {
    padding-bottom: 0px;
    float: left;
}
.view-mycourses .joomdle-add-to-circle .loadMore {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 22px;
}
.view-mycourses .joomdle-add-to-circle .loadMore span {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #126DB6;
    text-transform: uppercase;
    cursor: pointer;
}

.view-mycourses .group-circle .checkbox-circle .status{
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png") no-repeat;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.view-mycourses .terms_and_policies .checkbox-circle .status {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.view-mycourses .group-circle.active .checkbox-circle .status {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") no-repeat;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.view-mycourses .terms_and_policies.active .checkbox-circle .status {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.view-mycourses .group-circle .information,
.view-mycourses .terms_and_policies .information {
    /*padding-left: 20%;*/
    width: 80%;
    vertical-align: middle;
    display: table-cell;
}
.view-mycourses .group-circle .information .group-picture {
    float: left;
    margin-right: 20px;
}
.view-searchcourse .swiper-wrapper {
    margin-top: 10px !important;
}
.view-searchcourse .swiper-wrapper .swiper-slide-mobile{
    margin: auto;
    margin-bottom: 15px;
    width: 90% !important;
    height: 350px !important;
}
.view-searchcourse .coursecircle_info .cc_left {
    width: calc(100% - 66px);
    float: left;
}
.view-searchcourse .search_circle_img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    float: right;
    position: absolute;
    bottom: 22px;
    right: 22px;
    border: 2px solid rgba(130, 130, 130, 0.5);
}
.view-searchcourse .search_circle_img.is_member {
    border: 2px solid #307FBF;
}
.view-searchcourse .icon_joined {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 22px;
    right: 22px;
}
.view-searchcourse .course_detail_popup .header-cover-image {
    overflow: visible;
}
.view-searchcourse .header-cover-content .closetitle img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.view-mycourses .joomdle_mylearning .swiper-slide,
.joomdle_searchcourse .swiper-slide
 {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-width: 0;
    margin-bottom: 5px;
}
.view-mylearning .joomdle_mylearning .swiper-slide{
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 0;
    margin-bottom: 5px;
}
.view-mylearning .joomdle_mylearning .swiper-slide .content_c{
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}
.btAssigncenter{
    left: 40%;
    position: absolute;
}
.view-assessment .modal-content, .joomdle-add-scorm .modal-content,
.view-assignment .modal-content, .view-mycourses .modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 270px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    background: #fff;
    color: #828282;
    padding: 20px;
    border-radius: 5px;
    z-index: 11111;
}
.view-assessment .closetitle img,.joomdle-add-scorm .closetitle img
,.view-assignment .closetitle img,.view-mycourses .closetitle img{
    position: fixed;
    top: -10%;
    right: -2%;
    width: 18px;
}
.view-progress .joomdle-course .progress-note {
    margin-bottom: 33px;
}
.view-progress .joomdle-course .progress-user {
    width: 100%;
    margin-bottom: 33px;
    height: 86px;
}
.view-progress .joms-list--pic.col-xs-3 {
    min-width: 86px;
    margin-right: 30px;
    padding: 0px;
    width: 86px;
}
.view-progress .joms-list--info.col-xs-9 {
    width: calc(100% - 116px);
}
.view-progress .joms-list--pic img {
    margin-left: 0;
    max-width: 100%;
    border-radius: 100px;
    width: 86px;
    height: 86px;
}
.view-progress .joms-list--info {
    padding: 12px 0px;
}
.view-progress .joms-list--info > p {
    margin: 6px 0px;
}
.progress-note .activity-cert-item {
    text-align: right;
    margin: 22px 0px;
}
.course-outline .outline-section-name {
    color: #828282;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
}
.course-outline .outline-activities-list .outline-activity-item .activity-name a{
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #828282 !important;
    font-size: 16px !important;
}
.com_joomdle.view-progress .joomdle_course_progress,
.com_joomdle .joomdle-course .course-outline,
.com_joomdle.view-studentdetail .joomdle_course_progress,
.com_joomdle.view-viewactivity .joomdle_course_progress {
    background: #FAFCFE;
    border: 0.5px solid #828282;
    border-radius: 6px;
    padding: 11px;
    margin-bottom: 15px;
}
.com_joomdle.view-progress .joomdle_course_progress .progress-activities,
.com_joomdle .joomdle-course .course-outline .outline-activities-list,
.com_joomdle.view-studentdetail .joomdle_course_progress .progress-activities {
    background: #FFFFFF;
    border: 0.5px solid #828282;
    border-radius: 6px;
    padding: 11px 12px;
    margin-top: 11px;
}
.com_joomdle.view-progress .joomdle_course_progress .progress-activities .progress-activity,
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item, 
.com_joomdle.view-studentdetail .joomdle_course_progress .progress-activities .progress-activity {
    border-bottom: 1px solid #DCE9F4;
    margin-bottom: 5px;
}
.com_joomdle.view-progress .joomdle_course_progress .progress-activities .progress-activity:last-child,
.com_joomdle.view-studentdetail .joomdle_course_progress .progress-activities .student-list-activities:last-child {
    border: none;
    padding: 0px;
    margin-bottom: 0px;
}
.com_joomdle.view-progress .joomdle_course_progress .progress-activities .progress-activity:last-child .activities,
.com_joomdle.view-viewactivity .joomdle_course_progress .progress-activities .progress-activity:last-child .activities {
    padding-bottom: 0px;
}
.com_joomdle.view-progress .joomdle_course_progress .activities .title-activity .activity-image,
.joomdle-student-view .student-activity .activities .activity-image {
    display: flex;
    align-items: center;
}
.com_joomdle.view-progress .joomdle_course_progress .activities .title-activity .activity-image img,
.joomdle-student-view .student-activity .activities .activity-image img,
.view-viewactivity .progress-activity .activities .activity-image img {
    width: 15px;
    float: left;
    margin-right: 11px;
}

.com_joomdle.view-viewactivity .joomdle_course_progress .progress-activities .progress-activity {
    margin-bottom: 11px;
    border: 0.5px solid #828282;
    border-radius: 6px;
    padding: 11px 12px;
}
.com_joomdle.view-viewactivity .joomdle_course_progress .progress-activities .progress-activity:last-child {
    margin-bottom: 0px;
}
.com_joomdle.view-viewactivity .joomdle_course_progress .progress-activities {
    background: #FFFFFF;
    margin-top: 11px;
}

.com_joomdle.view-progress .progress-course_comment {
    margin-bottom: 33px;
}
.activitie-grades .grade-title {
    margin-bottom: 5px;
}
.select-grade .grade-option, .select-grade-course .grade-option, .select-grade-student .grade-option {
    border: 1px solid #B8B8B8;
    border-radius: 100px;
    font-size: 13px;
    height: 30px;
    vertical-align: middle;
    width: 160px;
    padding: 0px 10px;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 100%;
    -webkit-appearance: button;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item {
    padding: 8px;
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item .activity-image {
    width: 3%;
    float: left;
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item .activity-name {
    width: 75%;
    display: inline-block;
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item .activity-image img{
    width: 16px;
    height: 16px;
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item:last-child {
    border: none;
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item .status {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png") no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 22px;
    
}
.com_joomdle .joomdle-course .course-outline .outline-activities-list .outline-activity-item .statuscompleted {
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 22px;
}
.outline-footer {
    float: right;
    padding-bottom: 10px;
    width: auto;
}
.outline-footer .activity-list-item {
    width: auto;
    float: right;
    padding: 0px;
    padding-top: 0px;
}
.outline-footer .activity-cert-item {
    width: auto;
    float: left;
    padding: 6px;
}
.outline-footer .activity-list-item .pTitleFeedback{
    background: #4F5355;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.show-more, .show-less {
    cursor: pointer;
}
.joomdle-mylearning .notification{
        background: #126DB6;
    top: -13px;
    left: 96%;
    width: 20px;
    height: 20px;
    text-align: center !important;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
}
.joomdle-mylearning .notiflearn{
    display:none;
}
.joomdle-mylearning .notiflearn span{
    display:none;
}
.joomdle_search_course .mylearning-img {
    height: 165px;
}
.joomdle_search_course .scourses_courseinfo {
    margin-bottom: 11px;
}
.joomdle_searchcourse .scourses_courseinfo .course_content {
    position: relative;
}
.joomdle_searchcourse .scourses_courseinfo .btSubscribe,
.joomdle_searchcourse .scourses_courseinfo .btUnsubscribe {
    text-transform: uppercase;
    background-color: #4F5355;
    color: #fff;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    padding: 0 10px;
    line-height: 30px;
    border-width: 0px;
}
.joomdle-activity-content .chartSub {
    text-align: center;
    display: flex;
    margin: 11px auto;
}
.joomdle-activity-content .chartSub a {
    margin: auto;
}
.joomdle-activity-content .chartSub .activityCompleted {
    width: 200px;
    height: 200px;
    margin-top: 22px;
    text-align: -webkit-center;
    text-align: -moz-center;
    border: 2px solid #8fb2d1;
    background-color: #FFFFFF;
    border-radius: 100%;
    padding-top: 7px;
    margin: auto;
    cursor: pointer;
}
.com_joomdle.view-viewactivity .joomdle_course_progress .activities .title-activity .activity-image {
    display: flex;
}
.view-viewactivity .progress-activity .activities .activity-image img {
    margin-top: 2px;
}
.joomdle-overview-content .message-title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    color: #484848;
    margin-bottom: 11px;
}
.joomdle-overview-content .list-completed,
.joomdle-overview-content .list-notcompleted {
    padding-top: 33px;
    border-top: 1px solid #DCE9F4;
}
.joomdle-overview-content .title_list {
    margin-bottom: 33px;
}
.joomdle-overview-content .title_list .title_txt {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #484848;
}
.joomdle-overview-content .title_list .title_num {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #484848;
}
.joomdle-overview-content .title_list .icon_dropdown {
    background-image: url(/media/joomdle/images/icon/Progress/DropdownArrow.png);
    background-size: 22px 22px;
    content: "";
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    float: right;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.joomdle-overview-content .title_list .icon_uparrow {
    background-image: url(/media/joomdle/images/icon/Progress/UpArrow.png);
    background-size: 22px 22px;
    content: "";
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    float: right;
    position: relative;
    top: 1px;
    display: none;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.course_progress_bar{
    background-color: #337ab5;
    height: 100%;
    position: absolute;
    left: 0;
}
#completed-percent,#percent{
    position: relative;
    z-index: 1;
}
.header-cover-content .joomdle_course_progress_bar{
    width: 100px;
    height: 24px;
    background-color: #bdc2c5;
    top: 13px;
    right: calc(14% - 100px);
    position: absolute;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding-right: 4px;
}
.view-activitydetail .joomdle-overview-content .joomdle-list.setgrade .list-user-grade {
    width: 100%;
    margin-top: 0px;
}
.view-activitydetail .joomdle-overview-content .gradeActivitySelect .gradeSelected.disable {
    border: 1px solid #D8D8D8;
    color: #D8D8D8;
    background-image: url(/media/joomdle/images/icon/Progress/DropdownArrow_disable.png);
}
.view-activitydetail .somediv {
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 25%;
    right: auto;
    min-width: 270px;
    min-height: 300px;
    width: 50%;
    height: auto;
    text-align: center;
    color: white;
    padding: 20px 0% 25px 3%;
    z-index: 1002;
}
.view-activitydetail .somediv .closetitle {
    position: absolute;
    z-index: 1001;
    padding-top: 30px;
    margin-left: 80%;
    z-index: 22222;
}
.view-activitydetail .somediv .header-cover-image {
    height: 90px;
}
.view-activitydetail .somediv .course-menu,
.view-activitydetail .somediv .header-cover-content .back-left {
    display: none;
}
.view-activitydetail .somediv .header-cover-content .header-title {
    text-align: left;
    display: block;
}
.view-activitydetail .somediv .header-cover-content .header-title h2 {
    padding-top: 30px;
}
.view-activitydetail .somediv iframe {
    position: relative;
    z-index: 1000;
    border: none;
}
.view-activitydetail .joomdle-overview-content .title_list .btn-download-csv {
    height: 14px;
    margin-right: 5px;
}
.view-activitydetail .joomdle-overview-content .title_list {
    height: 27px;
    margin-bottom: 33px;
}
.view-activitydetail .joomdle-overview-content .title_list .title_text {
    height: 27px;
    width: 115px;
    float: left;
    display: flex;
    align-items: center;
}
.view-activitydetail .joomdle-overview-content .title_list .title_icons {
    float: right;
    position: relative;
}
.view-activitydetail .joomdle-overview-content .title_list .title_icons.icon_assign {
    top: -18px;
}
.view-activitydetail .joomdle-overview-content .submission-download {
    float: left;
}

.view-mylearning .placeholder-loading {
    width: 100%;
    display: flex;
}
.view-mylearning .ph-item {
    margin: 0;
    width: calc(50% - 7px);
    padding: 0;
}
.mob.view-mylearning  .ph-item {
    margin: 0;
    width: 100%;
    padding: 0;
}
.view-mylearning .ph-item + .ph-item {
    margin: 0 0 0 14px;
}
.view-mylearning .ph-picture {
    margin: 0;
    height: auto;
}
.tab.view-mylearning .ph-picture:before {
    content: '';
    padding-top: 54%;
    display: block;
}
.mob.view-mylearning .ph-picture {
    height: 200px;
}
.view-mylearning .ph-picture + .ph-col-12 {
    padding: 22px 20px 22px 20px;
    height: 117px;
}
.view-mylearning .ph-row div {
    height: 12px;
    margin-bottom: 10px;
}
.view-mylearning .ph-row div.big {
    height: 16px;
    margin-bottom: 15px;
}