.collapsible-actions,.fitem_feditor,.filemanager-toolbar,.fheader,.collapseexpand,#id_header_onlinetext,.fp-pathbar,.fp-restrictions,.fp-navbar,.ftoggler,.fitemtitle{
    display: none;
    border: none;
}
.boxaligncenter{
	border: none !important;
}
table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form + div, div.backup-section + form, #fgroup_id_buttonar{
	background-color: #fff !important;
	border-top: none !important;
}
.fm-empty-container{
	border: dashed 3px #bbb !important;
}
.fm-noitems{
	border-top: none !important;
}
#btn-cst{
	background: #4F5355 !important;
	border-radius: 30px;
	color :#fff;
	text-shadow: none;
	border: none;
	padding: 6px 15px;
}
#btn-cst-cancel{
	border-radius: 30px;
	text-shadow: none;
	border: 1px solid #ddd;
	padding: 6px 15px;
}

.fp-content{
	margin-left:0px;
	padding-left: 0px;
	width: 100%;
}
.filemanager-container{
	width: 80%;
	margin-left: 0px;
}