.tab .errorpage
{
background: url(/images/404errorwithfilter.png) no-repeat center center fixed;
-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover !important;
    background-position: center !important;
}

.tab .error_404
{
    color: #ffffff;
    text-align: center;
    margin-top: 135px;
}

.tab .error_404 .error_404_top{
    font-size: 40px;
    letter-spacing: 6.67px;
}

.tab .error_404 .error_404_center{
    font-size: 16px;
    margin-top: 70px;
    font-weight: bold;
}

.tab .error_404 .error_404_center a{
    color:#ffffff;
    text-decoration: underline;
}

.tab .error_404 .error_404_bottom{
    font-size: 16px;
    padding-top: 135px;
}
.tab .error_404 .error_404_bottom a{
    color:#ffffff;
    text-decoration: underline;
}

.mob .home
{
    background: url(/images/404errorwithfilter.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover !important;
    background-position: center !important;
}

.mob .error_404
{
    color: #ffffff;
    text-align: center;
    margin-top: 160px;
}

.mob .error_404 .error_404_top{
    font-size: 40px;
    letter-spacing: 6.67px;
}

.mob .error_404 .error_404_center{
    font-size: 16px;
    margin-top: 70px;
    font-weight: bold;
}

.mob .error_404 .error_404_center a{
    color:#ffffff;
    text-decoration: underline;
}

.mob .error_404 .error_404_bottom{
    font-size: 16px;
    padding-top: 160px;
}
.mob .error_404 .error_404_bottom a{
    color:#ffffff;
    text-decoration: underline;
}