.path-mod-scorm .top {vertical-align: top;}
.path-mod-scorm .scorm-left {text-align: left;}
.path-mod-scorm .scorm-center {text-align: center;}
.path-mod-scorm .scorm-right {text-align: right;}
.path-mod-scorm .scoframe {position: relative;width: 100%;height: 100%;}

#page-mod-scorm-player #scormobject {height: 100%;}
#page-mod-scorm-player #scormtop {position: relative;width: 100%;height: 30px;}
#page-mod-scorm-player #scormbrowse {position: absolute;left: 5px;top: 0px;}
#page-mod-scorm-player #scormnav {position: absolute;right: 5px;top: 0px;text-align: center;top: 3px;width: 100%;}
#page-mod-scorm-player #scormbox {width: 74%;height: 100%;position: absolute;right: 0px;top: 0px;}
#page-mod-scorm-player #scormpage {position: relative;width: 100%;height: 100%;}
#page-mod-scorm-player #scormpage #toctree {position:relative;width:100%; height: 100%;overflow-x: hidden;overflow-y: hidden;}
#page-mod-scorm-player #tocbox {position: relative;left: 0px;width: 100%;height: 100%;font-size: 0.8em;}
#page-mod-scorm-player #toctree { overflow: visible; }
#page-mod-scorm-player #tochead {position: relative;text-align: center;top: 3px;height: 30px;}
#page-mod-scorm-player #scormpage .scoframe {frameborder: 0;}

#page-mod-scorm-player .toc,
#page-mod-scorm-player .no-toc {width: 100%;}
#page-mod-scorm-player .structlist  {list-style-type: none;white-space: nowrap;}
#page-mod-scorm-player .structurelist {position: relative;list-style-type: none;width: 96%;margin:0;padding:0;}
#page-mod-scorm-player .structurelist ul {padding-left: 0.5em;margin-left: 0.5em;}

#page-mod-scorm-view .structurelist  {list-style-type: none;white-space: nowrap;}
#page-mod-scorm-view .structurelist  {list-style-type: none;white-space: nowrap;}

#page-mod-scorm-player #altfinishlink {font-size: 140%;border: 0px; padding: 0px; }
#page-mod-scorm-player #scormmode  {float: left; border: 0px; }
#page-mod-scorm-player.pagelayout-popup #page-content .region-content {padding: 0px; }
#page-mod-scorm-player.pagelayout-popup #page-wrapper {width:100%;}
#page-mod-scorm-player .yui-layout-scroll div.yui-layout-bd {overflow:visible;}
#page-mod-scorm-player .yui-layout-unit-left div.yui-layout-bd {overflow:auto;}

.path-mod-scorm.forcejavascript .scorm-center { display:none;}
.path-mod-scorm.forcejavascript .toc { display:none;}
.path-mod-scorm.forcejavascript #scormpage #tocbox { display:none;}

.path-mod-scorm.jsenabled .forcejavascriptmessage {display: none;}
.path-mod-scorm.jsenabled .scorm-center { display:block;}
.path-mod-scorm.jsenabled .toc { display:block;}
.path-mod-scorm.jsenabled #scormpage #tocbox { display:block;}
#page-mod-scorm-userreport table .c2 { word-wrap:break-word; word-break: break-all;}

/* Puts scorm content-level scroll bars on desktop popup. */
#page-mod-scorm-player.pagelayout-popup { overflow: hidden; }

#page-mod-scorm-player #scorm_content {
    border: 1px solid #828282;
}

/* Mobile. */
.ui-mobile-viewport { overflow: scroll !important; }
/* Yes, hard-coded is bad, but it is better than always cropping to screen size. Change these value if you want. */
.ui-mobile-viewport #scorm_object { width: 1200px; height: 1500px; }
.ui-mobile-viewport .mymobilecontent { overflow-x: visible; }
.ui-mobile-viewport #toctree { overflow-x: visible !important; overflow-y: visible !important; }
.ui-mobile-viewport .yui-layout-doc { overflow: visible; }
#scorm_object {
    /*height: 320px;*/
    height: calc(100vh - 50px) !important;
}
.scorm-title {
    color: #0066cc;
    font-size: 18px;
    margin: 10px 60px;
    text-align: center;
    display: none;
}
#page-mod-scorm-player .breadcrumb-button {
    margin-top: 10%;
    display: none;
}

#page-mod-scorm-player #scormpage {
    /*margin-top: 7%;*/
}
/* #page-mod-scorm-player #region-pre,
 #page-mod-scorm-player #page-footer {
     display: none;
 }*/
.yui-layout-unit-center, .yui-layout-wrap {
    left: 0px !important;
    width: 100% !important;
}
#page-mod-scorm-player .yui-layout-scroll div.yui-layout-bd {
    width: 100% !important;
    border: none;
}
body {
    padding-top: 0px !important;
}
@media (min-width:320px) and (max-width:330px)
{
    #scorm_content {
        /*height: 323px!important;*/
        overflow: hidden!important;
        overflow-y: auto!important;
        -webkit-overflow-scrolling: touch;
    }
    #scorm_object {
        /*height: 321px !important;*/
    }

    #page-mod-scorm-player #scormpage {
        /*height: 306px!important;*/
    }

}
@media (min-width:331px) and (max-width:350px)
{
    #scorm_object {
        /*height: 321px !important;*/
    }
}
@media (min-width:412px) and (max-width:413px)
{
    #scorm_object {
        /*height: 388px !important;*/
    }
}
@media (min-width:414px) and (max-width:420px)
{
    #scorm_object {
        /*height: 465px !important;*/
    }
}
@media (min-width:430px) and (max-width:1200px)
{
    #scorm_object {
        /*height: 305px !important;*/
    }
}
@media (min-width:375px) and (max-width:380px)
{
    #scorm_object {
        /*height: 362px !important;*/
    }
}
@media (min-width:360px) and (max-width:370px)
{
    .breadcrumb {
        display: none;
    }
    #scorm_object {
        /*height: 305px !important;*/
    }
}

/*#page-mod-scorm-view div#intro {*/
/*display: none;*/
/*}*/
/*#page-mod-scorm-view .main {*/
/*display: none;*/
/*}*/
/*#page-mod-scorm-view #scormviewform {*/
/*display: none;*/
/*}*/

.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    background-color: #fff !important;
}

.yui-skin-sam .yui-layout{
    background-color: #fff !important;
}