.course-content ul.parenthesis {margin:0;}
.course-content ul.parenthesis li.section {list-style: none;margin:0 0 5px 0;padding:0;}
.course-content ul.parenthesis li.section .content {margin:0 40px;}
.course-content ul.parenthesis li.section .left {float:left;}
.course-content ul.parenthesis li.section .right {float:right;}
.course-content ul.parenthesis li.section .left,
.course-content ul.parenthesis li.section .right {width:40px;text-align:center;padding: 6px 0;}
.course-content ul.parenthesis li.section .right img.icon { padding: 0 0 4px 0;}
.course-content ul.parenthesis li.section .left .section-handle img.icon { padding:0; vertical-align: baseline; }

.course-content .course-header h2.category-title {
         font-family: 'Open Sans Condensed'; font-weight: bold; font-size: 35px; padding-left: 35px; text-transform: uppercase; color: #006827;
    }
    @media (max-width:767px) {
        .course-content .course-header h2.category-title {
            font-family: 'Open Sans Condensed'; font-weight: bold; font-size: 19px; padding-left: 0px; text-transform: uppercase; color: #006827;
        }
        h3.course-fullname{
        	padding-left: 0px !important;
        }
    }
    @media (max-width: 480px) {
        .course-content .course-header h2.category-title {
            font-family: 'Open Sans Condensed'; font-weight: bold; font-size: 19px; padding-left: 0px; text-transform: uppercase; color: #006827;
        }
        h3.course-fullname{
        	padding-left: 0px !important;
        }
    }