
.joomdle-create-question .true-false-question,
.joomdle-create-question .matching-question,
.joomdle-create-question .multiple-choice-question,
.joomdle-create-question .text-response-question {
    display: none;
}

.tab .joomdle-course-assessment .status,
.tab .lastPurpose .lastPurposestatus,
.true-false-question .btTF .status,
.divPreview.preview-true-false .status,
.divPreview.preview-multiple-choice .previewMCOptions .previewStatus {
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png");
    width: 30px;
    height: 30px;
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}
.tab .joomdle-course-assessment .firstPurpose .hasError{
    background-image: url(/media/joomdle/images/icon/Completed_Uncompleted/reduncheck.png);
}
.mob .joomdle-course-assessment .firstPurpose .hasError{
    background-image: url(/media/joomdle/images/icon/Completed_Uncompleted/reduncheck.png);
}

.true-false-question .btTF .status{
    margin-right: 0;
    margin-top: -2px;
}

.true-false-question .formTF .btTF .true{
    margin-bottom: 10px;
}

.true-false-question .formTF .btTF .chosen{
    clear: both;
}

.tab .inputPurpose_des {
    padding-left: 36px;
}

.tab .joomdle-course-assessment .status.selected,
.tab .lastPurpose .lastPurposestatus.actived,
.true-false-question .btTF .chosen .status {
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png");
}

.joomdle-course-assessment .spanstatus {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}

.inputPurpose_des p {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    display: inline;
}

.tab .joomdle-course-assessmen {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 30px 30px 135px 30px;
    min-height: calc(100vh - 80px);
}

.tab .joomdle-course-assessment .txtTitle {
    width: 100%;
}

.tab .joomdle-course-assessment textarea {
    height: 80px;
    border-radius: 15px;
    width: 100%;
    line-height: 22px;
    padding: 6px 12px;
    resize: none;
}

.tab .joomdle-course-assessment .inputPurpose {
    margin-bottom: 11px;
}

.tab .joomdle-course-assessment .purpose {
    display: none;
}

.tab .joomdle-course-assessment .labelAssessment {
    text-align: center;
    color: #126DB6;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.tab .assessment-list {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 30px 30px 135px 30px;
    /*margin-top: 65px;*/
    min-height: calc(100vh - 80px);
}

.tab .assessment-list,
.tab .questions-bank.visible {
    padding: 30px 30px;
}

.tab .assessment-list .divAddAssessment .btAddAssessment {
    position: absolute;
    right: 30px;
    top: 20px;
}

.tab .joomdle-quiz-ar .formQuizAR .btAddQuestions {
    position: absolute;
    bottom: 75px;
    float: none;
    right: 30px;
}

.tab .assessmentDescription:last-of-type {
    margin-top: 30px;
}

.tab .quizTime {
    margin-top: 15px;
    overflow: hidden;
    width: 32%;
    float: left;
    margin-right: 40px;
}

.tab .quizTime .quizOpenTest {
    float: left;
    width: calc(50% - 20px);
    margin-right: 40px;
}

.tab .quizTime .quizEndTest {
    float: right;
    width: calc(50% - 20px);
}

.tab .joomdle-quiz-ar .yesnoIcon {
    background: #126db6;
    height: 29px !important;
    width: 48px !important;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    float: left;
    margin-left: 30px;
}

.tab .joomdle-quiz-ar .yesnoIcon .block{
    background: #fff;
    height: 25px !important;
    width: 25px !important;
    position: absolute;
    border-radius: 50px;
    top: 2px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.joomdle-quiz-ar .yesnoIcon.no > .block {
    right: calc(100% - 28px);
}

.tab .joomdle-quiz-ar .yesnoIcon.no {
    background-color: #bbbbbb;
}

.tab .joomdle-create-question .divPreview {
    position: relative;
    padding: 33px 14% 0px 14% !important;
    min-height: calc(100vh - 80px - 180px);
}

.view-assessment .divPreview .questionTitle,
.divPreview.preview-matching .previewStatementText {
    color: #5e5e5e;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    margin-top: 10px;
}

.tab .divPreview .status,
.tab .divPreview .previewStatus {
    margin-top: 0 !important;
}

.tab .divPreview .previewDescription {
    text-align: left;
}

.divPreview .questionDescription {
    color: #5e5e5e;
    font-size: 16px;
    text-align: left;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.divPreview .questionAnswer {
    color: #5e5e5e;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}

.divPreview .previewSubmit {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 30px;
    position: relative;
    top: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background: #bbbbbb !important;
    display: block;
}

.view-assessment .divPreview .previewBack.hv{
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    top: 20px;
    text-transform: uppercase;
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background-color: #4e5355;
    margin-bottom: 33px;
}

.tab .divPreview .previewAnswer {
    line-height: 30px;
}

.tab .divPreview .divPreviewOptionSelect {
    display: inline-block;
    max-width: 175px;
    position: relative;
}

.tab .divPreview .divPreviewOptionSelect .ulPreviewOptionSelect {
    position: absolute;
    top: calc(100% + 1px - 15px);
    right: 0;
    display: none;
    z-index: 1;
    width: 100%;
    padding: 15px 10px 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px #a7a7a7
}

.tab .divPreview .divPreviewOptionSelect .previewOptionInput {
    margin-bottom: 0;
}
.divPreview .divPreviewOptionSelect .previewOptionInput.clicked {
	position: relative;
	z-index: 2;
}

.divPreview .previewTFButtons .previewTrue,
.divPreview .previewTFButtons .previewFalse {
    line-height: 30px;
    clear: both;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}

.divPreview .previewTFButtons .previewTrue .status,
.divPreview .previewTFButtons .previewFalse .status{
    position: relative;
    top: 2px;
}

.tab .divPreview .divPreviewOptionSelect .previewOptionInput {
    background-image: url(/images/icon-dropdown.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: calc(100% - 10px);
    padding: 0 40px 0 10px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #fff !important;
    border: 1px solid rgba(130, 130, 130, 0.5) !important;
    width: 100%;
    font-size: 16px;
    color: #828282;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
	line-height: 36px;
}

.divPreview .ulPreviewOptionSelect li.previewOption {
    color: #828282;
    font-size: 16px;
    font-weight: 300;
    background: #fff !important;
    line-height: 36px !important;
    border-radius: 0 !important;
    width: 100%;
    padding: 0 !important;
    cursor: pointer;
    box-shadow: none !important;
    transition: all 100ms linear;
    /*border: 1px solid rgba(130, 130, 130, 0.5) !important;*/
}
.divPreview .ulPreviewOptionSelect li.previewOption:hover {
	background: #126db6 !important;
	color: #fff;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	width: calc(100% + 20px);
}
.divPreview .ulPreviewOptionSelect li.previewOption + li.previewOption {
	border-top: 1px solid rgba(18, 109, 182, 0.1);
}

.formQuizAR .choiceQuestionType .btQuestionTF,
.formQuizAR .choiceQuestionType .btQuestionMC,
.formQuizAR .choiceQuestionType .btQuestionMA {
    margin-right: 10px;
}

.tab .formQuizAR .choiceQuestionType .btQues {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 20px 0 20px;
    background: #2f7ec0;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 10px;
    margin-top: 10px;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25); */
    letter-spacing: 0px;
    /* background-image: url('/images/icon_ar_right_white.png'); */
    background-size: 12px;
    background-position: 90%;
    background-repeat: no-repeat;
}

.tab .formQuizAR .btPreview,
.tab .formQuizAR .btAddQuestions,
.tab .formQuizAR .buttons,
.tab .formQuizAR .hidden,
.tab .formQuizAR .lastPurpose,
.tab .formQuizAR .choiceQuestionType,
.tab .formQuizAR .listQuestions,
.tab .formQuizAR .gradingScheme,
.tab .formQuizAR .divGradePercentage {
    display: none;
}

.joomdle-quiz-ar .listQuestions label {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 0px;
}

.tab .formQuizAR .active {
    display: block;
    /*padding-bottom: 15px;*/
}

.formQuizAR .choiceQuestionType{
    clear: both;
    padding-top: 33px;
}

.tab .formQuizAR .gradingScheme {
    /*padding-bottom: 15px;*/
    clear: both;
    margin-top: 33px;
}

.tab .formQuizAR .gradingScheme .divSetPercent {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}

.tab .formQuizAR .gradingScheme .divSetPercent .divGrade {
    float: left;

}

.tab .formQuizAR .gradingScheme .divSetPercent .divGrade > label {
    font-weight: normal;
}

.tab .joomdle-quiz-ar .divGrade > span {
    color: #B3B3B3;
    margin-left: 5px;
}

.tab .formQuizAR .gradingScheme .divSetPercent .txtGrade {
    width: 25px;
    text-align: center;
    padding: 0px;
    display: inline-block;
    margin-left: 10px;
    background-color: #fff;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    border: none;
    font-size: 16px;
    color: #5e5e5e;
}

.tab .joomdle-quiz-ar {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 33px 14% 0px 14%;
    min-height: calc(100vh - 80px - 180px);
}

.tab .joomdle-quiz-ar > h1 {
    text-align: center;
    color: #126DB6;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin: 0 0 10px 0;
    line-height: 30px;
}

.joomdle-quiz-ar .txtTitle,
.joomdle-create-question .formTF .txtTFQuestion,
.joomdle-create-question .formTF .txtaTFFeedback,
.text-response-question .txtaTRQuestion,
.text-response-question .txtTRResponse,
.multiple-choice-question .txtaMCQuestion,
.multiple-choice-question .txtAnswerContent,
.multiple-choice-question .txtaMCQuestionFeedback,
.matching-question .txtaMatchingQuestion,
.matching-question .options .statement,
.matching-question .options .option,
.matching-question .txtaMatchQuestionFeedback {
    border-radius: 10px;
    background: #fff !important;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    line-height: 15px;
    color: #828282;
    height: 34px;
    width: 100%;
}

.joomdle-quiz-ar .txtaDescription,
.text-response-question .txtTRAnswer,
.divPreview .previewQuestions .previewTextareaAnswer {
    min-height: 80px;
    border-radius: 10px;
    background: #fff !important;
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 100%;
    font-size: 16px;
    color: #828282;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    resize: none;
    overflow-x: hidden;
    min-width: unset;
}

.text-response-question .txtTRAnswer{
    margin-bottom: 0 !important;
}


.tab .joomdle-quiz-ar.hidden {
    display: none;
    left: 100%;
}

.tab .joomdle-quiz-ar .question .questionIcon {
    width: 25px;
    height: 25px;
    /*background-image: url('/media/joomdle/images/question.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    margin-right: 15px;
}

.tab .joomdle-quiz-ar .question .questionIcon > img {
    width: 30px;
    height: 30px;
}

.assessment_title,
.assessment_des,
.firstPurpose label,
.lastPurposeDes,
.choiceQuestionType .choiceQuesTitle,
.divGradingScheme label,
.formTFQues,
.formTFAns,
.formTFFeed,
.assessmentTitle {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
}

.formTFFeed{
    margin-top: 33px;
}

.tab .assessment_des,
.tab .firstPurpose label,
.tab .lastPurposeDes,
.tab .joomdle-create-question .formTFAns {
    margin-top: 33px;
}

.mob .assessment_des,
.mob .firstPurpose label,
.mob .lastPurposeDes,
.mob .joomdle-create-question .formTFAns {
    margin-top: 33px;
}
.joomdle-create-question .formTF .txtTFQuestion,
.joomdle-create-question .formTF .txtaTFFeedback {
    margin-bottom: 0;
}

.hvn_BtEditCourse img {
    display: none !important;
}

/*here*/
.mob .questions-bank.visible {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 15px 120px 15px;
    min-height: calc(100vh - 50px - 50px);
}

.mob .questions-bank.visible {
    padding: 20px 15px;
}

.mob .assessment-list {
    margin-top: 65px;
}

.mob .joomdle-quiz-ar .formQuizAR .btAddQuestions {
    position: absolute;
    bottom: 60px;
    float: none;
    right: 15px;
}

.mob .assessmentDescription:last-of-type {
    margin-top: 60px;
}

.mob .joomdle-quiz-ar > h1,
.mob .true-false-question .formTF > h1,
.mob .matching-question .formMatching > h1,
.mob .multiple-choice-question .formMC > h1,
.mob .text-response-question .formTR > h1 {
    text-align: center;
    color: #126DB6;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin: 0 0 10px 0;
    line-height: 30px;
}

.mob .true-false-question,
.mob .matching-question,
.mob .multiple-choice-question,
.mob .text-response-question {
    padding: 33px 15px 75px 15px;
}

.mob .yesnoIcon {
    margin-top: 0;
}

.mob .joomdle-quiz-ar .yesnoIcon {
    background: #126db6;
    height: 29px !important;
    width: 48px !important;
    border-radius: 50px;
    /* position: relative; */
    cursor: pointer;
    /* float: right; */
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    /* right: calc(40%); */
    float: left;
    margin-left: 20px;
}

.mob .joomdle-quiz-ar .yesnoIcon .block{
    background: #fff;
    height: 25px !important;
    width: 25px !important;
    position: absolute;
    border-radius: 50px;
    top: 2px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.mob .formQuizAR .gradingScheme {
    /*padding-bottom: 15px;*/
    clear: both;
    margin-top: 33px;
}

.mob .formQuizAR .gradingScheme .divSetPercent .txtGrade {
    width: 25px;
    text-align: center;
    padding: 0px;
    display: inline-block;
    /*margin-left: 10px;*/
    height: 40px;
    border-radius: 15px;
    background-color: #fff;
    border: none;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}

.mob .joomdle-quiz-ar .yesnoIcon.no {
    background-color: #bbbbbb;
}

.mob .divPreview .status,
.mob .divPreview .previewStatus {
    margin-top: 0 !important;
}

.mob .divPreview .previewDescription {
    text-align: left;
}

.mob .divPreview .questionDescription {
    line-height: 22px;
}

.mob .divPreview .previewAnswer {
    line-height: 30px;
}

.mob .divPreview .divPreviewOptionSelect {
    display: inline-block;
    max-width: calc(100% - 30px);
    position: relative;
}

.mob .divPreview .divPreviewOptionSelect .ulPreviewOptionSelect {
    position: absolute;
    top: calc(100% + 1px - 15px);
    right: 0;
    display: none;
    z-index: 1;
    width: 100%;
    padding: 15px 10px 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px #a7a7a7;
}

.mob .divPreview .divPreviewOptionSelect .previewOptionInput {
    margin-bottom: 0;

}

.mob .divPreview .divPreviewOptionSelect .previewOptionInput {
    background-image: url(/images/icon-dropdown.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: calc(100% - 10px);
    padding: 0 40px 0 10px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgba(130, 130, 130, 0.5) !important;
    width: 100%;
    font-size: 16px;
    color: #828282;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    background-color: #fff !important;
    line-height: 36px;
}

/*.mob .joomdle-quiz-ar .listQuestions {*/
/*padding-top: 10px;*/
/*padding-bottom: 15px;*/
/*}*/

.mob .formQuizAR .listQuestions {
    clear: both;
}
.mob .formQuizAR .listQuestions label{
    margin-top: 23px;
}

.mob .formQuizAR .btPreview,
.mob .formQuizAR .btAddQuestions,
.mob .formQuizAR .buttons,
.mob .formQuizAR .hidden,
.mob .formQuizAR .lastPurpose,
.mob .formQuizAR .choiceQuestionType,
.mob .formQuizAR .listQuestions,
.mob .formQuizAR .gradingScheme,
.mob .formQuizAR .divGradePercentage {
    display: none;
}

.mob .formQuizAR .active {
    display: block;
}

.mob .formQuizAR .gradingScheme .divSetPercent {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}

.mob .formQuizAR .gradingScheme .divSetPercent .divGrade > label {
    font-weight: normal;
}

.mob .formQuizAR .choiceQuestionType .btQues {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 20px 0 20px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background: #2f7ec0;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    letter-spacing: 0px;
    background-size: 12px;
    background-position: 90%;
    background-repeat: no-repeat;
}

.mob .joomdle-quiz-ar {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 15px 120px 15px;
    min-height: calc(100vh - 50px - 50px);
}

.mob .joomdle-course-assessment {
    padding: 0 15px;
}

.mob .joomdle-course-assessment .inputPurpose {
    margin-bottom: 11px;
}

.mob .joomdle-course-assessment .btNext {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    /*margin-top: 10px;*/
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    letter-spacing: 0px;
    float: right;
}

/*.mob .joomdle-course-assessment .btNext {*/
/*background-image: url('/images/icon_ar_right_white.png');*/
/*background-size: 12px;*/
/*background-position: 90%;*/
/*background-repeat: no-repeat;*/
/*}*/

.mob .joomdle-course-assessment .purpose {
    display: none;
}

.mob.joomdle-course-assessment .labelAssessment {
    text-align: center;
    color: #126DB6;
    font-weight: bold;
    font-size: 18px;
}

.mob .joomdle-course-assessment .labelAssessment {
    margin-bottom: 20px;
}

.mob .joomdle-course-assessment .status,
.mob .lastPurpose .lastPurposestatus {
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png");
    width: 30px;
    height: 30px;
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}

.mob .joomdle-course-assessment .status.selected,
.mob .lastPurpose .lastPurposestatus.actived {
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png");
}

.mob .inputPurpose_des {
    padding-left: 36px;
}

.mob .joomdle-course-assessment .assessmentDescription,
.mob .joomdle-course-assessment .inputPurpose {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.mob .joomdle-course-assessment {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 33px 15px 120px 15px;
    min-height: calc(100vh - 50px - 50px - 180px);
}

.tab .joomdle-course-assessment .btNext,
.tab .joomdle-course-assessment .btCancel1,
.tab .joomdle-course-assessment .btCancel,
.tab .joomdle-course-assessment .btPreview,
.tab .joomdle-course-assessment .btSave,
.tab .joomdle-create-question .true-false-question .btCancel,
.tab .joomdle-create-question .true-false-question .btPreview,
.tab .joomdle-create-question .true-false-question .btSave,
.tab .joomdle-create-question .multiple-choice-question .btCancel,
.tab .joomdle-create-question .multiple-choice-question .btPreview,
.tab .joomdle-create-question .multiple-choice-question .btSave,
.tab .joomdle-create-question .matching-question .btCancel,
.tab .joomdle-create-question .matching-question .btPreview,
.tab .joomdle-create-question .matching-question .btSave,
.tab .joomdle-create-question .text-response-question .btCancel,
.tab .joomdle-create-question .text-response-question .btPreview,
.tab .joomdle-create-question .text-response-question .btSave {
    border: none;
    padding: 5px 14px;
    text-align: center;
    border-radius: 31px;
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    margin-top: 33px;
    margin-bottom: 33px;
}

.tab .btCancel1,
.tab .joomdle-course-assessment .btCancel,
.tab .joomdle-course-assessment .btPreview,
.tab .joomdle-create-question .true-false-question .btCancel,
.tab .joomdle-create-question .true-false-question .btPreview,
.tab .joomdle-create-question .multiple-choice-question .btCancel,
.tab .joomdle-create-question .multiple-choice-question .btPreview,
.tab .joomdle-create-question .matching-question .btCancel,
.tab .joomdle-create-question .matching-question .btPreview,
.tab .joomdle-create-question .text-response-question .btCancel,
.tab .joomdle-create-question .text-response-question .btPreview {
    margin-right: 10px;
}

.mob .joomdle-course-assessment .btNext,
.mob .joomdle-course-assessment .btCancel1,
.mob .joomdle-course-assessment .btCancel,
.mob .joomdle-course-assessment .btPreview,
.mob .joomdle-course-assessment .btSave,
.mob .joomdle-create-question .true-false-question .btCancel,
.mob .joomdle-create-question .true-false-question .btPreview,
.mob .joomdle-create-question .true-false-question .btSave,
.mob .joomdle-create-question .multiple-choice-question .btCancel,
.mob .joomdle-create-question .multiple-choice-question .btPreview,
.mob .joomdle-create-question .multiple-choice-question .btSave,
.mob .joomdle-create-question .matching-question .btCancel,
.mob .joomdle-create-question .matching-question .btPreview,
.mob .joomdle-create-question .matching-question .btSave,
.mob .joomdle-create-question .text-response-question .btCancel,
.mob .joomdle-create-question .text-response-question .btPreview,
.mob .joomdle-create-question .text-response-question .btSave {
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 12px 0 12px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 33px;
    letter-spacing: 0;
    background-size: 12px;
    margin-bottom: 33px;
}

.mob .btCancel1,
.mob .joomdle-course-assessment .btCancel,
.mob .joomdle-course-assessment .btPreview,
.mob .joomdle-create-question .true-false-question .btCancel,
.mob .joomdle-create-question .true-false-question .btPreview,
.mob .joomdle-create-question .multiple-choice-question .btCancel,
.mob .joomdle-create-question .multiple-choice-question .btPreview,
.mob .joomdle-create-question .matching-question .btCancel,
.mob .joomdle-create-question .matching-question .btPreview,
.mob .joomdle-create-question .text-response-question .btCancel,
.mob .joomdle-create-question .text-response-question .btPreview {
    margin-right: 10px;
}

.formQuizAR .btAddQuestions {
    float: right;
    margin: 10px 0;
    padding: 0 20px 0 20px;
}

.formQuizAR .btCancel {
    float: left;
    background: #EFECEC;
    box-shadow: none;
    color: #4F5355;
}

.formQuizAR .btPreview {
    /*float: left;*/
}

.formQuizAR .btSave {
    float: right;
}

.lastPurpose .assess_type,
.divGradePercentageDes,
.divGrade span {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5e5e5e;
}

.divGrade label,
.btTF span {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}

/*.divGradingScheme {*/
/*padding-bottom: 10px;*/
/*}*/

.lastPurpose .lastPurposestatus.actived{
    top: -3px;
    position: relative;
}

.tab .true-false-question,
.tab .multiple-choice-question,
.tab .matching-question,
.tab .text-response-question {
    padding: 33px 14% 0px 14%;
}

.tab .true-false-question .buttons,
.tab .multiple-choice-question .buttons,
.tab .matching-question .buttons,
.tab .text-response-question .buttons {
    /*position: absolute;*/
    /*bottom: 30px;*/
    /*width: calc(100% - 60px);*/
    /*text-align: right;*/
}

.tab .assessment-list {
    padding: 20px 30px 20px 30px;
}

.joomdle-create-question .btTF span{
    margin-left: 10px
}

.mob .divPreview.visible,
.mob .divPreview.preview-true-false.visible,
.mob .divPreview.preview-multiple-choice
.mob .divPreview.preview-matching
.mob .divPreview.preview-text-response {
    height: 100%;
    left: 0;
    display: block;
    padding: 33px 15px 15px 15px;
    min-height: calc(100vh - 50px - 180px - 50px);
}


.multiple-choice-question .answer .status,
.multiple-choice-question .respond .status {
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png");
    width: 32px;
    height: 32px;
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.multiple-choice-question .answers .answer .order,
.divPreview.preview-multiple-choice .previewMCOptions .previewAnswer,
.statementTitle,
.optionTitle,
.previewStatement,
.previewAnswerText {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}
.statementTitle,
.optionTitle {
    margin-top: 10px;
}

.multiple-choice-question .answers .answer .order{
    margin-right: 5px;
}

.divPreview.preview-multiple-choice .previewMCOptions .previewAnswer{
    margin-top: 5px;
}

.divPreview.preview-multiple-choice .previewMCOptions .previewStatus {
    position: relative;
    top: 2px;
}

.multiple-choice-question .answer.active .status,
.multiple-choice-question .respond.active .status {
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png");
}

.multiple-choice-question .txtAnswerContent{
    float: right;
    display: inline;
}

.multiple-choice-question .answers .answer{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.tab .joomdle-create-question .divPreview.preview-multiple-choice.visible{
    padding: 33px 14% 70px 14% !important;
}

.joomdle-create-question .multiple-choice-question .txtRespondContent{
    display: none !important;
}

.joomdle-course-assessment .listQuestions .question {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #126DB6;
    font-size: 16px;
    padding: 0 !important;
}

.joomdle-course-assessment .listQuestions .question .glyphicon-menu-down{
    font-size: 18px !important;
    top: 3px !important;
}


.matching-question .btAddQuestions {
    border: none;
    padding: 2px 20px !important;
    text-align: center;
    border-radius: 31px;
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans-Light, sans-serif !important;
	font-weight: 300;
    font-size: 16px !important;
    text-transform: uppercase;
    margin-top: 33px;
    float: right;
}

.divPreview.preview-matching .questionDescription{
    margin-bottom: 33px;
}

.divPreview.preview-matching .previewStatementText{
    margin-top: 20px;
    margin-bottom: 0px
}

.previewDescriptionTitle {
    margin-top: 33px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #5e5e5e;
}

.divPreview.preview-assessment .previewDescription{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}
.view-assessment .divPreview .questionTitle {
    margin-top: 33px;
}
.red {
    color: rgb(210, 19, 40) !important;
    font-size: 17px !important;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}

.tab .formQuizAR .listQuestions {
    clear: both;
}
.tab .formQuizAR .listQuestions label{
    margin-top: 23px;
}

.questionArrowDown .ulQuestionAction{
    text-align: center;
}

.tab .joomdle-quiz-ar .listQuestions .questionAction{
    display: none;
    position: absolute;
    left: 50%;
    background-color: white;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    z-index: 1111;
    width: 100px;
}

.mob .joomdle-quiz-ar .listQuestions .questionAction{
    z-index: 1111;
    width: 39%;
    position: absolute;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 0px;
    display: none;
    max-width: 130px;
}


.questionAction .ulQuestionAction li,
.listQuestions .ulQuestionAction li, .menuAction .ulMenuAction li{
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif !important;
	font-weight: 300;
    color: #5e5e5e !important;
}

.menuAction {
    display: none;
    position: relative;
    right: 30%;
    background-color: white;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    z-index: 1111;

}

.joomdle-quiz-ar .buttons .btSave,
.joomdle-quiz-ar .buttons .btPreview,
.joomdle-quiz-ar .buttons .btCancel,
.matching-question .buttons .btSave,
.matching-question .buttons .btPreview,
.matching-question .buttons .btCancel {
    margin-bottom: 33px;
}
.view-assessment .joomdle-remove{
    z-index: 11112;
    display: none;

}
.view-assessment .joomdle-remove button.no{
    margin-right: 10px;
}
.mob .view-assessment .divPreview .previewBack.hv{
    margin-bottom: 33px;
}
.mob .divGrade{
    padding: 0;
}

.multiple-choice-question .answer .status.error1{
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/reduncheck.png") !important;
}

.joomdle-quiz-ar .formQuizAR ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
.joomdle-quiz-ar .formQuizAR li.question {
    display: flex;
    margin-bottom: .5em;
    margin-left: 2em;
}
.joomdle-quiz-ar .formQuizAR li.question::before {
    display: inline-block;
    content: counter(item) ") ";
    counter-increment: item;
    margin-left: -2em;
    margin-right: 11px;
}

.joomdle-quiz-ar .questionName {
    display: -webkit-inline-box;
}

.joomdle-quiz-ar .questionArrowDown{
    display: -webkit-inline-box;
    padding-left: 10px;
}
.mob .view-assessment .divPreview .previewBack.hv{
    margin-bottom: 33px;
}
.lastPurpose .lastPurposestatus{
    cursor: default !important;
}

.divGradingScheme label{
    float: left;
}

.divGradePercentage.active{
    clear: both;
}

.choiceQuesTitle.error1{
    color: red;
}
.tab.view-assessment .back-question{
    width: 20%;
    float: left;
    height: 45px;
}

.tab.view-assessment .back-question img{
    width: 12.5px;
    height: 22px;
    margin: 13px 70%;
}

.mob.view-assessment .back-question{
    width: 20%;
    float: left;
}

.mob.view-assessment .back-question img{
    width: 12.5px;
    height: 22px;
    margin: 13px 20%;
}
.matching-question .options label.error{
    color : #bb5a66 !important;
}
.matching-question .options input.error{
    border-color : #bb5a66 !important;
    box-shadow : 0 0 2px #bb5a66 !important;
}

.multiple-choice-question .answers input.hasError1{
    border-color : #bb5a66 !important;
    box-shadow : 0 0 2px #bb5a66 !important;
}
