.tab.view-course .course-outline span.shape,
.tab.view-coursecontent .course-content span.shape{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #fff;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -1px;
    right: 50%;
    z-index: 1;
    transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
}

.tab .create_activity > div[class^="create_"] {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.create_activity > div[class^="create_"] > a {
    display: inline-block;
}

.create_activity > div[class^="create_"] > a:hover {
    text-decoration: none;
}

.tab .create_activity > div[class^="create_"] img {
    margin-top: 5px;
}

.tab .course-outline div.icon-bg{
    background-image: url("/media/joomdle/images/icon/courseoutline/CourseOutline_Active.png");
}

.tab #t3-content,
.tab #t3-mainbody{
    padding-bottom: 0;
}

.tab .btFeedback {
    float: left;
}
.tab .joomdle_course_section {
    position: relative;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 11px;
    border: 1px solid rgba(130, 130, 130, 0.5);
    background-color: #FAFCFE;
}

.tab .btEditCourseInfo{
    float: right;
}

.tab .btPreviewCourse,
.tab .btUnPreviewCourse,
.tab .btUnPreviewActivity,
.tab .btEditCourseInfo {
    margin-bottom: 30px;
}
.tab .divEditCourse {
    position: absolute;
    top: 0;
    right: 0;
}
.tab .btPreviewCourse,
.tab .btUnPreviewCourse,
.tab .btUnPreviewActivity,
.tab .btEditCourseInfo,
.tab .btEditCourse,
.tab .btFeedback,
.tab .btCancel2,
.tab .btSave {
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 4px 16px;
    border: 1px;
    cursor: pointer;
}
.tab .btCancel2,
.tab .btPreviewCourse {
    margin-right: 10px;
}

.tab .btCourseContent {
    margin-top: 0px;
    border: none;
    color: #FFFFFF;
    padding: 0 18px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    letter-spacing: 0px;
    cursor: pointer;
    float: left;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}
.tab .btEditCourse {
    margin: 0;
}
.tab .popupAddAnActivity {
    display: block;
    position: fixed;
    text-align: center;
    color: #126DB6;
    z-index: 10001;
    top: 44%;
    left: 203px;
    width: calc(100% - 251px);
}
.tab .popupAddAnActivity li {
    line-height: 34px;
}
.tab .popupAddAnActivity .ulAddAnActivity{
    padding-left:0px;
}
.tab .popupAddAnActivity .ulAddAnActivity > a:first-of-type {
    border-top-right-radius: 75px;
    border-top-left-radius: 75px;
    background: #fff;
    padding: 0 15px;
    display: block;
}
.tab .popupAddAnActivity .ulAddAnActivity > a:nth-of-type(2) {
    display: block;
    padding: 0 15px;
    background: #fff;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}
.tab .popupAddAnActivity .chooseFromCC {
    border-top: 1px solid #B9B9B9;
    /*padding: 0 10px;*/
}
.tab .popupAddAnActivity .btCancel {
    border-radius: 100px;
    margin-top: 10px;
    background: #fff;
    padding: 0 15px;
}
.tab .joomdle_section_list_item_title {
    line-height: 30px;
    padding: 0;
    margin-bottom: 10px;
}

.tab .right-column #t3-mainbody {
    background-color: #FDFDFD;
}

.tab .joomdle-course input[type="text"] {
    width: calc(100% - 90px);
    padding: 0px 10px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    line-height: 1.42857143;
    color: #828282;
    background-color: #fff;
    background-image: none;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 33px;
    box-shadow: none;
    overflow: hidden;
    border: 1px solid rgba(130, 130, 130, 0.5);
}

.tab .joomdle-course {
    margin-top: 0px;
    padding: 30px 30px 20px 30px;
    /*min-height: calc(100vh - 80px - 65px);*/
    background-color: #fff;
    padding-left: 14%;
    padding-right: 14%;
}

.tab .button_control{
    display: inline-block;
    width: 100%;
}
.tab .certificate_section{
    border-top: 2px solid #e5eff7;
    margin-bottom: 0px;
    padding-top: 20px;
}

.tab .description_feedback,
.tab .description_certificate{
    display: inline;
    font-size: 16px;
    color: #126DB6;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
/*.certificate_section:hover p.description_certificate{
    color: #126db6;
    text-decoration: underline;
}
.feedback_section:hover p.description_feedback{
    color: #126db6;
    text-decoration: underline;
}*/
.tab .feedback_section .activity-image,
.tab .certificate_section .activity-image {
    position: relative;
    width: 30px !important;
    left: 0px !important;
    top: -3px !important;
}

.tab .feedback_section.learner {
    width: 100%;
}
.tab .feedback_section.learner .pTitleFeedback {
    width: 50%;
    margin-left: 60px;
}
.tab .feedback_section.learner .activity-list-item {
    width: 50%;
    margin-top: -35px;
}

.tab a.disable{
    pointer-events: none;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}

.tab .feedback_section.disable:hover p.description_feedback{
    color: #494949 !important;
    text-decoration: none !important;
    cursor:default !important;
}
.tab .feedback_section.disable:hover{
    cursor:default !important;
}

.tab input.section_default {
    margin-left: 37px !important;
}

.tab .joomdle_learning_outcome,
.tab .content-summary .sumHeader,
.tab .targetAudience .targetHeader{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    clear: both;
    margin-bottom: 2px;
    margin-top: 15px;
    float: left;
    display: inline;
    width: 100%;
}

.tab .next-question-after img,
.tab .next-question-before img {
    width: 12px;
    height: auto;
    position: relative;
    cursor: pointer;
}

.tab .uploadedImage{
    margin: 0 auto 15px auto;
    display: block;
    border-radius: 4px;
    width: 400px;
    height: 300px;
    object-fit: contain;
}
.tab .iframeLinkVideo {
    width: 560px;
    height: 315px;
    max-width: 100%;
    margin-top: 20px;
}
.tab .preview_page .divPreview{
    padding: 0px;
    text-align: center;
    position: static;
    display: block;
}
.tab .uploadedFile{
    line-height: 30px;
    border: none;
    padding: 0 15px;
    white-space: nowrap;
    max-width: 100%;
    /*text-align: right;*/
    overflow: hidden;
    float: inherit;
    background-color: #f8f8f8;
    margin: 22px 0px;
    clear: both;
    text-align: center;
}
.tab .uploadedFile a {
    padding: 5px 10px 5px 10px;
    background-color: #efecec;
    border-radius: 31px;
}

.tab .time-left{
    color: red;
    clear: both !important;
}

.tab .addTopic{
    margin-top: 20px;
    margin-bottom: 15px;
}
.tab .create_activity .create_page img,
.tab .create_activity .create_scorm img,
.tab .create_activity .create_assessment img,
.tab .create_activity .create_assignment img{
    height: 30px;
}

.tab .btAddAnActivity .create_activity .create_page img,
.tab .btAddAnActivity .create_activity .create_scorm img,
.tab .btAddAnActivity .create_activity .create_assessment img,
.tab .btAddAnActivity .create_activity .create_assignment img{
    height: 30px;
    opacity: 0.5;
}

.tab .connectedSortable.edit{
    min-height: 10px;
    padding-left: 0px;
    margin-left: 15px;
}

.tab .closetitle img, #search-message .closesearch img {
    position: fixed;
    top: -10%;
    right: -2%;
    width: 18px;
}

.tab .joomdle_course_section.preview {
    margin-bottom: 15px !important;
}
.tab .joomdle_course_section.topic_default.invisible{
    display: none;
}
.tab #formUpdateActivity ::-webkit-input-placeholder { /* Chrome */
    color: #126db6 !important;
    opacity:  1;
}
.tab #formUpdateActivity ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #126db6 !important;
    opacity:  1;

}
.tab #formUpdateActivity :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #126db6 !important;
    opacity:  1;
}
.tab #formUpdateActivity ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #126db6 !important;
    opacity:  1;
}
.tab #formUpdateActivity :-ms-input-placeholder { /*    /* border: 1px solid #828282; */
    border-radius: 6px;
    padding: 11px;
    margin-bottom: 15px;
    border: 1px solid rgba(130, 130, 130, 0.5);
    color: #126db6 !important;
    opacity:  1;

}

.tab .manage-preview{
    /*margin-top: -30px;*/
    padding: 0 14%;
}
.tab .joomdle-course.preview{
    min-height: 0px;
    padding-bottom: 0px;
    /*position: absolute;*/
}
.joomdle_item_content img {
    width: auto;
    height: 25px;
}

.tab .joomdle_section_list_item_resources .activity-list-item .activity-image{
    position: relative;
    left: 12px;
    vertical-align: top;
    width: 0;
}

.tab .joomdle_course_section.preview .joomdle_section_list_item_resources .activity-list-item .activity-image{
    position: unset;
}

.tab .connectedSortable input[type="text"] {
    padding-left: 32px !important;
    width: calc(100% - 95px) !important;
}

.tab .activity-delete img.optionCheckSection {
    width: 26px;
    height: 26px;
    top: 3px;
    margin-right: 11px;
    position: relative;
    cursor: pointer;
}

.tab .activity-delete img.optionCheckModule {
    width: 26px;
    height: 26px;
    margin-right: 11px;
    cursor: pointer;
}

.tab ul.connectedSortable.ui-sortable{
    padding: 15px 0 0 20px;
}

.tab .activity-delete{
    float: left;
}
.tab .activity-sort{
    position: absolute;
    right: 11px;
}

.tab .activity-list-item a{
    position: absolute;
    margin-top: 5px;
}
.tab .activity-list-item .status{
    float: right;
}

.tab .activity-sort img {
    width: 39px !important;
    height: 26px !important;
    cursor: pointer;
}

.tab img.btAddAnActivityText {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    cursor: pointer;
}
.tab .form-group {
    margin-bottom: 0;
}
.tab .div-input-topic-title {
    width: calc(100% - 45px);
    display: inline-block;
}
.tab .for-admins-buttons input[type="text"]{
    /*width: calc(100% - 45px) !important;*/
    width: 100%;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}

.tab .btAddAnActivity {
    border: 1px solid rgba(130, 130, 130, 0.5);
    border-radius: 6px;
    padding: 11px;
    background-color: #FAFCFE;
}

.tab .create-activity-name-box .activity-name{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #126DB6;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.tab .create_activity {
    margin-top: 15px;
    border-radius: 6px;
    padding: 11px;
    border: 1px solid rgba(130, 130, 130, 0.5);
    margin-left: 20px;
    margin-right: 15px;
}

.tab .joomdle-page-content > h1{
    margin-top: 35px;
}

.tab .joomdle-course .joomdle_course_outline {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    margin-bottom: 10px;
    clear: both;
}

.tab .sumHeader{
    margin-top: 0 !important;
}

.tab .pTitleCertificate, .pTitleFeedback {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
}

.tab .certificate_section:hover,
.tab .feedback_section:hover {
    cursor:pointer;
}

.tab .pTitleSection {
    color: #828282;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
}

.tab .joomdle_course_section.preview .connectedSortable{
    background: #FFFFFF;
    border: 1px solid rgba(130, 130, 130, 0.5);
    border-radius: 6px;
    padding: 11px 12px;
    margin-top: 11px;
}

.tab #pTitleSection0{
    position: static;
}

.tab .activity-name-box {
    position: relative;
    top: 0px;
    text-align: center;
}
.tab .certificate_section a,
.tab .feedback_section a{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 14px;
    color: #126db6;
}
.tab .connectedSortable li:last-child {
    margin-bottom: 0px;

}
.tab .joomdle_section_list_item_resources .activity-list-item .activity-image .activity-name {
    font-size: 9px;
    color: #383838;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.tab .activity-list-item.activity_normal.preview .status {
    background: url(/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png) no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center;
    position: absolute;
    align-self: self-start;
    right: 44px;
    margin-top: 5px;
}

.tab .divEditCourseInfo {
    text-align: center;
    clear: both;
}

.tab .block-feedback-preview {
    width: auto;
    float: right;
    padding: 0px;
    padding-top: 0px;
}
.tab .block-feedback-preview .pTitleFeedback {
    background: #4F5355;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

.tab .preview_assignment .title .activity,
.tab .preview_assessment .previewTitle {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #5e5e5e;
    font-size: 17px;
}
.tab .preview_assignment .title {
    padding-top: 33px;
    padding-bottom: 33px;
}

.tab .preview_assignment .intructions_title {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #5e5e5e;
}

.tab .preview_assignment .intructions .text_to_html {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
}

.tab .preview_assignment .date {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.tab .preview_assignment .date .status1 {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.tab .preview_assignment .line {
    margin-top: 33px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 33px;
}

.tab .preview_assignment .submission_status,
.tab .preview_assignment .grade_status {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.tab .preview_assignment .submission_status .status1,
.tab .preview_assignment .grade_status .status1 {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.tab .preview_assignment .bttn {
    margin-top: 33px;
    text-align: center;
}

.tab .preview_assignment .btn-download {
    background: #bbbbbb;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.tab .preview_assignment a:hover {
    text-decoration: none !important;
}

.tab .preview_assignment .btn-upload {
    margin-top: 33px;
    text-align: center;
}

.tab .preview_assignment .btn-upload span {
    background: #bbbbbb;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 33px;
}

.tab .preview_assignment,
.tab .preview_assessment,
.tab .preview_scorm,
.tab .preview_page {
    margin-bottom: 0px;
}

.tab .preview_assessment .introduction{
    padding-bottom: 30px;
}

.tab .preview_assessment .statusPoint-ass {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.tab .preview_assessment .statusPoint-ass.active:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.tab .preview_assessment .statusPoint-ass:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    /* background-color: white; */
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}

.tab .preview_assessment .img-responsive{
    margin-top: 20px;
    border-radius: 5px
}
/*.view-course .btUnPreviewActivity,*/
/*.view-course .btUnPreviewCourse{*/
/*position: fixed;*/
/*right: 30px;*/
/*}*/

.tab .start_assessment_after .previewDescription {
    text-align: left;
}

.tab .preview_assessment .statement,
.tab .preview_assessment .answer
{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tab .preview_assessment .process-point-ass {
    margin-top: 80px;
    position: relative;
}
.tab .preview_assessment .process-point-ass .process-ul-ass {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    /*margin-top: 30px;*/
}

/*.tab .preview_assessment .next-question-before{*/
/*top: calc(50% - 25px + 65px);*/

/*}*/
/*.tab .preview_assessment .next-question-after {*/
/*top: calc(50% - 25px + 65px);*/
/*right: 0px;*/
/*}*/

.tab .preview_assessment .previewSubmit{
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 30px;
    position: relative;
    top: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background: #bbbbbb !important;
    cursor: default;
    text-transform: uppercase;
}


.tab .preview_assessment .introduction span {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #828282;
    line-height: 33px;
}
.tab .preview_assessment .introduction p {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #828282;
    letter-spacing: 0px;
}
.tab .preview_assessment .introduction h5 {
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}

.tab .preview_assessment .text_to_html {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    letter-spacing: 0px;
}
.tab .preview_assessment .btn_start_assessment {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    background: #4F5355;
    color: #fff;
    padding: 2px 20px 0 20px;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-shadow: none;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
}

.tab .preview_assessment .btn-start-quiz{
    text-align: center;
}

/*.tab .preview_assessment .next-question-before{*/
/*top: calc(50% - 25px + 65px);*/

/*}*/
/*.tab .preview_assessment .next-question-after {*/
/*top: calc(50% - 25px + 65px);*/
/*right: 0px;*/
/*}*/

.tab .preview_assessment .img-responsive{
    margin-top: 20px;
    border-radius: 5px
}

.tab .start_assessment_after .previewDescription {
    text-align: left;
}

.tab .preview_assessment .statement,
.tab .preview_assessment .answer
{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.tab .preview_assessment .process-point-ass {
    margin-top: 80px;
    position: relative;
}
.tab .preview_assessment .process-point-ass .process-ul-ass {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    /*margin-top: 30px;*/
}
.tab .process-point-ass #lipoint {
    width: 15px;
}
.tab .preview_assessment .statusPoint-ass {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.tab .preview_assessment .statusPoint-ass.active:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.tab .preview_assessment .statusPoint-ass:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    /* background-color: white; */
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}

.tab .preview_assessment .introduction{
    padding-bottom: 30px;
}


.tab .preview_assessment .introduction p {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}
.tab .preview_assessment .introduction h5 {
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}

.tab .preview_scorm #blockrandom {
    margin-top: 0px !important;
    margin-left: -20px;
}

.tab .preview_feedback .feedbackview .title {
    text-align: center;
    margin: 0px 15px;
    margin-bottom: 15px;
}
.tab .preview_feedback .feedbackview .title span {
    font-size: 20px;
    font-weight: bold;
    color: #126DB6;
}

.tab .preview_feedback .img-feedback img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.tab .preview_feedback .content-feedback {
    clear: both;
    padding: 15px 15px;
}
.tab .preview_feedback .btnn {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}
.tab .preview_feedback .btnn .large {
    background: #4F5355;
    color: #ffffff;
    padding: 5px 150px;
    border: none;
    border-radius: 20px;
    position: relative;
    font-size: 18px;
}

.tab .preview_feedback .question_view .feedback_tittle {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 18px;
    color: #5e5e5e;
    text-align: center;
    margin-bottom: 33px;
}
.tab .preview_feedback .countRatingQuestion #pcolor {
    font-size: 16px;
    color: #126db6;
}
.tab .preview_feedback .scaleRatingQuestion {
    padding: 0px;
}

.tab .preview_feedback #liScaleRatingQuestion {
    width: 150px;
}
.tab .preview_feedback .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}

.tab .preview_feedback .statusRatingQuestion {
    display: flex;
    justify-content: center;
    border-top: 1px solid #828282;
    position: relative;
    transition: all 200ms ease-in;
}
.tab .preview_feedback #liScaleRatingQuestion p {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: #828282;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}

.tab .preview_feedback textarea {
    width: 100% !important;
    border-radius: 20px;
    background: #FFF;
    border: none;
    box-shadow: none;
    margin-bottom: 50px;
    border: 1px solid #cccccc;
    min-height: 34px;
}

.tab .preview_feedback .statusPoint {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.tab .preview_feedback .process-point {
    display: none !important;
    display: block;
    position: fixed;
    text-align: center;
    z-index: 10001;
    bottom: 65px;
    left: 203px;
    width: calc(100% - 251px);
}

.tab .preview_feedback #group .countRatingQuestion.current {
    display: block;
}
.tab .preview_feedback #group .countRatingQuestion {
    display: none;
}
.tab .preview_feedback .process-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}
.tab .preview_feedback .statusRatingQuestion:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #828282;
    position: absolute;
    top: -5px;
    left: 44%;
    transition: all 200ms ease-in;
}

.tab .preview_feedback .statusRatingQuestion.active:before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #828282;
    position: absolute;
    top: -5px;
    left: 44%;
    transition: all 200ms ease-in;
}

.tab .btUnPreviewActivity{
    margin-top: 33px;
}
.tab .preview_assessment .previewTitle {
    padding-top: 33px;
}

.tab .preview_assessment .divPreview{
    padding: 0 !important;
}

.tab .preview_assessment .start_assessment_after .previewTitle{
    color: #5e5e5e;
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    line-height: 24px;
    margin: 0 0 5px 0;
}

.tab .preview_assessment .start_assessment_after .questionTitle{
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}

.tab .truefalse_preview .questionDescription,
.tab .match_preview .questionDescription,
.tab .multichoice_preview .questionDescription,
.tab .shortanswer_preview .questionDescription {
    margin-bottom: 20px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}

.tab .truefalse_preview .questionAnswer,
.tab .shortanswer_preview .questionAnswer,
.tab .match_preview .questionAnswer,
.tab .multichoice_preview .questionAnswer {
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    margin-bottom: 10px;
}

.tab .truefalse_preview .statusTrue,
.tab .truefalse_preview .statusFalse,
.tab .multichoice_preview .previewStatus
{
    background-image: url(/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png);
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 0px;
}

.tab .previewTrue span,
.tab .previewFalse span,
.tab .previewAnswer span {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5e5e5e;
}

.tab .previewTrue{
    margin-bottom: 5px;
}

.tab .multichoice_preview .previewAnswer{
    margin-top: 5px;
}

.process-point-ass {
    display: none !important;
}

.tab .match_preview ol,
.tab .match_preview li {
    margin-left: 0;
    padding-left: 0;
}


.tab .match_preview,
.tab .truefalse_preview,
.tab .multichoice_preview,
.tab .shortanswer_preview,
.tab .preview_assignment .divPreview {
    clear: both;
    display: block;
    position: static
}
.tab .match_preview .questionTitle,
.tab .truefalse_preview .questionTitle,
.tab .multichoice_preview .questionTitle,
.tab .shortanswer_preview .questionTitle {
    color: #126DB6;
    font-weight: bold;
}
.tab .truefalse_preview .questionDescription,
.tab .match_preview .questionDescription,
.tab .multichoice_preview .questionDescription,
.tab .shortanswer_preview .questionDescription {
    line-height: 22px;
}

.tab .truefalse_preview .questionAnswer,
.tab .shortanswer_preview .questionAnswer,
.tab .match_preview .questionAnswer,
.tab .multichoice_preview .questionAnswer {
    font-weight: bold;
}

.tab .truefalse_preview.previewTFButtons .previewTrue,
.tab .truefalse_preview .previewTFButtons .previewFalse {
    line-height: 30px;
}
.tab .truefalse_preview .statusTrue,
.tab .truefalse_preview .statusFalse,
.tab .truefalse_preview .previewStatus,
.tab .multichoice_preview .previewStatus {
    margin-right: 15px;
}

.tab .multichoice_preview .previewDescription {
    text-align: left;
}
.tab .multichoice_preview .previewAnswer {
    line-height: 30px;
}
.tab .multichoice_preview .previewAnswerText {
    display: inline-block;
    margin-right: 15px;
}

.tab .shortanswer_preview .previewTextareaAnswer{
    height: 34px;
    width: 100%;
    line-height: 22px;
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.tab .prev-question-feedback img,
.tab .next-question-feedback img {
    width: 12px;
    height: auto;
    cursor: pointer;
}
.tab .prev-question-feedback {
    width: calc(30%);
    display: inline;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.tab .next-question-feedback {
    float: right;
    position: relative;
    top: 0px;
}

.tab .preview_feedback .type_des {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    margin-bottom: 33px;
}
.tab p#replaceQuestion,
.tab p#replaceQuestion1 {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
    margin-bottom: 22px;
}

.tab .preview_feedback .note_des {
    clear: both;
    margin-top: 20px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    position: relative;
    top: 34px;
}

.tab .view-feedbackview .next-question-after {
    float: right;
    width: calc(30%);
    display: inline;
}
.tab .preview_assessment .next-question-after{
    float: right;
    position: relative;
}

.previewMatchingBlocks .divPreviewOptionSelect {
    display: inline-block;
    position: relative;
}
.tab .divPreview .previewOptionInput.match_answer {
    line-height: 36px;
    color: #828282;
    position: relative;
    /*z-index: 1;*/
    background-color: #fff;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: calc(100% - 5px);
    padding: 0 30px 0 10px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
    height: 36px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    border: 1px solid rgba(130, 130, 130, 0.34);
    width: 180px;
}

.divPreview .divPreviewOptionSelect .ulPreviewOptionSelect {
    position: absolute;
    top: calc(100% + 1px - 15px);
    right: 1px;
    display: none;
    z-index: 1;
    width: calc(100% - 2px);
    padding: 15px 10px 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px #a7a7a7;
}
.divPreview.match_preview .ulPreviewOptionSelect li.previewOption {
    color: #828282;
    font-size: 16px;
    font-weight: 300;
    background: #fff !important;
    line-height: 36px !important;
    border-radius: 0 !important;
    width: 100%;
    padding: 0 !important;
    cursor: pointer;
    box-shadow: none !important;
     transition: all 100ms linear;
}
.divPreview.match_preview .ulPreviewOptionSelect li.previewOption:hover {
    background: #126db6 !important;
    color: #fff;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: calc(100% + 20px);
}
.divPreview.match_preview .ulPreviewOptionSelect li.previewOption + li.previewOption {
    border-top: 1px solid rgba(18, 109, 182, 0.1);
}
.tab .divPreview .divPreviewOptionSelect .previewOptionInput {
    margin-bottom: 0;
}
.com_joomdle .divPreview .divPreviewOptionSelect .previewOptionInput.clicked {
    position: relative;
    z-index: 2;
}

.tab .li-select {
    border-bottom: 1px solid rgba(53, 137, 161, 0.19);
    line-height: 36px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    padding: 0 10px;
    background-color: #fff;
    cursor: pointer;
}

.mob.view-course .course-outline span.shape,
.mob.view-coursecontent .course-content span.shape{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #fff;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -1px;
    right: 50%;
    z-index: 1;
    transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
}

.mob .course-outline div.icon-bg{
    background-image: url("/media/joomdle/images/icon/courseoutline/CourseOutline_Active.png");
}

.mob #t3-content,
.mob #t3-mainbody{
    padding-bottom: 0;
}

.mob .btFeedback {
    float: left;
}
.mob .joomdle_course_section {
    position: relative;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 11px;
    border: 1px solid rgba(130, 130, 130, 0.5);
    background-color: #FAFCFE;
}

.mob .btEditCourseInfo{
    float: right;
}

.mob .btPreviewCourse,
.mob .btUnPreviewCourse,
.mob .btUnPreviewActivity,
.mob .btEditCourseInfo {
    margin-bottom: 30px;
}
.mob .divEditCourse {
    position: absolute;
    top: 0;
    right: 0;
}
.mob .btPreviewCourse,
.mob .btUnPreviewCourse,
.mob .btUnPreviewActivity,
.mob .btEditCourseInfo,
.mob .btEditCourse,
.mob .btFeedback,
.mob .btCancel2,
.mob .btSave {
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 14px !important;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 4px 16px;
    border: 1px;
    cursor: pointer;
}
.mob .btCancel2,
.mob .btPreviewCourse{
    margin-right: 10px;
}


.mob .btCourseContent
{
    margin-top: 0px;
    border: none;
    color: #FFFFFF;
    padding: 0 18px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    letter-spacing: 0px;
    cursor: pointer;
    float: left;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}
.mob .btEditCourse {
    margin: 0;
}
.mob .popupAddAnActivity {
    display: block;
    position: fixed;
    text-align: center;
    color: #126DB6;
    z-index: 10001;
    top: 44%;
    left: 203px;
    width: calc(100% - 251px);
}
.mob .popupAddAnActivity li {
    line-height: 34px;
}
.mob .popupAddAnActivity .ulAddAnActivity{
    padding-left:0px;
}
.mob .popupAddAnActivity .ulAddAnActivity > a:first-of-type {
    border-top-right-radius: 75px;
    border-top-left-radius: 75px;
    background: #fff;
    padding: 0 15px;
    display: block;
}
.mob .popupAddAnActivity .ulAddAnActivity > a:nth-of-type(2) {
    display: block;
    padding: 0 15px;
    background: #fff;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}
.mob .popupAddAnActivity .chooseFromCC {
    border-top: 1px solid #B9B9B9;
    /*padding: 0 10px;*/
}
.mob .popupAddAnActivity .btCancel {
    border-radius: 100px;
    margin-top: 10px;
    background: #fff;
    padding: 0 15px;
}
.mob .joomdle_section_list_item_title {
    line-height: 30px;
    padding: 0;
    margin-bottom: 10px;
}

.mob .right-column #t3-mainbody {
    background-color: #FDFDFD;
}

.mob .joomdle-course input[type="text"] {
    width: calc(100% - 90px);
    padding: 0px 10px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    line-height: 1.42857143;
    color: #828282;
    background-color: #fff;
    background-image: none;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 33px;
    box-shadow: none;
    overflow: hidden;
    border: 1px solid rgba(130, 130, 130, 0.5);
}

.mob .joomdle-course {
    margin-top: 0px;
    padding: 30px 30px 20px 30px;
    /*min-height: calc(100vh - 80px - 65px);*/
    background-color: #fff;
    padding-left: 14%;
    padding-right: 14%;
}

.mob .button_control{
    display: inline-block;
    width: 100%;
    margin-bottom: 33px;
}
.mob .certificate_section{
    border-top: 2px solid #e5eff7;
    margin-bottom: 0px;
    padding-top: 20px;
}

.mob .description_feedback,
.mob .description_certificate{
    display: inline;
    font-size: 16px;
    color: #126DB6;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.mob .feedback_section .activity-image,
.mob .certificate_section .activity-image {
    position: relative;
    width: 20px !important;
    left: 0px !important;
    top: -3px !important;
}

.mob .feedback_section.learner {
    width: 100%;
}
.mob .feedback_section.learner .pTitleFeedback {
    width: 50%;
    margin-left: 60px;
}
.mob .feedback_section.learner .activity-list-item {
    width: 50%;
    margin-top: -35px;
}

.mob a.disable{
    pointer-events: none;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
}

.mob .feedback_section.disable:hover p.description_feedback{
    color: #494949 !important;
    text-decoration: none !important;
    cursor:default !important;
}
.mob .feedback_section.disable:hover{
    cursor:default !important;
}

.mob input.section_default {
    margin-left: 37px !important;
}

.mob .joomdle_learning_outcome,
.mob .content-summary .sumHeader,
.mob .targetAudience .targetHeader {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    clear: both;
    margin-bottom: 2px;
    margin-top: 15px;
    float: left;
    display: inline;
    width: 100%;
}

.mob .next-question-after img,
.mob .next-question-before img {
    width: 12px;
    height: auto;
    position: relative;
    cursor: pointer;
}

.mob .uploadedImage{
    margin: 0 auto 15px auto !important;
    display: block;
    border-radius: 4px;
    width: 380px;
    height: 285px;
    object-fit: contain;
    position: relative;
}
.mob .iframeLinkVideo {
    width: 560px;
    height: 315px;
    max-width: 100%;
    margin-top: 20px;
}
.mob .preview_page .divPreview{
    padding: 0px;
    text-align: center;
}

.mob .uploadedFile a {
    padding: 5px 10px 5px 10px;
    background-color: #efecec;
    border-radius: 31px;
}

.mob .time-left{
    color: red;
    clear: both !important;
}

.mob .addTopic{
    margin-top: 20px;
    margin-bottom: 15px;
}
.mob .create_activity .create_page img,
.mob .create_activity .create_scorm img,
.mob .create_activity .create_assessment img,
.mob .create_activity .create_assignment img{
    height: 30px;
}

.mob .btAddAnActivity .create_activity .create_page img,
.mob .btAddAnActivity .create_activity .create_scorm img,
.mob .btAddAnActivity .create_activity .create_assessment img,
.mob .btAddAnActivity .create_activity .create_assignment img{
    height: 30px !important;
    opacity: 0.5 !important;
}


.mob .connectedSortable.edit{
    min-height: 10px;
    padding-left: 0px;
    margin-left: 15px;
}

.mob .closetitle img, #search-message .closesearch img {
    position: fixed;
    top: -10%;
    right: -2%;
    width: 18px;
}

.mob .joomdle_course_section.preview {
    margin-bottom: 15px !important;
}
.mob .joomdle_course_section.topic_default.invisible{
    display: none;
}
.mob #formUpdateActivity ::-webkit-input-placeholder { /* Chrome */
    color: #126db6 !important;
    opacity:  1;
}
.mob #formUpdateActivity ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #126db6 !important;
    opacity:  1;

}
.mob #formUpdateActivity :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #126db6 !important;
    opacity:  1;
}
.mob #formUpdateActivity ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #126db6 !important;
    opacity:  1;
}
.mob #formUpdateActivity :-ms-input-placeholder { /*    /* border: 1px solid #828282; */
    border-radius: 6px;
    padding: 11px;
    margin-bottom: 15px;
    border: 1px solid rgba(130, 130, 130, 0.5);
    color: #126db6 !important;
    opacity:  1;

}

.mob .manage-preview{
    /*margin-top: -30px;*/
    padding: 0 14%;
}
.mob .joomdle-course.preview{
    min-height: 0px;
    padding-bottom: 0px;
    /*position: absolute;*/
}
.joomdle_item_content .activity-image img.activity-icon {
    width: 16px !important;
    height: 16px !important;
}

.mob .joomdle_section_list_item_resources .activity-list-item .activity-image{
    position: relative;
    left: 12px;
    width: 0;
}
.mob .joomdle_course_section.preview .joomdle_section_list_item_resources .activity-list-item .activity-image{
    position: relative;
    top: 3px !important;
    width: 40px !important;
}

.mob .connectedSortable input[type="text"] {
    padding-left: 32px !important;
    width: calc(100% - 95px) !important;
}

.mob .activity-delete img.optionCheckSection {
    width: 26px;
    height: 26px;
    top: 3px;
    margin-right: 11px;
    position: relative;
}

.mob .activity-delete img.optionCheckModule {
    width: 26px;
    height: 26px;
    margin-right: 11px;
}

.mob ul.connectedSortable.ui-sortable{
    padding: 15px 0 0 10px;
}

.mob .activity-delete{
    float: left;
}
.mob .activity-sort{
    float: right;
    display: -webkit-inline-box;
    position: absolute;
    right: 11px;
}

.mob .activity-list-item a{
    position: absolute;
    margin-top: 5px;
}
.mob .activity-list-item .status{
    float: right;
}

.mob .activity-sort img{
    width: 39px !important;
    height: 26px !important;
}

.mob img.btAddAnActivityText {
    width: 26px;
    height: 26px;
    margin-right: 15px;
}
.mob .form-group {
    margin-bottom: 0;
}
.mob .div-input-topic-title {
    width: calc(100% - 45px);
    display: inline-block;
}
.mob .for-admins-buttons input[type="text"]{
    width: 100%;
}
.mob .btAddAnActivity {
    border: 1px solid rgba(130, 130, 130, 0.5);
    border-radius: 6px;
    padding: 11px;
    background-color: #FAFCFE;
}

.mob .create-activity-name-box .activity-name{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #126DB6;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-align: center;
}

.mob .create_activity {
    margin-top: 15px;
    border-radius: 6px;
    padding: 11px;
    border: 1px solid rgba(130, 130, 130, 0.5);
    margin-left: 0px;
    margin-right: 0px;
}

.mob .joomdle-page-content > h1{
    margin-top: 35px;
}

.mob .joomdle-course .joomdle_course_outline {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    margin-bottom: 10px;
    clear: both;
}

.mob .sumHeader{
    margin-top: 0 !important;
}

.mob .pTitleCertificate, .pTitleFeedback {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
}

.mob .certificate_section:hover,
.mob .feedback_section:hover {
    cursor:pointer;
}

.mob .pTitleSection {
    color: #828282;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
}

.mob .joomdle_course_section.preview .connectedSortable{
    background: #FFFFFF;
    border: 1px solid rgba(130, 130, 130, 0.5);
    border-radius: 6px;
    padding: 11px 12px;
    margin-top: 11px;
}

.mob #pTitleSection0{
    position: static;
}

.mob .activity-name-box {
    position: relative;
    top: 0px;
    text-align: center;
}
.mob .certificate_section a,
.mob .feedback_section a{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 14px;
    color: #126db6;
    font-weight: 600;
}
.mob .connectedSortable li:last-child {
    margin-bottom: 0px;

}
.mob .joomdle_section_list_item_resources .activity-list-item .activity-image .activity-name {
    font-size: 9px;
    color: #383838;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.mob .activity-list-item.activity_normal.preview .status {
    background: url(/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png) no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center;
    position: absolute;
    align-self: self-start;
    right: 44px;
    margin-top: 5px;
}

.mob .divEditCourseInfo {
    text-align: center;
    clear: both;
}

.mob .block-feedback-preview {
    width: auto;
    float: right;
    padding: 0px;
    padding-top: 0px;
}
.mob .block-feedback-preview .pTitleFeedback {
    background: #4F5355;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

.mob .preview_assignment .title .activity,
.mob .preview_assessment .previewTitle {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #5e5e5e;
    font-size: 17px;
}
.mob .preview_assignment .title {
    padding-top: 33px;
    padding-bottom: 33px;
}

.mob .preview_assignment .intructions_title {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #5e5e5e;
}

.mob .preview_assignment .intructions .text_to_html {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
}

.mob .preview_assignment .date {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.mob .preview_assignment .date .status1 {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.mob .preview_assignment .line {
    margin-top: 33px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 33px;
}

.mob .preview_assignment .submission_status,
.mob .preview_assignment .grade_status {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.mob .preview_assignment .submission_status .status1,
.mob .preview_assignment .grade_status .status1 {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.mob .preview_assignment .bttn {
    margin-top: 33px;
    text-align: center;
}

.mob .preview_assignment .btn-download {
    background: #bbbbbb;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.mob .preview_assignment a:hover {
    text-decoration: none !important;
}

.mob .preview_assignment .btn-upload {
    margin-top: 33px;
    text-align: center;
}

.mob .preview_assignment .btn-upload span {
    background: #bbbbbb;
    border-radius: 100px;
    padding: 5px 15px;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 33px;
}

.mob .preview_assignment,
.mob .preview_assessment,
.mob .preview_scorm,
.mob .preview_page {
    margin-bottom: 0px;
}

.mob .preview_assessment .introduction{
    padding: 0;
}

.mob .preview_assessment .statusPoint-ass {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.mob .preview_assessment .statusPoint-ass.active:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.mob .preview_assessment .statusPoint-ass:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    /* background-color: white; */
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}

.mob .preview_assessment .img-responsive{
    margin-top: 20px;
    border-radius: 5px
}
/*.view-course .btUnPreviewActivity,*/
/*.view-course .btUnPreviewCourse{*/
/*position: fixed;*/
/*right: 30px;*/
/*}*/

.mob .start_assessment_after .previewDescription {
    text-align: left;
}

.mob .preview_assessment .statement,
.mob .preview_assessment .answer
{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mob .preview_assessment .process-point-ass {
    margin-top: 80px;
    position: relative;
}
.mob .preview_assessment .process-point-ass .process-ul-ass {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    /*margin-top: 30px;*/
}

.mob .preview_assessment .previewSubmit{
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 30px;
    position: relative;
    top: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background: #bbbbbb !important;
    cursor: default;
    text-transform: uppercase;
}


.mob .preview_assessment .introduction span {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #828282;
    line-height: 33px;
}
.mob .preview_assessment .introduction p {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #828282;
    letter-spacing: 0px;
}
.mob .preview_assessment .introduction h5 {
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}

.mob .preview_assessment .text_to_html {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    letter-spacing: 0px;
}
.mob .preview_assessment .btn_start_assessment {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    background: #4F5355;
    color: #fff;
    padding: 2px 20px 0 20px;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-shadow: none;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
}

.mob .preview_assessment .btn-start-quiz{
    text-align: center;
}


.mob .preview_assessment .img-responsive{
    margin-top: 20px;
    border-radius: 5px
}

.mob .start_assessment_after .previewDescription {
    text-align: left;
}

.mob .preview_assessment .statement,
.mob .preview_assessment .answer
{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.mob .preview_assessment .process-point-ass {
    margin-top: 80px;
    position: relative;
}
.mob .preview_assessment .process-point-ass .process-ul-ass {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    /*margin-top: 30px;*/
}
.mob .process-point-ass #lipoint {
    width: 15px;
}
.mob .preview_assessment .statusPoint-ass {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.mob .preview_assessment .statusPoint-ass.active:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.mob .preview_assessment .statusPoint-ass:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    /* background-color: white; */
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}

.mob .preview_assessment .introduction{
    padding-bottom: 30px;
}


.mob .preview_assessment .introduction p {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}
.mob .preview_assessment .introduction h5 {
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}

.mob .preview_scorm #blockrandom {
    margin-top: 0px !important;
    margin-left: 0px;
}

.mob .preview_feedback .feedbackview .title {
    text-align: center;
    margin: 0px 15px;
    margin-bottom: 15px;
}
.mob .preview_feedback .feedbackview .title span {
    font-size: 20px;
    font-weight: bold;
    color: #126DB6;
}

.mob .preview_feedback .img-feedback img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.mob .preview_feedback .content-feedback {
    clear: both;
    padding: 15px 15px;
}
.mob .preview_feedback .btnn {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}
.mob .preview_feedback .btnn .large {
    background: #4F5355;
    color: #ffffff;
    padding: 5px 150px;
    border: none;
    border-radius: 20px;
    position: relative;
    font-size: 18px;
}

.mob .preview_feedback .question_view .feedback_tittle {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 18px;
    color: #5e5e5e;
    text-align: center;
    margin-bottom: 33px;
}
.mob .preview_feedback .countRatingQuestion #pcolor {
    font-size: 16px;
    color: #126db6;
}
.mob .preview_feedback .scaleRatingQuestion {
    padding: 0px;
}

.mob .preview_feedback #liScaleRatingQuestion {
    width: 60px;
}
.mob .preview_feedback .timestamp {
    margin-bottom: 20px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #828282;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}

.mob .preview_feedback .statusRatingQuestion {
    display: flex;
    justify-content: center;
    border-top: 1px solid #828282;
    position: relative;
    transition: all 200ms ease-in;
}
.mob .preview_feedback #liScaleRatingQuestion p {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: #828282;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}

.mob .preview_feedback textarea {
    width: 100% !important;
    border-radius: 20px;
    background: #FFF;
    border: none;
    box-shadow: none;
    margin-bottom: 50px;
    border: 1px solid #cccccc;
    min-height: 34px;
}

.mob .preview_feedback .statusPoint {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.mob .preview_feedback .process-point {
    display: none !important;
    display: block;
    position: fixed;
    text-align: center;
    z-index: 10001;
    bottom: 65px;
    left: 203px;
    width: calc(100% - 251px);
}

.mob .preview_feedback #group .countRatingQuestion.current {
    display: block;
}
.mob .preview_feedback #group .countRatingQuestion {
    display: none;
}
.mob .preview_feedback .process-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}
.mob .preview_feedback .statusRatingQuestion:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #828282;
    position: absolute;
    top: -5px;
    left: 44%;
    transition: all 200ms ease-in;
}

.mob .preview_feedback .statusRatingQuestion.active:before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #828282;
    position: absolute;
    top: -5px;
    left: 44%;
    transition: all 200ms ease-in;
}

.mob .btUnPreviewActivity{
    margin-top: 33px;
}
.mob .preview_assessment .previewTitle {
    padding-top: 33px;
}

.mob .preview_assessment .divPreview{
    padding: 0 !important;
}

.mob .preview_assessment .start_assessment_after .previewTitle{
    color: #5e5e5e;
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    line-height: 24px;
    margin: 0 0 5px 0;
}

.mob .preview_assessment .start_assessment_after .questionTitle{
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}

.mob .truefalse_preview .questionDescription,
.mob .match_preview .questionDescription,
.mob .multichoice_preview .questionDescription,
.mob .shortanswer_preview .questionDescription {
    margin-bottom: 20px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}

.mob .truefalse_preview .questionAnswer,
.mob .shortanswer_preview .questionAnswer,
.mob .match_preview .questionAnswer,
.mob .multichoice_preview .questionAnswer {
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    margin-bottom: 10px;
}

.mob .truefalse_preview .statusTrue,
.mob .truefalse_preview .statusFalse,
.mob .multichoice_preview .previewStatus
{
    background-image: url(/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png);
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 0px;
}

.mob .previewTrue span,
.mob .previewFalse span,
.mob .previewAnswer span {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5e5e5e;
}

.mob .previewTrue{
    margin-bottom: 5px;
}

.mob .multichoice_preview .previewAnswer{
    margin-top: 5px;
}

.process-point-ass {
    display: none !important;
}

.mob .match_preview ol,
.mob .match_preview li {
    margin-left: 0;
    padding-left: 0;
}


.mob .match_preview,
.mob .truefalse_preview,
.mob .multichoice_preview,
.mob .shortanswer_preview,
.mob .preview_assignment .divPreview {
    clear: both;
    display: block;
    position: static
}
.mob .match_preview .questionTitle,
.mob .truefalse_preview .questionTitle,
.mob .multichoice_preview .questionTitle,
.mob .shortanswer_preview .questionTitle {
    color: #126DB6;
    font-weight: bold;
}
.mob .truefalse_preview .questionDescription,
.mob .match_preview .questionDescription,
.mob .multichoice_preview .questionDescription,
.mob .shortanswer_preview .questionDescription {
    line-height: 22px;
}

.mob .truefalse_preview .questionAnswer,
.mob .shortanswer_preview .questionAnswer,
.mob .match_preview .questionAnswer,
.mob .multichoice_preview .questionAnswer {
    font-weight: bold;
}

.mob .truefalse_preview.previewTFButtons .previewTrue,
.mob .truefalse_preview .previewTFButtons .previewFalse {
    line-height: 30px;
}
.mob .truefalse_preview .statusTrue,
.mob .truefalse_preview .statusFalse,
.mob .truefalse_preview .previewStatus,
.mob .multichoice_preview .previewStatus {
    margin-right: 15px;
}

.mob .multichoice_preview .previewDescription {
    text-align: left;
}
.mob .multichoice_preview .previewAnswer {
    line-height: 30px;
}
.mob .multichoice_preview .previewAnswerText {
    display: inline-block;
    margin-right: 15px;
}

.mob .shortanswer_preview .previewTextareaAnswer{
    height: 34px;
    width: 100%;
    line-height: 22px;
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.mob .prev-question-feedback img,
.mob .next-question-feedback img {
    width: 12px;
    height: auto;
    cursor: pointer;
}
.mob .prev-question-feedback {
    width: calc(30%);
    display: inline;
    cursor: pointer;
    position: relative;
    top: 0px;
}
.mob .next-question-feedback {
    float: right;
    position: relative;
    top: 0px;
}

.mob .preview_feedback .type_des {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    margin-bottom: 33px;
}
.mob p#replaceQuestion,
.mob p#replaceQuestion1 {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #828282;
    margin-bottom: 22px;
}

.mob .preview_feedback .note_des {
    clear: both;
    margin-top: 20px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
    position: relative;
    top: 34px;
}

.mob .view-feedbackview .next-question-after {
    float: right;
    width: calc(30%);
    display: inline;
}
.mob .preview_assessment .next-question-after{
    float: right;
    position: relative;
}

.mob .divPreview .previewOptionInput.match_answer {
    line-height: 36px;
    color: #828282;
    position: relative;
    /*z-index: 1;*/
    background-color: #fff;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: calc(100% - 5px);
    padding: 0 30px 0 10px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30px;
    height: 36px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    border: 1px solid rgba(130, 130, 130, 0.34);
    width: 180px;
    margin: 0;
}

.mob .li-select{
    border-bottom: 1px solid rgba(53, 137, 161, 0.19);
    line-height: 36px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    padding: 0 10px;
    background-color: #fff;
    cursor: pointer;
}

.mob .joomdle-course {
    margin-top: 0px;
    padding: 20px 15px;
    min-height: calc(100vh - 50px - 50px - 65px);
}

.mob .feedback_section .activity-image,
.mob .certificate_section .activity-image {
    right: -4px;
    position: relative;
    top: 0px !important;
}
.mob .feedback_section.learner {
    width: 100%;
}
.mob .feedback_section.learner .pTitleFeedback {
    width: 50%;
    margin-left: 60px;
}
.mob .feedback_section.learner .activity-list-item {
    width: 50%;
    margin-top: -35px;
}

.mob a.disable{
    pointer-events: none;
}

.mob .feedback_section.disable:hover p.description_feedback{
    color: #494949 !important;
    text-decoration: none !important;
    cursor:default !important;
}
.mob .feedback_section.disable:hover{
    cursor:default !important;
}

.mob input.section_default{
    margin-left: 37px;
}

.mob .joomdle_learning_outcome{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #126db6;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: both;
    float: left;
    display: inline;
    width: 100%;
}

.mob p {
    /*text-align: -webkit-auto;*/
}
.mob .uploadedFile {
    line-height: 30px;
    border: none;
    padding: 0 15px;
    white-space: nowrap;
    max-width: 100%;
    text-align: right;
    overflow: hidden;
    float: inherit;
    background-color: #f8f8f8;
}
.mob .uploadedFile a {
    padding: 5px 10px 5px 10px;
    background-color: #efecec;
    border-radius: 31px;
}
.mob .iframeLinkVideo {
    width: 560px;
    height: 315px;
    max-width: 100%;
    margin-top: 20px;
}

.mob .addTopic {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mob .connectedSortable.edit {
    min-height: 10px;
    padding-left: 0px;
    margin-left: 15px;
}

.mob .joomdle_course_section.preview .joomdle_section_list_item_resources .activity-list-item .activity-image {
    position: unset;
}

.mob .content-top{
    width: 100%;
}

.mob .closetitle img {
    position: fixed;
    top: -10%;
    right: -3%;
    width: 18px
}

.mob .joomdle_course_section.preview {
    margin-bottom: 15px !important;
}

.mob #formUpdateActivity ::-webkit-input-placeholder { /* Chrome */
    color: #126db6 !important;
    opacity:  1;
}
.mob #formUpdateActivity ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #126db6 !important;
    opacity:  1;

}
.mob #formUpdateActivity :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #126db6 !important;
    opacity:  1;
}
.mob #formUpdateActivity ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #126db6 !important;
    opacity:  1;
}
.mob #formUpdateActivity :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #126db6 !important;
    opacity:  1;

}
.mob #formUpdateActivity ::-ms-input-placeholder { /* Microsoft Edge */
    color: #126db6 !important;
    opacity:  1;

}
.mob .manage-preview {
    padding: 0px 15px;
    margin-top: -40px;
}
.mob .manage-preview .preview_scorm, .preview_assessment, .preview_assignment {
    margin-top: 35px !important;
}

.mob .joomdle-course.preview{
    min-height: 0px;
    padding-bottom: 0px;
}

.mob .btCourseContent {
    margin-top: 0px;
    border: none;
    color: #FFFFFF;
    padding: 3px 12px;
    background: #4F5355;
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    letter-spacing: 0px;
    cursor: pointer;
    float: left;
    line-height: 19px;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
}

.mob .create_activity > div[class^="create_"] {
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.mob .create_activity > div[class^="create_"] img {
    margin-top: 5px;
}

.tab .preview_scorm #blockrandom{
    height: calc(100vh - 180px - 80px) !important;
}

.tab .preview_assessment .next-question-before{
    display: inline;
    width: calc(30%);
}

.mob .preview_assessment .next-question-before{
    display: inline;
    width: calc(30%);
}

.mob .preview_scorm #blockrandom{
    height: calc(100vh - 180px - 50px - 50px) !important;
}

.joomdle_section_list_item_resources .activity-list-item > a.activity-link-edit{
    text-decoration: none;
}

.mob .activity-image.certificate img,
.mob .activity-image.feedback img{
    width: auto !important;
    height: 25px !important;
}

.mob .preview_feedback.preview_activity{
    margin-top: 55px !important;
}

.mob a.hvn_BtEditCourse {
    top: 9px;
    right: 15px;
    float: right;
    position: relative;
}

.mob .hvn_BtEditCourse img{
    width: 29px;
    height: 29px;
}

.mob .joomdle_section_list_item_resources textarea {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    min-height: 33px;
    box-shadow: none;
    overflow: hidden;
    border: 1px solid rgba(130, 130, 130, 0.5);
    padding-left: 32px !important;
    width: calc(100% - 95px) !important;
    resize: none;
}

.tab .joomdle_section_list_item_resources textarea{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    min-height: 33px;
    box-shadow: none;
    overflow: hidden;
    border: 1px solid rgba(130, 130, 130, 0.5);
    padding-left: 32px !important;
    width: calc(100% - 90px) !important;
    resize: none;
}

.tab .activity-list-item.preview .activity-link-edit{
    width: calc(100% - 52px - 44px - 26px);
    left: 52px;
}
.mob .activity-list-item.preview .activity-link-edit {
    width: calc(100% - 52px - 44px - 26px);
    left: 52px;
}

.btAddAnActivity .create-activity-name-box .activity-name{
    opacity: 0.5;
}

.tab .btUnPreviewCourse{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.activity-list-item.activity_normal{
    display: flex;
    align-items: center;
}

.activity-sort-section img{
    position: relative;
    top: 3px;
}

.activity_normal.preview{
    padding-bottom: 8px;
    border-bottom: 1px solid #DCE9F4;
    margin-bottom: 8px;
}

.activity-list-item.activity_normal.preview:last-child {
    border: none;
}
.tab .activity_normal .activity-image img{
    position: relative;
    top: 2px;
}

.preview_page .previewTitle {
    text-align: center !important;
    padding: 10px 0px 0px 0px;
    font-size: 17px !important;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif !important;
	font-weight: 700;
    color: #5e5e5e !important;
}
.btn-get-certificate {
    font-size: 17px;
    text-decoration: none;
}
.outline-footer .activity-list-item .pTitleFeedback {
    padding: 5px 20px !important;
}
.tab .preview_page.preview_activity .uploadedFile a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 31px;
    line-height: 30px;
    border: none;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    background: #4F5355;
    background-image: url(/images/icon_download.png);
    background-repeat: no-repeat;
    padding: 2px 15px 2px 15px;
    background-position: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    width: 370px;
    display: inline-block;
    font-size: 16px;
    background-size: 18px 14px;
}

.mob .preview_page.preview_activity .uploadedFile a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 31px;
    line-height: 30px;
    border: none;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    background: #4F5355;
    background-image: url(/images/icon_download.png);
    background-repeat: no-repeat;
    padding: 2px 15px 2px 15px;
    background-position: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    width: 370px;
    display: inline-block;
    font-size: 16px;
    background-size: 18px 14px;
}

.preview_page.preview_activity .uploadedFile img{
    display: none;
}

.outline-footer {
    margin-top: 15px;
}
.outline-footer .activity-cert-item .btn-get-certificate {
    text-decoration: none;
}

.previewScormTitle {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 17px;
    text-align: left;
    padding-top: 20px;
}

.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-description {

}

.card-description {
    position: relative;
    z-index: 0;
    margin: 0;
}

.card-description.more1 {
    overflow: unset !important;
    max-height: unset !important;
    -webkit-line-clamp: unset !important;
}

.card-description.less1 {
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    max-height: 40px !important;
}

.joomdle-course .more,
.joomdle-course .less {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #428bca;
    cursor: pointer;
}

.joomdle-course .more:hover,
.joomdle-course .less:hover{
    text-decoration: underline;
}
.tab .joomdle-cancel {
    min-width: 450px;
}
.tab .joomdle-cancel button{
    margin-top: 18px !important;
}
.joomdle-cancel .yes{
    margin-right: 0 !important;
    margin-left: 5px !important;
}
.mob .joomdle-cancel {
    width: 320px !important;
}
.oneButtonPopup button {
    text-transform: uppercase;
}
.sortable-placeholder,
.sortable-placeholder-sections {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(130, 130, 130, 0.5);
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: #f7f7f7;
    padding: 5px 0;
    transition: height 100ms ease;
}
.sortable-placeholder-sections {
    border-radius: 6px;
    padding: 11px 0;
}