body{
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.joomdle-course {
    margin-top: 0px !important;
}
.buttons, .jconfirm-buttons{
    padding-top: 15px;
    clear: both;
    text-align: center;
}
.tab .joomdle-view-quiz-start > .container {
    padding: 0 30px;
}
.mob .joomdle-view-quiz-start > .container {
    padding: 0 15px;
}
.tab .btn-prev-next {
    overflow: hidden;
    margin-bottom: 30px;
}
.mob .btn-prev-next {
    overflow: hidden;
    /*margin-bottom: 20px;*/
}
.btnQuiz,
.btEndOfQuiz {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 16px 0 16px;
    background: #4F5355;
    text-align: center;
    line-height: 28px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 30px;
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    letter-spacing: 0px;
    background-size: 12px;
    background-position: 90%;
}
.title-quiz{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #126DB6;
    font-size: 24px;
	padding-top: 15px;
}
.img-responsive{
    margin-top: 20px;
    border-radius: 5px;
}
.introduction{
    margin-top: -50px;
}
.introduction .icon-next {
    padding: 0 10px;
    position: relative;
    right: -10px;
}
.introduction .icon-prev {
    padding: 0 10px;
    position: relative;
    left: -10px;
}
.introduction span{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #494949;
    letter-spacing: 0px;
    line-height: 33px;
}
.introduction .icon-next img,
.introduction .icon-prev img {
    width: 12px;
    height: 22px;
}
.introduction h5{
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}
.introduction p{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #494949;
    letter-spacing: 0px;
}
.btnReturnToOutline {
    font-family: 'Open Sans', OpenSans,sans-serif;
    font-size: 16px;
    background: #4F5355;
    color: #fff;
    padding: 2px 20px 0 20px;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-shadow: none;
    margin: 30px 0 0 0;
    text-transform: uppercase;
    border: none;
}
.viewQues{
    margin-top: 20px;
}
.viewQues .tip-ques{
    margin-bottom: 20px;
}
.viewQues .number-ques {
    color: #126DB6;
    font-size: 16px;
}
.viewQues .answers {
    margin-top: 15px;
    overflow: hidden;
}
.viewQues span{
    font-size: 16px;
    margin-top:10px;
    margin-bottom:10px;
}
.viewQues .answers select {
    /*margin-top: 5px;*/
    border-radius: 30px;
    background: #EBE6E6;
    height: 30px;
    font-size: 13px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    border: none;
}
.viewQues .answers textarea{
    height: 60px;
    border-radius: 20px;
    padding-left: 25px;
    margin-top: 15px;
    border: none;
}
.viewQues .inputPurpose{
    margin-top: 10px;
}
.viewQues .answers .status{
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}
.viewQues .answers .selected{
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") !important;
}
.viewQues .answers label{
    font-weight: normal;
    cursor: pointer;
}
.viewQues .answers b{
    font-weight: normal;
}
.time-left{
    color: red;
    clear: both !important;
}
.review,.review-quiz,.review .control .accesshide{
    display: none;
    font-size: 14px !important;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-weight: normal !important;
}
.review .answer_review{
    margin-top: 15px;
    margin-bottom: 15px;
}
.review .answer_review tbody tr td , .review .answer_review label{
    border: none;
    font-weight: normal;
}
.review .answer_review label{
    margin-left: 10px;
}
.review .feedback{
    background: #FCF8E3;
    /* border-left:4px solid #FF8000; */
    color: #EEBF65;
    display: block;
}
.next-question-after img,
.next-question-before img {
    cursor: pointer;
    width: auto;
    height: 50px;
}
.next-question-after img{
    border-radius: 100px 0px 0px 100px;
}
.next-question-before img {
    border-radius: 0px 100px 100px 0px;
}
.left-column{
    z-index: 1000;
}
.point {
    background: #EBE6E6;
    padding: 0px 2px;
    border-radius: 100px;
    margin-left: 10px;
    color: #EBE6E6;
}
.pointactive{
    background: #126DB6;
    margin-left: 10px;
    padding: 0px 2px;
    border-radius: 100px;
    color: #126DB6;
}
.end-quiz{
    clear: both !important;
    padding-top: 50px;
}
.jconfirm-scrollpane,
.jc-bs3-container,
.jc-bs3-row {
    height: 100%;
}
.jconfirm-box{
    /*margin-top: 200px !important;*/
    /*margin-top: 50% !important;*/
    /*transform: translate(0, -50%);*/
    background: #126DB6 !important;
    color: #fff !important;
    font-size: 14px;
}
.jconfirm-box .content, .jconfirm-box .jconfirm-content {
    text-align: center !important;
}

.jquery-clear{
    padding-bottom: 10px;
}
.btn-default{
    margin-left: 40%;
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px;
    width: 70px !important;
    border-radius: 30px !important;
}
.buttons .cancel, .jconfirm-buttons .cancel {
    margin-left: 25% !important;
}
.buttons .yes, .jconfirm-buttons .yes {
    margin-right: 80px !important;
    float: right !important;
}
.textreponsive {
    font-family: 'Open Sans', OpenSans,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#484848;
}
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
@media screen and (min-width: 1024px) {
    .img-quiz img{
        height: 250px;
    }
    .btn-start-quiz{
        font-size: 14px;
        background: #4F5355;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        cursor: pointer;
    }
}
@media screen and (min-width: 737px) and (max-width: 1023px) {
    .img-quiz img{
        height: 250px;
    }
    .point-ques{
        display: block;
        width: 10px;
        height: 10px;
        background: #EBE6E6;
        border-radius: 40px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .pointactive{
        background: #126DB6;
    }
    .viewQues .answers select{
        margin-left: 25px;
    }
}
@media screen and (min-width: 480px) and (max-width: 736px) {
    .img-quiz img{
        height: 250px;
    }
    .btn-start-quiz{
        font-size: 14px;
        background: #4F5355;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        cursor: pointer;
    }
    .point{
        background: #EBE6E6;
        padding: 0px 1px;
        border-radius: 100px;
        margin-left: 5px;
        color: #EBE6E6;
    }
    .pointactive{
        background: #126DB6;
        margin-left: 5px;
        padding: 0px 1px;
        border-radius: 100px;
        color: #126DB6;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .img-quiz img{
        height: 160px;
    }
    .btn-start-quiz center{
        color: #fff;
    }
    .btn-start-quiz{
        font-size: 12px;
        background: #4F5355;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        cursor: pointer;
    }
    .btnQuiz{
        padding: 0 10px 0 10px;
        line-height: 26px;
    }
    .col-xs-3,.col-xs-4,.col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .viewQues .answers textarea{
        padding-left: 20px !important;
    }
    .point{
        background: #EBE6E6;
        padding: 0px 1px;
        border-radius: 100px;
        margin-left: 5px;
        color: #EBE6E6;
    }
    .pointactive{
        background: #126DB6;
        margin-left: 5px;
        padding: 0px 1px;
        border-radius: 100px;
        color: #126DB6;
    }
    .buttons .cancel, .jconfirm-buttons .cancel {
        margin-left: 10% !important;
    }
    .buttons .yes, .jconfirm-buttons .yes {
        margin-right: 25px !important;
        float: right !important;
    }
}
.aaaaa #iframe-quiz{
    /*height: 1000px;*/
    min-height: inherit;
}
.aaaaa #iframe-toan{
    height: 1000px;
}
.review .no,.review  .qno{
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #126DB6 !important;
    font-size: 14px !important;
}
.review .qtext {
    margin-top: -15px !important;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 14px !important;
}
.review .grade,.review  .questionflag,.review  .editquestion,.review  .accesshide, .review .state, .review .prompt,.review input[value="Re-attempt quiz"]{
    display: none !important;
}
.review .ablock label,.review .text{
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 13px !important;
}
.review .ablock .answer input[type="text"]{
    margin-left: -10px !important;
}
.review .que{
    border-bottom: 2px solid #FF7C19 !important;
}
.review select{
    margin-top: -5px !important;
    height: 30px !important;
    font-size: 13px !important;
}
.review .questioncorrectnessicon{
    margin-top: -8px !important;
}
.joomdle-course {
    margin-top: 0px !important;
}
.buttons{
    padding-top: 15px;
    clear: both;
}

.title-quiz{
    margin: 10px 0 20px 0;
    text-align: center;
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.quizTitle {
    margin: 0 0 5px 0;
    text-align: left;
    color: #5e5e5e;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    text-transform: capitalize;
}
.labelClosedQuestions {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold,sans-serif;
    margin: 0 0 20px 0;
    font-weight: 700;
}
.labelInstructions {
    color: #828282;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans-Semibold,sans-serif;
    margin: 0 0 5px 0;
}
.quizDes {
    font-family: 'Open Sans', OpenSans-Light,sans-serif;
    font-size: 16px;
    color: #828282;
    letter-spacing: 0px;
    margin: 0 0 5px 0;
    padding: 0;
    line-height: 24px;
}
.divButtonReview {
    text-align: center;
    padding: 5px 0;
}
.btReviewQuiz {
    font-family: 'Open Sans', OpenSans,sans-serif;
    font-size: 16px;
    background: #4F5355;
    color: #fff;
    padding: 0 20px 0 20px;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-shadow: none;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
}
.btReviewQuiz:hover,
.btReviewQuiz:focus {
    outline: none;
    color: #fff;
    text-decoration: none;
}
.img-responsive{
    margin-top: 20px;
    border-radius: 5px;
}
.btn-start-quiz{
	font-size: 14px;
	background: #4F5355;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 30px;
	cursor: pointer;
}
.viewQues{
    margin-top: 20px;
}
.viewQues .tip-ques{
    margin-bottom: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .viewQues .answers select{
	/*margin-top: 5px;*/
	border-radius: 30px;
	background: #EBE6E6;
	height: 30px;
	font-size: 13px;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	border: none;
    }
}
.viewQues .answers textarea{
    height: 60px;
    border-radius: 20px;
    padding-left: 25px;
    margin-top: 15px;
    border: none;
}
.viewQues .inputPurpose{
    margin-top: 10px;
}
.viewQues .answers .status{
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png");
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}
.viewQues .answers .selected{
    background-image: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") !important;
}
.viewQues .answers label{
    font-weight: normal;
    cursor: pointer;
}
.viewQues .answers b{
    font-weight: normal;
}
.time-left{
    color: red;
    clear: both !important;
    padding-top: 5px;
}
.review,.review-quiz,.review .control .accesshide{
	display: none;
	font-size: 14px !important;
	font-family: OpenSans;
	font-weight: normal !important;
}
.review .answer_review{
    margin-top: 15px;
    margin-bottom: 15px;
}
.review .answer_review tbody tr td , .review .answer_review label{
    border: none;
    font-weight: normal;
}
.review .answer_review label{
    margin-left: 10px;
}
.next-question-after,
.next-question-before {
    position: fixed;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}
.tab .next-question-after,
.tab .next-question-before {
    top: calc(50% - 25px + 65px);
}
.mob .next-question-after,
.mob .next-question-before {
    top: calc(50% - 25px);
}
.tab .next-question-before {
    left: 155px;
}
.mob .next-question-before {
    left: 0;
}
.tab .next-question-after.changePosition.show-secondmenu {
    right: 155px;
    left: calc(100% - 179px) !important;
    width: 24px;
}
.next-question-after {
    right: 0;
}
.next-question-after img,
.next-question-before img{
    cursor: pointer;
}
.next-question-after img{
    border-radius: 100px 0px 0px 100px;
}
.next-question-before img{
    border-radius: 0px 100px 100px 0px;
}
.left-column{
    z-index: 1000;
}
.point{
    background: #EBE6E6;
    padding: 1px 2px;
    border-radius: 100px;
    margin-left: 10px;
    color: #EBE6E6;
    font-size: 6px;
}
.pointactive{
    background: #126DB6;
    color: #126DB6;
	font-size: 6px;
}
.end-quiz{
    clear: both !important;
    padding-top: 50px;
}
.jquery-clear{
    padding-bottom: 10px;
}
.btn-default{
    margin-left: 40%;
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px;
    width: 70px !important;
    border-radius: 30px !important;
}
.buttons .yes ,
.buttons .cancel,
.jconfirm-buttons .yes,
.jconfirm-buttons .cancel{
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px;
    min-width: 70px !important;
    border-radius: 30px !important;
}
.buttons .cancel, .jconfirm-buttons .cancel {
    margin-left: 25% !important;
}
.buttons .yes, .jconfirm-buttons .yes {
    margin-right: 80px !important;
    float: right !important;
}
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
@media screen and (min-width: 1024px) {
    .img-quiz img{
        height: 250px;
    }
    .btn-start-quiz{
        font-size: 14px;
        background: #4F5355;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        cursor: pointer;
    }
}
@media screen and (min-width: 737px) and (max-width: 1023px) {
    .img-quiz img{
        height: 250px;
    }
	.btn-start-quiz{
		font-size: 14px;
		background: #4F5355;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 30px;
		cursor: pointer;
	}
    .point-ques{
        display: block;
        width: 10px;
        height: 10px;
        background: #EBE6E6;
        border-radius: 40px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .pointactive{
        background: #126DB6;
    }
    /*	.jconfirm-box{
            width: 50%;
        }*/
    .buttons .cancel, .jconfirm-buttons .cancel {
        margin-left: 18% !important;
    }
    .buttons .yes, .jconfirm-buttons .yes {
        margin-right: 50px !important;
        float: right !important;
    }
}
@media screen and (min-width: 480px) and (max-width: 736px) {
    .img-quiz img{
        height: 250px;
    }
    .btn-start-quiz{
        font-size: 14px;
        background: #4F5355;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        cursor: pointer;
    }
    .all-point{
        margin-top: 15px;
        text-align: center;
        font-size: 8px;
    }
    .point{
        background: #EBE6E6;
        padding: 0px 1px;
        border-radius: 100px;
        margin-left: 5px;
        color: #EBE6E6;
    }
    .pointactive{
        background: #126DB6;
        margin-left: 5px;
        padding: 0px 1px;
        border-radius: 100px;
        color: #126DB6;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .img-quiz img{
        height: 160px;
    }
    .btn-start-quiz center{
        color: #fff;
    }
    .btn-start-quiz{
        font-size: 12px;
        background: #4F5355;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        cursor: pointer;
    }
    .btnQuiz{
        padding: 0 10px 0 10px;
        line-height: 26px;
    }
    .col-xs-3,.col-xs-4,.col-xs-12{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .viewQues .answers textarea{
        padding-left: 20px !important;
    }
    .point{
        background: #EBE6E6;
        padding: 0px 1px;
        border-radius: 100px;
        margin-left: 5px;
        color: #EBE6E6;
    }
    .pointactive{
        background: #126DB6;
        margin-left: 5px;
        padding: 0px 1px;
        border-radius: 100px;
        color: #126DB6;
    }
    .buttons .cancel, .jconfirm-buttons .cancel {
        margin-left: 10% !important;
    }
    .buttons .yes, .jconfirm-buttons .yes {
        margin-right: 25px !important;
        float: right !important;
    }

}
.aaaaa #iframe-quiz{
    /*height: 0px;*/
}
.aaaaa #iframe-toan{
    height: 0px;
}
.review .no,.review  .qno{
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    color: #126DB6 !important;
    font-size: 14px !important;
}
.review .qtext {
    margin-top: -15px !important;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 14px !important;
}
.review .grade,.review  .questionflag,.review  .editquestion,.review  .accesshide, .review .state, .review .prompt,.review input[value="Re-attempt quiz"]{
    display: none !important;
}
.review .ablock label,.review .text{
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 13px !important;
}
.review .ablock .answer input[type="text"]{
    margin-left: -10px !important;
}
.review .que{
    border-bottom: 2px solid #FF7C19 !important;
}
.review select{
    margin-top: -5px !important;
    height: 30px !important;
    font-size: 13px !important;
}
.review .questioncorrectnessicon{
    margin-top: -8px !important;
}
.all-point {
    display: block;
    /*position: fixed;*/
    position: absolute;
    text-align: center;
    z-index: 10001;
    bottom: 30px;
}
.tab .all-point {
    /*left: 155px;*/
    /*width: calc(100% - 155px);*/
    left: 0;
    right: 0;
}
.mob .all-point {
    left: 0;
    width: 100%;
}
center {
    margin: 0 !important;
    width: 100% !important;
}
.jconfirm-box-container {
    width: 80%;
    left: 10%;
    margin-left: 0 !important;
    /*top: 50%;
    transform: translate(0, -50%);*/
}
.jconfirm-buttons > button {
    text-transform: uppercase;
}
.view-quiz .joomdle-course > .container {
    padding: 0 30px;
}
.tab .jconfirm-box{
    width: 80%;
    margin-left: 10%;
}
.tab .jconfirm .jconfirm-box .jconfirm-buttons button.btn {
    margin: 0 0 0 20px !important;
    float: none !important;
    padding: 6px 16px;
}
.tab .jconfirm .jconfirm-box .jconfirm-buttons button.btn.yes {
    margin: 0 20px 0 0 !important;
    float: none !important;
    padding: 6px 16px;
}
.mob .jconfirm .jconfirm-box .jconfirm-buttons button.btn {
    margin: 0 0 0 10px !important;
    float: none !important;
    padding: 6px 16px;
}
.mob .jconfirm .jconfirm-box .jconfirm-buttons button.btn.yes {
    margin: 0 10px 0 0 !important;
    float: none !important;
    padding: 6px 16px;
}
.view-quiz .viewQues.current .feedback {
    display: none;
    clear: both;
    margin-top: 10px;
    background: #CFFFD0;
    padding: 10px;
    border-radius: 10px;
}
.view-quiz .true-answer-feedback,
.view-quiz .false-answer-feedback,
.view-quiz .matching-feedback.right-answer,
.view-quiz .matching-feedback.wrong-answer,
.view-quiz .multichoice .fb {
    display: none;
}
.view-quiz .multichoice .fb {
    clear: both;
    margin-top: 10px;
    background: #CFFFD0;
    padding: 5px 10px;
    border-radius: 10px;
}
.tab.view-quiz .joomdle-view-quiz {
    min-height: calc(100vh - 80px);
    padding: 25px 14% 60px 14%;
    position: relative;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #484848;
}
.mob.view-quiz .joomdle-view-quiz {
    min-height: calc(100vh - 50px - 50px);
    padding: 15px 22px 60px 22px;
    position: relative;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #484848;
}
.mob.com_joomdle.view-quiz .home,
.tab.com_joomdle.view-quiz #t3-mainbody,
.tab.com_joomdle.view-quiz #t3-content {
    padding-bottom: 0;
}
.view-quiz .aaaaa {
    /*height: 0;*/
    min-height: inherit;
}
.view-quiz .joomdle-view-quiz > .container {
    padding: 0 30px;
}
.view-quiz .joomdle-view-quiz .review {
    overflow: hidden;
}
.tab.view-quiz .joomdle-view-quiz-start {
    padding: 30px 14% 0 14%;
    position: relative;
}
.tab.view-quiz.noCourseOutline .joomdle-view-quiz-start {
    min-height: calc(100vh - 80px);
    padding-top: 0;
}
.mob .introduction {
    margin-top: 0;
}
.mob.view-quiz .joomdle-view-quiz-start {
    /*min-height: calc(100vh - 50px - 50px - 300px);*/
    padding: 30px 22px 10px 22px;
    position: relative;
}
.mob.view-quiz.noCourseOutline .joomdle-view-quiz-start {
    min-height: calc(100vh - 50px - 50px);
    padding-top: 0;
}
.joomdle-view-quiz.onLoad .viewQues {
    position: relative;
}
.joomdle-view-quiz.onLoad .viewQues:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    z-index: 1000;
    border-radius: 10px;
    /*background-color: rgba(189, 189, 189, 0.28);*/
    background-color: rgb(232, 232, 232);
    background-image: url(/components/com_community/templates/jomsocial/assets/images/mini-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-10px, -10px);
}
.joomdle-view-quiz .lblQuestion,
.joomdle-view-quiz .lblAnswer,
.joomdle-view-quiz .lblFeedback {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color:#484848;
        
}
.joomdle-view-quiz .answerText {
    color: #00843D;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-size: 16px;
}
.joomdle-view-quiz .questionReview {
    margin: 0 0 22px 0;
}
.joomdle-view-quiz .questionReview p {
    margin: 0;
    line-height: 24px;
    padding: 0 0 11px 0 !important;
}
.joomdle-view-quiz .rightAnswerText {
    color: #0d9f51;
    border: 1px solid;
    padding: 0 5px;
    margin: 5px 0 0 0;
    display: inline-block;
}
.joomdle-view-quiz .correctAnswersNumber {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin: 0 0 20px 0;
}
.joomdle-view-quiz .statementText {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
}
.matchingAnswer {
    margin: 10px 0 0 0;
}
.joomdle-view-quiz .yourAnswer {
    color: #a16464;
}
.com_joomdle.view-quiz.manager-course #t3-mainnav .topmenu-bar .t3-megamenu > ul > li:nth-of-type(2) > a {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    background: transparent;
}