/**
 * Filters
 */
.mediaplugin_html5audio, .mediaplugin_html5video, .mediaplugin_swf, .mediaplugin_flv, .mediaplugin_real, .mediaplugin_youtube, .mediaplugin_vimeo, .mediaplugin_wmp, .mediaplugin_qt
    {display:block;margin-top:5px;margin-bottom:5px;text-align: center;}
.mediaplugin.mediaplugin_mp3 object {display:inline;height:15px;width:180px;margin-left:0.5em;}

@media (min-width: 320px) and (max-width: 767px) {
	.mediaplugin_html5audio object, 
	.mediaplugin_html5video object, 
	.mediaplugin_swf object, 
	.mediaplugin_flv object, 
	.mediaplugin_real object, 
	.mediaplugin_youtube object, 
	.mediaplugin_vimeo object, 
	.mediaplugin_wmp object, 
	.mediaplugin_qt object
    { width: 100%; height: auto;}
}


/*
 * mp3 player colours -this read using JS and applied to swf audio flow player
 * see http://flowplayer.org/documentation/skinning/controlbar.html?skin=default for more color properties,
 * any property that ends with '...Color' is supported here.
 */
.mp3flowplayer_backgroundColor {color: #000000;}
