<div class="assignment-page">
<div class="attribute-assignment">
    <div class="item-attr">
        <i class="glyphicon glyphicon-align-left"> </i>
           <span> Lorem ipsum dolor </span>
        <i class="glyphicon glyphicon-menu-down"> </i>
    </div>
     <div class="item-attr">
        <i class="glyphicon glyphicon-align-left"> </i>
           <span> Lorem ipsum dolor </span>
        <i class="glyphicon glyphicon-menu-down"> </i>
    </div>
     <div class="item-attr">
        <i class="glyphicon glyphicon-align-left"> </i>
           <span> Lorem ipsum dolor </span>
        <i class="glyphicon glyphicon-menu-down"> </i>
    </div>
     <div class="item-attr">
        <i class="glyphicon glyphicon-align-left"> </i>
           <span> Lorem ipsum dolor </span>
        <i class="glyphicon glyphicon-menu-down"> </i>
    </div>
</div>
<div class="btn-brief">
    <a href=""><span class="next">Create Assignment</span></a>
</div> 
</div> 