<div class="action">
    <center>
        <i class="glyphicon glyphicon-text-color icon-text"></i>
        <i class="glyphicon glyphicon-picture icon-img"></i>
        <i class="glyphicon glyphicon-facetime-video"></i>
        <i class="glyphicon glyphicon-link"></i>
        <i class="glyphicon glyphicon-paperclip"></i>
    </center>
</div>
<div class="brief">
    <span>Assignment Brief Title</span>
    <div class="item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
    </div>
    <div class="item">
        <i class="glyphicon glyphicon-remove-sign" onclick='del_text(1)'></i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint culpa quae quia non nam quis quos incidunt libero maiores quo est, consectetur fugit deleniti mollitia asperiores, doloribus, itaque deserunt.
    </div>
    <div class="item-image col-md-8 col-md-offset-2">
        <i class="glyphicon glyphicon-remove-sign" onclick='del_img(1)'></i>
        <img src="<?php echo JURI::base().'components/com_joomdle/views/assigncreate/tmpl/111.jpg';?>" alt="anh" class="">
    </div>
    <div style="clear:both !important;"></div>
</div>
<div style="clear:both !important;"></div>
<div class="btn-brief">
    <a href=""><span class="next"><i class="glyphicon glyphicon-open"> </i> Upload A File</span></a>
</div>
<div class="btn-bottom">
    <a href=""><span class="cancel">Cancel</span></a>
    <a href=""><span class="next">Save</span></a>
    <a href=""><span class="save-brief">Preview</span></a>
</div>
<div style="clear:both !important;"></div>
<div class="upload">
    <div class="img-upload">
        <a href=""><span>Take a Photo</span></a>
        <div id="hr"></div>
        <a href=""><span>Upload from Photo Libary</span></a>
    </div>
    <div class="cancel-upload">
       <span>Cancel</span>
    </div>
</div>