    
<div class="title-assign">
    <span>Assignment Title</span><br>
    <input type="text" placeholder="Assignment Title Goes Here">
</div>
<div class="des">
    <span>Description</span><br>
    <textarea></textarea>
</div>
<div class="time-quiz">
    <div class="duadate">
        <center><span>Dua Date</span>
        <input type="text" name="duadate" class="datepicker" placeholder="dd/mm/yy" ></center>
    </div>
    <div class="publish-date">
        <center><span>AssignmentPublish Date</span>
        <input type="text" name="publishdate" class="datepicker" placeholder="dd/mm/yy" ></center>
    </div>
</div>
<div class="btn-bottom">
    <a href=""><span class="cancel">Cancel</span></a>
    <a href=""><span class="next">Prepare Assignment Brief</span></a>
</div>