#rsform_container input,
.com-rsform-css-fix input
{
	float: none !important;
}

#rsform_container label,
.com-rsform-css-fix label
{
	float: none !important;
	display: inline !important;
}

fieldset img {
	float: none !important;
	margin: 0 !important;
}

.checklist.usergroups {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #999;
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.badge-important {
	background-color: #b94a48;
}

.badge-success {
	background-color: #468847;
}