.tab .gradeCourseSelect,
.tab .gradeActivitySelect {
    background-repeat: no-repeat;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
}

.tab .gradeCourseSelect .gradeSelected,
.tab .gradeActivitySelect .gradeSelected{
    border: 1px solid #B8B8B8;
    padding: 3px 10px;
    border-radius: 100px;
    height: 30px;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 100%;
    cursor: pointer;
}

.tab .gradeCourseSelect .ulGradeSelected,
.tab .gradeActivitySelect .ulGradeSelected{
    border: 1px solid #B8B8B8;
    position: absolute;
    width: 160px;
    top: 16px;
    /*left: 0;*/
    border-top: none;
    /*box-shadow: 0 1px 1px 0;*/
    padding: 14px 0 0 0;
    box-shadow: 0 2px 2px;
    z-index: 0;
    cursor: pointer;
}

.tab .gradeCourseSelect .ulGradeSelected li,
.tab .gradeActivitySelect .ulGradeSelected li{
    z-index: 1;
    background: #fff;
}
.tab .gradeCourseSelect .ulGradeSelected li p,
.tab .gradeActivitySelect .ulGradeSelected li p {
    margin: 0 10px;
    border-bottom: 1px solid rgba(53, 137, 161, 0.1);
    padding: 3px 0;
}
.tab .gradeCourseSelect .ulGradeSelected li:hover,
.tab .gradeActivitySelect .ulGradeSelected li:hover{
    background-color: rgb(35, 154, 253);
    color: #fff;
}

.tab .gradeCourseSelect .ulGradeSelected li:last-of-type p,
.tab .gradeActivitySelect .ulGradeSelected li:last-of-type p{
    border-bottom: none;
}

.tab .joomdle-overview-content .joomdle-list .user-grade, .user-grade {
    width: 160px !important;
}

.tab .gradeSelected{
    /*width: calc(33% - 86px - 22px) !important;*/
}

.tab .gradeActivitySelect{
    width: 160px !important;
}

.mob .gradeCourseSelect,
.mob .gradeActivitySelect {
    background-repeat: no-repeat;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
}

.mob .gradeCourseSelect .gradeSelected,
.mob .gradeActivitySelect .gradeSelected{
    border: 1px solid #B8B8B8;
    padding: 3px 10px;
    border-radius: 100px;
    height: 30px;
    background-image: url(/images/icons/icon-arrow-down.png);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: 100%;
    cursor: pointer;
}

.mob .gradeCourseSelect .ulGradeSelected,
.mob .gradeActivitySelect .ulGradeSelected{
    border: 1px solid #B8B8B8;
    position: absolute;
    width: 160px;
    top: 16px;
    /*left: 0;*/
    border-top: none;
    /*box-shadow: 0 1px 1px 0;*/
    padding: 14px 0 0 0;
    box-shadow: 0 2px 2px;
    z-index: 0;
    cursor: pointer;
}

.mob .gradeCourseSelect .ulGradeSelected li,
.mob .gradeActivitySelect .ulGradeSelected li{
    z-index: 1;
    background: #fff;
}
.mob .gradeCourseSelect .ulGradeSelected li p,
.mob .gradeActivitySelect .ulGradeSelected li p {
    margin: 0 10px;
    border-bottom: 1px solid rgba(53, 137, 161, 0.1);
    padding: 3px 0;
}
.mob .gradeCourseSelect .ulGradeSelected li:hover,
.mob .gradeActivitySelect .ulGradeSelected li:hover{
    background-color: rgb(35, 154, 253);
    color: #fff;
}

.mob .gradeCourseSelect .ulGradeSelected li:last-of-type p,
.mob .gradeActivitySelect .ulGradeSelected li:last-of-type p{
    border-bottom: none;
}

.mob .joomdle-overview-content .joomdle-list .user-grade, .user-grade {
    width: 160px !important;
}

.mob .gradeSelected{
    /*width: calc(33% - 86px - 22px) !important;*/
}

.mob .gradeActivitySelect{
    width: 120px !important;
}
.select-grade-student{
    display: inline-block;
    margin-right: 7px !important;
}
.activitie-grades .grade-title span.lable-grade{
    margin-right: 7px !important;
}
.activities .status{
    background: url("/media/joomdle/images/icon/Completed_Uncompleted/NotCompletedIcon.png") no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 22px;
}
 .activities .statuscompleted {
     background: url("/media/joomdle/images/icon/Completed_Uncompleted/CompetedIcon.png") no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 22px;
}
.somediv{
   background: #fff;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 25%;
    right: auto;
    min-width: 270px;
    min-height: 300px;
    width: 50%;
    height: auto;
    text-align: center;
    color: white;
    padding: 20px 0% 25px 3%;
    z-index: 11014;    
}
.mob .somediv{
     top: 7%;
    left: 0%;
    right: auto;
    min-width: 270px;
    width: 100%;
    padding: 20px 1% 25px 3%;
    overflow-y:scroll !important;
    -webkit-overflow-scrolling:touch !important;
}
.somediv .closetitle{
    position: absolute;
    padding-top: 30px;
    left: 93%;
    z-index: 22222;
}
.mob.view-quiz .closetitleq{
    position: fixed;
    z-index: 1001;
    top: 72px;
    right: 22px;
/*    padding: 25px 22px 0px 22px;
    width: 100%;
    text-align: right;
    height: 65px;
    background: #fff;
    margin-top: 50px;*/
}

.somediv iframe{
    position: relative;
    z-index: 1000;
    border:none;
}
.mob .somediv .closetitle{
    padding-top: 15px;
}
.somediv iframe{
    position: relative;
    z-index: 1000;
    border:none;
}
.view-quiz #t3-content{
    margin-top: -80px;
}
.mob.view-quiz #t3-content{
    margin-top: 0;
}
.somediv .header-cover-image{
    height: 90px;
}
.mob .somediv .header-cover-image{
    background: #fff !important;
    margin-top: -19px;
    height: 90px;
    width: 113%;
    margin-left: -37px;
}
.tab .somediv .header-cover-content{
    background-color: transparent;
    margin-top: -19px;
    height: 90px;
    position: relative;
    width: 100%;
    z-index: 2222;
}
.mob .somediv .header-cover-content{
    background-color: #fff;
    margin-top: -19px;
    height: 90px;
    width: 113%;
    margin-left: -37px;
    height: 100%;
}
.somediv .header-cover-content .header-title h2{
    padding-top:30px;
}
.somediv .course-menu,.somediv .header-cover-content .back-left{
    display: none;
}
.somediv .header-cover-content .header-title{
    text-align: left;
    display: block;
    margin-left: 0%;
}
.tab.view-quiz #t3-mainnav{
    display: none;
}
.mob.view-quiz #t3-mainnav{
    display: block;
}
.view-quiz .title-quiz{
    text-align: left;
    padding-top:0px;
}
.joomdle-view-quiz .lblQuestion, .joomdle-view-quiz .lblAnswer,.view-quiz .labelClosedQuestions,.view-quiz .title-quiz{
   color:#484848;
   font-family: 'Open Sans', OpenSans-Bold, sans-serif;
    font-weight: 700;
}
.view-quiz .labelClosedQuestions{
   margin-bottom: 0px;
}
.mob.view-quiz .joomdle-view-quiz{
    padding: 22px;
    /*margin-top: 15%;*/
}

.tab.view-quiz .joomdle-view-quiz{
    padding:0px;
}
.student-activity .activitie-grades .grade-status{
    width:100% !important;
}
.completiondate{
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #484848;
    margin-bottom: 10px;
}
.mob .activities .statuscompleted, .mob .activities .status{
    margin-right: 0px;
}
.mob .grade-title .attach-result,.mob .grade-title .downloadass{
    float: right;
}
.user-grade{
    width: auto;
    float: left;
    height: 86px;
    margin-top: 0px;
    display: block !important;
    align-items: center;
}
.view-studentdetail .user-grade .grade{
    margin-top: 5px;
}
.view-quiz .questionReview img{
    margin: 0px 0px 5px 10px;
    width: 16px;
}
.tab .somediv .popupquiz{
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;  
    background-color: rgba(5, 5, 5, 0.2);
    z-index: 1000;
}
.mob .student-activity .activities{
    align-items: flex-start;
    margin: 10px 0px;
}
.mob .activitie-grades .grade-title span.time-completed-activity{
     margin: 10px 0px;
     display: block;
}
.joomdle-view-quiz .rightAnswerText{
    border: none;
}
.joomdle-student-view .student-activity .note{
    margin: 0px 0px 10px 0px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
}
.joomdle-student-view .student-activity .activities{
    margin-bottom: 0px !important;
}
.joomdle_course_progress .activities .title-activity{
    width: calc(100% - 60px);   
}
.joomdle_course_progress .activities .title-activity h5{
    margin-right: 15px !important;
}
.lgtPopup .popupContent{
    color: #484848 !important;
}
.mob .lgtPopup{
    width: 90% !important;
}
.mob .gradeActivitySelect .ulGradeSelected{
    width:120px;
}
.lgtPopup{
    width:50% !important;
}
.lgtPopup .btCancelPopup,.lgtPopup .btYesPopup{
    padding: 0 15px !important;
}
@media (max-width: 768px) {
      .somediv .closetitle {
        margin-left: 88%;
    }
}
@media (min-width: 768px) {
    /*.mob.view-quiz .closetitleq{
        margin-top: 8%;
    }*/
    .mob.view-quiz .joomdle-view-quiz{
        /*margin-top: 7%;*/
    }
}
@media (min-width:500px) and (max-width:768px) {
    .mob.view-quiz .closetitleq{
        /*margin-top: 11%;*/
    }
    .mob.view-quiz .joomdle-view-quiz{
        /*margin-top: 7%;*/
    }
}