.com_hikashop.view-product.layout-listing .hikashop_category_description{display: none;}
.checkout-step-header{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.view-checkout td{
    border:0px !important;
}

.hikashop_checkout_page form{
    padding-bottom: 50px;
    padding-top:50px;
}
div.checkout_price_detail span.hikashop_product_price_full span.hikashop_product_price{
    color:#878787;
    font-style:normal;
    text-align: right;
    font-weight: 300;
}
.com_hikashop.view-checkout.layout-step body{background:#FAFAFA;}
.com_hikashop.view-checkout.layout-step .checkout_price_detail a.hikashop_no_print{
    display: block;
}
label.custom_radio_label{
    background: url('/media/com_hikashop/images/paymentcustom/notselected.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    border: 0px;
    box-shadow: none;
}
label.custom_radio_label.active{
    background: url('/media/com_hikashop/images/paymentcustom/selected.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    border: 0px;
    box-shadow: none;
}
form .row #hikashop_checkout_prev_button.hikashop_cart_button{
    float:left;font-family:'Open Sans', OpenSans, sans-serif;
	font-weight: 400;font-size: 13px;color:#FFFFFF !important;background:url('/media/com_hikashop/images/arrow.png');padding-left:40px;padding-top:5px;padding-bottom:5px;background-repeat:no-repeat;background-size: 20% 64%;background-color:#4F5355;background-position:10%;	border-radius: 20px;
}
form .row #hikashop_checkout_next_button.hikashop_cart_button{float:right;}
form .row .hikashop_cart_button,.view_invoice{
    font-family:'Open Sans', OpenSans, sans-serif;
	font-weight: 400;font-size: 13px;color:#FFFFFF !important;background:url('/media/com_hikashop/images/arrow_forward.png');padding-right:40px;padding-top:5px;padding-bottom:5px;background-repeat:no-repeat;background-size: 20% 64%;background-color:#4F5355;background-position:90%;border-radius: 20px;padding-left: 40px;
}
.hikashop_checkout_page_step0 form .row .hikashop_cart_button{
    background-image:none;float: right;
}
.hikashop_checkout_page_step2 form .row #hikashop_checkout_prev_button.hikashop_cart_button,.hikashop_checkout_page_step2 form .row .hikashop_cart_button{
    background-image:none;
}
.completed_step{
    background-image: url('/media/com_hikashop/images/tickicon.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50% 18%;
}
input.hikashop_checkout_payment_radio{display:none;}
#hikashop_payment_methods td{background-color:transparent;}
/* POPUP - Notice box style */
#sbox-overlay {
    opacity: 0.2 !important;
}
#sbox-window{
    /*height: 260px !important;*/
    /*top:25% !important;*/
    /*background:#3A85C2 !important;*/
    /*border-radius: 10px !important;*/
    /*padding:0px;*/
    /*width:500px !important;*/
    /*left:calc(calc( 100% - 500px ) / 2) !important;*/
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);
    border-radius: 20px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    right: auto;
    min-width: 270px;
    width: auto !important;
    height: auto !important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px 10px 25px 10px;
    z-index: 11112;
}
#sbox-window.shadow {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
#sbox-content{
    border-radius: 10px !important; height: 160px !important;width:270px;
    overflow: hidden !important;
}
#sbox-content iframe{height: 160px !important;border-radius: 10px;width: 270px;}
#sbox-btn-close {
    right: 5px;
    top:10px;
    background:url('/media/com_hikashop/images/closeicon.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.window-mainbody {
    padding: 0 !important;
    text-align: center;
    /*background: #3A85C2 !important;*/
    /*height: 260px !important;*/
}
.notice-button{
    /*padding:15px 20px 15px 20px;*/
    display: inline-block;
    /*background:#4F5355;*/
    /*border-radius: 31px;*/
    /*color:white;*/
    text-align: center;
    margin: 0;
    background-color: #4f5355;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ddd !important;
    border: none;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 20px;
}
.notice-button:hover{
    color:white;cursor: pointer;text-decoration: none;
}
.notice-button i{float: right;display: none;}
.notice-button img {
    display: none;
}
.notice-title {
    padding: 0;
    margin: 0 0 33px 0;
    display: block;
    color: #484848;
    text-align: center;
    position: relative;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
}
/* COURSE LISTING PAGE START */
.com_hikashop.view-product.layout-listing #t3-content,
.com_hikashop.view-category.layout-listing #t3-content{background-color: #fff;}
ul.thumbnails{padding: 0px;}
ul.thumbnails li.hikashop_product{list-style: none;}
#t3-content .hikashop_products_listing div.hikashop_container{margin:0px;}
.layout-listing body{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-color: #fff;
}
#hikashop_category_information_module_ div.hikashop_subcontainer,#hikashop_category_information_module_ div.hikashop_product{	background-color: #dcdcdc !important;}
.hikashop_subcontainer.thumbnail{
    padding:0px;
    border:0px;
}
/* COURSE LISTING PAGE END */
.address_fields{
    padding:20px !important;
    background: #ebe6e6 !important;
    border-radius: 20px !important;
    margin-bottom: 15px;
    color:#4C4C4C;
}
.hikashop_checkout_header{
    position: fixed;
    width: 100%;
    top:50px;
    z-index: 30;
}
.hikashop_checkout_header span{
    display: block;line-height: 50px;	color:#DDD5D5;
}
.hikashop_checkout_header i{
    display: none;
}
.hikashop_checkout_header .active  i{
    display: inline-block;
    position: absolute;
    bottom: -6px;
    color: white;
    font-size: 20px;
    left:47%;
}
.hikashop_checkout_header .active span{
    color: white;
}
.hikashop_checkout_header {
    height: 50px;
    background: #50575E;
}
.category_mainmenu {
    font-size: 0;
    position: sticky;
    top: 50px;
    background-color: #fff;
    margin-bottom: 0;
    z-index: 2;
}
.category_mainmenu .category_menu {
    display: inline-block;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border-bottom: 2px solid #B8B8B8;
}
.category_mainmenu .category_menu.active,
.com_hikashop.view-product .category_menu:first-of-type,
.com_hikashop.view-category .category_menu:nth-of-type(2) {
    border-bottom: 2px solid #126DB6
}
.category_submenu .open .dropdown-menu{
    position: relative;
    width: 100%;
    padding: 0px;
    box-shadow: none;
    background: #A6A9AC;
    border: 0px;
}
.category_submenu .open .dropdown-menu li:last-child hr{display: none;}
.category_menu {
    height: 40px;
    line-height: 40px;
    background: #50575E;
    color:#DDD5D5;
}
.hikashop_checkout_header .active,.category_menu.active{
    color:white;
}
.category_menu_title_link{
    color:#DDD5D5;
}
.category_menu_title_link:active{
    color:white;
}
.category_menu_title {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 16px;
    color: #B8B8B8;
    line-height: 38px;
}
.category_menu.active .category_menu_title,
.com_hikashop.view-product .category_menu:first-of-type .category_menu_title,
.com_hikashop.view-category .category_menu:nth-of-type(2) .category_menu_title {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
}
.category_submenu{
    display: none;
    line-height: 25px;
    background: #656B71;
    position:absolute;
    left:0;
    width:100%;
    z-index:2;
    text-align:left;
    color:white;
}
.category_submenu span{
    width: 100%;
}
.category_submenu span a{
    color:white;
}
.category_submenu .submenu_circle_icon{
    float: right;line-height: 25px;
}
.category_submenu li li{
    background:#A6A9AC;
}
.category_submenu li li a{
    color:white;
    padding:15px 10px 15px 25px;
}
.submenu_caret{
    position: absolute;left: 25px;top:30px;color:#A6A9AC;font-size: 25px !important;
}
.categorymenu_caret{
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #dcdcdc;
    bottom: 0;
    left: 50%;
    margin-top: -10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    /*position: absolute;font-size: 25px !important;display: block !important;margin: auto;margin-top: -18px;width: 33%;color:#656B71 ;*/
}
.submenu_line,.separator_line{
    width:90%;height: 1px;border: 0px;display: block;margin: auto;background:white;opacity: 0.15;
}
.separator_line{width:96%;}
/* BUNDLE Listing START */
.hikashop_bundle_list,.hikashop_bundle_row{margin-left: 14px;margin-right: 14px;background-color: #DFDFDF;}
.hikashop_bundle_row{padding:10px 0 10px 0;}
.hikashop_bundle_separater{margin:0px;}
.hikashop_product_right_part br{display: none;padding:0px;}
.hikashop_bundle_right_arrow{float: right;padding:0px;}
.hikashop_option_name{padding:0px;}
#hikashop_product_options{border: 0px;padding: 0px;border-radius: 0px;margin-bottom: 20px;}
/* BUNDLE Listing END */

.hikashop_product_name a{color:#126DB6;font-weight: 600;font-size: 14px;}
.hika_listing_image_desc{background-color:white;padding:10px;min-height:220px;}
.hikashop_product_image{height: 174px !important;}
.thumbnail a > img.hikashop_product_listing_image{width:100%;height:174px;}
.hika_list_image_desc_bottom{padding: 5px;}
.hika_list_image_desc_bottom .titleDiv{width:75%;min-height: 40px;float: left;}
.hika_product_list_price_hour{display: block;float: left;}
span.hikashop_product_price_full{padding-top:0px !important;height: auto !important;}
.hika_listing_image_desc .hikashop_product_desc{font-size: 14px;font-weight: 300;}
.hika_thumbnail_continue{padding:5px 25px 5px 25px;border-radius: 10px;width:250px;background-color: #4F5355;font-size: 12px;color:white;}
.hikashop_category_description{
    display: none;
}
div.hikashop_products div.hikashop_container div.hikashop_subcontainer{
    height:auto !important;
}
.hikashop_product_left_part,.hikashop_product_right_part{width:100%;}
.hikashop_product_stock{text-align: right;}
.hikashop_mini_cart{height: auto !important;padding:20px !important;}
.hikashop_mini_cart a{display: block;}
.hikashop_small_cart_checkout_link{width:auto !important;}
.hika_product_detail_title{font-size: 26px;}
.hikashop_product_estimated_duration,.hikashop_product_price_main .hikashop_product_price{font-weight: bold;color: black;font-style: normal;}
.hikashop_product_page a.hikashop_cart_button{background:#4f5355;
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25) !important*/;
    border-radius: 100px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size:16px;
    color:#ffffff !important;
    padding:5px 15px;
    /*background:url('/templates/t3_bs3_blank/images/cart_white.png');*/
    /*padding-right:35px;*/
    /*background-repeat:no-repeat;*/
    /*background-size: 15% 60%;*/
    background-color:#4F5355;
    /*background-position:90%;*/
    text-transform: uppercase;
}
.view-product #t3-mainbody{background-color: #F8F8F8;}

#hikashop_category_information_module_ div.hikashop_subcontainer{height:auto !important;}

.com_hikashop.layout-listing.view-product .hikashop_container,.com_hikashop.layout-listing.view-product .hikashop_container .hikashop_subcontainer{background-color: #DCDCDC;}
.com_hikashop.layout-listing.view-product .hikashop_container .hikashop_subcontainer{padding-top:0px !important;padding-bottom: 0px !important;}
/* Search */
.hikashop_filter_main_div{display: none;}

/* Search Bar */
.search-bar-catalog{display: none;background-color: #f0f0f0;}
.com_hikashop.view-category.layout-listing .search-bar-catalog{display: block;}
.com_hikashop.view-product.layout-listing .search-bar-catalog{
    display: block;
}
.search-catalog{
    height:38px !important;border-color:#c7c7c7 !important;background-image:url('/media/com_hikashop/images/SearchIcon_726D6D.png') !important;background-size:20px 20px;background-repeat: no-repeat;background-position: 10px center;width:100% !important;border-radius: 100px !important;background-color:#c2c2c2 !important;color: #555555 !important;letter-spacing: 0px;
}
/* Leaning Recommendar */
.paulund_modal{display: block;float: right;background:#4f5355;border-radius: 100px;font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;font-size: 12px;color:#FFFFFF;padding:10px 20px 10px 20px;margin: 10px;display:none;}
.paulund_modal:hover{text-decoration: none;color:#FFFFFF;cursor:pointer; }
.com_hikashop.view-category.layout-listing .hikashop_container{margin-left: 0px !important;margin-right: 0px !important;}
.com_hikashop.view-category.layout-listing .hikashop_container .hikashop_subcontainer{
    height: auto !important;
}

/* Pagination */
.hikashop_products_pagination{display: none !important;}

/* order  */
#hikashop_order_back_button{display: none;}
.com_hikashop.view-order.layout-show table,
.com_hikashop.view-order.layout-show tr,
.com_hikashop.view-order.layout-show td,
.com_hikashop.view-order.layout-show div,
.com_hikashop.view-order.layout-show fieldset{border:0px !important;font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;}
.com_hikashop.view-order.layout-show h1{margin: 15px;border:0px !important;}
.com_hikashop.view-order.layout-show .billing-address{padding-left: 9px;}
.hikashop_order_product_name{font-weight: 700;font-size: 14px !important; color:#126db6 !important;}
.hikashop_order_item_price_title,.hikashop_order_item_price_value{font-size: 0px !important;}


/* Product Detail Options */
#hikashop_product_price_with_options_main{display:none;}


#hikashop_order_main form{
    margin:20px;
}

#hikashop_order_main form table{
    background: #f8f8f8;
}

@media screen and (max-width: 768px) {
    .view_invoice{
        display: block;
        margin-left: auto !important;
    }
}

.view_invoice:hover{
    text-decoration: none;
}

.checkout_product_title{font-weight:700;font-size: 16px;color:#126db6;}

.courseItem,
.categoryItem {
    margin-top: 22px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid rgba(130, 130, 130, 0.5);*/
    box-shadow: 0 0 2px rgba(130, 130, 130, 1);
}
.hikashop_product:first-of-type .courseItem,
.hikashop_category:first-of-type .categoryItem {
    margin-top: 33px;
}
.courseItem.lgt-invisible {
    display: none;
}
.courseItem .courseImage,
.categoryItem .hikashop_category_listing_image {
    height: 165px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e6e6e6;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(130, 130, 130, 0.5);
}
.courseItem .courseImage .courseDurationPrice,
.hikashop_product_page .hikashop_product_listing_image .productDurationPrice {
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    background-color: rgba(47, 46, 46, 0.55);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.hikashop_subcontainer span.hikashop_product_price_full,
.hikashop_product_listing_estimatedhours {
    font-style: normal;
    font-weight: 300;font-size: 16px;
    display: inline-block;
    text-align: right !important;
    padding-right: 0;
    color: #fff;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
}
.hikashop_subcontainer span.hikashop_product_price_full span.hikashop_product_price {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    height: 34px;
    display: block;
    text-align: right !important;
    padding-right: 0px;
}
.courseItem .courseImage .courseDurationPrice,
.hikashop_product_page .hikashop_product_listing_image .productDurationPrice {
    position: absolute;
    top: 10px;
    right: 0;
    color: #fff;
    background-color: rgba(47, 46, 46, 0.55);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.courseItem .courseImage .courseCreator {
    bottom: 0;
}
.courseItem .courseImage .courseStatus {
    position: absolute;
    top: 10px;
    left: 0;
    color: #5e5e5e;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    text-transform: capitalize;
}
.courseItem .courseContent,
.categoryItem .hikashop_category_listing_middle {
    padding: 22px;
    height: 144px;
}
.courseItem:not(.isCommonCourse) .courseContent {
    /*background-color: #C5C7C9;*/
    background-color: #fff;
}
.courseItem .courseContent .courseTitle,
.categoryItem .hikashop_category_listing_middle .hikashop_category_title {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 15px;
    color: #5e5e5e;
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
    cursor: pointer;
}
.courseItem .courseContent .courseDescription,
.categoryItem .hikashop_category_listing_middle .hikashop_category_listing_description {
    font-size: 15px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #5e5e5e;
    line-height: 22px;
    margin: 0;
    height: 44px;
    overflow: hidden;
}
.hikashop_product,
.hikashop_category {
    width: 100%;
}
.hikashop_product_page .hikashop_product_detail,
.view-product .login-register-page #t3-mainbody {
    background: #FFFFFF;
}
.hikashop_product_page .product_detail_description,
.hikashop_product_page .product_learning_outcomes,
.hikashop_product_page .product_target_audience,
.hikashop_product_page .product_course_validity,
.hikashop_product_page .product_button_add_to_cart {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
    padding: 33px 22px 0 22px;
}
.hikashop_product_page p.heading {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin: 0 0 11px 0;
    color: #5e5e5e;
}
.hikashop_product_page .hikashop_product_listing_image {
    width: 100%;
    height: 200px;
    max-width: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 221, 0.5);
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 30px;
    display: block;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar .back {
    display: block;
    left: calc(22px - 10px);
    top: 9px;
    position: absolute;
    padding: 0 10px;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar .back img {
    width: 12px;
    height: 21px;
}
.hikashop_product_page .hikashop_product_listing_image .productTitleBar .productTitle {
    margin: 0 !important;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px !important;
    text-shadow: none;
    color: #fff;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0 22px 0 calc(22px + 22px);
}
.provider_col{
    /*margin-top: 20px;*/
    display: none;
}
.window body {
    background-color: #fff;
}