.home h1 {
    line-height: 1;
}
.home h2 {
    font-size: 21px;
}
.home .search {
    width: 50%;
    float: right;
    padding-top: 10px;
}
.home .status {
    width: 100%;
    float: right;
}
.home .search .search-box #txtKeyword{
    color: #555555;
    border-radius: 15px;
    background-image: url('/images/icons/SearchIcon_726D6D.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 6px 12px 6px 37px;
    background-position: 9px center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    letter-spacing: 0px;
}
.home .status .status-post #txtStatusPost {
    background: #efecec;
    border-radius: 100px;
    border: none;
    height: 60px;
    vertical-align: middle;
    font-size: 13px;
    width: 100%;
    padding-left: 25px;
}
.home .status .status-post #btPost {
    float: right;
    margin-top: 12px;
    border: none;
    background: #4F5355;
    color: white;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 13px;
    border-radius: 60px;
    line-height: 35px;
    padding: 0 25px;
}
.home .status .create-your-profile {
    display: block;
    margin-top: 23px;
    width: 100%;
}
.home .search .message-login {
    margin-top: 15px;
    color: white;
    width: 100%;
    background: #098137;
    line-height: 34px;
    font-size: 18px;
    font-weight: bold;
}
.home .my-course .course-content-block .program {
    background-color: #c5c7c9;
}

.home .search .search-box,
.home .search .search-box .form-search-box,
.home .search .search-box .form-search-box input[name="keyword"] {
    width: 100%;
    border-radius: 0;
}

.group-activity .group-activity-header img {
    width: 30px;
    height: 30px;
}
.home .mygroups .mygroup-content-block .group-title img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.mygroups .mygroup-content-block .count {
    position: absolute;
    color: #fff;
    background: #126DB6;
    z-index: 1;
    /* padding: 3px; */
    border-radius: 50%;
    font-size: 10px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: -5px; 
    line-height: 20px;
    text-align: center;
}
.home .ft-create-profile,
.home .ft-browse-courses,
.home .ft-browse-circles,
.home .ft-search-friends {
    clear: both;
    width: 100%;
    display: table;
    margin-bottom: 10px;
    border-bottom: 1px solid #D3E7F7;
    padding-bottom: 10px;
}
.home .ft-create-profile > img,
.home .ft-browse-courses > img,
.home .ft-browse-circles > img,
.home .ft-search-friends > img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.home .ft-create-profile .description,
.home .ft-browse-courses .description,
.home .ft-browse-circles .description,
.home .ft-search-friends .description {
    text-align: left;
    color: #383838;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.home .ft-create-profile > a,
.home .ft-browse-courses > a,
.home .ft-browse-circles > a,
.home .ft-search-friends > a {
    float: right;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.home .ft-create-profile > a:after,
.home .ft-browse-courses > a:after,
.home .ft-browse-circles > a:after,
.home .ft-search-friends > a:after {
    background: url('/images/icon_ar_right.png');
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-left: 10px;
}
.home .ft-create-profile h2,
.home .ft-browse-courses h2,
.home .ft-browse-circles h2,
.home .ft-search-friends h2 {
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    text-indent: 5px;
    font-size: 16px;
    color: #126DB6;
}
    #t3-mainnav .popover.bottom {
        margin-top: -5px;
        width: 100%;
        border-radius: 0px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    }
    #t3-mainnav .popover.bottom a {
        color: #282727;
        font-size: 14px;
    }
    .popover.bottom > .arrow {
        margin-left: 4px;
    }
    #t3-mainnav .popover.bottom .popover-content {
        padding: 0px;
    }
    #t3-mainnav .popover.bottom .popover-content .modal-sm{
        margin: 0px;
        width: 100%;
        max-height: 500px;
        overflow: scroll;
    }
    .joms-stream__body-notification {
        padding: 10px;
    }
    .joms-stream--discussion.notifications.default {
        padding: 10px;
    }
    .notifications.not-read {
        background: #E0F0FB;
        cursor: pointer;
    }
@media screen and (min-width: 768px) {
    .home h2 {
        font-size: 30px;
    }
    #t3-mainnav .popover.bottom {
        /*left: 318px !important;*/
    }
}

@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 960px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      #t3-mainnav .popover.bottom {
        /*left: 509px !important;*/
    }
}
@media only screen and (max-width: 600px) {
      #t3-mainnav .popover.bottom {
        /*left: 150px !important;*/
    }
}
.home .jumbotron {
    background-color: transparent;
    position: relative;
    margin-bottom: 0;
}
.home .t3-sl-1 {
    padding: 0;
    background: #ffffff;
    color: #333333;
    border-bottom: 1px solid #eeeeee;
}
.home .t3-sl-1 .jumbotron {
    border-radius: 0;
}
.home .t3-sl-1 .jumbotron .btn {
    margin-top: 20px;
}
.home .t3-sl-2 {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 15px;
}
.home .t3-sl-2 .img-responsive {
    display: inline-block;
}
.home .t3-sl-3 {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (min-width: 768px) {
    .home .t3-sl-2 p {
        font-size: 16px;
        line-height: 22px;
    }
}
.home .t3-sl-3 p > img {
    margin-top: 20px;
}
@media screen and (min-width: 992px) {
    .home .t3-sl-3 p > img {
        margin-top: 0;
    }
    .home .status-post {
        margin-top: -20px;
        position: static;
        z-index: 9000;
        width: 100%;
    }
}
.home .t3-sl-3,
.home .t3-sl-4 {
    /*border-top: 1px solid #eeeeee;*/
    text-align: center;
    padding: 15px 0;
}
@media screen and (min-width: 768px) {
    .home .t3-sl-3 p,
    .home .t3-sl-4 p {
        font-size: 16px;
        line-height: 22px;
    }
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
    padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
    margin-bottom: 10px;
    margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
    font-size: 18px;
    line-height: 1.25;
    color: #999999;
}
@media screen and (min-width: 768px){
    .home .t3-sl-3 .jumbotron p,
    .home .t3-sl-4 .jumbotron p {
        font-size: 21px;
    }
    .home .status-post {
        margin-top: 15px;
        position: static;
        /*z-index: 9000;*/
        width: 100%;
    }
    .home .my-course {
        margin-top: 0px;
        position: relative;
    }
    .home .my-course .course-title-block{
        width: 30%;
        height: 30px;
        /*border-radius: 5px;*/
        margin-left: 0;
        margin-bottom: 10px;
    }
    .home .my-course .course-title-block h2 {
        font-size: 22px;
        text-align: left;
    }
    .home .my-course .course-title-block h2 a, .home .status .ft-create-profile h2 a {
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        position: relative;
        width: 100%;
        display: block;
        text-align: left;
        /*text-indent: 15px;*/
    }
    .home .my-course .course-content-block {
        display: inline;
    }
    .home .my-course .course-content-block ul li{
        list-style: none;
        height: 100px;
        margin-left: 0;
        padding: 5px;
        border: 1px solid rgb(153, 153, 153);
        padding-bottom: 2px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 50%;
    }
    .home .my-course .course-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
        margin-top: 5px;
    }
    .home .my-course .course-content-block ul li a {
        /*margin-top: 15px;*/
        float:right;
    }
    .home .my-course .course-search {
        display: none;
    }
    .home .swiper-slide{
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

    }
    .home .course-content-block.desktop-tablet .swiper-wrapper .swiper-slide {
        
        height: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        margin-top: 10px;
    }
    .home .my-course .swiper-wrapper .swiper-slide img {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
    }
/*    .home .mygroups .swiper-wrapper .swiper-slide img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 10px;
    }*/
    .home .swiper-wrapper .swiper-slide .course-description {
        text-align: left;
        font-size: 14px;
    }
    .home .swiper-wrapper .swiper-slide .title-course {
        width: 100%;
        height: 100%;
    }
    .home .swiper-wrapper .swiper-slide .title-course .course-title{
        font-size: 13.28px;
        padding: 0 20px;
        line-height: 30px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
        font-weight: 700;
        color: #126DB6;
        display: block;
        height: 30px;
        overflow: hidden;
        /* border-top: 1px solid rgba(18, 109, 182, 0.16); */
        margin-top: 10px;
    }
    .swiper-wrapper .swiper-slide .title-course a.continue-learning{
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 13px;
            font-family: 'Helvetica Neue', sans-serif;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
    }
    .desktop-tablet .swiper-button-next{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url('/images/icons/arrow_right.png');
        background-position: 42% 70%;
        background-size: 129%;

    }
    .desktop-tablet.my-course .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet.mygroups .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet .swiper-button-prev{
        top: 38% !important;
        display: none;
    }
    .home .mygroups {
        margin-top: 0px;
        position: relative;
    }
    .home .mygroups .group-title {
        padding: 10px;
        overflow: hidden;
    }
    .home .mygroups .group-description {
        text-align: left;
    }
    .home .mygroups .group-title .gr-title {
        width: 100%;
        /* float: left; */
        display: block;
        margin-left: 0px;
        line-height: 30px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .home .mygroups .group-title .gr-title {
        text-align: left;
        font-size: 14px;
        color: #92d050;
    }
    
    .home .mygroups .mygroup-title-block{
        width: 30%;
        height: 30px;
        /*border-radius: 5px;*/
        margin-left: 0;
    }
    .home .mygroups .mygroup-title-block h2 {
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        position: relative;
        width: 100%;
        display: block;
        text-align: left;
        /*text-indent: 15px;*/
    }
    .home .mygroups .mygroup-title-block h2 a{
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
    }
    .home .mygroup-content-block .swiper-button-next {
        top: 65% !important;
    }
    .home .mygroup-content-block .swiper-button-prev {
        top: 65% !important;
        display: none;
    }
    h2 .count {
        background: #f2a711;
        width: 32px;
        height: 30px;
        display: inline-block;
        border-radius: 20px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity {
        height: 55px;
        width: 100%;
    }
    .home .mygroups .group-activity .group-activity-header img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .home .mygroups .group-activity .group-activity-action {
        float: left;
        width: 80%;
        text-align: left;
        font-size: 16px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .group-activity-body .action-content {
        font-size: 16px;
        text-align: left;
    }
    .home .mygroups .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 50%;
            left: 60%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
            background: url('/images/icons/player.png') no-repeat;
            background-size: 100px 60px;
    }
    .home .mygroups .group-activity .group-activity-header {
        width: 14%;
        float: left;
        height: 50px;
    }
    .mygroups .mygroup-content-block .count {
        position: absolute;
        color: #fff;
        background: #126DB6;
        z-index: 1;
        /* padding: 3px; */
        border-radius: 50%;
        font-size: 10px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        margin-top: -10px;
        margin-right: -5px; 
        line-height: 20px;
        text-align: center;
    }
}
@media screen and (min-width: 600px){
    .home .t3-sl-3 .jumbotron p,
    .home .t3-sl-4 .jumbotron p {
        font-size: 21px;
    }
    .home .status-post {
        margin-top: 15px;
        position: static;
        /*z-index: 9000;*/
        width: 100%;
    }
    .home .my-course {
        margin-top: 0px;
        position: relative;
    }
    .home .my-course .course-title-block{
        width: 30%;
        height: 30px;
        /*border-radius: 5px;*/
        margin-left: 0;
        margin-bottom: 10px;
    }
    .home .my-course .course-title-block h2 {
        font-size: 22px;
        text-align: left;
    }
    .home .my-course .course-title-block h2 a, .home .status .ft-create-profile h2 a {
        color: #0070c0;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }
    .home .my-course .course-content-block {
        display: inline;
    }
    .home .my-course .course-content-block ul li{
        list-style: none;
        height: 100px;
        margin-left: 0;
        padding: 5px;
        border: 1px solid rgb(153, 153, 153);
        padding-bottom: 2px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 50%;
    }
    .home .my-course .course-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
        margin-top: 5px;
    }
    .home .my-course .course-content-block ul li a {
        /*margin-top: 15px;*/
        float:right;
    }
    .home .my-course .course-search {
        display: none;
    }
/*    .home .my-course .course-content-block .swiper-container {
        overflow: visible;
    }*/
    .home .swiper-slide{
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

    }
    .home .mygroups .swiper-wrapper .swiper-slide {
        height: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        margin-top: 10px;
        background-color: #fff;
        
    }
    .home .my-course .swiper-wrapper .swiper-slide img {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
    }
/*    .home .mygroups .swiper-wrapper .swiper-slide img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 10px;
    }*/
    .home .swiper-wrapper .swiper-slide .course-description {
        text-align: left;
        font-size: 14px;
    }
    .home .swiper-wrapper .swiper-slide .title-course {
        text-align: left;
        width: 100%;
    }
    .home .my-course .course-content-block.desktop-tablet .title-course .course-image-wrapper {
        width: 100%;
        height: 150px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(/courses/theme/parenthexis/pix/nocourseimg.jpg);
    }
    .home .swiper-wrapper .swiper-slide .title-course .course-title {
        font-size: 13.28px;
        padding: 0 20px;
        line-height: 30px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
        font-weight: 700;
        color: #126DB6;
        display: block;
        height: 30px;
        overflow: hidden;
        /* border-top: 1px solid rgba(18, 109, 182, 0.16); */
        margin-top: 10px;
    }
    .home .my-course .course-content-block .title-course .course-timeend {
            font-family: 'Open Sans', OpenSans-Bold, sans-serif;
        font-weight: 700;
            font-size: 13px;
            color: #383838;
            padding: 0 20px;
            margin: 0;
            line-height: 24px;
    }
    .home .my-course .course-content-block .title-course .course-description {
        font-size: 13px;
        padding: 0 20px;
        line-height: 20px;
        margin: 0;
         padding-bottom: 40px; 
        min-height: 100px;
        overflow: hidden;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    }
    .swiper-wrapper .swiper-slide .title-course a.continue-learning{
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 13px;
            font-family: 'Helvetica Neue', sans-serif;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
    }
    .desktop-tablet .swiper-button-next{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url('/images/icons/arrow_right.png');
        background-position: 42% 70%;
        background-size: 129%;

    }
    .desktop-tablet.my-course .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet.mygroups .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet .swiper-button-prev{
        top: 38% !important;
        display: none;
    }
    .home .mygroups {
        margin-top: 0px;
        position: relative;
    }
    .home .mygroups .group-title {
        padding: 10px;
        overflow: hidden;
        width: 100%;
    }
    .home .mygroups .group-description {
        text-align: left;
    }
    .home .mygroups .group-title .gr-title {
        margin-top: 15px;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
        font-weight: 700;
        color: #126DB6;
        text-align: left;
        min-height: 50px;
    }
    .home .mygroups .mygroup-content-block .group-title .group-description {
        font-size: 13px;
        /* padding: 0 10px 0px 10px; */
        min-height: 50px; 
        line-height: 24px;
        margin: 0;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        color: #797979;
        height: 75px;
    }
    .home .mygroups .mygroup-content-block .group-title .group-statistic {
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        font-size: 13px;
        color: #797979;
        line-height: 24px;
        clear: both;
        /* width: 100%; */
        float: left;
        display: block;
    }
    .home .mygroups .mygroup-content-block .group-title .continue-learning {
        padding: 0 15px;
        line-height: 24px;
        color: #fff;
        float: right;
        background: #4f5355;
        border-radius: 50px;
        font-size: 12px;
    }
    .home .mygroups .mygroup-content-block .group-title .gr-owner {
        margin: 0px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #383838;
        line-height: 24px;
        text-align: start;
    }
    
    .home .mygroups .mygroup-title-block{
        width: 30%;
        height: 30px;
        /*border-radius: 5px;*/
        margin-left: 0;
    }
    .home .mygroups .mygroup-title-block h2 {
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        text-align: left;
    }
    .home .mygroups .mygroup-title-block h2 a{
        color: #0070c0;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }
    .home .mygroup-content-block .swiper-button-next {
        top: 65% !important;
    }
    .home .mygroup-content-block .swiper-button-prev {
        top: 65% !important;
        display: none;
    }
    h2 .count {
        background: #f2a711;
        width: 32px;
        height: 30px;
        display: inline-block;
        border-radius: 20px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity {
        height: 55px;
        width: 100%;
    }
    .home .mygroups .group-activity .group-activity-header img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .home .mygroups .group-activity .group-activity-action {
        float: left;
        width: 80%;
        text-align: left;
        font-size: 16px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .group-activity-body .action-content {
        font-size: 16px;
        text-align: left;
    }
    .home .mygroups .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 55%;
            left: 65%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
            background: url('/images/icons/player.png') no-repeat;
            background-size: 100px 60px;
    }
    .home .mygroups .group-activity .group-activity-header {
        width: 14%;
        float: left;
        height: 50px;
    }
    .home .my-course.desktop-tablet.tablet.have-courses {
        margin-top: -30px;
    }
    .mygroups .mygroup-content-block .count {
        position: absolute;
        color: #fff;
        background: #126DB6;
        z-index: 1;
        /* padding: 3px; */
        border-radius: 50%;
        font-size: 10px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        margin-top: -10px;
        margin-right: -5px; 
        line-height: 20px;
        text-align: center;
    }
  
}
.home .t3-sl-5 {
    background: #ffffff;
    color: #333333;
    border-top: 1px solid #eeeeee;
    padding: 0;
}
.home .t3-sl-5 .jumbotron {
    border-radius: 0;
    margin-bottom: 0;
}
.swiper-wrapper .swiper-slide {
    width: 522px;
}
.home .status-post .joms-postbox {
    margin-bottom: 0;
}
.home .status-post .joms-postbox .joms-postbox-input {
    min-height: 75px;
}
.home .status-post textarea {
    min-height: 60px !important;
    border-radius: 0;
}
.home .status-post input[type="submit"] {
    padding: 0px 10px;
    line-height: 30px;
    background-color: #098137;
    color: white !important;
    font-size: 13px;
    border-radius: 0;
}
h2 .count{
    background: #f2a711;
    width: 32px;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-indent: 0;
}
@media screen and (min-width: 1024px) {
    .home .status-post {
        margin-top: 15px;
    }
    .home .swiper-wrapper .swiper-slide {
        /*width: 50% !important;*/
    }
    .desktop-tablet .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet .swiper-button-prev{
        top:60% !important;
        display: none;
    }
    .home .mygroup-content-block .swiper-button-next {
        top: 60% !important;
    }
    .home .mygroup-content-block .swiper-button-prev {
        top: 60% !important;
        display: none;
    }
    h2 .count {
        background: #f2a711;
        width: 32px;
        height: 30px;
        display: inline-block;
        border-radius: 20px;
        margin-left: 10px;
    }
    
    .group-activity .group-activity-header img {
        width: 30px;
        height: 30px;
    }
    .home .mygroups .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 50%;
            left: 32%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
            background: url('/images/icons/player.png') no-repeat;
            background-size: 100px 60px;
    }
    .mygroups .mygroup-content-block .count {
        position: absolute;
        color: #fff;
        background: #126DB6;
        z-index: 1;
        /* padding: 3px; */
        border-radius: 50%;
        font-size: 10px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        margin-top: -10px;
        margin-right: -5px; 
        line-height: 20px;
        text-align: center;
    }
    #t3-mainnav .popover.bottom {
        /*left: 900px !important;*/
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
    #t3-mainnav .popover.bottom {
        /*left: 815px !important;*/
    }
}
@media (min-width: 769px) and (max-width: 1000px) {
    #t3-mainnav .popover.bottom {
        /*left: 480px !important;*/
    }
}
@media (min-width: 1000px) and (max-width: 1047px) {
    #t3-mainnav .popover.bottom {
        /*left: 540px !important;*/
    }
}
@media (min-width: 1600px){
    #t3-mainnav .popover.bottom {
        /*left: 1135px !important;*/
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      #t3-mainnav .popover.bottom {
        /*left: 574px !important;*/
    }
}