body{
    background: #F8F8F8;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
}
.col-md-6, .col-sm-12, .col-xs-12, .col-xs-4, .col-xs-8{
    /*margin : 0px !important;*/
}
.col-xs-8{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.content-assign{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}
.title{
    color: #126db6;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0;
    margin-top: -25px;
    margin-bottom: 15px;
}
.title-assign span, .des span,.brief span{
    font-size: 14px;
    font-weight: normal;
}
.title-assign input{
    border-radius: 20px;
    background: #EFECEC;
    border: none !important;
    box-shadow: none !important;
    margin-top: -10px;
}
.des textarea{
    height: 98px;
    width: 100%;
    box-shadow: none !important;
    margin-top: -15px !important;
}
.title-assign , .des , .time-quiz, .attribute-assignment{
    margin-bottom: 10px;
}
.time-quiz{
    clear: both;
}
.attribute-assignment span{
    font-size: 14px;
    color:#E7E7E7;
}
@media screen and (min-width: 1000px) {
    .title-assign input{
        width: 30%;
    }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
    .title-assign input{
        width: 30%;
    }
}
@media screen and (min-width: 100px) and (max-width: 767px) {
    .title-assign input{
        width: 100%;
    }
}
.btn-bottom{
    clear: both;
    padding-top: 90px !important;
}
.btn-bottom a span,.btn-brief a span{        
    border-radius: 20px;
    padding: 4px 15px;
}
.cancel{
    float:left;
    background: #E7E7E7;
    color: #4F5355;
}
.btnn{
    border-radius: 20px;
    padding: 4px 15px;
}
.next, .save-brief,.btnn{
    color: #fff;
    float:right;
    background: #4F5355;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.assignment-brief{
    clear: both !important;
}
.save-brief{
    margin-right: 50px;
}
.brief .item{
    background: #EFECEC;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}
.brief .item-image,.brief .item-file,.brief .item-video{
    background: #EFECEC;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}
.brief .item-image img{
    width: 100%;
}
.brief i{
    font-size: 14px;
    position: absolute;
    right : -5px;
    top : -5px;
    cursor: pointer;
}
.brief_item{
    display:none;
}
.brief span{
    font-size: 14px;
    margin-top: 15px;
}
.attribute-assignment .item-attr{
    border-bottom: 1px solid #B8D7E2;
    padding-bottom: 20px;
    margin-top:15px;
}
.attribute-assignment i{
    font-size:25px;
}
.attribute-assignment .item-attr span a{
    padding-top: 10px;
    color: #898989;
}
.attribute-assignment .item-attr span {
    margin-left: 30px;
    margin-right: 20px;
}


.upload{
    margin:0px 2px;
    position: fixed;
    bottom: 20px !important;
    width: 87.3%;
    display: none;
}
.upload .img-upload,.upload .video-upload, .upload .cancel-upload{
    box-shadow: 0px 2px 2px 0px  #ccc;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding:10px 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: #fff;
    color: #46ACF0;
}
.img-upload a:hover,.video-upload a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #46ACF0;
}
.cancel-upload:hover{
    cursor: pointer;
}
.upload .img-upload #hr,.upload .video-upload #hr{
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
}


.item-attr .edit-delete{
    position: relative;
    font-size: 13px;
}
#edit-delete:after{
    content:"";
    width:0;
    height:0;
    position:absolute;
    border:10px solid transparent;
    border-top: 13px solid #ccc;
    bottom: -23px;
    right: 150px;
}
#edit-delete{
    display: none;
    background: #fff;
    top: -72px;
    line-height: 33px;
    position: absolute;
    width: 250px;
    right: -153.5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}
#edit-delete a{
    color: #898989;
    margin-left: 15px;
}
#edit-delete a i, .assign-edit i, .del-assign i{
    color: #898989;
    font-size: 13px;
}
.hide-edit{
    position: absolute;
    top:-6px;
    right: -6px;
}
.mce-flow-layout,.mce-toolbar-grp ,.mce-menubar,.mce-statusbar {
    display: none;
}
.mce-edit-area{
    border: none;
}
.mce-panel{
    border: 1px solid #ccc;
}
.hyperlinkPopup{
    display: none;
}
.datepicker .next{
    background: #fff;
    color: #4B333C;
}
.course-menu{
    display:none !important;
}
.linkVideoPopup, .embedCodePopup{
    display: none;
}
.mce-tinymce, .mce-container, .mce-panel{
    border:none;
}
.rm-text{
    z-index: 1000;
    color: #4F5355;
}
.item-video video ,  .item-video iframe{
    width: 100%;
    height: auto;
}
.des-assign, .time-quiz .duadate input{
    border-radius: 20px;
    background:#EFECEC ;
    border: none !important;
    cursor: pointer;
}
.des-assign{
    margin-top: -10px !important;
}
.time-quiz .duadate input{
    text-align: center;
    height: 33px !important;
}
.time-quiz .duadate span{
    margin-left: 33% !important;
}
.content-brief img , .content-brief video{
    width: 100%;
}
.content-brief iframe {
    height: 300px !important;
}
.content-brief .mce-tinymce iframe {
    height: 98px !important;
}
.content-brief {
    clear: both;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}
.glyphicon-remove-sign{
    color: #4F5355 !important;
}
.time-quiz .duadate span{
    line-height: 28px;
}
.edit-delete a{
    font-family: 'Open Sans', OpenSans, sans-serif !important;
    font-weight: 400;
}
.edit-delete i{
    margin-right: 10px !important;
}
.addon-calendar{
    border-radius: 0px 20px 20px 0px !important;
    cursor: pointer;
    border: none !important;
    background: #EFECEC !important;
}
.dua_date{
    border: none !important;
    box-shadow: none !important;
}
.preview-class{
    margin-right: 50px;
}
.preview-assignment{
    display: none !important;
}
.file-assignment{
    clear: both;
    padding: 6px 15px;
    padding-left: 2px !important;
    margin-bottom: 10px;
    background: #EEEDEB;
    border-radius: 6px;
}
.file_assignment{
    position: relative;
    display: none;
}
.rm-assignment{
    position: absolute;
    font-size: 12px;
    top: -8px;
    right: -8px;
    padding: 1px 6px;
    border-radius: 10px;
    background: #444444;
    color: #ffffff;
    cursor: pointer;
}
/*jquery-confirm*/
/*jquery-confirm*/
/*jquery-confirm*/
/*jquery-confirm*/
.jconfirm-box-container{
    margin-left: 40% !important;
}
.jconfirm-box{
    margin-top: 200px !important;
    background: #126DB6 !important;
    color: #fff !important;
    font-size: 14px;
}
.jconfirm-box .content{
    text-align: center !important;
}

.jquery-clear{
    padding-bottom: 10px;
}
.btn-default{
    margin-left: 40%;
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px;
    width: 70px !important;
    border-radius: 30px !important;
}
.buttons .yes , .buttons .cancel{
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px;
    width: 70px !important;
    border-radius: 30px !important;
}
.buttons .cancel {
    margin-left: 25% !important;
}
.buttons .yes{
    margin-right: 80px !important;
    float: right !important;
}
.des{
    margin-bottom: 5px !important;
}
/*4444444444444444444444444444444985467365365934659834589347583475897368975468745674567547698456898946856894*/
/*4444444444444444444444444444444985467365365934659834589347583475897368975468745674567547698456898946856894*/
/*4444444444444444444444444444444985467365365934659834589347583475897368975468745674567547698456898946856894*/
/*4444444444444444444444444444444985467365365934659834589347583475897368975468745674567547698456898946856894*/
/*4444444444444444444444444444444985467365365934659834589347583475897368975468745674567547698456898946856894*/
/*4444444444444444444444444444444985467365365934659834589347583475897368975468745674567547698456898946856894*/
@media screen and (min-width: 1024px) {
    .action i{
    font-size: 25px;
    padding: 10px 10px;
    border:1px solid #979797;
    border-radius: 25px;
    margin-left: 50px;
    color: #979797;
    cursor: pointer;
        }
    .action{
        margin: 20px 0px;
    }
}
@media screen and (min-width: 480px) and (max-width: 999px) {
    .action i{
        font-size: 25px;
        padding: 10px 10px;
        border:1px solid #979797;
        border-radius: 25px;
        margin-left: 50px;
        color: #979797;
        cursor: pointer;
    }
    .action{
       margin: 20px 0px;
    }
}
@media screen and (min-width: 500px) and (max-width: 999px) {
    .img-preview img{
        height: 200px !important;
    }
}
@media  screen and (min-width: 320px) and (max-width: 480px) {
    .action i{
    font-size: 14px;
    padding: 10px 10px;
    border:1px solid #979797;
    border-radius: 30px;
    margin-left: 5px;
    color: #979797;
    cursor: pointer;
    }
    .action{
        margin: 20px 0px;
    }
    .time-quiz .duadate span{
        font-size: 13px;
    }
    .des-assign{
        height: 100px !important;
    }
    .jconfirm-box-container{
        margin-left: 9% !important;
    }
    .buttons .cancel {
        margin-left: 10% !important;
    }
    .buttons .yes{
        margin-left: 30px !important;
    }
    .brief_content textarea{
        height: 100px !important;
    }
    .save-brief{
        margin-right: 15px;
    }
    .next-brief,.assignment-brief,.cancel{
        font-size: 13px;
    }
    .col-xs-12, .col-xs-4, .col-xs-8{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .jconfirm-box-container{
        margin-left: 8% !important;
    }
    .buttons .cancel {
        margin-left: 10% !important;
    }
    .buttons .yes{
    margin-right: 25px !important;
    float: right !important;
    }
    .preview-class{
        margin-right: 8%;
    }
    .img-preview img{
        height: 150px !important;
    }
}
@media screen and (min-width: 100px) and (max-width: 319px) {
    .action i{
    font-size: 12px;
    padding: 10px 10px;
    border:1px solid #979797;
    border-radius: 30px;
    color: #979797;
    cursor: pointer;
    }
    .action{
        margin: 20px 0px;
    }
    .cancel{
        margin-bottom: 20px;
    }
    .save-brief{
        margin-right: 5px;
    }
    .next-brief,.assignment-brief{
        clear: both;
        float: left;
    }
    .upload{
    position: fixed;
    bottom: 20px !important;
    width: 70.3%;
    display: none;
    }
}
.mob.com_joomdle .home{
    padding-bottom: 0px !important;
}
#iframe-assign{
    height: 0px !important;
}
.input-group-addon{
    padding:0px 8px !important;
    padding-top: 6px;
    padding-bottom: 7px;
}