.tab .joomdle-create-feedback {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    /*padding: 0 15px;*/
    background-color: #FFF;
}

.joomdle-create-feedback > h1,
.joomdle-preview > h1,
.questions-bank-feedback > h1 {
    margin: 0 0 20px 0;
    text-align: center;
    line-height: 20px;
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
}

.joomdle-preview .pcolor {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 15px;
    text-align: left;
}

.tab #group .replaceQuestion span{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}

.tab #group .timestamp span{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.tab #group {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    line-height: 15px;
    color: #5e5e5e;
}

.tab #group .timestamp span{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.mob #group .replaceQuestion span{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.mob #group {
    font-size: 14px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    line-height: 15px;
    color: #5e5e5e;
}

.tab .joomdle-create-feedback {
    padding: 33px 14% 25px 14%;
    min-height: calc(100vh - 80px);
}

.tab .questions-bank-feedback,
.tab .joomdle-preview {
    padding: 33px 14% 25px 14%;
    min-height: calc(100vh - 80px);
}

.tab .txtTitle,
.tab .questions-bank-feedback input[type="text"] {
    width: 100%;
}

.hvn_BtEditCourse img {
    display: none !important;
}

.tab .txtTitle {
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    line-height: 15px;
    color: #828282;
}

.txtaDescription,
.textareaAnswer {
    min-height: 80px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 100%;
    font-size: 16px;
    color: #828282;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    resize: none;
    overflow-x: hidden;
}

.tab .joomdle-create-feedback label,
.tab .lblRatingMethod {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 15px;
    white-space: nowrap;
    text-align: left;
}

.tab .questions-bank-feedback #question-feedback .questionDes {
    width: calc(50%);
    display: inline;
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 15px;
    white-space: nowrap;
    text-align: left;
}
.mob .questions-bank-feedback #question-feedback .questionDes {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 15px;
    text-align: left;
}

.tab .questions-bank-feedback #question-feedback .selected {
    width: calc(30%);
    float: right;
    text-align: right;
}

.mob .questions-bank-feedback #question-feedback .selected {

}

.questions-bank-feedback #question-feedback .selected,
.questions-bank-feedback #question-feedback .questionTypeDes {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 15px;
}
.tab .questions-bank-feedback #question-feedback .questionTypeDes,
.mob .questions-bank-feedback #question-feedback .questionTypeDes {
    margin-bottom: 20px;
}

.questions-bank-feedback .optionQuestionMethod {
    position: relative;
}
.questions-bank-feedback .formQuestion {
    margin-top: 10px;
    margin-left: 35px;
}
.questions-bank-feedback .status{
    position: absolute;
    top: calc(50% - 13px);
}

.tab .questions-bank-feedback{
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFF;
}

.tab .questions-bank-feedback input[type="text"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #EFECEC;;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 25px;
}
.tab .questions-bank-feedback #textResponse{
    margin-top: 20px;
}


.tab .questions-bank-feedback .buttons {
    overflow: hidden;
    margin-top: 33px;
}

.tab .joomdle-preview .btNext,
.tab .questions-bank-feedback .btGenerateSurvey {
    float: right;
    margin: 10px 0;
    /*padding: 0 20px 0 20px;*/
}


.tab .questions-bank-feedback .btAddtoAR{
    float: right;
    margin: 10px 0;
    padding: 0 30px;
}

.tab .joomdle-preview .btNext,
.tab .questions-bank-feedback .btGenerateSurvey {
    float: right;
    margin: 10px 0;
    /*padding: 0 20px 0 20px;*/
}


.tab .questions-bank-feedback .btAddtoAR{
    float: right;
    margin: 10px 0;
    padding: 0 30px;
}


.tab .questions-bank-feedback .btCancel,
.tab .questions-bank-feedback .btPreview,
.tab .questions-bank-feedback .btSave {
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 4px 16px;
    border: 1px;
    cursor: pointer;
}

.mob .questions-bank-feedback .btCancel,
.mob .questions-bank-feedback .btPreview,
.mob .questions-bank-feedback .btSave {
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 14px !important;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 4px 16px;
    border: 1px;
    cursor: pointer;
}

.tab .questions-bank-feedback .btCancel,
.tab .questions-bank-feedback .btPreview {
    margin-right: 10px;
}

.tab .joomdle-preview .btEditFeedBack{
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 4px 16px;
    border: 1px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 33px;
    position: relative;
}

.btPrevFeedBack {
    width: 12px;
    height: auto;
    position: relative;
    top: -26px;
    margin-bottom: 33px;
    cursor: pointer;
}
.red {
    font-size: 16px;
}

.tab .lblRatingMethod,
.mob .lblRatingMethod,
.tab .feedback-description,
.mob .feedback-description {
    margin-top: 20px;
}

.tab input.firstrate,
.tab input.secondrate,
.tab input.thirdrate,
.tab input.fourthrate,
.tab input.fifthrate {
    display: inline-block;
    height: auto;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 0 0 12px;
    width: calc(100% - 30px);
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
}

.tab .btNextFeedBack {
    float: right;
    margin-top: 20px;
    width: 12px;
    height: auto;
    margin-bottom: 33px;
    cursor: pointer;
}

.mob .joomdle-create-feedback {
    padding: 20px 15px 55px 15px;
    min-height: calc(100vh - 50px);
}

.questions-bank-feedback {
    padding: 20px 15px 10px 15px;
}

.mob .joomdle-create-feedback label,
.mob .lblRatingMethod {
    font-weight: normal;
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 15px;
    white-space: nowrap;
    text-align: left;
}

.mob .txtTitle {
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
}

.mob .txtaDescription {
    min-height: 80px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    resize: none;
    overflow-x: hidden;
}

.mob input.firstrate,
.mob input.secondrate,
.mob input.thirdrate,
.mob input.fourthrate,
.mob input.fifthrate {
    display: inline-block;
    height: auto;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 0 0 12px;
    width: calc(100% - 30px);
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
}

.mob .btNextFeedBack {
    float: right;
    margin-top: 20px;
    margin-bottom: 33px;
    cursor: pointer;
}

.questions-bank-feedback textarea {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    min-height: 33px;
    box-shadow: none;
    overflow: hidden;
    border: 1px solid rgba(130, 130, 130, 0.5);
    padding-left: 12px !important;
    width: calc(100%) !important;
    resize: none;
}

.mob .questions-bank-feedback .optionQuestionMethod {
    position: relative;
}

.mob .questions-bank-feedback .form {
    margin-top: 30px;
}
.mob .questions-bank-feedback #textResponse{
    margin-top: 20px;
}
.mob .questions-bank-feedback .buttons{
    text-align: center;
    overflow: hidden;
    margin-top: 33px;
}
.mob .questions-bank-feedback .btGenerateSurvey{
    margin: 0;
    padding: 0px 20px 0 20px;
}

.mob .joomdle-preview {
    padding: 20px 15px 25px 15px;
    /*min-height: calc(100vh - 50px - 50px);*/
}

.mob .joomdle-create-feedback {
    padding: 20px 15px 55px 15px;
    /*min-height: calc(100vh - 50px);*/
}

.mob .btCancel,
.mob .btPreview {
    margin-right: 10px;
}

.mob .joomdle-preview .btEditFeedBack {
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 4px 16px;
    border: 1px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 33px;
    position: relative;
}

.tab .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.tab .statusRatingQuestion {
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.tab .statusRatingQuestion h4 {
    font-weight: 600;
}
.tab .statusRatingQuestion:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
    left: 44%;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.tab .statusRatingQuestion.active:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
    left: 44%;
    transition: all 200ms ease-in;
}

.tab #liScaleRatingQuestion{
    width: 150px;
}
.tab #liScaleRatingQuestion p{
    margin-top: 20px;
    text-align: center;
}
.tab #group .countRatingQuestion {
    margin-bottom: 25px;
}
.mob #group .countRatingQuestion {
    margin-bottom: 15px;
}
.tab #group .countRatingQuestion.current {
    display: block;
}
.tab #group div ul {
    list-style-type: disc;
}

.tab {
    transition: all 400ms ease;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: #FFF;
}

.tab  .scaleRatingQuestion{
    padding: 0px;
}

/*point*/
.tab .process-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.tab .li {
    transition: all 200ms ease-in;
}


.tab .statusPoint {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.tab .statusPoint:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    /*background-color: white;*/
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.tab .statusPoint.active:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.tab #lipoint{
    width: 15px;
}
.tab #lipoint p{
    margin-top: 20px;
}

.tab .class-btEditFeedBack{
    display: block;
    position: fixed;
    text-align: center;
    z-index: 10001;
    bottom: 90px;
    left: 203px;
    width: calc(100% - 251px);
}

.tab .process-point{
    display: block;
    position: fixed;
    text-align: center;
    z-index: 10001;
    bottom: 65px;
    left: 203px;
    width: calc(100% - 251px);
}

.tab .process-li {
    width: 15px !important;
}

.mob .joomdle-preview .statusPoint.active:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}

.mob .joomdle-preview #lipoint{
    width: 10px;
}
.mob .joomdle-preview #lipoint p{
    margin-top: 20px;
}
.mob .joomdle-preview .class-btEditFeedBack{
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 100px;
    right: 0px;
    left: 0px;
}
.mob .joomdle-preview .process-li {
    width: 15px !important;
}

.mob .joomdle-preview .scaleRatingQuestion {
    padding: 0px;
}
.mob .joomdle-preview #liScaleRatingQuestion {
    width: 75px;
}
.mob .joomdle-preview li p{
    text-align: center;
}

.mob .joomdle-preview .timestamp {
    margin-bottom: 14px;
    /*padding: 0px 40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.mob .joomdle-preview .statusRatingQuestion {
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}
.mob .joomdle-preview .statusRatingQuestion:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
    left: 40%;
    transition: all 200ms ease-in;
}
.mob .joomdle-preview .statusRatingQuestion.active:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #126db6;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -8px;
    left: 42%;
    transition: all 200ms ease-in;
}

.mob .joomdle-preview #group .countRatingQuestion.current{
    display: block;
}
/*point question Feedback preview*/
.mob .joomdle-preview .prev-question-feedback{
    position: fixed;
    top: 48%;
    border-radius: 100px;
    left: 0;
}
.mob .joomdle-preview .next-question-feedback{
    position: fixed;
    top: 48%;
    border-radius: 100px;
    right: 0;
}
.mob .joomdle-preview .prev-question-feedback img,
.mob .joomdle-preview .next-question-feedback img {
    width: auto;
    height: 50px;
}
.mob .joomdle-preview .process-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.mob .joomdle-preview .process-point {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 62px;
}
.mob .joomdle-preview .li {
    transition: all 200ms ease-in;
}
.mob .joomdle-preview .statusPoint {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}
.mob .joomdle-preview .statusPoint:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #e1e1e1;
    /*background-color: white;*/
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    transition: all 200ms ease-in;
}
.joomdle-preview .ratenumstart,
.joomdle-preview .ratenumend {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}

.mob .joomdle-create-feedback .optionRatingMethod .status{
    margin-bottom: 3px !important;
}