
/*Tablet*/
.tab .create_course_image_cover{
    height: 180px;
    padding: 0;
    position: relative;
    margin-bottom: 33px;
}

.tab .create_course_header {
    height: 100%;
    display: block;
    width: 100%;
    /*padding: 14px;*/
    position: absolute;
    bottom: 0;
    padding: 0;
}

.tab .uploadCourseImage{
    z-index: 1;
    background: #f3f7fb;
}

.tab .form-title {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
}

.tab .content_create_course,
.tab .create_course_preview{
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 33px;
}

.tab .divCourseTitle label,
.tab .divCourseDescription label,
.tab .divCourseLearningOutcomes label,
.tab .divCourseTargetAudience label,
.tab .divCourseDuration label,
.tab .divCoursePrice label,
.tab .divCourseValidFor label {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 15px;
    display: block;
    white-space: nowrap;
    float: left;
    text-align: left;
}

.mob .divCourseCertificate label,
.mob .divCourseSurvey label,
.mob .divCourseFacilitated label{
    color: #5e5e5e;
    width: calc(45%);
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 20px;
    display: block;
    float: left;
    text-align: left;
    padding: 0px;
}


.tab .red {
    color: #e74c3c;
    font-size: 16px;
}

.tab .txtCourseTitle,
.tab .txtCourseTargetAudience,
.tab .txtCoursePrice,
.tab .txtCourseValidFor,
.tab .txtCourseDuration {
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    line-height: 18px;
    color: #828282;
}

.tab .txtCourseTitle{
    height: 34px;
    clear: both;
    width: 100%;
}

.tab .txtaDescription,
.tab .txtaLearningOutcomes{
    min-height: 80px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 100%;
    font-size: 16px;
    color: #828282;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.tab .divCourseTargetAudience{
    width: calc(50%);
}
/*.tab .txtCourseTargetAudience{*/
/*height: 33px;*/
/*}*/
.tab .divCourseDuration,
.tab .divCourseValidFor{
    /*clear: both;*/
    /*float: left;*/
    /*width: 150px;*/
    /*position: relative;*/
    /*padding-bottom: 15px;*/
}
.tab .btCancel,
.tab .btPreview,
.tab .btSave,
.tab .btExitPreview {

    border: none;
    padding: 5px 14px;
    text-align: center;
    border-radius: 31px;
    background-color: #4e5355;
    color: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif !important;
	font-weight: 400;
    font-size: 16px !important;
    text-transform: uppercase;
}
.tab .btCancel,
.tab .btPreview{
    margin-right: 10px;
}
/*.divCourseDuration input.col-md-1.col-sm-1.col-xs-1{*/
/*width: 8.33333333% !important;*/
/*}*/

.tab .create_course_preview .header_title{
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 15px;
    display: block;
    white-space: nowrap;
    float: left;
    text-align: left;
}

.tab .uploadCourseImage {
    height: 100% !important;
}

.tab .content_image_header{
    position: relative;
    top: -46px;
    z-index: 1;
    height: 46px;
    width: 100%;
    height: 46px;
    background-color: rgba(17, 108, 182, 0.5);
}


.tab .buttons{
    margin-top: 33px;
}

.tab .txtCourseDuration,
.tab .txtCourseValidFor{
    float: left;
}

.tab .divCourseDuration span.text,
.tab .divCourseValidFor span.text{
    position: relative;
    top: 5px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    left: 4px;
    color: #828282;
}
.tab span.currency{
    float: left;
    position: relative;
    top: 5px;
    margin-right: 4px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
}

.tab .txtCourseDuration,
.tab .txtCourseValidFor,
.tab .txtCoursePrice {
    padding: 0px;
    min-width: 50px;
    width: auto;
    max-width: 65px;
    text-align: center;
}

.tab .divCourseCertificate,
.tab .divCourseSurvey,
.tab .divCourseFacilitated,
.tab .divCreateCourseChats {
    line-height: 30px;
}
.tab .divToggle {
    border-top: 2px solid #e9f1fa;
    margin-bottom: 0px;
    padding-top: 16px;
    margin-top: 16px;
    clear: both;
}

.tab .oneCategory{
    background-image: none !important;
    cursor: default;
}

.tab .courseCategory {
    background-image: url("/images/icons/icon-arrow-down.png");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: calc(100% - 10px);
    padding: 0 40px 0 10px;
    cursor: pointer;
}

.tab .courseCategory {
    background-image: url("/images/icons/icon-arrow-down.png");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: calc(100% - 10px);
    padding: 0 40px 0 10px;
    cursor: pointer;
}
.tab .uploadCourseImage .mainImage {
    height: 100%;
    border-radius: 0px !important;
    background-size: cover !important;
}

.tab .inputTextSimulation {
    color: #9c9c9c;
}

.tab > div {
    clear: both;
    margin-bottom: 10px;
}

.tab > p {
    text-align: center;
}
.view-mycourses.tab .joomdle-mylearning .btCreateNewCourseLP {
    display: inline-block;
    right: 0px;
    top: 30px;
    z-index: 11;
    cursor: pointer;
}
.view-mycourses .joomdle-mylearning .swiper-wrapper {
    padding: 4px 0px 0px 0px;
}
.tab .joomdle-mylearning .btCreateNewCourse,
.view-mycourses .joomdle-mylearning .btCreateNewCourse {
    display: inline-block;
    float: right;
    right: 30px;
    z-index: 11;
    cursor: pointer;
}
.tab .uploadCourseImage {
    /*width: 120px;!*290px;*!*/
    height: 100px;
    background: #f3f7fb;
    text-align: center;
    margin: 0 auto;
    position: relative;
    /*border-radius: 10px;*/
    /*margin-bottom: 10px;*/
}
.tab .uploadCourseImage .mainImage {
    display: none;
}
.tab .uploadCourseImage .mainImage.visible {
    display: block;
}
.tab .uploadCourseImage .photoicon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 80px;
    left: calc(50% - 10px);
    cursor: pointer;
}

.tab .divCoursePrice.hiddenPrice,
.tab .divCourseValidFor.hiddenValidFor {
    display: none;
}

.tab .divBtAddCert {
    float: right;
    width: 60%;
    text-align: right;
}
.tab .btAddCert {
    margin: 25px 0 10px 0;
}
.tab .buttons {
    clear: both;
}
.tab .txtCourseDuration,
.tab .txtCourseValidFor {
    padding: 0px;
    min-width: 50px;
    width: auto;
    max-width: 65px;
    text-align: center;
}

.tab .divCourseCategory {
    position: relative;
    clear: both;
    display: none;
}
.tab .courseCategory {
    height: 30px;
}
.tab .ulCourseCategory {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 1;
    top: 100%;
    right: 0;
}


.tab .ulCourseCategory > li{
    background: #EFECEC;
    line-height: 30px;
    border-radius: 50px;
    width: 100%;
    padding: 0 15px;
    box-shadow: 0 0 3px #BBBBBB;
    cursor: pointer;
}

.tab .txtaDescription,
.tab .txtaLearningOutcomes,
.tab .txtCourseTargetAudience {
    /*resize: none;*/
    overflow-x: hidden;
}

.tab .btAssign,
.tab .btAddCert {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 30px 0 30px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 10px;
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    letter-spacing: 0px;
    /*background-image: url('/images/icon_ar_right_white.png');*/
    background-size: 12px;
    background-position: 90%;
    background-repeat: no-repeat;
    /*float: right;*/
}

.view-mycourses.tab .buttons .btAssign {
    margin-right: 15px;
}

.view-mycourses.tab {
    min-height: calc(100vh - 80px - 15px - 65px);
    background-color: #FFFFFF;
}

.tab .content_create_course .divCourseTitle,
.tab .content_create_course .divCourseCategory,
.tab .content_create_course .divCourseDescription,
.tab .content_create_course .divCourseLearningOutcomes,
.tab .content_create_course .divCoursePrice,
.tab .content_create_course .divCourseTargetAudience {
    margin-bottom: 20px;
}
.tab .content_create_course .divCourseDuration,
.tab .content_create_course .divCourseValidFor {
    margin-bottom: 30px;
}

.tab .divCourseCertificate .yesnoIcon,
.tab .divCourseSurvey .yesnoIcon,
.tab .divCourseFacilitated .yesnoIcon,
.tab .divCreateCourseChats .yesnoIcon {
    right: calc(50% - 48px);
}

.tab .content_create_course .certificate,
.tab .content_create_course .survey,
.tab .content_create_course .facilitated,
.tab .content_create_course .create-course-chats {
    margin-bottom: 15px;
}

.tab .content_image_header .header_title {
    text-align: center;
    display: grid;
    align-items: center;
    height: 100%;
}

.tab .content_image_header .header_title .tittle {
    color: #fff;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    margin: 0px;
}

.tab .duration_price {
    width: 130px;
    float: right;
    position: relative;
    top: 10px;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    height: 30px;
    line-height: 30px;
    background-color: rgba(78, 83, 85, 0.50);
}

.tab .content_description_preview,
.tab .content_leanerningOutcomes_preview,
.tab .content_targetAudience_preview,
.tab .content_courseValidity_preview {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    margin-bottom: 20px;
    text-align: left;
}


.tab .divCourseCertificate label,
.tab .divCourseSurvey label,
.tab .divCourseFacilitated label,
.tab .divCreateCourseChats label {
    color: #5e5e5e;
    width: calc(50% - 11px);
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 20px;
    display: block;
    float: left;
    text-align: left;
    padding: 0px;
}

.tab .photoicon1{
    width: 80px;
    height: 80px;
    bottom: 65px;
    left: calc(50% - 40px);
    position: absolute;
    cursor: pointer;
    opacity: 0.25;
}

.tab .description_preview{
    /*padding-top: 33px;*/
}

.tab .create_course_preview{
    text-align: center;
}

.tab .hiddenDurationPrice{
    display: none !important;
}

.tab .hiddenCourseValidity{
    display: none !important;
}

.mob .uploadCourseImage {
    background: #f3f7fb;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 100% !important;

}
.mob .uploadCourseImage .mainImage {
    display: none;
}

.mob .uploadCourseImage .mainImage {
    height: 100%;
    border-radius: 0px !important;
    background-size: cover !important;
}


.mob .uploadCourseImage .mainImage.visible {
    display: block;
}

.mob .uploadCourseImage .photoicon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 80px;
    left: calc(50% - 10px);
    cursor: pointer;
}

.mob .photoicon1{
    width: 80px;
    height: 80px;
    bottom: 65px;
    left: calc(50% - 40px);
    position: absolute;
    cursor: pointer;
    opacity: 0.25;
}

.mob .form-title {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.mob .content_create_course,
.mob .create_course_preview {
    padding: 0 15px 33px 15px;
}

.mob .divCourseTitle label,
.mob .divCourseDescription label,
.mob .divCourseLearningOutcomes label,
.mob .divCourseTargetAudience label,
.mob .divCourseDuration label,
.mob .divCoursePrice label,
.mob .divCourseValidFor label {
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 15px;
    display: block;
    white-space: nowrap;
    float: left;
    text-align: left;
    padding: 0px;
}
.mob .divCourseCertificate label,
.mob .divCourseSurvey label,
.mob .divCourseFacilitated label,
.mob .divCreateCourseChats label {
    color: #5e5e5e;
    width: calc(70%);
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 30px;
    display: block;
    float: left;
    text-align: left;
    padding: 0px;
}


.mob .content_create_course .divCourseDuration,
.mob .content_create_course .divCourseValidFor {
    margin-bottom: 30px;
}

.mob .red {
    color: #e74c3c;
    font-size: 16px;
}
.mob .txtCourseTitle {
    clear: both;
    width: 100%;
}
.mob .txtCourseTitle,
.mob .txtCourseTargetAudience,
.mob .txtCoursePrice,
.mob .txtCourseValidFor,
.mob .txtCourseDuration {
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    /*clear: both;*/
}
.mob .txtaDescription,
.mob .txtaLearningOutcomes {
    min-height: 80px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(130, 130, 130, 0.5);
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
}

.mob .btCancel,
.mob .btPreview,
.mob .btSave,
.mob .btExitPreview {
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 12px 0 12px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 10px;
    letter-spacing: 0;
    background-size: 12px;
}

.mob .btCancel,
.mob .btPreview {
    margin-right: 5px;
}

.mob .txtCourseDuration,
.mob .txtCourseValidFor{
    float: left;
}

.mob .divCourseDuration span.text,
.mob .divCourseValidFor span.text{
    position: relative;
    top: 5px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    left: 4px;
    color: #828282;
}
.mob span.currency{
    float: left;
    position: relative;
    top: 5px;
    margin-right: 4px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
}

.mob .content_create_course .divCourseTitle,
.mob .content_create_course .divCourseCategory,
.mob .content_create_course .divCourseDescription,
.mob .content_create_course .divCourseLearningOutcomes,
.mob .content_create_course .divCoursePrice,
.mob .content_create_course .divCourseTargetAudience {
    margin-bottom: 20px;
}

.mob .oneCategory{
    background-image: none !important;
    cursor: default;
}

.mob .btAssign,
.mob .btAddCert{
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 20px 0 20px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    border-radius: 100px;
    margin-top: 10px;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    letter-spacing: 0px;
    /*background-image: url('/images/icon_ar_right_white.png');*/
    background-size: 12px;
    background-position: 90%;
    background-repeat: no-repeat;
    /*float: right;*/
}


.mob .txtaDescription,
.mob .txtaLearningOutcomes,
.mob .txtCourseTargetAudience {
    /*resize: none;*/
}

.mob .yesnoIcon{
    margin-top: 0px !important;
}
.mob .create_course_preview .header_title{
    padding: 0px;
    color: #5e5e5e;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 15px;
    display: block;
    white-space: nowrap;
    float: left;
    text-align: left;
}

.mob .divCoursePrice.hiddenPrice,
.mob .divCourseValidFor.hiddenValidFor {
    display: none;
}

.mob .create_course_preview{
    text-align: center;
    padding-top: 20px;
}

.mob .hiddenDurationPrice{
    display: none !important;
}

.mob .hiddenCourseValidity{
    display: none !important;
}

.mob .content_description_preview,
.mob .content_leanerningOutcomes_preview,
.mob .content_targetAudience_preview,
.mob .content_courseValidity_preview {
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    margin-bottom: 20px;
    text-align: left;
}

.mob .duration_price {
    width: 110px;
    float: right;
    position: relative;
    top: 10px;
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    height: 30px;
    line-height: 30px;
    background-color: rgba(47, 46, 46, 0.55);
}

.mob .divToggle {
    border-top: 2px solid #e9f1fa;
    margin-bottom: 0px;
    padding-top: 16px;
    margin-top: 16px;
    clear: both;
}
.mob .divBtAddCert {
    float: right;
    width: 60%;
    text-align: right;
}
.mob .btAddCert {
    margin: 25px 0 10px 0;
}
.mob .buttons {
    clear: both;
}
.mob .txtCourseDuration,
.mob .txtCourseValidFor,
.mob .txtCoursePrice {
    padding: 0px 15px;
    min-width: 50px;
    width: auto;
    max-width: 65px;
}
.mob .divCourseCategory {
    position: relative;
    clear: both;
    display: none;
}
.mob .courseCategory {
    height: 30px;
}
.mob .ulCourseCategory {
    display: none;
    position: absolute;
    padding: 0;
    z-index: 1;
    top: 100%;
    right: 0;
}

.mob .ulCourseCategory > li{
    background: #EFECEC;
    line-height: 30px;
    border-radius: 50px;
    width: 100%;
    padding: 0 15px;
    box-shadow: 0 0 3px #BBBBBB;
    cursor: pointer;
}
.mob .courseCategory{
    background-image: url("/images/icons/icon-arrow-down.png");
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: calc(100% - 10px);
    padding: 0 40px 0 10px;
}

.mob .divCourseCertificate,
.mob .divCourseSurvey,
.mob .divCourseFacilitated,
.mob .divCreateCourseChats {
    line-height: 30px;
}

.mob .inputTextSimulation {
    color: #9c9c9c;
}


.tab .yesnoIcon.no > .block {
    right: calc(100% - 28px) !important;
}

.tab .yesnoIcon.yes > .block {
    right: 2px !important;
}

.tab .yesnoIcon > .block {
    background: #fff;
    height: 25px !important;
    width: 25px !important;
    position: absolute;
    border-radius: 50px;
    top: 2px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.tab .yesnoIcon {
    background: #126db6;
    height: 29px !important;
    width: 48px !important;
    top: -4px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    float: right;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.mob .yesnoIcon.no > .block {
    right: calc(100% - 28px) !important;
}

.mob .yesnoIcon.yes > .block {
    right: 2px !important;
}

.mob .yesnoIcon > .block {
    background: #fff;
    height: 25px !important;
    width: 25px !important;
    position: absolute;
    border-radius: 50px;
    top: 2px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.mob .yesnoIcon {
    background: #126db6;
    height: 29px !important;
    width: 48px !important;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    float: right;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.mob .create_course_image_cover{
    width: 100%;
    height: 180px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: hidden;
}
.tab .joomdle-my-courses-create {
    background-color: #fff !important;
    min-height: calc(100vh - 80px)
}

.mob .joomdle-my-courses-create {
    background-color: #fff !important;
    min-height: calc(100vh - 100px)
}

.tab .mnPhotoIcon{
    position: absolute;
    bottom: 85px;
    left: calc(50% - 19px);
    width: 38px !important;
    height: 38px !important;
    border-radius: 50%;
    background-color: rgba(93, 91, 91, 0.5);
}

.tab img.photo-icon{
    width: 24px !important;
    height: 23px !important;
    position: relative;
    top: 7px;
}

.mob .mnPhotoIcon{
    position: absolute;
    bottom: 85px;
    left: calc(50% - 19px);
    width: 38px !important;
    height: 38px !important;
    border-radius: 50%;
    background-color: rgba(93, 91, 91, 0.5);
}

.mob img.photo-icon{
    width: 24px !important;
    height: 23px !important;
    position: relative;
    top: 7px;
}

.mob .content_image_header{
    position: relative;
    top: -46px;
    z-index: 1;
    height: 46px;
    width: 100%;
    height: 46px;
    background-color: rgba(17, 108, 182, 0.5);
}

.mob .content_image_header .header_title {
    text-align: center;
    display: grid;
    align-items: center;
    height: 100%;
}

.mob .content_image_header .header_title .tittle {
    color: #fff;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    margin: 0px;
}
.joomdle_mylearning .btCreateNewCourse, .joomdle_mylearning .btCreateNewCourseLP {
    width: 37px;
    height: 24px;
    margin-top: -15px;
}
.view-mycourses .mylearning-img {
    height: 165px;
    width: 100%;
    background: #FFFFFF !important;
    border-radius: 5px 5px 0px 0px !important;
    position: relative;
}
.view-mycourses .joomdle-mylearning .swiper-wrapper .swiper-slide .course-box .course_content .content_c{
    background: #fff !important;
    padding: 22px !important;
    position: relative;
    overflow: hidden;
    height: 144px;
    border: 1px solid rgba(130, 130, 130, 0.5);
}
.view-mycourses .joomdle-mylearning .course_title {
    position: relative;
    overflow: hidden;
    max-height: 44px;
}
.view-mycourses .joomdle-mylearning .course_title a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 15px;
    color: #5E5E5E;
    /*padding-right: 11px;*/
    line-height: 22px !important;
    display: block;
    text-align: left;
    padding-right: 0;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-mycourses .content_c .course_title a.limited:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    background: #FFFFFF;
}
.view-mycourses .dropdown-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
}
.view-mycourses .ma-action li {
    border-top: 1px solid rgba(0, 94, 255, 0.28);
}
.view-mycourses .ma-action li:first-child {
    border-top: none;
}
.view-mycourses .ma-action li a {
    display: block;
    color: #828282;
    position: static;
    padding: 5px 30px;
    background: transparent;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}
.view-mycourses .swiper-button-prev1,
.view-mycourses .swiper-button-next1,
.view-mycourses .swiper-button-prev2,
.view-mycourses .swiper-button-next2,
.view-mycourses .swiper-button-prev3,
.view-mycourses .swiper-button-next3,
.view-mycourses .swiper-button-prev4,
.view-mycourses .swiper-button-next4,
.view-mycourses .swiper-button-prev5,
.view-mycourses .swiper-button-next5 {
    margin-top: -180px;
}
.view-mycourses .btSendApproval,
.view-mycourses .btPublishMA,
.view-mycourses .btPublish {
    position: absolute;
    top: 11px;
    right: 11px;
}
.view-mycourses .label_workInProgress {
    position: absolute;
    top: 10px;
    left: 0;
    color: #5e5e5e;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
.view-mycourses .course_creator {
    position: absolute;
    right: 0;
    color: #fff;
    background-color: rgba(47, 46, 46, 0.55);
    padding: 0 10px;
    line-height: 34px;
    height: 34px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    bottom: 0;
}
.content_create_course .txtCourseTitle.error1,
.content_create_course .txtaDescription.error1,
.content_create_course .txtCourseDuration.error1,
.content_create_course .txtCoursePrice.error1,
.content_create_course .txtCourseValidFor.error1 {
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
.content_create_course .mycourse_title.error1,
.content_create_course .mycourse_description.error1{
    color: #bb5a66;
}

.txtCourseTitle,
.txtaDescription,
.txtaLearningOutcomes,
.txtCourseTargetAudience {
    resize: none;
}
.view-mycourses .removeCoursePopup .buttons {
    margin-top: 0px !important;
}

.placeholder-loading {
    width: 100%;
    display: flex;
}
.ph-item {
    margin: 0;
    width: calc(50% - 5px);
    padding: 0;
}
.mob .ph-item {
    margin: 0;
    width: 100%;
    padding: 0;
}
.ph-item + .ph-item {
    margin: 0 0 0 10px;
}
.ph-picture {
    margin: 0;
    height: 165px;
}
.ph-picture + .ph-col-12 {
    padding: 32px 22px 22px 22px;
    height: 144px;
}
.ph-row div {
    height: 12px;
    margin-bottom: 10px;
}
.ph-row div.big {
    height: 16px;
    margin-bottom: 15px;
}
.mob.view-mycourses .joomdle-mylearning .swiper-wrapper {
    width: 100% !important;
}
.view-mycourses .withCloseButtonPopup p{
    margin-bottom: 0px !important;
}
.view-mycourses .lgtPopup .lgtPopupClose{
    position: relative !important;
    width: unset !important;

}
.joomdle_mylearning .course-box .content_publish{
    height: 100%;
    z-index: 1111;
    position: absolute;
    width:100%;
    background: rgba(66,66,66,0.15);
}
.joomdle_mylearning .course-box .notePublised{
    margin-top: -45px;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    position: absolute;
    width: 100%;
    text-align: center;
    display: inline-grid;
    align-items: center;
    height:46px;
    background: rgba(66,66,66,0.6);
}
.view-mycourses .joomdle-mylearning .content_publish .ma-action{
    width:146px;
}
.joomdle_mylearning .course-box .notePublised h2{
    
}
.joomdle_mylearning .course-box .notePublised .content{
    position: relative;
    z-index: 2222;
}
