body{
	font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
	font-size: 14px !important;
}
#t3-mainbody{
	background: #ffffff !important;
}
.row{
	margin-left: 0px !important;
  	margin-right: 0px !important;
}
.title-certificate{
	clear: both;
	font-size: 18px;
	font-weight: bold;
	color: #5e5e5e !important;
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: 'Open Sans', OpenSans-Bold, sans-serif;
}
.tip{
	font-size: 14px !important;
	font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
        color: #828282;
        margin-bottom: 33px;
}
.buttons{
	clear: both;
}
.btCreateCertificate,.uploadCertificate,.btnSave,.btnCancel,.removeLogo,.btnSaveRemove{
    border: none;
	font-size: 14px !important;
	color: #FFFFFF;
	padding: 0 15px 0 15px;
	background: #4F5355;
	text-align: center;
	line-height: 28px;
	font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
	border-radius: 100px;
	margin-top: 10px;
	/*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
	letter-spacing: 0px;
	background-size: 12px;
	background-position: 90%;
	float: right;
	margin-right: 15px;
	 text-transform: uppercase;
}
.btCreateCertificate{
	margin-right: 15px;
	margin-bottom: 12px;
}
.btnCancel{
	color: #fff;
	margin-right: 15px;
	background: #4F5355;
        float: right;
}
.item{
	/*box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);*/
	/*margin-left: 6%;*/
	position: relative;
	margin-bottom: 30px;
}

.item .rm{
	top: -6px;
}
.item img{
	width: 100% !important;
	/*height: 420px;*/
}
.item .rm img {
	height: 18px !important;
	width: 18px !important;
}
.item img.certificate-detail.default {
    border: 2px solid;
}
.popupFull{
	background: #3180C0;
	color: #fff;
	font-size: 14px !important;
	padding: 30px 30px;
	border-radius: 3px;
	position: fixed;
	top: 300px;
	display: none;
}
.item-certificate-default{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	background: #D1D1D1;
	color: #979797;
	font-size: 40px;
	text-align: center;
}
#output{
	width: 100%;
	display: none;
}
.file-certificate{
	clear: both !important;
	display: none !important;
}

.stss{
	display: none;
}
.item .img-nen{
	position: relative;
}
.item .img-logo{
	position: absolute;
/*	width: 136px !important;
	height: 38px !important;*/
/*	width: 150px !important;
	height: 60px !important;*/
    width: 80% !important;
    height: 8% !important;
}
.item-certificate .new{
	display: none;
}
.alan img{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}
.tab .jconfirm-box-container{
	margin-left: 40% !important;
}
.mob .jconfirm-box-container{
	margin-left: 8% !important;
}
.tab .jconfirm-box{
	margin-top: 200px !important;
	color: #828282 !important;
	font-size: 16px !important;
	border-radius: 10px !important;
}
.mob .jconfirm-box{
	color: #828282 !important;
	font-size: 16px !important;
	border-radius: 10px !important;
}
.jconfirm-box .content{
    text-align: center !important;
}

.jquery-clear{
    padding-bottom: 10px;
}
.btn-default{
    margin-left: 40%;
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px !important;
    width: 70px !important;
    border-radius: 30px !important;
}
.buttons .yes , .buttons .cancel{
    background: #4F5355 !important;
    padding: 3px 8px;
    color: #fff !important;
    font-size: 14px !important;
    width: 70px !important;
    border-radius: 30px !important;
}
.buttons .cancel {
    margin-left: 25% !important;
}
.buttons .yes{
    margin-right: 80px !important;
    float: right !important;
}
.setDefault {
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 18px;
    background: #4F5355;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', OpenSans, sans-serif;
    font-weight: 400;
    border-radius: 100px;
    letter-spacing: 0px;
    cursor: pointer;
    position: absolute;
}
.image-placeholder {
    /*background-image: url('../../../../../../images/placeholder-image10.jpg'); */
    width: 145px; 
    height: 55px; 
    position: absolute; 
    top: 18%; 
    /*left: calc(100% - 180px);*/
    left: 0;
    margin: 0px 35%;
    background-size: 105% 100%;
}

/*8999999999999999999999999999999999999999999999999999999999999999999999999999999999*/
/*8999999999999999999999999999999999999999999999999999999999999999999999999999999999*/
/*8999999999999999999999999999999999999999999999999999999999999999999999999999999999*/
/*8999999999999999999999999999999999999999999999999999999999999999999999999999999999*/
@media screen and (min-width: 1024px) {
	.item-certificate{
		margin-top: 20px;
	}
	.detail-item{
		margin-left: 30% !important;
	}
	.detail-item img{
		width: 180% !important;
		height: auto;
	}
	.item-certificate-default i{
		padding: 180px 0px;
	}
	#output{
		height: 400px;
	}
	.setDefault {
		left: 40px;
		width: calc(100% - 80px);
		bottom: 40px;
	}
	.item{
		margin-left: 6%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.item-certificate{
		margin-top: 20px;
	}
	.item-certificate-default i{
		padding: 299px 0px;
	}
	#output {
	  height: 600px;
	}
	.item img{
		/*height: 600px;*/
	}
	.item{
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
		margin-left: 6%;
		margin-right: 6%;
		position: relative;
		margin-bottom: 30px;
	}
	.popupFull{
			background: #3180C0;
		  color: #fff;
		  font-size: 14px !important;
		  padding: 30px 30px;
		  border-radius: 3px;
		  position: fixed;
		  top: 300px;
		  display: none;
		  width: 50%;
		  margin-left: 14%;
	}
	.jconfirm-box{
		width: 52%;
	}
	.setDefault {
		left: 140px;
		width: calc(100% - 280px);
		bottom: 40px;
	}
        .image-placeholder {
            width: 190px; 
            height: 80px; 
            top: 17%;
            left: 0;
            margin-left: 33%;
        }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.item-certificate{
		margin-top: 20px;
	}
	.item-certificate-default i{
		padding: 150px 0px;
	}
	#output{
		height: 350px;
	}
	.setDefault {
		text-align: center;
		left: 90px;
		bottom: 40px;
		width: calc(100% - 180px);
	}
        .image-placeholder {
            width: 115px;
            height: 45px;
        }
}
@media screen and (min-width: 414px) and (max-width: 736px) {
	.item .img-logo{
		position: absolute;
		width: 130px !important;
		height: 26px !important;
	}
        .image-placeholder {
            width: 115px;
            height: 45px;
        }
        /*.setDefault {*/
            /*margin: -60px 20% 45px;*/
        /*}*/
}
@media screen and (min-width: 320px) and (max-width: 374px) {
	.btn-default{
	    margin-left: 30%;
	    background: #4F5355 !important;
	    padding: 3px 8px;
	    color: #fff !important;
	    font-size: 14px !important;
	    width: 40% !important;
	    border-radius: 30px !important;
	}
	.item-certificate{
		margin-top: 20px;
		margin-left: 30px;
		margin-right: 30px !important;
	}
	.item-certificate-default i{
		padding: 120px 0px;
	}
	.col-md-3{
		padding: 0px !important;
	}
	#output{
		height: 300px;
	}
	.item img{
		/*height: 300px;*/
	}
	.jconfirm-box-container{
        margin-left: 8% !important;
    }
    .buttons .cancel {
        margin-left: 10% !important;
    }
    .buttons .yes{
    margin-right: 25px !important;
    float: right !important;
    }
    .popupFull{
    	top: 200px;
    	width: 91%;
    }
    .popupFull center{
    	color: #fff;
    	width: 85% !important;
    	font-size: 13px;
    }
    .title-certificate center{
    	color: #126DB6 !important;
    }
    .buttons{
    	padding-top: 0px !important
    }
    .item .img-logo{
		position: absolute;
		width: 92px !important;
		height: 26px !important;
	}
	.jconfirm-box{
		margin-top: 150px !important;
	}
	.setDefault {
		text-align: center;
		left: 40px;
		width: calc(100% - 80px);
		bottom: 40px;
	}
        .image-placeholder {
            width: 90px;
            height: 40px;
            top: 52px;
            left: 0;
            margin: 0px 31%;
        }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
        .image-placeholder {
            width: 130px; 
            height: 55px; 
            top: 18%; 
            left: 0;
            margin: 0px 34%;
            background-size: 105% 100%;
        }
        .item img {
            /*height: 465px;*/
        }
        .mob.com_joomdle .home {
            background-color: #fff;
        }
}
@media screen and (min-width: 414px) and (max-width: 736px) {
	.item .img-logo{
		position: absolute;
		width: 130px !important;
		height: 26px !important;
	}
        
} 
@media screen and (width: 411px), screen and (height: 731px) {
        .image-placeholder {
            width: 115px;
            height: 40px;
            top: 80px;
            left: 0;
            margin: 0px 36%;
        }
        .item img {
            /*height: 400px;*/
        }
}
@media (width: 360px) {
        .image-placeholder {
            width: 115px;
            height: 40px;
            top: 65px;
            left: 0;
            margin: 0px 29%;
        }
        .item img {
            /*height: 342px;*/
        }
}
@media screen and (width: 435px), screen and (height: 773px) {
        .image-placeholder {
            width: 135px;
            height: 50px;
            top: 95px;
            left: 0;
            margin: 0px 34%;
        }
        .item img {
            /*height: 480px;*/
        }
}
@media screen and (width: 375px), screen and (height: 667px) {
        .image-placeholder {
            width: 135px;
            height: 50px;
            top: 20%;
            left: 0;
            margin: 0px 31%;
        }
        .item img {
            /*height: 480px;*/
        }
}
@media screen and (max-width: 370px) {
        .btCreateCertificate, .uploadCertificate,
         .btnCancel, .removeLogo {
            padding: 0 10px;
            font-size: 12px !important;
        }
}
.course-menu, .hvn_BtEditCourse{
    display: none;
}
.container{
	padding: 0px;
}
.tab .detail-certificate{
	padding: 20px 14% !important;
}
.mob .detail-certificate{
	padding: 20px 0% !important;
}
.view-certificatecreate #t3-content{
	padding-bottom: 33px !important;
}
