/*course title*/
#diamond .inner-box {
    text-align: center;
}
button.course-title {
    border: none;
    background: transparent;
    text-align: left;
    padding: 0 0 10px 0;
}
#courses-inner #accordion .btn-group .dropdown-menu {
    position: relative;
    clear: both;
    float: left;
    padding: 0;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
button.dropdown-toggle.course-title {
    background: transparent;
    border: none;
}
button:focus {
    outline: none!important;
}
span.price {
    font-size: 21px;
    font-weight: bold;
    margin-right: 7px;
    color: #739a25;
    float: right;
}
#courses-inner .dropdown-menu li {
    padding: 2px 0 5px 0;
    border-bottom: none;
}
.btn-group.open .course-title.dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: none;
    background: transparent;

    float: left;
}
.sample-course span.glyphicon.glyphicon-chevron-down {
    margin-left: 10px;
    float: right;
    margin-top: 3px;
}
.sample-course-mb {display:none!important;}
.sample-course-mb {
    padding: 20px 20px;
    color: #888;
    font-family: 'Oswald';
    width: 100%;
    text-transform: uppercase;
    font-size: 19px;
}
.sample-course-mb span.glyphicon.glyphicon-chevron-down {
    margin-left: 10px;
    float: right;
    margin-top: 3px;
}


.next-skill {
    clear: both;
    text-align: center;
    padding: 55px 0 30px;
}

.next-skill button.btn-green {
    color: #789a3d;
    }
    .next-skill button.btn-orange {
    color: #ee9a08;
    }
    
.next-skill button{
    font-family: 'Oswald';
    font-size: 20px;
}
.next-skill button img {
    margin-right: 20px;
}
.next-skill span.glyphicon.glyphicon-chevron-right {
    margin-left: 20px;
}


.panel-diamond {
    padding-left: 30px!important;
min-height:70px;
}

/*HEADER*/
.logo img {
    max-width: 200px;
    padding: 10px 0;
}
.nav-icons {
    float: right;
    padding: 20px 10px;
    margin-top:15px;
}
.nav-icons a {
    padding:0 3px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row-eq-height .col-md-4 {
    background: #f5f5f5;
    padding: 0;
    margin: 0 15px;
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#courses #accordion div.panel:last-child div.panel-heading {
    border-bottom: none;
}

/*GENERAL*/
h1,h2,h3,h4,h5 {
    font-family: 'Oswald'!important;
}
h1 {
    font-weight:900;
}
h2 {
    font-weight:600;
}
h3 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}
p {
    font-family:'Open Sans'!important;
    line-height:1.5;
}
section {
    padding:48px 0;
}
a { 
    font-family:'Open sans'!important;
    color: #00b1ea;
}

/*ONE*/
.promo-mb {display:none;}
section#one {
    background: url('home-bg.jpg') no-repeat top;
    background-size: 100% auto;
    padding-bottom: 25px;
    padding-top: 30px;
}
.jumbotron {
    background:transparent;
    padding-bottom: 0;
    padding-top:0;
    margin-bottom:0;
}
.jumbotron h1 { 
font-size:70px;
}
.jumbotron h1 {
    color: white;
    text-shadow: 3px 1px 2px rgba(58, 58, 58, 0.77);
    font-family: 'Oswald';
    font-weight: bold;
    text-align: center;
    line-height:1.1;
    margin-top:0;
}
.jumbotron h1 span {
    font-size: 55px;
}
#promo {
    width: 100%;
    margin: 55px 0 20px 0;
    text-align: center;
}
#promo img {
    margin-left:-25px;
    width:100%;
    max-width: 1000px;
}
.lead {
    margin: 40px 0 0 0;
    padding: 0;
}
.lead p {
    font-size: 15px;
    line-height: 1.7;
}
.lead.hp-icons {
    text-align: center;
    color: white;
}
.hp-icons .title {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-family: 'Open Sans';
    height: 90px;
    padding-top: 20px;
    margin-bottom: 7px;
    line-height: 1.4;
}
.hp-icons p.title {
    padding-top: 25px!important;
}
.hp-icons .filter {
    background: rgba(39, 39, 39, 0.6);
    padding: 15px;
    height: 100%;
position:absolute;
    border-radius: 20px;
}
.hp-icons .col-md-4 {
    position: relative;
    min-height: 330px;
}

/*TWO*/
section#two {
    background: #444747;
}
#two .container {
    padding-left:60px;
    padding-right:60px;
}
#two .col-md-6 .box {
    background:#f4f4f4;
    border-radius: 5px;
    padding:15px 25px;
    margin:15px 0;
}
#two .row.row1 {
    padding: 0 38px;
}
#two .row.row2 {
    padding: 0 38px;
}
#two .row1 .col-md-6 .box {
    height: 300px;
}
button.utap-btn {
    background: none!important;
    border: none!important;
    font-family: 'Oswald'!important;
    font-size: 22px!important;
    padding: 0!important;
    width: 100%!important;
    text-align: left!important;
}
#two span.glyphicon.glyphicon-chevron-down {
    float: right;
    margin-top: 5px;
}

/*THREE*/
section#three {
    background:#cbdb2a;
    text-align: center;
}
section#three h1 {
    font-size: 51px;
}
#custom-search-input {
    margin:0;
    margin-top: 30px;
    padding: 0;
}
#custom-search-input .search-query {
    padding-right: 0;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height:40px;
}
#custom-search-input button {
    border: 1px solid #ccc;
    padding: 9px 8px;
    position: relative;
    left: 0;
    margin-bottom: 0;
    color: #474747;
    background: #fff;
}
.search-query:focus + button {
    z-index: 3;   
}

#custom-skills-btn {
    margin: 35px 20px;
    position:relative;
}
#custom-skills-btn button {
    margin: 0 15px;
    padding: 20px 33px;
    color: #474747;
    font-family: 'Oswald';
    font-size: 22px;
}
#custom-skills-btn button img {
    margin-right: 12px;
}
.btn-default:hover {
    background-color: #fff;
    box-shadow: #aaa 1px 1px 12px;
    border-color: white;
}
#custom-skills-btn button.btn-green {
    color:#789a3d;
}
#custom-skills-btn button.btn-orange {
    color:#ee9a08;
}
#custom-skills-btn #arrow1 {
    position:absolute;
    left: 120px;
}
#custom-skills-btn #arrow2 {
    position: absolute;
    right: 90px;
    bottom: 5px;
}
.sample-course:hover {
    color: #888;
    }
.sample-course {
    padding: 12px 20px;
    color: #888;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 16px;
}

/*FOUR*/
#faq #accordion {
    margin:25px auto;
    width:70%;
}
#faq .heading {
    border: 1px solid #ccc;
    background: #f0f0f0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px;
    text-align: center;
}
#faq .heading h3 {
    margin:0;
}
#faq .panel-default {
    border-radius: 0;
    border-bottom: none;
    border: none;
    margin-bottom: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#faq .panel .panel-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top:none;
    border-left:none;
    border-right:none;
    padding:15px;
}
#faq .panel .panel-heading a {
    color: #454545;
}
#faq .panel .panel-heading a:hover {
    text-decoration: none;
    opacity: .9;
}
#faq .panel-collapse {
    background: #fff;
    padding: 20px;
    font-family: 'Open sans'!important;
    border-bottom: 1px solid #ddd;
    color: #676767;
    font-weight: 500;
    font-size: 14px;
}

footer {
    background: #2d2d2d;
    padding: 50px;
}
footer p {
    color: #8c8c8c;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans'!important;
}


#google-form {
    width: 100%;
    margin: 35px 0 0 0;
}
#google-form #inner-form {
    width: 70%;
    margin: 0 auto;
}


/*SHARPEN*/

section#sharpen-one {
    background-size: 100% auto;
    padding:70px 0;
}
section.sharpenskills-bg {
background:url('innersharpen-bg.jpg') no-repeat top;
}
section.learnskills-bg {
background:url('innerlearn-bg.jpg') no-repeat top;
}
/*section#courses {
    background-image: url('learn-bg.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}*/
#sharpen-one #custom-skills-btn {
    margin: 35px auto;
    position: relative;
    text-align: center;
}
#sharpen-one .jumbotron h1 {
margin-bottom:35px;
}
.promo-inner {
    float:right;margin-top: -55px;margin-right: -40px;
    }
#breadcrumbs {
    background: #ececec;
    padding: 12px 0;
    border-bottom: 1px solid #e4e4e4;
}
.inner-box {
    margin:0 75px;
}
#diamond {
    padding: 5px 0 5px 0;
    background: #ececec;
}
.diamond-icon {
    background: url("diamond-icon.png");
    background-repeat: no-repeat;
    background-position: 6px;
}
#sharpen-one #custom-skills-btn button:hover {
    cursor:text;
    background:#fff;
}
#sharpen-one #custom-skills-btn button {
    padding:20px 25px;
}
#courses-inner {
    width:90%;
    margin:0 auto;
}
#courses .col-md-12 {
    margin:20px 0;
}
#courses .heading {
    background: #f19934;
    color: white;
    padding: 20px 15px 20px 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Open Sans'!important;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    min-height: 60px;
    position: relative;
    max-height: 60px;
}
#courses .heading img {
    position: absolute;
    left: 19px;
}
#courses .panel {
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
#courses .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 15px;
}
#courses a {
    color: #464646;
    font-size:13px;
}
#courses .panel-collapse {
    padding: 20px 20px 60px 20px;
    background-color: #f6f2eb;
    position: relative;
    border-top: 1px solid #ddd;
    font-family:'Open Sans'!important;
    font-size:13px;
}
#courses a.buynow-btn {
    color: white!important;
    padding: 8px 10px;
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    bottom: 15px;
    right: 25px;
}
#courses a:hover, #courses a:focus {
    text-decoration:none!important;
}
.heading.green-pg {
    color:#444!important;
}
.green-pg {
    background: #cbdb2a!important;
    color:white;
}
.orange-pg {
    background: #ff9600;
    color:white;
}




/*sample*/
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}





/**/



@media (max-width:1199px) {
    #two .row1 .col-md-6 .box {
    height: 380px;
}
.hp-icons .col-md-4 {
min-height:380px;
}
section#one {
    background-size: auto 100%;
}
#custom-skills-btn #arrow1 {
    left: 0;
}
#custom-skills-btn #arrow2 {
    right: 0;
}
section#sharpen-one {
    background-size: auto 100%;
    }
.promo-inner {
    float: left;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 20px;
}
}


@media (max-width:990px) {
.hp-icons .col-md-4:nth-child(3) {
    margin-bottom: 0;
}
.hp-icons .filter {
position:relative;
    padding: 15px 25px;
}
.hp-icons .col-md-4 {
    min-height: 0;
    margin: 15px 0;
}
.hp-icons .title {
    height: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    }
.hp-icons p.title {
    padding-top: 30px!important;
}
#two .col-md-6 {
    width: 100%!important;
}
.col-md-4.third {
    display: none;
}
.panel-diamond {
    padding-top: 24px!important;
}
.jumbotron {
    padding: 0!important;
    margin-bottom:0!important;
}
#two .container {
    padding: 0;
}
#two .row1 .col-md-6 .box {
    height: auto;
}
#two .row2 .col-md-6 .box {
    height: auto;
}
#custom-search-input {
    padding: 0 35px;
}
.jumbotron h1 {
    font-size: 52px;
    margin-top:10px;
}
.jumbotron h1 span {
    font-size: 52px;
}
#custom-skills-btn #arrow1, #custom-skills-btn #arrow2 {
    display:none;
}
#faq #accordion {
    width: 100%;
    padding:0 15px;
}
h1 {
    font-size: 51px!important;
    padding: 0 25px!important;
}
.navbar-header {
    text-align: center;
}
#custom-search-input button {
    padding: 19px 8px;
}
#custom-search-input .search-query {
    height:60px;
}
.row-eq-height {
display:inline;
}
section#one {
    background-size: auto 100%;
}
.inner-box {
    margin: 0;
}
.inner-box > div {
    float: none!important;
    text-align: center;
    margin-bottom: 10px;
}
.inner-box > div:nth-child(2) {
    margin-bottom: 0;
}
#diamond {
    text-align: center;
}
#courses-inner {
    width: 100%;
}
#courses .col-md-12 {
    margin: 0;
    padding:0!important;
}
#courses-inner .col-md-4 {
    margin: 25px 0;
}
#courses .heading {
    padding: 12px 0;
    min-height: 0;
}
    }






@media (max-width:769px) {
#sharpen-one .jumbotron h1 {
    margin-bottom: 0;
}
    #faq #accordion {
    padding: 0 25px;
}
#courses-inner {
    width: 90%;
}
section#sharpen-one {
    background-size: auto 100%;
    }
#promo img {
    padding: 0 25px;
}
#custom-skills-btn button {
    margin: 25px 0;
    padding: 30px 0;
    width: 75%;
    font-size: 32px;
}
#custom-skills-btn button img {
    margin: 0 0 0 20px;
    float: left;
}
.sample-course {
    padding: 25px 20px;
    font-size: 20px;
    width: 75%;
}
.nav-icons {
    float: none;
    text-align: right;
}
#sharpen-one .jumbotron h1 {
    float: left;
    width: 100%;
    text-align: center;
}
.promo-inner {
    float: none;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
}
.jumbotron {
    text-align:center;
}
.logo img {
    max-width: 270px;
}
#google-form #inner-form {
    width: 100%;
}
.faq-img {
    width: 100%!important;
}
footer .link {
    display: block;
    margin-bottom: 10px;
    float:none!important;
}
}


@media (max-width:480px) {
.jumbotron h1 span {
    font-size: 36px;
}
img.diamond-text {
    max-width: 100%;
}
.sample-course {display:none!important;}
.sample-course-mb {display:inline!important;}
.sample-course-mb {
    padding: 20px!important;
    font-size: 19px!important;
    width: 100%!important;
}
.next-skill button.btn-green {
    margin-top: 50px;
}
.next-skill {
    padding: 10px 0 30px 0;
}
.next-skill button {
    width: 100%;
    padding: 17px 0;
}
        .promo-mb {display:inline!important;}
    .promo-dsktp {display:none;}
    #custom-skills-btn button img {
    margin: 0 0 0 15px;
}
section#courses {
    padding: 30px 0 0 0;
}

h1 {
        line-height: 1.3;
    font-size: 35px!important;
    padding:0 15px!important;
}
.lead {
    padding: 15px 0;
    margin: 0;
}
.hp-icons .col-md-4 {
padding:0;
}
.lead p {
    font-size: 14px;
}
#promo img {
    padding: 0 15px;
    margin-left: 0;
}
section {
    padding: 20px 0;
}
#promo {
    margin: 20px 0 20px 0;
    }
    #two .row.row1 {
    padding: 0!important;
}
#two .row.row2 {
    padding: 0!important;
}
#two .box {
    margin: 15px 0!important;
}
#custom-search-input {
    padding: 0 15px;
    margin-bottom: 15px;
}
#custom-skills-btn {
    margin: 35px 15px 0 15px;
}
#custom-skills-btn button {
    font-size: 27px;
        margin: 0 0 15px 0;
        margin-bottom: 15px;
        width:100%;
}
#faq #accordion {
    padding: 0 15px;
}
#faq .heading {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#two .col-md-6 .box {
    padding: 15px;
}
#two .container {
    padding: 0 15px;
}
#two .col-md-6 .box {
    border-radius: 5px;
}
.jumbotron {
    padding: 0 15px!important;
    }
    #promo img {
    padding: 0!important;
}
#custom-skills-btn button {
    padding: 20px 0;
    }
}