.event-title,.evDecription,.evLocation,.evCategory{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    text-align: left;
    color: #5e5e5e;
}
.joms-form__group .joms-required,
.eventCatagory .joms-required {
    color: #bb5a66;
    font-size: 17px;
    margin-left: 5px;
}
#ev-name{
    margin-bottom: 33px;
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    width: 50%;
    height: 33px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282 !important;
}
.js-event-text{
     margin-bottom: 33px;
    border-radius: 10px;
    border:1px solid #ccc !important;
    background: #fff;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.com_community.view-events.task-create 
#community-wrap.jomsocial-wrapper .jomsocial,
.com_community.view-events.task-edit 
#community-wrap.jomsocial-wrapper .jomsocial {
    padding: 0px 0% !important;
}
/*.view-events.task-create .joms-focus__header{*/
    /*height: 180px !important;*/
/*}*/
/*.com_community.view-events.task-edit .joms-focus__header{*/
    /*background: rgba(0, 0, 0, 0);*/
/*}*/
.com_community.view-events .joms-form__group .evInputLocation{
    margin-bottom: 33px;
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    width: 50%;  
    height: 33px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
    font-weight: 300;
    color: #828282;
}
.com_community.view-events .joms-page .eventCatagory{
    width: 100%;
    text-align: left;
    overflow: visible !important;
}
.eventCatagory .js-event-start {
    padding-left: 0;
}
.eventCatagory .picker {
    z-index: 1000;
}
.com_community.view-events.task-create .joms-page > form >
 .eventCatagory .joms-form__group.js-event-start,
 .com_community.view-events.task-create .joms-page > form >
 .eventCatagory .joms-form__group.js-event-end,
 .com_community.view-events.task-edit .joms-page > form >
 .eventCatagory .joms-form__group.js-event-start,
 .com_community.view-events.task-edit .joms-page > form >
 .eventCatagory .joms-form__group.js-event-end{
   float: left;
   margin-left: 15px;
}
#starttime,#endtime{
    /*margin-bottom: 33px;*/
    border-radius: 10px;
    border:1px solid #ccc;
    background: #fff;
    height: 33px;
    width: calc(100% - 35px) !important;
    /*margin-top: 24px;*/
}
 .com_community.view-events.task-create .joms-page > form >
 .eventCatagory .joms-form__group,
  .com_community.view-events.task-edit .joms-page > form >

 .eventCatagory .joms-form__group{
    width: 100%;
}
.mn{
    float: right;
    margin-top: -28px;
    margin-right: calc(50% - 56px)
}
.view-events .js-button-right{
    text-transform: uppercase;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}
.view-events .title{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 17px;
    color: #5e5e5e;
}
.mnContentEvent{
    width: 100%;
    height: auto;
    padding:0 14%;
    background-image: url(/kv2_2/images/social-feeds-bg3.jpg) !important;
    background-size: 700px 494px !important;
}
.mnAddingEvent{
    background: #fff;
    margin-bottom: 33px;
}
.mnEventTitle{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #5e5e5e;
    letter-spacing: 0px;
    font-size: 17px;
    padding-left: 20px;
    width: 100%;
}
.evenCaledar{
    width: 15px !important;
    margin: 0px 5px 0px 0px;
    position: relative;
    bottom: 2px;
}
.mnContentEvent .joms--description{
    padding: 0px 20px;
}
.evenLocation{
    width: 15px !important;
    margin: 0px 5px 0px 0px;
    position: relative;
    bottom: 2px;
}

.mn-title,.mn-titlefull{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #494949;
    letter-spacing: 0px;
    line-height: 33px;
    font-size: 16px;
    margin-left: 20px;
}
.col-event .swiper-wrapper .swiper-slide {
  /*  width: calc(33% - 6px);*/
}
.mnContentEvent .memberSeeMore{
    color: #126db6;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.mnAboutEvent,
.mnMemnerTitle {
    border-bottom: 0.5px solid #828282;
    padding: 20px 20px 10px 20px;
    margin: 0px !important;
    color: #5e5e5e !important;
    font-size: 17px !important;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif !important;
    font-weight: 700 !important;
}
.mnContentEvent  .bordered-box,
.mnContentEvent .bordered-box {
    border-radius: 10px;
    padding-left: 0px;
    border: 1px solid #828282; 
}
.col-event-title{
    margin-top: 20px;
}
.col-event-about p{
    padding:15px;
}
.img-Eventavatar{
    width: 100px !important;
    height: 100px !important;
    border-radius:7px !important;
    border:none !important;
}
.com_community.view-events.task-viewevent .joms-focus__cover .joms-focus__header .joms-focus__title{
    height: 70px;
    background-color: rgba(74,74,74, 0.55);
    width: 100% !important;
    margin-left: 0px;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.com_community.view-events.task-viewevent 
.joms-focus__cover .joms-focus__header .joms-focus__title h3{
    text-align: center;
}
.com_community.view-events.task-viewevent 
.joms-focus__cover{
    height: 200px;
}
.com_community.view-events.task-viewevent #community-wrap.jomsocial-wrapper .jomsocial{
    padding: 0px !important;
}
.com_community.view-events.task-viewevent .joms-focus__title .back {
    display: block;
    left: calc(14% - 10px);
    top: 24px !important;
    position: absolute;
    padding: 0 10px;
}
.mnTime{
    display: table-caption;
    padding: 0px 6px 0px 6px;
    color: #5e5e5e;
}
.btn-edit-event{
    display: block;
    width: 30px;
    right: calc(14%);
    position: absolute;
    top: 20px;
}
.com_community.view-events.task-create .com-event-header .joms-focus--mini,
.com_community.view-events.task-edit .com-event-header .joms-focus--mini{
    height: 200px;
}
 .com_community.view-events.task-edit .joms-focus__cover .joms-focus__header 
 .joms-avatar--focus {
    top: 11% !important;
 }
 .com_community.view-events.task-create .joms-focus__cover .joms-focus__header 
 .joms-avatar--focus {
    top: 11% !important;
 }
.joms-avatar--focus img{
    border-radius: 7px !important;
    max-width: 100px !important;
}
.cEvents .joms-avatar--focus{
    width: 100px !important;
    height: 100px;
    background: #F3F7FB;
    text-align: center;
    margin: 0px auto;
    top:0px !important;
    left:calc(50% - 50px) !important;
    border-radius: 7px;
    z-index: 13;
}
 .com_community.view-events.task-create .mnPhotoIcon,
 .com_community.view-events.task-edit .mnPhotoIcon{
    bottom: calc(50% - 24px);
    width: 42px !important;
    height: 42px !important;
    background: #828282;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 29%;
}
 .com_community.view-events.task-create .joms-avatar--focus .photo-icon,
 .com_community.view-events.task-edit .joms-avatar--focus .photo-icon {
    width: 24px !important;
    height: 23px !important;
    top: 10px !important;
}
 .com_community.view-events.task-viewevent .mnPhotoIcon
{
    bottom: calc(50% - 24px);
    width: 42px !important;
    height: 42px !important;
    background: #828282;
    border-radius: 50%;
    cursor: pointer;
}
 .com_community.view-events.task-viewevent
  .joms-avatar--focus .photo-icon{
    width: 24px !important;
    height: 23px !important;
    top: 40px !important;
}
.com_community.view-events .joms-input.picker__input {
    margin-top: 10px;
    background: #fff;
    height: 33px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 110px !important;
    padding: 8.65248px !important;
    text-align: center;
    margin-right: 33px;
}
.com_community.view-events.task-viewevent .joms-focus__header .block
 {
  width: 29px !important;
  height: 29px !important;
  background-image: url('/kv2_2/images/icons/FriendsIcon.png');
  background-position: center;
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background: #4f5355;
  display: block;
  border-radius: 50px;
  text-align: center;
}
.com_community.view-events.task-viewevent .joms-focus__header .event-title p
{
    margin-top: -20px !important;
}
.js-event-date ,.js-event-time {
    width: 15% !important;
    float: left;
}
.com_community.view-events.task-viewevent .joms-focus__header .event-title .mnNameEvent
{
    margin-top: 10px !important;
    display: block;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
}
.col-event.joms-list--friend .userAvatar > a > p {
    /*padding-left: 18px;
    margin-left: 0px !important;
    float: left;
    padding: auto 10px;
    margin-top: 30px;
    width: 50%;*/
}
.col-event.joms-list--friend .userAvatar {
    float: left;
    position: relative;
    padding: 10px;
    margin-right: 0%; 
}
.jomsocial .cIndex-Avatar img {
    border: medium none;
    border-radius: 100px;
    width: 86px;
    height: 86px;
    float: left;
}
.mntitle{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
}
.mntitle.hasediticon {
    /*padding-left: calc(14% + 15px) !important;*/
}
.input-group-addon{
    display: none;
}
@media (max-width: 850px) {
    .js-event-date ,.js-event-time {
        width: 34% !important;
        float: left;
    }
    .mn{
        float: right;
        margin-top: -28px;
        margin-right: calc(50% - 56px)
    }
}
@media (min-width: 780px) and (max-width: 1094px){
     .js-event-date ,.js-event-time {
        width: 20% !important;
        float: left;
    }
    .mn{
        float: right;
        margin-top: -28px;
        margin-right: calc(50% - 56px)
    }
}
@media (max-width: 1064px){
     
    }
.col-event.joms-list--friend .userAvatar > a > p
.joms-form__group .joms-input[type="text"], .joms-form__group .joms-input[type="password"], .joms-form__group .joms-select--wrapper, .joms-form__group .joms-textarea
{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282 !important;
    font-size: 16px;
}
.mnContentEvent p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282 !important;
    font-size: 16px;
}
.col-event{
    padding-left: 0px;
}
.t3-mainbody,.t3-content{
    padding-bottom: 0px !important;
}
.com_community.view-events.task-create 
#community-wrap.jomsocial-wrapper .jomsocial .joms-form__group,
.com_community.view-events.task-edit 
#community-wrap.jomsocial-wrapper .jomsocial .joms-form__group{
    padding: 0px 14%;
}
.joms-focus__cover:before, .joms-hcard__cover:before{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.mnActive{
    right: 13%;
    position: relative;
    width: 11%;
    background: #fff;
    color: #000;
    float: right;
    bottom: 17px;
    z-index: 1;
    border:1px solid #ccc;
    border-radius: 5px;
   box-shadow: 0px 1px 5px #ccc;
}
.mnActive ul li:first-of-type{
    text-align: center;
    padding:8px 5px;
    border-bottom: 1px solid #B8D7E2;
}
.mnActive ul li:last-of-type{
    text-align: center;
    padding:8px 5px;
    cursor: pointer;
}
.mnActive ul li a{
      color: #5e5e5e;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    cursor: pointer;
}
.rmPopupUnfriend .btRMYes{
    padding: 0px 10px !important;
    width: 84px !important;
}
.rmPopupUnfriend, .rmPopupBlock{
    top: 60% !important;
}

.userAvatar1 span{
    min-height: 50px;
    max-height: 100px;
    overflow: hidden;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 16px;
    color: #828282;
    position: relative;
    top: 28px;
}
.userAvatar1 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.eventCatagory .notifi{
    padding: 0 15%;
    color: red; 
    font-size: 16px; 
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.nullname{
    margin-top:-20px;
    color: red;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.joms-help{
    float: left;
    margin-top:-20px;
    color: red;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}

.evenTime{
    width: 15px !important;
    margin: 0px 5px 0px 0px;
    position: relative;
    bottom: 2px;
}
.evenCaledarBlock,
.evenLocationBlock,
.evenTimeBlock{
    margin-right: 20px;
}

.mnEventDes{
    padding: 20px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282 !important;
    font-size: 16px;
}
.error1{
    color: #bb5a66;
}
.joms-form__group input.error1 {
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
input:focus::-webkit-textfield-decoration-container {
    visibility: hidden;
}
.tab .eventCatagory.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.com_community.view-events.task-edit .joms-page > form > .eventCatagory .joms-form__group.js-event-start,
.com_community.view-events.task-create .joms-page > form > .eventCatagory .joms-form__group.js-event-start {
    margin-left: 0px !important;
}

@media only screen and (min-width: 481px){
    .joms-focus__cover .joms-focus__cover-image, .joms-hcard__cover .joms-focus__cover-image {
        display: block;
    }
}
#starttime, #endtime {
    /*box-shadow: none !important;*/
}