.home h1 {
    line-height: 1;
}
.home h2 {
    font-size: 21px;
}
.home .search {
    width: 50%;
    float: right;
}
.home .status {
    width: 100%;
    float: right;
}
.home .search .search-box #txtKeyword{
    color: #555555;
    border-radius: 15px;
    background-image: url('/images/icons/SearchIcon_726D6D.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 6px 12px 6px 37px;
    background-position: 9px center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    letter-spacing: 0px;
}
.home .status .status-post #txtStatusPost {
    background: #efecec;
    border-radius: 100px;
    border: none;
    height: 60px;
    vertical-align: middle;
    font-size: 13px;
    width: 100%;
    padding-left: 25px;
}
.home .status .status-post #btPost {
    float: right;
    margin-top: 12px;
    border: none;
    background: #4F5355;
    color: white;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 13px;
    border-radius: 60px;
    line-height: 35px;
    padding: 0 25px;
}
.home .status .create-your-profile {
    display: block;
    margin-top: 23px;
    width: 100%;
}
.home .search .message-login {
    margin-top: 15px;
    color: white;
    width: 100%;
    background: #098137;
    line-height: 34px;
    font-size: 18px;
    font-weight: bold;
}
.home .my-course .course-content-block .program {
    background-color: #c5c7c9;
}

.home .search .search-box,
.home .search .search-box .form-search-box,
.home .search .search-box .form-search-box input[name="keyword"] {
    width: 100%;
    border-radius: 0;
}

.group-activity .group-activity-header img {
    width: 30px;
    height: 30px;
}
.tab .home .mygroups .mygroup-content-block .group-title img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 18px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.mygroups .mygroup-content-block .count {
    position: absolute;
    color: #fff;
    background: #126DB6;
    z-index: 1;
    /* padding: 3px; */
    border-radius: 50%;
    font-size: 10px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: -5px;
    line-height: 20px;
    text-align: center;
}
.home .ft-create-profile,
.home .ft-browse-courses,
.home .ft-browse-circles,
.home .ft-search-friends {
    clear: both;
    width: 100%;
    display: table;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.home .ft-create-profile > img,
.home .ft-browse-courses > img,
.home .ft-browse-circles > img,
.home .ft-search-friends > img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.home .ft-create-profile .description,
.home .ft-browse-courses .description,
.home .ft-browse-circles .description,
.home .ft-search-friends .description {
    text-align: left;
    /*color: #383838;*/
    color: #797979;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.home .ft-create-profile > a,
.home .ft-browse-courses > a,
.home .ft-browse-circles > a,
.home .ft-search-friends > a {
    float: right;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.home .ft-create-profile > a:after,
.home .ft-browse-courses > a:after,
.home .ft-browse-circles > a:after,
.home .ft-search-friends > a:after {
    background: url('/images/icon_ar_right.png');
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-left: 10px;
}
.home .ft-create-profile h2,
.home .ft-browse-courses h2,
.home .ft-browse-circles h2,
.home .ft-search-friends h2 {
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    /*text-indent: 5px;*/
    font-size: 16px;
    color: #126DB6;
}
    #t3-mainnav .popover.bottom {
        margin-top: -5px;
        width: 100%;
        border-radius: 0px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    }
    #t3-mainnav .popover.bottom a {
        color: #282727;
        font-size: 14px;
    }
    .popover.bottom > .arrow {
        margin-left: 4px;
    }
    #t3-mainnav .popover.bottom .popover-content {
        padding: 0px;
    }
    #t3-mainnav .popover.bottom .popover-content .modal-sm{
        margin: 0px;
        width: 100%;
        max-height: 500px;
        overflow-y: scroll;
    }

    #t3-mainnav .popover.bottom .popover-content .modal-sm::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    #t3-mainnav .popover.bottom .popover-content .modal-sm::-webkit-scrollbar
    {
        width: 5px;
        background-color: #F5F5F5;
    }

    #t3-mainnav .popover.bottom .popover-content .modal-sm::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }

    .joms-stream__body-notification {
        padding: 10px;
    }
    .joms-stream--discussion.notifications.default {
        padding: 10px;
    }
    .notifications.not-read {
        background: #E0F0FB;
        cursor: pointer;
    }
@media screen and (min-width: 768px) {
    .home h2 {
        font-size: 30px;
    }
    #t3-mainnav .popover.bottom {
        /*left: 318px !important;*/
    }
}

@media only screen
  and (min-device-width: 600px)
  and (max-device-width: 960px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
      #t3-mainnav .popover.bottom {
        /*left: 509px !important;*/
    }
}
@media only screen and (max-width: 600px) {
      #t3-mainnav .popover.bottom {
        /*left: 150px !important;*/
    }
}
.home .jumbotron {
    background-color: transparent;
    position: relative;
    margin-bottom: 0;
}
.home .t3-sl-1 {
    padding: 0;
    background: #ffffff;
    color: #333333;
    border-bottom: 1px solid #eeeeee;
}
.home .t3-sl-1 .jumbotron {
    border-radius: 0;
}
.home .t3-sl-1 .jumbotron .btn {
    margin-top: 20px;
}
.home .t3-sl-2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 0px;
}
.home .t3-sl-2 .img-responsive {
    display: inline-block;
}
.home .t3-sl-3 {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (min-width: 768px) {
    .home .t3-sl-2 p {
        font-size: 16px;
        line-height: 22px;
    }
}
.home .t3-sl-3 p > img {
    margin-top: 20px;
}
@media screen and (min-width: 992px) {
    .home .t3-sl-3 p > img {
        margin-top: 0;
    }
    .home .status-post {
        margin-top: -20px;
        position: static;
        z-index: 9000;
        width: 100%;
    }
}
.home .t3-sl-3,
.home .t3-sl-4 {
    /*border-top: 1px solid #eeeeee;*/
    text-align: center;
    padding: 15px 0;
}
@media screen and (min-width: 768px) {
    .home .t3-sl-3 p,
    .home .t3-sl-4 p {
        font-size: 16px;
        line-height: 22px;
    }
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
    padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
    margin-bottom: 10px;
    margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
    font-size: 18px;
    line-height: 1.25;
    color: #999999;
}
@media screen and (min-width: 768px){
    .home .t3-sl-3 .jumbotron p,
    .home .t3-sl-4 .jumbotron p {
        font-size: 21px;
    }
    .home .status-post {
        margin-top: 15px;
        position: static;
        /*z-index: 9000;*/
        width: 100%;
    }
    .home .my-course {
        margin-top: 0px;
        position: relative;
    }
    .home .my-course .course-title-block{
        width: 30%;
        height: 30px;
        /*border-radius: 5px;*/
        margin-left: 0;
        /*margin-bottom: 10px;*/
    }
    .home .my-course .course-title-block h2 {
        font-size: 22px;
        text-align: left;
    }
    .home .my-course .course-title-block h2 a, .home .status .ft-create-profile h2 a {
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        position: relative;
        width: 100%;
        display: block;
        text-align: left;
        /*text-indent: 15px;*/
    }
    /*.home .my-course .course-content-block {*/
        /*display: inline;*/
    /*}*/
    .home .my-course .course-content-block ul li{
        list-style: none;
        height: 100px;
        margin-left: 0;
        padding: 5px;
        border: 1px solid rgb(153, 153, 153);
        padding-bottom: 2px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 50%;
    }
    .home .my-course .course-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
        margin-top: 5px;
    }
    .home .my-course .course-content-block ul li a {
        /*margin-top: 15px;*/
        float:right;
    }
    .home .my-course .course-search {
        display: none;
    }
    .home .swiper-slide{
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    }
    .home .course-content-block.desktop-tablet .swiper-wrapper .swiper-slide {

        height: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        margin-top: 10px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .home .my-course .swiper-wrapper .swiper-slide img {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
    }
/*    .home .mygroups .swiper-wrapper .swiper-slide img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 10px;
    }*/
    .home .swiper-wrapper .swiper-slide .course-description {
        text-align: left;
        font-size: 14px;
    }
    .home .swiper-wrapper .swiper-slide .title-course {
        width: 100%;
        height: 100%;
    }
    .home .swiper-wrapper .swiper-slide .title-course .course-title{
        font-size: 13.28px;
        padding: 0 20px;
        line-height: 30px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
        color: #126DB6;
        display: block;
        height: 30px;
        overflow: hidden;
        /* border-top: 1px solid rgba(18, 109, 182, 0.16); */
        margin-top: 10px;
    }
    .swiper-wrapper .swiper-slide .title-course a.continue-learning{
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 13px;
            font-family: 'Helvetica Neue', sans-serif;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
    }
    .desktop-tablet .swiper-button-next{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url('/images/icons/arrow_right.png');
        background-position: 42% 70%;
        background-size: 129%;

    }
    .desktop-tablet.my-course .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet.mygroups .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet .swiper-button-prev{
        top: 38% !important;
        display: none;
    }
    .home .mygroups {
        margin-top: 0px;
        position: relative;
    }
    .home .mygroups .group-title {
        padding: 10px;
        overflow: hidden;
    }
    .home .mygroups .group-description {
        text-align: left;
    }
    .home .mygroups .group-title .gr-title {
        width: 100%;
        /* float: left; */
        display: block;
        margin-left: 0px;
        line-height: 30px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .home .mygroups .group-title .gr-title {
        text-align: left;
        font-size: 14px;
        color: #92d050;
    }
    .home .mygroups .mygroup-title-block h2 {
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        position: relative;
        width: 100%;
        display: block;
        text-align: left;
        /*text-indent: 15px;*/
    }
    .home .mygroups .mygroup-title-block h2 a{
        color: #0070c0;
        font-size: 14px;
        line-height: 30px;
        margin: 0;
    }
    .home .mygroup-content-block .swiper-button-next {
        top: 65% !important;
    }
    .home .mygroup-content-block .swiper-button-prev {
        top: 65% !important;
        display: none;
    }
    h2 .count {
        background: #f2a711;
        width: 32px;
        height: 30px;
        display: inline-block;
        border-radius: 20px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity {
        height: 55px;
        width: 100%;
    }
    .home .mygroups .group-activity .group-activity-header img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .home .mygroups .group-activity .group-activity-action {
        float: left;
        width: 80%;
        text-align: left;
        font-size: 16px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .group-activity-body .action-content {
        font-size: 16px;
        text-align: left;
    }
    .home .mygroups .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 50%;
            left: 60%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
            background: url('/images/icons/player.png') no-repeat;
            background-size: 100px 60px;
    }
    .home .mygroups .group-activity .group-activity-header {
        width: 14%;
        float: left;
        height: 50px;
    }
    .mygroups .mygroup-content-block .count {
        position: absolute;
        color: #fff;
        background: #126DB6;
        z-index: 1;
        /* padding: 3px; */
        border-radius: 50%;
        font-size: 10px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        margin-top: -10px;
        margin-right: -5px;
        line-height: 20px;
        text-align: center;
    }
}
@media screen and (min-width: 600px){
    .home .t3-sl-3 .jumbotron p,
    .home .t3-sl-4 .jumbotron p {
        font-size: 21px;
    }
    .home .status-post {
        margin-top: 15px;
        position: static;
        /*z-index: 9000;*/
        width: 100%;
    }
    .home .my-course {
        margin-top: 0px;
        position: relative;
    }
    .home .my-course .course-title-block{
        width: 30%;
        height: 30px;
        /*border-radius: 5px;*/
        margin-left: 30px;
        /*margin-bottom: 10px;*/
    }
    .home .my-course .course-title-block h2 {
        font-size: 22px;
        text-align: left;
    }
    .home .my-course .course-title-block h2 a, .home .status .ft-create-profile h2 a {
        font-size: 16px;
        line-height: 30px;
        margin: 0;
        color: #126db6;
        font-family: 'Open Sans', OpenSans, sans-serif;
        font-weight: 400;

    }
    /*.home .my-course .course-content-block {*/
        /*display: inline;*/
    /*}*/
    .home .my-course .course-content-block ul li{
        list-style: none;
        height: 100px;
        margin-left: 0;
        padding: 5px;
        border: 1px solid rgb(153, 153, 153);
        padding-bottom: 2px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 50%;
    }
    .home .my-course .course-content-block ul li img {
        width: 70px;
        height: 60px;
        float: left;
        margin-top: 5px;
    }
    .home .my-course .course-content-block ul li a {
        /*margin-top: 15px;*/
        float:right;
    }
    .home .my-course .course-search {
        display: none;
    }
/*    .home .my-course .course-content-block .swiper-container {
        overflow: visible;
    }*/
    .home .swiper-slide{
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
        border: 1px solid #ddd;
        margin-top: 10px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

    }
    .home .mygroups .swiper-wrapper .swiper-slide {
        height: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        margin-top: 10px;
        background-color: #fff;

    }
    .home .my-course .swiper-wrapper .swiper-slide img {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
    }
    .home .swiper-wrapper .swiper-slide .title-course {
        text-align: left;
        width: 100%;
        min-height: 430px;
    }
    .home .my-course .course-content-block.desktop-tablet .title-course .course-image-wrapper {
        width: 100%;
        height: 150px;
        overflow: hidden;
        /*background-size: 100% 100%;*/
        background-size: cover ;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(/courses/theme/parenthexis/pix/nocourseimg.jpg);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .home .swiper-wrapper .swiper-slide .title-course .course-title {
        font-size: 14px;
        padding: 0 20px;
        line-height: 30px;
        font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
        color: #126DB6;
        display: block;
        height: 30px;
        overflow: hidden;
        /* border-top: 1px solid rgba(18, 109, 182, 0.16); */
        margin-top: 10px;
    }
    .home .my-course .course-content-block .title-course .course-timeend {
            font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
            font-size: 13px;
            color: #383838;
            padding: 0 20px;
            margin: 0;
            line-height: 24px;
    }
    .home .my-course .course-content-block .title-course .course_timepublish {
        font-size: 13px;
        padding: 0 20px 35px 20px;
        line-height: 20px;
        margin: 0;
        overflow: hidden;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        color: #797979;
    }
    .home .my-course .course-content-block .title-course .course-description {
        font-size: 13px;
        padding: 0 20px;
        line-height: 20px;
        margin: 0;
        overflow: hidden;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        /*color: #797979;*/
    }
    .home .my-course .course-content-block .title-course .right-side {
        position: absolute;
        bottom: 10px;
        left: 20px;
    }

    .swiper-wrapper .swiper-slide .title-course a.right-side-swiper {
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 14px;
            font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
            float: left;
    }

    .swiper-wrapper .swiper-slide .title-course a.left-side {
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 14px;
            font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            /*right: 0;*/
            float: left;
            margin-left: 10px;

    }

    .swiper-wrapper .swiper-slide .title-course a.continue-learning{
            padding: 0 15px;
            margin-right: 10px;
            line-height: 24px;
            color: #fff;
            /* float: right; */
            background: #4f5355;
            border-radius: 50px;
            font-size: 13px;
            font-family: 'Helvetica Neue', sans-serif;
            margin-bottom: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
    }
    .btEditNewCourse {
        position: absolute;
        right: 20px;
        top: 10px;
        background-color: #126DB6;
        background-image: url(/images/edit30X30.png);
        background-size: 13px 13px;
        background-repeat: no-repeat;
        background-position: center;
        width: 33px;
        border-radius: 100px;
    }

    .desktop-tablet .swiper-button-next{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url('/images/icons/arrow_right.png');
        background-position: 42% 70%;
        background-size: 129%;

    }
    .desktop-tablet.my-course .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet.mygroups .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet .swiper-button-prev{
        top: 38% !important;
        display: none;
    }
    .home .mygroups {
        margin-top: 0px;
        position: relative;
    }
    .home .mygroups .group-title {
        padding: 10px;
        overflow: hidden;
        width: 100%;
    }
    .home .mygroups .group-description {
        text-align: left;
    }
@media (min-width: 600px) and (max-width: 760px) {
.tab .home .mygroups .mygroup-content-block .group-title .gr-owner {
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    text-align: start;
    margin-left: 73px;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    min-height: 60px;
}
}
@media (min-width: 760px) and (max-width: 910px) {
        .tab .home .mygroups .mygroup-content-block .group-title .gr-owner {
            margin: 0px;
            font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
            font-size: 13px;
            color: #383838;
            line-height: 24px;
            text-align: start;
            overflow: hidden;
            min-height: 75px;
            overflow: hidden;
        }
    }

@media (min-width: 911px) and (max-width: 1024px) {
.tab .home .mygroups .mygroup-content-block .group-title .gr-owner {
    margin: 0px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    line-height: 24px;
    text-align: start;
    overflow: hidden;
    height: 50px;
}
}
    .home .mygroups .mygroup-content-block .group-title .group-statistic {
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        font-size: 13px;
        color: #797979;
        line-height: 24px;
        clear: both;
        /* width: 100%; */
        float: left;
        display: block;
    }
    .home .mygroups .mygroup-content-block .group-title .continue-learning {
        padding: 0 15px;
        line-height: 24px;
        color: #fff;
        float: right;
        background: #4f5355;
        border-radius: 50px;
        font-size: 12px;
    }
    .home .mygroups .mygroup-title-block h2 {
        line-height: 30px;
        margin: 0;
        text-align: left;
        color: #126db6;
        font-size: 16px;
    }
    .home .mygroups .mygroup-title-block h2 a{
        color: #0070c0;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }
    .home .mygroup-content-block .swiper-button-next {
        top: 65% !important;
    }
    .home .mygroup-content-block .swiper-button-prev {
        top: 65% !important;
        display: none;
    }
    h2 .count {
        background: #f2a711;
        width: 32px;
        height: 30px;
        display: inline-block;
        border-radius: 20px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity {
        height: 55px;
        width: 100%;
    }
    .home .mygroups .group-activity .group-activity-header img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .home .mygroups .group-activity .group-activity-action {
        float: left;
        width: 80%;
        text-align: left;
        font-size: 16px;
        margin-left: 10px;
    }
    .home .mygroups .group-activity .group-activity-body {
        float: left;
    }
    .home .mygroups .group-activity-body .action-content {
        font-size: 16px;
        text-align: left;
    }
    .home .mygroups .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 55%;
            left: 65%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
            background: url('/images/icons/player.png') no-repeat;
            background-size: 100px 60px;
    }
    .home .mygroups .group-activity .group-activity-header {
        width: 14%;
        float: left;
        height: 50px;
    }
    .home .my-course.desktop-tablet.tablet.have-courses {
        /*margin-top: -30px;*/
    }
    .mygroups .mygroup-content-block .count {
        position: absolute;
        color: #fff;
        background: #126DB6;
        z-index: 1;
        /* padding: 3px; */
        border-radius: 50%;
        font-size: 10px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        margin-top: -10px;
        margin-right: -5px;
        line-height: 20px;
        text-align: center;
    }
@media screen and (min-width: 1024px){
.tab .home .mygroups .mygroup-content-block .group-title .gr-owner {
    margin: 0px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    line-height: 24px;
    text-align: start;
    overflow: hidden;
    height: 25px;
}
}

}
@media screen and (min-width: 1000px) {
    .home .my-course .course-content-block.desktop-tablet .title-course .course-image-wrapper {
        height: 225px;
        background-size: cover;
    }
}
.home .t3-sl-5 {
    background: #ffffff;
    color: #333333;
    border-top: 1px solid #eeeeee;
    padding: 0;
}
.home .t3-sl-5 .jumbotron {
    border-radius: 0;
    margin-bottom: 0;
}
.swiper-wrapper .swiper-slide {
    width: 522px;
}
.home .status-post .joms-postbox {
    margin-bottom: 0;
}
.home .status-post .joms-postbox .joms-postbox-input {
    min-height: 75px;
}
.home .status-post textarea {
    min-height: 60px !important;
    border-radius: 0;
}
.home .status-post input[type="submit"] {
    padding: 0px 10px;
    line-height: 30px;
    background-color: #098137;
    color: white !important;
    font-size: 13px;
    border-radius: 0;
}
h2 .count{
    background: #f2a711;
    width: 32px;
    height: 30px;
    display: inline-block;
    border-radius: 20px;
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-indent: 0;
}
@media screen and (min-width: 1024px) {
    .home .status-post {
        margin-top: 15px;
    }
    .home .swiper-wrapper .swiper-slide {
        /*width: 50% !important;*/
    }
    .desktop-tablet .swiper-button-next{
        top: 60% !important;
    }
    .desktop-tablet .swiper-button-prev{
        top:60% !important;
        display: none;
    }
    .home .mygroup-content-block .swiper-button-next {
        top: 60% !important;
    }
    .home .mygroup-content-block .swiper-button-prev {
        top: 60% !important;
        display: none;
    }
    h2 .count {
        background: #f2a711;
        width: 32px;
        height: 30px;
        display: inline-block;
        border-radius: 20px;
        margin-left: 10px;
    }

    .group-activity .group-activity-header img {
        width: 30px;
        height: 30px;
    }
    .home .mygroups .group-activity-body .action-content .action-content-button {
            position: absolute;
            top: 50%;
            left: 32%;
            width: 100px;
            height: 100px;
            margin: -10px 0 0 -188px;
            background: url('/images/icons/player.png') no-repeat;
            background-size: 100px 60px;
    }
    .mygroups .mygroup-content-block .count {
        position: absolute;
        color: #fff;
        background: #126DB6;
        z-index: 1;
        /* padding: 3px; */
        border-radius: 50%;
        font-size: 10px;
        font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        margin-top: -10px;
        margin-right: -5px;
        line-height: 20px;
        text-align: center;
    }
    #t3-mainnav .popover.bottom {
        /*left: 900px !important;*/
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
    #t3-mainnav .popover.bottom {
        /*left: 815px !important;*/
    }
}
@media (min-width: 769px) and (max-width: 1000px) {
    #t3-mainnav .popover.bottom {
        /*left: 480px !important;*/
    }
}
@media (min-width: 1000px) and (max-width: 1047px) {
    #t3-mainnav .popover.bottom {
        /*left: 540px !important;*/
    }
}
@media (min-width: 1600px){
    #t3-mainnav .popover.bottom {
        /*left: 1135px !important;*/
    }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
      #t3-mainnav .popover.bottom {
        /*left: 574px !important;*/
    }
}
.navbar-title{
text-align: left;
}
.navbar-title span{
    padding: 0px 0px 0px 65px;
}
.wrap.t3-sl.t3-sl-4 {
    padding-top: 15px;
    padding-bottom: 0px;
}
.wrap.t3-sl.t3-sl-4 .container,
.wrap.t3-sl.t3-sl-3 .container,
.wrap.t3-sl.t3-sl-2 .container
{
    padding: 0px;
}
.home .mygroups .mygroup-title-block,
.home .my-course .course-title-block{
    text-align: left;
}
.home .myfriend-content-block .myfriend-title-block{
    color: #126db6;
    font-size: 16px;
    text-align: left;
    padding: 15px 0;
}

.home .mygroups .mygroup-content-block .swiper-wrapper,
.home .my-course .course-content-block .swiper-wrapper
{
    /*margin-top: 10px !important;*/
    /*margin-left: 30px !important;*/
    /*overflow: visible;*/
}
.home .mygroups .swiper-wrapper .swiper-slide {
    margin-top: 5px;
    border: none;
    box-shadow: none;
}
.home .mygroups .mygroup-content-block .group-title img.icon_member {
    float: none;
    margin-right: 3px;
    border-radius: 0;
    margin-bottom: 3px;
    padding-left: 2px;
    width: 14px;
    height: 14px
}
.home .ft-create-profile, .home .ft-browse-courses,
.home .ft-browse-circles{
    clear: both;
    width: 100%;
    display: table;
    margin-bottom: 0px;
    border-bottom: 1px solid #D3E7F7;
    padding-bottom: 10px;
    padding-right: 0px;
}
.home .ft-search-friends {
    clear: both;
    width: 100%;
    display: table;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
}
.home .ft-search-friends {
    /*padding-top: 15px;*/
}
.home .have-no-group .mygroup-content-block,
.home .myfriend-content-block,
.home .myprofile-content-block
/*.home .course-content-block*/
{
    margin-left: 30px;
    margin-right: 30px;
}

.home .mygroups .mygroup-content-block .group-title {
    text-align: left;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.25);
}

.home .mygroups .group-title .gr-title{
    /*position: relative;*/
    display: inline;
}
.home .mygroups .group-title .gr-title {
    margin-top: 15px;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #5E5E5E;
    text-align: left;
}
 .tab .home .mygroups .mygroup-content-block .group-title .group-description {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #5E5E5E;
    overflow: hidden;
    text-align: justify;
}

.home .my-course .course-title-block h2{
    margin-bottom: 0px;
    margin-top: 0px;
}
.home .first-time-login .course-content-block{
    margin-left: 30px;
    margin-right: 30px;
    display: block;
}

.view-searchcourse .right-column {
    background-color: #FFF;
}
.view-searchcourse.task-tasksearch .right-column,
.view-searchcourse.task-tasksearch #t3-mainbody,
.view-searchcourse.task-tasksearch #t3-mainbody .row,
.view-searchcourse.task-tasksearch #t3-content,
.view-searchcourse.task-tasksearch .joomdle_searchcourse,
.view-searchcourse.task-tasksearch .joomdle_search_course,
.view-groups.task-search .right-column,
.view-groups.task-search #t3-mainbody,
.view-groups.task-search #t3-mainbody .row,
.view-groups.task-search #t3-content,
.view-groups.task-search .view-groups .jomsocial-wrapper,
.view-groups.task-search .jomsocial-wrapper .jomsocial,
.view-groups.task-search .jomsocial-wrapper .jomsocial .joms-page {
    height: 100%;
}
.view-groups.task-search #t3-mainbody,
.view-groups.task-search #t3-content {
    padding-bottom: 0px;
}
.view-groups.task-search .jomsocial-wrapper .jomsocial .joms-page,
.view-searchcourse.task-tasksearch .scoures_wrapper {
    width: calc(100% + 12px);
    margin-left: -5px;
}

.block-home {
    /*min-height: calc(100vh);*/
}
.view-featured #t3-content,
.view-featured #t3-mainbody {
    padding-bottom: 0;
    padding-top: 0;
}
.view-featured .course_content #images {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    border-radius: 7px 7px 0px 0px;
}
.view-featured .course_content a.course-title{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    color: #126DB6;
    letter-spacing: 0px;
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
}
.view-featured .my-course p.course-timeend{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 13px;
    color: #383838;
    padding-top: 5px;
    margin: 0;
    letter-spacing: 0px;
}
.view-featured .my-course p.course-description{
    padding: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    color: #696969;
    line-height: 20px;
}
.lgt-notif,
.lgt-notif-error {
    position: fixed;
    bottom: 25px;
    left: 100%;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    padding: 10px 20px;
    text-align: center;
    min-width: 140px;
    line-height: 30px;
    box-sizing: border-box;
    transition: all 300ms ease;
    text-transform: capitalize;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 11111;
    white-space: nowrap;
    font-style: italic;
}
.lgt-notif {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    box-shadow: inset 0 0 0 2px rgba(96, 218, 170, 0.32);
}
.lgt-notif-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    box-shadow: inset 0 0 0 2px rgba(218, 96, 141, 0.32);
}
.lgt-notif.lgt-visible,
.lgt-notif-error.lgt-visible {
    left: calc(100% - 15px);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}
.lgt-notif::before, .lgt-notif::after,
.lgt-notif-error::before, .lgt-notif-error::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.lgt-notif::before {
    top: 0;
    left: 0;
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    animation: border 2s infinite;
}
.lgt-notif::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}
.lgt-notif-error::before {
    border-top-color: #F1677D;
    border-right-color: #F1677D;
    top: 0;
    left: 0;
    animation: border 2s infinite;
}
.lgt-notif-error::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColorSecond 2s 1s infinite;
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes borderColor {
    0% {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
    }
    50% {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
@keyframes borderColorSecond {
    0% {
        border-bottom-color: #F1677D;
        border-left-color: #F1677D;
    }
    50% {
        border-bottom-color: #F1677D;
        border-left-color: #F1677D;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.login-register-page #t3-mainbody,
.login-register-page #t3-mainbody .joms-landing {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    width: 100%;
}
.login-register-page #t3-mainbody > .row {
    margin: 0;
}
.login-register-page .frontLayer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 6% 0 0 0;
}
.login-register-page .frontLayer > img {
    /*width: 45%;*/
}
.login-register-page .frontLayer h4:last-of-type {
    margin-top: 40px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.login-register-page .section-white {
    position: relative;
}
.login-register-page .carousel-inner > .item {
    /*height: 282px;*/
    height: auto;
    /*min-height: 550px;*/
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input {
    height: 33px;
    border: 1px solid #EFECEC;
    font-size: 16px;
    background: #fff;
    color:#828282 !important;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input[name="password"] {
    margin: 22px 0 11px 0;
}
.login-register-page .signup-forgotpassword {
    padding: 0 0 0 20px;
    overflow: hidden;
}
.login-register-page .signup-forgotpassword > div > span,
.login-register-page .signup-forgotpassword > div > a {
    font-size: 16px;
    color: #7f8c8d;
    display: inline-block;
}
.login-register-page .signup-forgotpassword > div:first-of-type > a {
    color: #126db6;
    font-weight: bold;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append,
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button {
    margin: 0;
    padding: 0;
    width: 100%;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button.joms-button--login {
    text-transform: uppercase;
    min-width: 110px;
    width: auto;
    float: right;
    font-size: 16px;
    height: 30px;
    box-shadow: 0 0 2px black;
    line-height: 30px;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button.joms-button--login:hover,
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login button.joms-button--login:focus {
    background: #4f5355;
}
.login-register-page .divButtonLogin {
    overflow: hidden;
    width: 100%;
    padding: 0px 2px 11px 2px;
}
.login-register-page .signup-forgotpassword .left {
    float: left;
    padding: 0px 0 15px 0;
    line-height: 28px;
}
.login-register-page .signup-forgotpassword .left span {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page .signup-forgotpassword .left a {
    margin: 0;
}
.login-register-page .signup-forgotpassword .right {
    float: right;
    padding-top: 0;
}
.login-register-page .divForgotPassword {
    overflow: hidden;
    width: 100%;
    padding: 0 0 0 20px;
}
.login-register-page .divForgotPassword a {
    float: right;
    font-size: 16px;
    color: #828282;
    display: inline-block;
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page #community-wrap .jomsocial .login-using-social img {
    /*width: 60px;
    height: 30px;
    margin: 0 3% 0 0;*/
    width: auto;
    height: 100%;
    margin: 0;
}
.login-register-page .login-using-social > a {
    width: 60px;
    height: 28px;
    margin: 0 6% 0 0;
    border-radius: 90px;
    display: inline-block;
}
.login-register-page .login-using-social > a:first-of-type {
	background: #3A6BB4;
}
.login-register-page .login-using-social > a:nth-of-type(2) {
	background: #EF3D31;
}
.login-register-page .login-using-social > a:last-of-type {
	background: #4091CF;
	margin: 0;
}
.login-register-page #community-wrap .jomsocial .login-using-social a:last-of-type img {
    /*margin-right: 0;*/
}
.login-register-page #community-wrap .jomsocial .login-using-social,
.login-register-page .divDownloadApp,
.login-register-page .div-footer-menu,
.login-register-page #community-wrap .jomsocial .login-using-text,
.login-register-page .divCopyright {
    text-align: center;
    padding: 22px 25%;
}
.login-register-page .divDownloadApp p {
    font-size: 19px;
    color: #7f8c8d;
}
.login-register-page .divDownloadApp a {
	display: inline-block;
}
.login-register-page .divDownloadApp img {
	width: 84px;
    height: 28px;
    margin-right: 20px;
    border-radius: 5px;
}
.login-register-page .divDownloadApp a:last-of-type img {
    margin-right: 0;
}
.login-register-page .div-footer-menu ul {
    /*display: table;*/
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    /*width: calc(100% + 80px);
    border-collapse: separate;
    border-spacing: 40px 0px;
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    transform: translate(-40px, 0);*/
}
.view-register .div-footer-menu,
.view-reset .div-footer-menu {
    padding: 20px 25% 0 25%;
    clear: both;
}
.login-register-page .div-footer-menu li {
    /*display: table-cell;*/
    text-align: center;
    padding: 0 3%;
}
.login-register-page .div-footer-menu li a {
    font-size: 18px;
    color: #828282;
    text-align: center;
    white-space: nowrap;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.login-register-page #community-wrap .jomsocial .login-using-text {
    color: #828282;
    font-size: 20px;
}
.login-register-page .divCopyright {
    font-size: 16px;
    color: #828282;
    /*text-transform: uppercase;*/
    padding: 50px 25% 0 25%;
}
.login-register-page .divCopyright p {
    margin: 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    font-size: 18px;
    /*padding-bottom: 24px;*/
    line-height: 26px;
}
.login-register-page a:focus {
    outline: none;
}
.login-register-page #community-wrap .jomsocial .login-using-text .second {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.login-register-page .frontLayer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.login-register-page .frontLayer > img {
    max-width: 338px;
    max-height: 168px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.login-register-page .frontLayer > h4 {
    color: white;
    font-size: 19px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    text-shadow: 3px 5px 9px #000000;
    margin: 0 0 5px 0;
    min-height: 14px;
    height: 8%;
    display: block;
}
.login-register-page .frontLayer > h4:first-of-type {
    position: absolute;
    top: calc(41% + 3%);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.login-register-page .frontLayer h4:nth-of-type(2) {
    position: absolute;
    top: calc(47% + 3% + 8%);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
}
.login-register-page .frontLayer h4:last-of-type {
    position: absolute;
    top: calc(43% + 3% + 8% + 8% + 6%); /* 72% */
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
    font-weight: bold;
    margin: 0;
}
.login-register-page .carousel-indicators li,
.login-register-page .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 5px;
}
.login-register-page .divDownloadApp {
    display: none;
}
/*
.login-register-page .div-footer-menu li:before {
    content: "";
    display: inline-block;
    width: 25%;
    min-width: 100px;
}
.login-register-page .div-footer-menu li:first-of-type {
    vertical-align: bottom;
}
.login-register-page .div-footer-menu li:first-of-type:before {
    content: "";
    display: inline-block;
    width: 0%;
    min-width: 0px;
}
*/
.login-register-page .div-footer-menu li {
    text-align: right;
}
@media screen and (max-width: 639px) and (min-width: 320px) {
    .login-register-page .div-footer-menu ul {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {
    .login-register-page .div-footer-menu ul {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
}
@media screen and (max-width: 1919px) and (min-width: 1366px) {
}
@media screen and (min-width: 1920px) {
    .login-register-page .frontLayer > h4 {
        font-size: 2em;
    }
    .login-register-page .div-footer-menu ul li {
        padding: 0 4%;
    }
}

.terms-page-banner,
.privacy-policy-page-banner,
.support-page-banner {
    height: 108px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 60px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/terms_banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.terms-page-content,
.privacy-policy-page-content {
    padding: 15px 14% 30px 14%;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
}
.terms-page-banner .left ,
.privacy-policy-page-banner .left,
.support-page-banner .left {
    padding-top: 36px;
    float: left;
}
.terms-page-banner .left img,
.privacy-policy-page-banner .left img,
.support-page-banner .left img {
    display: block;
    width: 170px;
    height: 37px;
    /*margin-left: -9px;*/
}
.terms-page-banner .right,
.privacy-policy-page-banner .right,
.support-page-banner .right {
    float: right;
    padding-top: 36px;
}
.terms-page-banner .right a ,
.privacy-policy-page-banner .right a,
.support-page-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}
.terms-page-banner .right a:first-of-type ,
.privacy-policy-page-banner .right a:first-of-type,
.support-page-banner .right a:first-of-type {
    margin-right: 20px;
}
.terms-page-content .title,
.privacy-policy-page-content .title {
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 22px;
    margin-top: 20px;
}
.terms-page .connect-with-us ,
.privacy-policy-page .connect-with-us,
.view-faq .connect-with-us {
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.terms-page .connect-with-us .connect-icons,
.privacy-policy-page .connect-with-us .connect-icons,
.view-faq .connect-with-us .connect-icons {
    text-align: center;
}
.terms-page .connect-with-us .connect-icons p ,
.privacy-policy-page .connect-with-us .connect-icons p,
.view-faq .connect-with-us .connect-icons p {
    margin-bottom: 15px;
}
.terms-page .connect-with-us .connect-icons a,
.privacy-policy-page .connect-with-us .connect-icons a,
.view-faq .connect-with-us .connect-icons a {
    display: inline-block;
    margin-right: 20px;
}
.terms-page .connect-with-us .connect-icons a:last-of-type,
.privacy-policy-page .connect-with-us .connect-icons a:last-of-type,
.view-faq .connect-with-us .connect-icons a:last-of-type {
    margin-right: 0px;
}
.terms-page .connect-with-us .connect-icons img,
.privacy-policy-page .connect-with-us .connect-icons img,
.view-faq .connect-with-us .connect-icons img {
    width: 40px;
    height: 40px;
}
.login-register-page .terms-page .divCopyright ,
.login-register-page .privacy-policy-page .divCopyright {
    text-transform: none;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    padding: 0px 30px 0 30px;
}
.terms-page .paragraph-title,
.privacy-policy-page .paragraph-title {
    text-transform: uppercase;
}
.privacy-policy-page .dot{
    opacity: 0.5;
    margin-right: 30px;
}
.privacy-policy-page .sub-paragraph-title{
    font-weight: bold;
}
.privacy-policy-page .letter,
.terms-page .letter {
    float: left;
    margin-right: 30px;
    margin-bottom: 0;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.terms-page .bullet {
    float: left;
    margin-right: 30px;
    margin-bottom: 0;
}
.terms-page .paragraph-title,
.terms-page .sub-paragraph-title {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}

.terms-page .paragraph,
.privacy-policy-page .sub-paragraph {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
    font-size: 18px;
    text-align: left;
}
.terms-page .connect-with-us p,
.privacy-policy-page .connect-with-us p {
    margin-bottom: 22px;
}
.tab .privacy-policy-page-content.guest,
.tab .terms-page-content.guest,
.tab .support-page-content.guest {
    padding: 108px 14% 45px 14% !important;
}
.terms-page-content.guest .title,
.privacy-policy-page-content.guest .title {
    margin-top: 45px;
}

.view-register,
.view-reset {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}
.view-register body,
.view-reset body {
    background-image: url('/images/login/register-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.view-register #t3-mainbody,
.view-register .sign-up-page,
.view-reset #t3-mainbody {
    background: transparent;
}
.view-reset .reset-page,
.view-register .register-success-page,
.reset-confirm-page,
.reset-complete-page {
    text-align: center;
    min-height: calc(100vh - 180px);
}
.view-register .sign-up-page {
    text-align: center;
    min-height: calc(100vh - 191px);
}
.view-reset .t3-content,
.view-register .t3-content {
    padding: 0;
}
.view-reset .reset-page .page-header {
    border: none;
    padding: 0;
    margin: 0;
}
.view-reset .reset-page .form-validate p {
    border: none;
    background: transparent;
    padding: 0;
}
.view-reset .form-group {
    margin: 0;
    padding: 0 25% 0 25%;
}
.view-register .sign-up-page {
    padding: 0;
}
.view-register .sign-up-page form {
    padding: 0 25% 5px 25%;
}
.view-register .sign-up-page .buttonSignup,
.view-reset .validate {
    text-transform: uppercase;
    min-width: 110px;
    width: auto;
    float: right;
    font-size: 16px;
    height: 30px;
    box-shadow: 0 0 2px black;
    line-height: 30px;
    padding: 0 10px;
    background: #4f5355;
    border: none;
    border-radius: 50px;
}
.view-register .joms-loading {
    display: inline-block;
    height: 100%;
}
.view-register .joms-loading img {
    width: 16px;
    height: 11px;
}
.view-reset .validate {
    margin-top: 20px;
    color: #fff;
}
.view-register .sign-up-page .buttonSignup:hover,
.view-reset .validate:hover,
.joms-page.register-success-page .btBacktoHome:hover {
    background: #4f5355;
}
.view-register .sign-up-page .buttonSignup:focus,
.view-reset .validate:focus,
.joms-page.register-success-page .btBacktoHome:focus {
    outline: none;
}
.joms-page.sign-up-page .signup-title h4,
.joms-page.register-success-page h4,
.reset-page .page-header h4,
.reset-confirm-page h4,
.reset-complete-page h4 {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #126db6;
    font-size: 24px;
    text-transform: capitalize;
}
.joms-page.register-success-page h4,
.reset-confirm-page h4,
.reset-page .page-header h4,
.reset-complete-page h4 {
    text-transform: none;
}
.joms-page.sign-up-page .signup-message,
.joms-page.sign-up-page .signup-condition,
.joms-page.register-success-page .register-message,
.reset-page .reset-message,
.reset-confirm-page .reset-message,
.reset-complete-page .reset-message {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    font-size: 18px;
    margin: 15px auto 20px auto;
    padding: 0 30px;
    text-align: center;
}
.joms-page.sign-up-page .signup-condition a {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #828282;
}
.joms-page.sign-up-page .joms-form__group {
    margin-bottom: 12px;
}
.reset-complete-page .form-group,.reset-confirm-page .form-group{
    padding-bottom: 10px;
}
.reset-complete-page fieldset > .form-group:last-of-type,.reset-confirm-page fieldset > .form-group:last-of-type {
    padding-bottom: 0;
}
.joms-page.sign-up-page .joms-form__group.signup-submit {
    overflow: hidden;
}
.joms-page.sign-up-page .joms-form__group input[type="text"],
.joms-page.sign-up-page .joms-form__group input[type="password"],
.reset-page input[type="text"],
.reset-confirm-page input[type="text"],
.reset-complete-page input[type="password"] {
    border: 1px solid rgba(130, 130, 130, 0.5);
    font-size: 20px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    background-color: #fff;
    height: 40px;
    border-radius: 50px;
}
.reset-page input[type="text"],
.reset-confirm-page input[type="text"],
.reset-complete-page input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
}
.reset-page input[type="text"]:last-of-type,
.reset-confirm-page input[type="text"]:last-of-type,
.reset-complete-page input[type="password"]:last-of-type {
    margin-bottom: 0;
}
.view-register .login-using-text,
.view-register .login-using-social {
    display: none;
}
.view-register .divLogin {
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #828282;
    text-align: center;
    clear: both;
}
.view-register .divLogin a {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    color: #126db6;
}
.view-register .signup-back,
.view-reset .signup-back {
    margin: 0;
    padding: 24px 0 15px 25px;
}
.view-register .signup-back img,
.view-reset .signup-back img {
    width: 14px;
    height: 26px;
}
.register-success-page {
    text-align: center;
    background: transparent;
}
.view-register.task-registerSucess .outerpgbar,
.view-register.task-registerSucess .innerpgbar {
    background: transparent;
    display: none;
}
.joms-page.register-success-page .btBacktoHome {
    width: auto;
    text-transform: uppercase;
    height: 34px;
    padding: 0 30px;
    line-height: 34px;
    font-size: 16px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.reset-confirm-page .form-actions {
    background: transparent;
    padding: 0;
    margin: 0;
}
.view-register #system-message-container,
.view-reset #system-message-container{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    margin-left: 10px;
}
.view-register #system-message-container .alert,
.view-reset #system-message-container .alert {
    padding: 10px 15px;
    border-radius: 1px;
}
.view-register #system-message-container .alert h4,
.view-reset #system-message-container .alert h4 {
    margin: 0;
    line-height: 30px;
}
.view-register #system-message-container .alert p,
.view-reset #system-message-container .alert p {
    margin: 0;
}
.view-register .jomsocial-wrapper .jomsocial,
.view-reset .jomsocial-wrapper .jomsocial {
    min-height: 0;
}

.about-page .about-page-banner .center p,
.business-page .business-page-banner .center p,.partners-banner .center p.des1  {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 38px;
    color: #fff;
    margin-bottom: 0px;
}
.business-page .business-page-banner .center p.des2 ,.partners-banner .center p.des2{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 0px;
}
.about-page .about-page-banner .button-center p,.partner-page-can .button-center p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #126DB6;
    opacity: 0.9;
    /*border-color: #fff;*/
    background-color: #FFF; /* Green */
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}
.about-page .about-page-content .step_block img{
    width: 62px;
    height: 62px;
    margin-right: 50px;
}
.about-page .about-page-content img.icon_step1{
    width: 62px;
    height: 62px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-page .about-page-content img.icon_step2,
.about-page .about-page-content img.icon_step3,
.about-page .about-page-content img.icon_step5
{
    width: 63px;
    height: 63px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);}
.about-page .about-page-content img.icon_step4
{
    width: 62px;
    height: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-page .about-page-content .step_block .step{
    width: 40px;
    height: 40px;
    background: #126db6;
    -webkit-border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.about-page .about-page-content .step_block .text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-page .about-page-content .abc{

}
.about-page .about-page-banner .center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.about-page .about-page-banner .button-center{
    position: absolute;
    top: calc(70%);
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 100%;
    clear: both;
    text-align: center;
}
.tab .business-page-content.guest {
    padding: 40px 14% 40px 14% !important;
}
.tab .about-page-content.guest{
    padding: 40px 0 0 0 !important;
}
.about-page-content .title
{
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}
.about-page-content .sub-paragraph p, .business-page-content .sub-paragraph p {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #445560;
}
.about-page-content p.sub-paragraph-title{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    color: #445560;
}
.about-page-content p.paragraph-title{
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 24px;
    color: #445560;
    margin-top: 40px;
    margin-bottom: 10px;
}
.about-page-content .step-title{
    /*margin-top: 10px;*/
}
.about-page-content .step-title p{
    text-align: left;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 16px;
    color: #126DB6;
    margin-bottom: 0;
}
.about-page-content p.step-des{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #445560;
}
.about-page-content .step span{
    font-size: 18px;
    color: #FFF;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    position: absolute;
    top: 7px;
    left: 15px;
}

.about-page-content .step_block{
    position: relative;
    display: flex;
}

.about-page-content .step_block:last-of-type {
    margin-bottom: 0;
}

.about-page-content .feature_highl_block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.feature_highl_block img.learning-store
{
    margin-top:16px;
    margin-bottom: 8px;
}
.about-page-content .feature_highl_block p{
    text-align: center;
}

.about-page-content .feature_highl_block p:first-of-type{
    font-size: 16px;
    color: #126DB6;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.about-page-content .circle-and-chat + p,
.about-page-content .course-builder + p{
    margin-bottom: 5px;
}
.about-page-content .leanrning-network + p,
.about-page-content .learning-store + p{
    margin-bottom: 6px;
}
.about-page-content .user_comment{
    display: inline-block;
    margin-bottom: 40px;
}
/*.about-page-content .user_comment .author{*/
    /*font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;*/
    /*font-size: 18px;*/
    /*color: #445560;*/
    /*text-align: center;*/
    /*display: inline;*/
    /*background-color: #f8f8f8;*/
    /*padding: 10px;*/
/*}*/
.about-page-content .user_comment .author{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    color: #445560;
    padding: 0;
    float: right;
    right: -24px;
    position: relative;
    top: 20px;
}

.about-page-content .user_comment img.quotation_marks1{
    width: 24px;
    top: -2px;
    z-index: 1;
    position: absolute;
}
.about-page-content .user_comment img.quotation_marks2{
    width: 24px;
    position: relative;
    float: right;
    bottom: 10px;
}
.about-page-learn-more img{
    width: 100%;
}
.about-page-learn-more .learn-more1 {
    background-image: url("/images/login/bussiness.png");
    height: 400px;
    background-size: 100% 100%;
    /*text-align: center;*/
    padding-left: 14%;
    padding-right: 14%;
    margin-bottom: 40px;
}
.about-page-learn-more .learn-more2 {
    background-image: url("/images/login/support.png");
    height: 400px;
    background-size: 100% 100%;
    /*text-align: center;*/
    padding-left: 14%;
    padding-right: 14%;
    margin-bottom: 40px;
}

.about-page-learn-more p:first-of-type{
    padding-top: 111px;
    font-size: 38px;
    margin-bottom: 44px;
}

.about-page-learn-more p{
    font-size: 24px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #FFF;
    margin-bottom: 0;
}
.about-page-learn-more .bt-learn-more{
    margin-top: 37px;
    background-color: #FFF;
    border: none;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    opacity: 0.9;
    float: right;
    margin-right: 73px;
}
.about-page-learn-more .bt-learn-more span{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #126DB6;
}


.about-page .connect-with-us, .business-page .connect-with-us,
.partners-page .connect-with-us {
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.about-page .connect-with-us .connect-icons, .business-page .connect-with-us .connect-icons {
    text-align: center;
}
.about-page .connect-with-us .connect-icons p, .business-page .connect-with-us .connect-icons p {
    margin-bottom: 15px;
}
.about-page .connect-with-us .connect-icons a, .business-page .connect-with-us .connect-icons a
,.partners-page .connect-with-us .connect-icons a{
    display: inline-block;
    margin-right: 20px;
}
.about-page .connect-with-us .connect-icons a:last-of-type, .business-page .connect-with-us .connect-icons a:last-of-type {
    margin-right: 0px;
}
.about-page .connect-with-us .connect-icons img, .business-page .connect-with-us .connect-icons img
,.partners-page .connect-with-us .connect-icons img {
    width: 40px;
    height: 40px;
}
.about-page .connect-with-us p, .business-page .connect-with-us p,
.partners-page .connect-with-us p {
    margin-bottom: 22px;
}
.about-page-banner {
    height: 512px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 73px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/about_banner_small.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-page-banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2);
}

.about-page-content {
    padding: 15px 0 30px 0;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
}
.about-page-content > * {
    padding-left: 14%;
    padding-right: 14%;
}
.about-page-banner .left,.partners-banner .left {
    padding-top: 36px;
    float: left;
}
.about-page-banner .left img ,.partners-banner .left{
    display: block;
    width: 170px;
    height: 37px;
    /*margin-left: -9px;*/
}
.about-page-banner .right a, .partners-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 20px;
}
.about-page-banner .right a:last-of-type ,
.about-page-banner .right a:last-of-type{
    margin-right: 0;
}

.about-page-banner .right, .partners-banner .right {
    font-family: OpenSan;
    font-size: 18px;
    color: #fff;
    float: right;
    padding-top: 36px;
}
.terms-page-banner .right a:first-of-type ,
.privacy-policy-page-banner .right a:first-of-type {
    margin-right: 20px;
}
.about-page-content .title
{
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.about-page span.dot {
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
    top: 4px;
}
.user-story-page .user-story-page-banner .center p:first-of-type{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 38px;
    color: #fff;
    margin-bottom: 23px;
    letter-spacing: 1px;
}
.user-story-page .user-story-page-banner .center p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 24px;
    color: #fff;
}
.user-story-page .user-story-page-banner .center p:last-of-type{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: #fff;
    margin-top: 12px;
}
.user-story-page .user-story-page-banner .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.user-story-page-banner {
    height: 512px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 73px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/userstory_banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.user-story-page-banner{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2);
}

.user-story-page-banner .left {
    padding-top: 36px;
    float: left;
}
.user-story-page-banner .left img {
    display: block;
    width: 170px;
    height: 37px;
}
.user-story-page-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 20px;
}
.user-story-page-banner .right a:last-of-type {
    margin-right: 0;
}
.user-story-page-banner .right {
    font-family: OpenSan;
    font-size: 18px;
    color: #fff;
    float: right;
    padding-top: 36px;
}
.user-story-page-content{
    margin: 40px 73px 0px 73px;
    display: inline-block;
}
.user-story-page-content img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
}
.user-story-page-content .paragraph{
    display: inline-block;
    margin-bottom: 30px;
}
.user-story-page-content .paragraph .username{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #445560;
    margin-left: 15px;
    margin-bottom: 10px;
}
.user-story-page-content .paragraph .username span{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    color: #445560

}
.user-story-page-content .sub-paragraph p{
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #445560
}
.user-story-page-content .sub-paragraph p:first-of-type{
    margin-bottom: 20px;
}

.user-story-page .connect-with-us {
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.user-story-page .connect-with-us .connect-icons {
    text-align: center;
}
.user-story-page .connect-with-us .connect-icons p {
    margin-bottom: 15px;
}
.user-story-page .connect-with-us .connect-icons a {
    display: inline-block;
    margin-right: 20px;
}
.user-story-page .connect-with-us .connect-icons a:last-of-type {
    margin-right: 0px;
}
.user-story-page .connect-with-us .connect-icons img {
    width: 40px;
    height: 40px;
}
.user-story-page .connect-with-us p {
    margin-bottom: 22px;
}
.business-page-content {
    padding: 15px 30px 30px 30px;
}
.business-page-banner {
    height: 512px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 73px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/business-img-1366.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.business-page-banner .left {
    padding-top: 36px;
    float: left;
}
.business-page-banner .left img {
    display: block;
    width: 170px;
    height: 37px;
    /*margin-left: -9px;*/
}
.business-page-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    margin-right: 20px;
}
.business-page-banner .right a:last-of-type {
    margin-right: 0;
}

.business-page-banner .right {
    font-family: OpenSan;
    font-size: 18px;
    color: #fff;
    float: right;
    padding-top: 36px;
}
.business-page-content .title
{
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.business-table {
/*    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;*/
/*    border-top-right-radius: 15px;
    border-top-left-radius: 15px;*/
}
.business-table .row {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.business-table .row.row-head {
    background-color: #006ab8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.business-table .row.row-head .text {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    height: 58px;
}
.business-table .row .text {
    display: table-cell;
    vertical-align: middle;
    height: 94px;
}
.business-table .row.row-head .step-title {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.business-table .row .step-title {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.business-table .row p {
    margin-bottom: 0px;
}
.business-table .col-lg-1 {
    width: 30%;
    display: table;
}
.business-table .col-lg-3 {
    width: 25%;
    display: table;
}
.business-table .col-lg-2 {
    width: 45%;
    display: table;
}
.business-table .col-lg-4 {
    width: 70%;
    display: table;
    border-right: none !important;
}
.business-table .text {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #126DB6;
}
.business-table .text p.note {
    color: #445560;
}
.business-table .text.title {
    color: #445560;
}

.about-page .line{
    border-left:  thick solid #ccdbe3;
    height: 20px;
    border-left-width : 2px;
    margin-left: 5px;
}
.about-page .about-page-content.guest .background-step{
    margin: 0 !important;
    background-color: #f8f8f8;
    padding: 10px;
}
.about-page .about-page-content .background-step{
    margin: 0;
    background-color: #f8f8f8;
    padding: 10px;
}

.about-page .content-step {
    margin: 0;
    padding: 0 14%;
    /*background-color: #f8f8f8; */
}
.about-page{
    background-color: #fff !important;
}
.user-story-page{
    background-color: #fff !important;
}
/*.user-story-page .sub-paragraph {*/
    /*background-color: #f8f8f8;*/
    /*padding: 10px;*/
    /*border-radius: 10px;*/
/*}*/
.about-page .background-comment{
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #445560;
    background-color: #f8f8f8;
}
.user-story-page .sub1{
    background-color: #f5f7f9 !important;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
}
.user-story-page .sub2{
    background-color: #f2f8fc !important;
    padding: 10px;
    border-radius: 15px 0px 15px 15px;
}

.user-story-page .sub-paragraph{
    position: relative;
    left: -10px;
}

.business-page .business-page-banner .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.business-page-content .sub-paragraph a {
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    color: #126DB6;
}
.business-table .row.row-head .text {
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    height: 58px;
}
.business-table .row .text {
    display: table-cell;
    vertical-align: middle;
    height: 94px;
    padding: 0 15px;
}
.business-page-banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 2);
}

.business-table {
    margin-top: 25px;
}
.business-table th,
.business-table td {
    text-align: center;
    vertical-align: middle;
}
.business-table th {
    line-height: 58px;
}
.business-table td {
    line-height: 20px;
    padding: 20px 10px;
    font-size: 18px;
    color: #126DB6;
    border: 1px solid #ddd;
}
.business-table tr > td:first-of-type {
    color: #445560;
}
.business-table tr p.note {
    color: #445560;
}
.business-table tr:first-of-type {
    height: 58px;
    background-color: #126DB6;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
	font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.business-table tr:first-of-type th:first-of-type {
    border-top-left-radius: 30px;
    border: none;
    border-right: 1px solid #ddd;
    width: 35%;
}
.business-table tr:first-of-type th:last-of-type {
    border-top-right-radius: 30px;
    border: none;
    border-left: 1px solid #ddd;
    width: 42%;
}
.partners-banner{
    height: calc(100vw * 0.5);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 73px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    background-image: url('/images/login/banner-parrtner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.partner-page-para1 h1,.partner-page-resources h1
{
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 20px;
    margin-top: 40px;
}
.partner-page-para1 p,.partner-page-resources p
{
    color: #445560;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    margin-bottom: 20px;
}
.partner-page-reap h1,.partner-page-resources h1
,.partner-page-free h1, .partner-page-how h1,
.partner-page-can h1,.partner-page-success h1
{
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 14px;
    margin-top: 20px;
}
.partner-page-reap img{
    margin-left: 35%;
}

.partner-page-resources img{
    margin-left: 44%;
}
.partner-page-free img{
    margin-left: 43%;
}
.partner-page-reap .cap{
    color: #126DB6;
    margin:14px 0px 14px 17%;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.partner-page-reap .cap3{
    color: #126DB6;
    margin:14px 0px 14px 30%;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.partner-page-reap .text{
    color:  #445560;
    font-size: 20px;
}
.partner-page-reap .des_text,.partner-page-free .des_text
{
    color: #445560;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    text-align: center;
    padding: 0px 3%;
    margin-right: 16%;
}
.partner-page-reap .reap-text{
    /*padding: 0 50px 0 35px;*/
    width: 30%;
    float: left;
    margin-left: 3%;
    margin-bottom: 18px;
}
.partner-page-resources .text{
}
.partner-page-resources .title p{
    text-indent: 18px
}
.partner-page-resources .res-text
{
    width: 25%;
    float: left;
}
.partner-page-resources .cap{
    text-align: center;
    color: #126DB6;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-top: 20px;
    padding: 0px 23%;
}
.partner-page-free .free-text{
    width: 20%;
    float: left;
    margin: 14px 0px 18px 9%;
}
.partner-page-free p,.partner-page-success p{
    color: #445560;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    text-align: center;
}
.partner-page-free .cap{
    margin-left: -64px;
}
.partner-page-free .des_text{
    padding: 0px;
    margin-left: 0px;
    margin-right: -5%;
}
.partner-page-free .cap{
    color: #126DB6;
    margin:14px 0px;
    font-size: 14px;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.partner-page-how p{
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    font-style: inherit;
    float: right;
}
.partner-page-success .capt{
    color: #126DB6;

}
.partner-page-how,.partner-page-success{
    margin: 0px;
}
.partner-page-can .button-center p{
    color: #fff;
    background: #126DB6;
}
.partner-page-can .button-center{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
@media screen and (width: 768px) {
    .partner-page-reap .reap-text{
        margin-left: 2%;
    }
    .partner-page-reap .des_text{
        padding: 0px;
        margin: 0px 11%;
    }
    .partner-page-reap .cap{
        margin: 14px 0px 14px 14%;
    }
    .partner-page-resources img{
        margin-left: 68px !important;
    }
    .partner-page-free .free-text{
        margin-left: 55px;
    }
    .partner-page-free img{
        margin-left: 56px !important;
    }
    .partner-page-reap img {
        margin-left: 43%;
    }
    .login-register-page .div-footer-menu {
        padding: 24px 9% !important;
    }
    .partner-page-resources .cap{
        padding: 0px 15%;
    }
}
@media screen and (width: 1024px) {
    .partner-page-reap img{
     margin-left: 32%;
    }
    .partner-page-free img{
     margin-left: 38%;
    }
    .partner-page-resources img{
        margin-left: 94px;
    }
    .partner-page-reap .cap{
        margin: 27px 0px 14px 10%;
    }
    .partner-page-reap .cap3{
        margin: 27px 0px 14px 8% !important;
    }
    .partner-page-reap .des_text{
        margin: 0px !important;
        padding-right: 17%;
    }
    .partner-page-free .free-text{
        margin-left: 80px !important;
    }
    .partner-page-resources .cap{
        padding: 0px 15%;
    }
}
.partners-banner .center {
    padding:25% 0px;
}
.partners-banner .right a {
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.partner-page-can.button-center p{
    margin-top: 35px;
    text-align: center;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.partners-content,.partner-page-success {
    padding: 0px 7% 0px 7% !important;
}
.partners-banner .center p.des1,.partners-banner .center p.des2{
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
}
.about-page .pdot{
    padding-left: 40px;
}

.support-page{
    cursor: default;
}

.support-page div.faq_category span.btn-icon-right{
    left: 30%;
    background-image: url('/components/com_fsf/assets/images/expand.png');
    background-size: 20px;
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    transform: rotate(-90deg);
    top: 5px;
}


.support-page .expand_answer{
    background-image: url('/components/com_fsf/assets/images/expand.png');
    background-size: 20px;
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer !important;
    margin-top: 4px;
    float: left;
}

.support-page .fsf_faq_question {
    padding-left: 30px;
}

.support-page .expand_answer.expanded{
    transform: rotate(180deg) !important;
}
/*here*/

.support-page .fsf_highlight{
    position: relative;
    margin-bottom: 32px;
}
.support-page .fsf_faq_question .fsf_highlight{
    margin-bottom: 12px;
}
.support-page .fsf_faq_catlist .fsf_title {
    display: block;
    text-align: left;
    color: #445560;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    font-size: 18px;
}


.support-page .faq_category_faqlist .title_category{
    color: #445560;
    font-size: 18px;
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
    margin-bottom: 20px;
}


.support-page .support_text{
    font-size: 14px;
    color: #445560;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
}
.support-page ol.support_text{
    padding-left: 14px;
}

.support-page .faq_category{
    margin-left: 0 !important;
    cursor: pointer;
}

.support-page .btBack{
    width: 125px;
    height: 40px;
    background-color: #126Db6;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    font-size: 18px;
    vertical-align: middle;
    margin: 30px auto 0;
    cursor: pointer;
}
.support-page .btBack span{
    position: relative;
    top: 8px;
}
.support-page div.fsf_faq_catlist td {
    border: none;
}
.support-page .fsf_faq {
    margin-bottom: 14px;
}

.support-page .fsf_faq_question {
    font-size: 18px;
    color: #445560;
    font-family: 'Open Sans', OpenSans, sans-serif;
	font-weight: 400;
    margin-bottom: 14px;
    cursor: pointer;
}

.support-page .fsf_faq_answer{
    margin-left: 30px;
    cursor: default;
}

.support-page .text-bold{
    font-family: 'Open Sans', OpenSans-Bold, sans-serif;
	font-weight: 700;
}
.login-register-page .div-footer-menu{
    padding: 20px 20%;
}
@media screen and (width: 1024px) {
   .login-register-page .div-footer-menu{
     padding: 20px 17% !important;
    }
}
.support_text img {
    vertical-align: baseline;
}
.support-page-content .faq_category_faqlist.sub_category .title_category{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
}
.support-page-content .faq_category_faqlist.sub_category {
    margin-left: 15px;
    margin-bottom: 14px;
}
.support-page-content .title {
    color: #445560;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 38px;
}
.support-page .iconBack{
    height: 15px;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    margin-top: 42px;
    cursor: pointer;
}
.about-page img.circle-and-chat {
    margin-bottom: 8px;
    margin-top: 10px;
    width: 76px;
    height: 67px;
}
.about-page img.leanrning-network {
    margin-top: 15px;
    margin-bottom: 8px;
    width: 110px;
    height: 66px;
}
.about-page img.course-builder {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 75px;
    height: 70px;
}
.about-page img.learning-store {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 89px;
    height: 45px;
}

.support-page-content {
    padding: 1px 8% 30px 8%;
    font-family: 'Open Sans', OpenSans-Light, sans-serif;
	font-weight: 300;
    color: #445560;
}

p.support_text.tip_title {
    margin-left: 22px;
    position: absolute;
}

p.support_text.tip_content {
    position: relative;
    margin-left: 50px;
}

.view-faq .row {
    background-color: #fff;
}
.login-register-page .carousel-indicators{
    margin: 0;
}
.login-register-page #community-wrap .jomsocial .titlePage p{
    font-family: 'Open Sans', OpenSans-Semibold, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#828282;
    margin-bottom: 0px;
}
.login-register-page .divCopyright p img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input.error1{
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action form#form-login .joms-input--append > input[name="password"].error1{
    border: 1px solid #bb5a66 !important;
    box-shadow: 0 0 2px #bb5a66 !important;
}
.login-register-page .section-main {
    padding: 33px 25%;
}
.login-register-page #community-wrap .jomsocial .writeup-content {
    margin: 0;
}
.login-register-page #community-wrap .jomsocial .joms-landing__action.div-form-login {
    padding: 33px;
}
.login-register-page .carousel-inner .banner-item {
    background-color: #c4c4c4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.login-register-page .carousel-inner .banner-item:before {
    content: '';
    display: block;
    padding-top: 28%;
}