/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2016, 11:09:07 AM
    Author     : kydonvn
*/
.t3-navbar {
    background: #99FF33;
}
.t3-submenu {
    /*background: #F5F7F7 no-repeat;*/
    width: 100%;
    position: relative;
}
.t3-submenu ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
    margin-top: 0px;
}

.t3-submenu ul li{
    display:inline-block;
    width: 150px;
    height: 50px;
}
.t3-submenu ul li img {
    width: 24px;
    height: 24px;
    padding: 2px;
}
.t3-submenu ul a{
    text-decoration:none;
    width:129px;
    float:left;
    color:#64CA36;
    font-weight:bold;
    text-align:center;
    line-height:35px;
    text-align: left;
    font-size: 16px;
}
@media (min-width: 768px) {
    .notification img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

@media (max-width: 767px) {
   .navbar-header {
       background: #99FF33;
   } 
  .t3-submenu ul li{
        display:inline-block;
        width: 80px;
        height: 40px;
   }
   .t3-submenu ul a {
       font-size: 12px;
   }
   .t3-submenu ul li img {
        width: 20px;
        height: 20px;
        padding: 2px;
    }
    .notification img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}